/*-- scss:defaults --*/


/*-- scss:rules --*/

div.sourceCode {
    --line-numbers-width: calc(4 * var(--line-numbers-font-size));
    --line-numbers-negative-width: calc(-1 * var(--line-numbers-width));
    margin-left: var(--line-numbers-negative-width);
}

p, main > ul, main > ol, div.sourceCode, main > pre, img, table {
    margin-top: var(--line-height);
    margin-bottom: var(--line-height);
}
div.sourceCode > pre {
    margin-left: var(--line-numbers-width);
}
pre, pre.numberSource {
    background: var(--color-code-bg);
    /* border: 1px solid var(--solarized-base2); */
    --color-code-highlight-bg: var(--solarized-base2);
}
pre.numberSource code {
    counter-reset: source-line 0;
}
pre > code {
    position: relative;
    display: inline-block;
    min-width: 100%;
    z-index: 1;
    white-space: pre-wrap;
    padding: 0 var(--code-block-side-padding);
}
pre code {
    color: inherit;
    background-color: inherit;
    font-size: var(--code-block-font-size);
    line-height: var(--line-height);
    margin: initial;
    padding: initial;
    border: initial;
    border-radius: initial;
}
code {
    font-family: var(--font-family-code);
    word-spacing: normal;
    color: var(--color-inline-code);
    background-color: var(--color-inline-code-bg);
    font-size: var(--inline-code-font-size);
    margin: 0;
    padding: 2px 0 1px;
    border: 1px solid var(--color-border);
    border-radius: 1px;
}
