// @import "cards";
// @import "pop";

/*-- scss:defaults --*/

$base-font-size: 18px!default;
$code-block-font-size: 1rem !default;

$quarto-border-width: 1px!default;

// $code-line-numbers: true;
$output: "asis";
$table-striped: true;
$table-hover: true;

$deepspeed-color: #ffa500;

$callout-simple-color: #2a2a2a;
$callout-title-color: #bdbdbd;
$callout-border-hover: #838383;

$callout-note-color: #4582ec;
$callout-tip-color: #02b875;
$callout-warning-color: #FD971F;
$callout-caution-color: #E599F7;
$callout-important-color: #FF5252;
$border-transparent-color: rgba(131, 131, 131, 0.7);
$quarto-border-color: $border-transparent-color!default;

$nav-link-padding-x: 0.5rem;
$nav-link-padding-y: 0.2rem;
$dropdown-item-padding-y: 0.25rem;
//     border: 0.1px solid $code-block-border-color;

$bs-nav-tabs-link-active-border-color: $border-transparent-color!default;

// fonts
$font-family-sans-serif: "IBM Plex Sans", "Source Sans Pro", "Inter", Open Sans, Helvetica, sans-serif !default;
$font-family-headings: "IBM Plex Sans Condensed", "Open Sans", "Playfair Display", Helvetica, sans-serif, $font-family-sans-serif !default;
// $font-family-monospace: 'Iosevka Web', 'agave Nerd Font', Menlo, Monaco, Consolas, monospace !default;
$font-family-monospace: "IBM Plex Mono", "Iosevka Web", "agave Nerd Font", SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace!default;
// $font-family-monospace: "agave Nerd Font", SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace !default;

// $line-height-base: 1.0 !default;

// line height
$presentation-font-family-line-height: 1.0em !default;
$presentation-line-height: 1.0em !default;

// The left hand sidebar
// $grid-sidebar-width: !default;

// The main body
// $grid-body-width: !default;

// The right hand margin bar
// $grid-margin-width: !default;

// The gutter that appears between the above columns
// $grid-column-gutter-width: !default;

$toc-font-size: 0.9em!default;
$bs-table-striped-color: $dim-text;
// $table-striped: true;
// $table-hover: true;

// $code-block-border-left: $link-color-hover!default;

// $quarto-hl-cn-color: #FD971f;

/*-- scss:rules --*/

// .theme_toggler {}


// p {
//     display: block;
//     margin-block-start: 1em;
//     margin-block-end: 1em;
//     margin-inline-start: 0px;
//     margin-inline-end: 0px;
// }

.invisible-text {
    color: rgba(0, 0, 0, 0.0)!important;
}

.ds-text {
    color: $deepspeed-color;
}
.green-text {
    color: $green-text;
}

.code-text {
    color: $code-color;
}

.orcid-green {
    color: $orcid-green!important;
}

.yellow-text {
    color: $myyellow;
}

.red-text {
    color: $red-text;
}

.orange-text {
    color: $myorange;
}

.dim-text {
    color: $dim-text;
}

.purple-text {
    color: $mypurple;
}

.blue-text {
    color: $myblue;
}

.pink-text {
    color: $mypink;
}

:root {
    --shadow-color: $shadow-color;
    --bg-transparent: $bg-transparent;
    --bs-table-striped-color: $bs-table-striped-color;
    --brighter-text: $brighter-text;
    --bright-text: $bright-text;
    --alt-text: $alt-text;
    --dim-text: $dim-text;
    --dim-color: $dim-color;
    --callout-note-color: $callout-note-color;
    --callout-tip-color: $callout-tip-color;
    --callout-warning-color: $callout-warning-color;
    --callout-important-color: $callout-important-color;
    --green-text: $green-text;
    --red-text: $red-text;
    --blue-text: $blue-text;
    --body-bg: $body-bg;
    --alt-bg: $alt-bg;
    --body-color: $body-color;
    --link-color: $link-color;
    --link-bg-color: $link-bg-color;
    --link-border-radius: $link-border-radius;
    --italic-color: $italic-color;
    --strong-color: $strong-color;
    --selection-bg: $selection-bg;
    --selection-color: $selection-color;
    --code-fg: $code-fg;
    --code-block-bg-color: $code-block-bg-color;
    --code-block-bg: $code-block-bg;
    --code-block-border-color: $code-block-border-color;
    --code-block-block-shadow: $code-block-block-shadow;
    --code-block-hover-box-shadow: $code-block-hover-box-shadow;
    --dark-bg-code-color: $dark-bg-code-color;
    --dark-bg-code-bg: $dark-bg-code-bg;
    --code-color: $dark-bg-code-color;
    --code-bg: $dark-bg-code-bg;
    --blockquote-bg: $bg-transparent;
    --blockquote-border: $blockquote-border;
    --blockquote-text: $blockquote-text;
    --nav-link-padding-y: $bs-nav-link-padding-y;
    --nav-link-padding-x: $bs-nav-link-padding-x;
    --navbar-bg: $navbar-bg;
    --navbar-fg: $navbar-fg;
    --font-family-headings: $font-family-headings;
    --code-bg: $code-bg;
    --code-fg: $code-color;
    --link-color: $link-color;
    --link-bg-color: $link-bg-color;
    --callout-tip-color: $callout-tip-color;
    --callout-warning-color: $callout-warning-color;
    --callout-important-color: $callout-important-color;
    --callout-note-color: $callout-note-color;
    --callout-caution-color: $callout-caution-color;
    --red-sf: $myred;
    --orange-sf: $myorange;
    --yellow-sf: $myyellow;
    --green-sf: $mygreen;
    --blue-sf: $myblue;
    --purple-sf: $mypurple;
    --pink-sf: $mypink;
    --dim-sf: $dim-text;
    --bright-sf: $bright-text;
    --card-height: 33vh;
    --card-height: 33vh;
    --card-width: 50%;
    // -webkit-font-smoothing: antialiased;
    // --card-width: calc(var(--card-height) / 1.5);
}



// ---------------------------------------------------------------------------------------------

//
// .callout.callout-style-simple:not(.no-icon) div.callout-icon-container {
//     margin: auto;
//     display: inline-block;
//     padding-bottom: 0.2rem!important;
//     padding-right: 0.4rem!important;
// }

.callout.callout-style-default,
.callout.callout-style-simple {
    // padding: 0em 0.5em;
    // // border-left: solid #acacac .3rem;
    // // border-right: solid 1px silver;
    // // border-top: solid 1px silver;
    // // border-bottom: solid 1px silver;
    // display: grid;
    // align-items: center;
    //
    padding: 0em 1em;
    /* border-left: solid #acacac .3rem; */
    border-left: 1px solid $callout-simple-color;
    opacity: 100%!important;
    /* border-radius: 2px; */
    /* border-right: none; */
    /* border-top: none; */
    /* border-bottom: none; */
    display: -webkit-inline-flex;
    /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */
    /* box-shadow: rgba(0, 0, 0, 0.12) 0 1px 2px rgba(0,0,0,0.24); */
}

.callout.callout-style-simple .callout-body,
.callout.callout-style-default .callout-body,
.callout.callout-style-simple div.callout-caption,
.callout.callout-style-default div.callout-caption {
  font-size: inherit;
}

.callout.callout-titled .callout-icon::before {
    margin-top: unset!important;
}

// .callout.callout-titled .callout-icon::before {
//     height: -webkit-fill-available!important;
// }

.callout.callout-style-default .callout-icon::before,
.callout.callout-style-simple .callout-icon::before {
    width: 1.1rem!important;
    height: 1.1rem!important;
    background-size: 1.1rem 1.1rem!important;
}
// .callout.callout-style-default .callout-icon::before,
// .callout.callout-style-simple .callout-icon::before {
//   height: 2rem;
//   width: 2rem;
//   background-size: 2rem 2rem;
// }

// .callout.callout-captioned .callout-icon::before {
//   margin-top: 1rem;
// }

.callout.callout-captioned .callout-caption p {
  // margin-top: 0.5em;
}

.callout.callout-captioned
  .callout-body
  > .callout-content
  > :last-child {
    margin: auto;
}

.callout.callout-style-default .callout-body, .callout.callout-style-simple .callout-body {
    font-weight: 400;
    margin-right: 0.5rem;
    margin-left:  -1.0rem;
    // margin-bottom: 0.5em;
}

.callout.callout-style-simple:not(.no-icon) div.callout-icon-container {
    // margin: auto!important;
    // padding-left: 0.5rem!important;
    // padding-top: auto!important;
    // margin-bottom: 0.5rem!important;
}

.callout-title-container {
    font-size: 1.1remimportant;
    // padding-top: 0.25rem;
}

// ---------------------------------------------------------------------------------------------

pre,code,kbd,samp {
    font-family: $font-family-monospace;
    font-size: 1em;
    direction: ltr /* rtl:ignore */;
    unicode-bidi: bidi-override;
}
pre {
    font-family: $font-family-monospace!important;
    color: $body-color;
    display: contents!important;
    background-color: $code-block-bg-color;
    margin-bottom: 1rem;
    overflow: auto;
    font-family: $font-family-monospace;
    padding: .5rem;
}

pre code {
    background-color: inherit;
    color: inherit;
    word-break: normal;
    font-family: $font-family-monospace;
}

code {
    font-size: $code-block-font-size;
    color: $code-color;
    background-color: $code-bg;
    border-radius: .25rem;
    padding: .125rem .25rem;
    font-family: $font-family-monospace;
    word-wrap: break-word
}

a>code {
    color: inherit
}

// pre > code.sourceCode {
//     text-align: -webkit-left;
// }

.py-1 {
    padding-top: 0.5em!important;
    color: $dim-text;
    opacity: 20%!important;
}

// .table-striped {
//   tbody > tr:nth-of-type(#{$table-striped-order}) > * { // notice the removed ">"!
//     --#{$variable-prefix}table-accent-bg: var(--#{$variable-prefix}table-striped-bg);
//     color: var(--#{$variable-prefix}table-striped-color);
//   }
// }

// p:not(.sourceCode) code:not(.sourceCode), li code:not(.sourceCode), td code:not(.sourceCode) {
//     background-color: $code-bg;
//     color: $code-color;
// }


a {
    color: $link-color;
    border-radius: $link-border-radius;
}

.body p a:not(.img, .callout) {
    color: $link-color;
    background: $link-bg-color;
    border-radius: $link-border-radius;
}

// p a :not(.img, .callout){
//     background: $link-bg-color;
//     border-radius: $link-border-radius;
// }

// p a :not(:is(.img)) {
//     background: $link-bg-color;
//     border-radius: $link-border-radius;
// }

// p a icon {
//     background: none!important;
//     border-radius: $link-border-radius;
// }

a:hover {
    color: $link-color-hover;
}

p a:hover {
    background: rgba(red($link-color-hover), green($link-color-hover), blue($link-color-hover), 0.07);
    border-radius: $link-border-radius;
    // border-bottom: 1px solid #137af5;
}



h1 {
    opacity: 100%;
    color: $brighter-text;
    font-family: $font-family-headings;
    font-weight: 700;
}

h2 {
    opacity: 100%;
    color: $bright-text;
    // border-bottom: 1px solid $dim-text;
    border-bottom: none;
    padding-bottom: auto;
    margin-bottom: auto;
    // margin-top: 1em;
    font-family: $font-family-headings;
    font-weight: 600;
}

h3 {
    font-family: $font-family-headings;
    font-weight: 500;
}

.h4 {
    font-family: $font-family-headings;
}

.h5 {
    font-family: $font-family-headings;
}

.h6 {
    font-family: $font-family-headings;
}

dd {
    color: var(--dim-text);
}

.flex-container {
  /* We first create a flex layout context */
  display: flex;

  /* Then we define the flow direction 
     and if we allow the items to wrap 
   * Remember this is the same as:
   * flex-direction: row;
   * flex-wrap: wrap;
   */
  flex-flow: row;

  /* Then we define how is distributed the remaining space */
  // justify-content: space-between;
    justify-content: space-evenly;
}

/* Medium screens */
@media all and (max-width: 800px) {
  .flex-container {
    /* When on medium sized screens, we center it by evenly distributing empty space around items */
    justify-content: space-between;
  }
}

/* Small screens */
@media all and (max-width: 600px) {
  .flex-container {
    /* On small screens, we are no longer using row direction but column */
    flex-direction: column;
  }
}


//
// #title-block-header.quarto-title-block.default .quarto-title-meta-contents p, #title-block-header.quarto-title-block.default .quarto-title-authors p, #title-block-header.quarto-title-block.default .quarto-title-affiliations p {
//     margin-bottom: auto;
//     line-height: 0.75em;
//     font-size: 0.75em;
//     color: $dim-text;
// }
//
// #title-block-header.quarto-title-block.default .quarto-title-meta-contents a {
//     color: $dim-text;
//     display: none;
// }
//

// #title-block-header {
//     display: grid;
//     margin-block-end: 1.5rem;
//     position: relative;
//     margin-top: -1px;
//     line-height: 0.1em;
//     font-size: 0.8em;
//     color: $dim-text;
// }
//
// #title-block-header.quarto-title-block.default .quarto-title-meta-author {
//     display: block!important;
// }

//
// #title-block-header.quarto-title-block.default .quarto-title-meta-heading {
//     text-transform: uppercase;
//     margin-top: 1em;
//     font-size: .8em;
//     opacity: .8;
//     font-weight: 400;
//     display: none;
// }


blockquote p {
    margin-block-start: 0.2em;
    margin-block-end: 0.5em!important;
    font-style: none!important;
}

blockquote {
    display: block;
    // font-style: unset;
    // position: relative;
    // width: 100%;
    background: $blockquote-bg;
    // position: relative;
    color: $blockquote-text!important;
    border-left: 4px solid $blockquote-border!important;
    box-shadow: RGBA(0, 0, 0, 0.25) 0px 2px 7px!important;
    // margin: 0 0 1rem;
    // padding: 0.225rem 0.225rem;
}

blockquote:hover {
    display: block;
    // font-style: unset;
    // position: relative;
    // font-style: bold;
    // font-weight: 600;
    color: $code-color;
    // width: 100%;
    background: $blockquote-bg;
    // position: relative;
    // color: $alt-text;
    border-left: 4px solid $code-color!important;
    box-shadow: RGBA(0, 0, 0, 0.25) 0px 2px 7px!important;
    // margin: 0 0 1rem;
    // padding: 0.225rem 0.225rem;
}

blockquote p:first-child,blockquote p:last-child {
    display: inline-block
}



small * {
    vertical-align: baseline!important;
}

// .msupsub {
//     vertical-align: baseline;
// }

.slide figure>figcaption {
    text-align:center;
}

figure>figcaption {
    margin-top: 0.2em;
}

boxed {
    border-radius: 6px!important;
    display: block;
    position: relative;
    width: fit-content!important;
    color: $mygrey-080;
    background-color: #1f1f1f;
    box-shadow: RGBA(0, 0, 0, 0.85) 0px 5px 15px!important;
    margin-right: revert!important;
    padding: 0em 0.1em 0em 0.3em;
}

.callout.callout-style-default div.callout-title {
    font-size: 1.1em;
}


.callout.callout-titled>.callout-header {
    margin-bottom: -0.55rem;
    margin-top: unset;
    // margin-bottom: -0.5rem;
    // margin-top: -0.33rem;
}

.callout .callout-title-container {
    font-weight: 500;
    font-size: 1.1rem!important;
    // padding-top: 0.1rem;
}

// .slide ul li, .slide ol li {
//     margin-top: 0.2em!important;
//     margin-bottom: 0.1em!important;
// }

// .hanging-indent div.csl-entry {
//     font-size: 0.9em;
//     margin-left: 2em;
//     text-indent: -2em!Important;
// }

// @media(min-width: 992px) {
//     .callout:not(.no-icon) {
//         // margin-left:calc(calc(-0.4em + -5px) + -1px)
//         margin-left: inherit;
//     }
//
//     .callout {
//         // margin-left: calc(-0.4em + -5px)
//         margin-left: inherit;
//     }
//
//     div.sourceCode {
//         // margin-left: calc(calc(-0.6em + -3px) + 2px)
//         margin-left: inherit;
//     }
// }


// .cell-output pre,
// .cell .sourceCode .cell-code .cell-output cell-output-display pre {
// .cell-output pre,
// .cell-output,
// .cell-output-display,
// .cell-output-display pre {
//     // margin-left: ;
//     // margin-top: 0;
//     background-color: $alt-bg!important;
//     // border-left: 3px solid rgba(233,236,239,.65)!important;
//     border: 1px solid red!important;
//     // border-top-left-radius: 0;
//     // border-top-right-radius: 0;
//     // font-size: 0.8em;
//     // padding-left: 0.2em;
//     // padding-top: 0.1em;
//     padding-top: 1em;
//     font-family: var(--bs-monospace-font);
//     display: contents;
// }
//
// // .cell-output .sourceCode {
// //     background-color: $alt-bg!important;
// //     // margin-top: 0;
// //     display: contents;
// // }
// //
// // .cell > .sourceCode {
// //     margin-bottom: 0;
// //     display: contents;
// //     // font-size: 0.875em;
// // }

// @mixin table-variant($state, $background) {
//   .table-#{$state} {
//     $color: color-contrast(opaque($body-bg, $background));
//     $hover-bg: mix($color, $background, percentage($table-hover-bg-factor));
//     $striped-bg: mix($color, $background, percentage($table-striped-bg-factor));
//     $active-bg: mix($color, $background, percentage($table-active-bg-factor));
//
//     --#{$variable-prefix}table-bg: #{$background};
//     --#{$variable-prefix}table-striped-bg: #{$striped-bg};
//     --#{$variable-prefix}table-striped-color: #{color-contrast($striped-bg)};
//     --#{$variable-prefix}table-active-bg: #{$active-bg};
//     --#{$variable-prefix}table-active-color: #{color-contrast($active-bg)};
//     --#{$variable-prefix}table-hover-bg: #{$hover-bg};
//     --#{$variable-prefix}table-hover-color: #{color-contrast($hover-bg)};
//
//     color: $color;
//     border-color: mix($color, $background, percentage($table-border-factor));
//   }
// }

// pre > code.sourceCode > span {
//     background-color: $code-block-bg-color;
// }

// pre>code.sourceCode {
//     margin-left: auto;
// }

//
// code a:any-link {
//     color: $mygrey-050;
//     background-color: $code-block-bg-color;
//     display: inline;
//     font-size: $code-block-font-size
// }
.callout.callout-style-simple:not(.no-icon) div.callout-icon-container {
    /* padding-top: .2em; */
    padding-right: .55em;
    place-self: auto;
    padding-top: 0.33rem;
}

.callout-title-container {
    place-self: auto;
    padding-top: 0.1rem;
}

.cell-output.cell-output-display {
    display: block;
    // margin-left: 0.5em;
    // padding-left: 0.75rem;
    background-color: none;
    // padding-right: 0.75rem;
    // margin-block-start: -0.5rem;
    // -webkit-box-shadow: inset 0 2px 8px rgba(0, 0, 0, 0.8);
    // box-shadow: inset 0 2px 8px rgba(0, 0, 0, 0.8);
    border-radius: 2px;
    border: 1px solid rgba(0, 0, 0, 0.0);
    // height: 24em;
    overflow: auto;
    // font-size: 1.0rem;
    // line-height: 1.0em;
    // border-left: 1px solid $code-block-bg-color;
    // border-radius:
    // border-radius: 0.25rem;
    // line-height: 0.95em;
    // border-left: 1px solid $dim-color;
}

.cell-output.cell-output-display:hover {
    display: block;
    background-color: none;
    border-radius: 2px;
    border: 1px solid $code-color;
}

// div.output_scroll {
//     height: 24em;
//     width: 100%;
//     overflow: auto;
//     border-radius: 2px;
//     display: block;
// }

thead, tbody, tfoot, tr, td, th {
    border-color: var(--dim-color);
    border-style: solid;
    border-width: 0;
}

.table {
    --bs-table-hover-bg: RGBA(3, 195, 255, 0.5)!important;
    --bs-table-hover-color: #000000!important;
}

.table-hover>tbody>tr:hover>* {
    --bs-table-accent-bg: var(--bs-table-hover-bg)!important;
    color: var(--bs-table-hover-color)!important;
}

#title-block-header {
    // font-size: 0.8em;
    color: $dim-text;
    position: relative;
    margin-block-end: 0;
    // line-height: 0.5em;
    // margin-block-end: 1.0rem;
    // font-size: .9em;
    // grid-template-columns: auto;
}

#title-block-header.quarto-title-block.default .quarto-title-meta-contents {
    color: $dim-text;
}

#title-block-header.quarto-title-block.default .quarto-title-meta-contents a {
    color: $dim-text;
    border-bottom: 1 px solid $link-color!important;
    // color: $link-color;
}

#title-block-header.quarto-title-block.default .quarto-title-meta-contents a:hover {
    color: $link-color-hover!important;
    border-bottom: 1px solid $link-color;
}

// #title-block-header.quarto-title-block.default .quarto-title-meta {
//     // display: inline-grid;
//     // grid-template-columns: repeat(3, 1fr)!important;
// }


// #quarto-appendix.default .quarto-appendix-citeas {
//     font-size: .9em;
//     padding: 1em;
//     border: solid 1px var(--dim-color);
//     margin-bottom: 1em;
//     border-radius: 8pt;
// }

#quarto-appendix.default > .quarto-appendix-citeas {
    color: $code-color;
    font-family: $font-family-monospace;
    font-size: .95em;
    display: list-item;
    cursor: pointer;
    text-align: left;
    padding: 1em;
    border: solid 1px var(--dim-color);
    margin-bottom: 1em;
    border-radius: 0.25rem;
}

#quarto-appendix.default > .quarto-appendix-citeas:first-of-type {
    display: list-item;
    counter-increment: list-item 0;
    list-style: inside disclosure-closed;
}


.callout {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.callout.callout-style-simple {
    padding: 0em 1em;
    border: 1px solid rgba(red($dim-color), green($dim-color), blue($dim-color), 0.5);
    opacity: 100%!important;
    display: -webkit-inline-box;
}

.callout-style-simple {
  /* border-left: unset!important; */
  border-left: 2px solid $dim-color!important;
  border-right: 2px solid $dim-color!important;
  border-top: 2px solid $dim-color!important;
  border-bottom: 2px solid $dim-color!important;
}

.callout.callout-style-simple {
    // border-radius: 6px!important;
    opacity: 100%!important;
    display: -webkit-inline-box;
    box-shadow: RGBA(0, 0, 0, 0.1) 0px 2px 2px;
    border-radius: 0.0rem!important;
    /* background-color: inherit; */
    /* margin-left: auto; */
    /* margin-right: auto; */
    // opacity: 100%!important;
    // display: -webkit-inline-box;
    /* padding: .4em .7em; */
    /* border-left: 5px solid; */
    /* border-right: 1px solid #dee2e6; */
    /* border-top: 1px solid #dee2e6; */
    /* border-bottom: 1px solid #dee2e6; */
}

.callout.callout-style-simple:hover {
  /* border: 1px solid var(--callout-border-hover-color)!important; */
  // box-shadow: rgba(0, 0, 0, 0.35) 0px 2px 5px 15px;
  // box-shadow: 0px 10px 30px $shadow-color;
  // box-shadow: 0 0 5px 2px #0000001a;
  /* box-shadow: rgba(0, 0, 0, 0.35) 0px 10px 30px; */
  // box-shadow: 0px 5px 15px 0px $shadow-color;
  // box-shadow: RGBA(0, 0, 0, 0.33) 0px 2px 7px;
    box-shadow: 0px 5px 15px 0px $shadow-color;
    // box-shadow: $shadow-color 0px 2px 7px!important;
  // border: 2px solid $code-color!important;
}

.callout.callout-style-simple>div.callout-header {
    border-bottom: none;
    font-size: 1.0rem;
    font-weight: 600;
    opacity: 100%;
    // padding-bottom: 0.1rem;
}

.callout.callout-style-default .callout-body, .callout.callout-style-simple .callout-body {
    font-size: 1rem;
    margin: auto;
}


// p code:not(.sourceCode), li code:not(.sourceCode), td code:not(.sourceCode) {
//     background-color: $code-block-bg;
//     color: $code-color;
//     border-radius: .25rem;
//     border: 0.1px solid $code-block-border-color;
// }

p code:not(.sourceCode),li code:not(.sourceCode),td code:not(.sourceCode) {
    background-color: $code-block-bg;
    color: $code-color;
    // border-radius: .15rem;
    // font-size: 0.5em;
    border-radius: 3px;
    // font-family: courier, monospace;
    padding: 0 3px;
    border: .075x solid rgba(red($dim-color), green($dim-color), blue($dim-color), 0.3);
}

code span.kw {
    // color: #F06292;
    color: #f92672;
}

// #title-block-header {
//     font-size: .8em;
//     color: #666;
//     margin-block-end: 1rem;
//     position: relative;
//     line-height: .5em;
//     font-size: .9em;
//     color: #666;
//     display: inline-block;
// }


// #title-block-header.quarto-title-block.default .quarto-title-meta-author {
//     // display: inline-grid !important;
//     // grid-template-columns: repeat(3, 1fr);
// }

// #title-block-header.quarto-title-block.default .quarto-title-meta-author {
//     // display: inline-grid
// }

// #title-block-header.quarto-title-block.default .quarto-title-meta {
//     // display: inline-grid;
//     // grid-template-columns: repeat(2, 1fr)
// }

#title-block-header.quarto-title-block.default .quarto-title .title {
    margin-bottom: 0;
}

#title-block-header.quarto-title-block.default .quarto-title-author-orcid img {
    margin-top: -5px
}

#title-block-header.quarto-title-block.default .quarto-description p:last-of-type {
    margin-bottom: 0;
}

// #title-block-header.quarto-title-block.default .quarto-title-meta-contents p,#title-block-header.quarto-title-block.default .quarto-title-authors p,#title-block-header.quarto-title-block.default .quarto-title-affiliations p {
//     // margin-bottom: .1em
//     // margin-top: -0.5em;
// }

#title-block-header.quarto-title-block.default .quarto-title-meta-heading {
    text-transform: uppercase;
    margin-top: 1em;
    // font-size: .8em;
    // opacity: .8;
    font-weight: 400
}

// #title-block-header.quarto-title-block.default .quarto-title-meta-contents {
//     font-size: .9em;
// }

#title-block-header.quarto-title-block.default .quarto-title-meta-contents a {
    color: #bfbfbf
}

// #title-block-header.quarto-title-block.default .quarto-title-meta-contents p.affiliation:last-of-type {
//     margin-bottom: .7em
// }

#title-block-header.quarto-title-block.default p.affiliation {
    margin-bottom: .1em
}

#title-block-header.quarto-title-block.default .description,#title-block-header.quarto-title-block.default .abstract {
    margin-top: 0
}

#title-block-header.quarto-title-block.default .description>p,#title-block-header.quarto-title-block.default .abstract>p {
    font-size: .9em
}

#title-block-header.quarto-title-block.default .description>p:last-of-type,#title-block-header.quarto-title-block.default .abstract>p:last-of-type {
    margin-bottom: 0
}

#title-block-header.quarto-title-block.default .description .abstract-title,#title-block-header.quarto-title-block.default .abstract .abstract-title {
    margin-top: 1em;
    text-transform: uppercase;
    font-size: .8em;
    opacity: .8;
    font-weight: 400
}

// #title-block-header.quarto-title-block.default .quarto-title-meta-author {
//     /* display:grid; */
//     /* grid-template-columns:1fr 1fr; */
// }

.quarto-title-tools-only {
    display: flex;
    justify-content: right
}

#quarto-appendix.default .quarto-appendix-citeas {
    font-size: .9em;
    padding: 1em;
    border: solid 1px var(--dim-color);
    margin-bottom: 0;
    border-radius: 0.25rem;
}

.sourceCode {
    // margin-top: 1rem;
    // margin-bottom: 0.1rem;
    // border: 1px solid rgba(0, 0, 0, 0.0);
    border-radius: 0.25rem;
    // box-shadow: RGBA(0, 0, 0, 0.15) 0px 2px 5px;
    box-shadow: $code-block-block-shadow;
}

.sourceCode:hover {
    // margin-top: 1rem;
    // margin-bottom: 0.1rem;
    border-radius: 0.25rem;
    // box-shadow: RGBA(255, 255, 255, 0.15) 0px 2px 5px;
    // border: 1px solid $dim-text;
    // box-shadow: RGBA(0, 0, 0, 1.0) 0px 4px 10px;
    box-shadow: $code-block-hover-box-shadow;
}

.myCard {
    // margin-top: 1rem;
    // margin-bottom: 0.1rem;
    border: 1px solid rgba(0, 0, 0, 0.0);
    border-radius: 0.25rem;
    box-shadow: RGBA(0, 0, 0, 0.15) 0px 2px 5px;
}

.myCard:hover {
    border: 1px solid $dim-text;
    border-radius: 0.25rem;
    box-shadow: RGBA(0, 0, 0, 0.15) 0px 2px 5px;
}



//
// .div.sourceCode {
//     border-radius: 2pt;
// }

@property --rotate {
  syntax: "<angle>";
  initial-value: 132deg;
  inherits: false;
}


.pink-card {
    background: RGBA(red($mypink), green($mypink), blue($mypink), 0.075)!important;
    border: 1px solid $mypink!important;
}



body {
  // min-height: 100vh;
  // background: #212534;
  // display: flex;
  // align-items: center;
  // flex-direction: column;
  // padding-top: 2rem;
  // padding-bottom: 2rem;
  box-sizing: border-box;
}


.card {
  // background: #191c29;
  // display: flex;
  // align-items: center;
  background: $code-bg;
  // text-align: center;
  // padding-top: 0.5rem;
  // padding-bottom: 0.5rem;
  // margin-left: auto;
  // margin-right: auto;
  // width: var(--card-width);
  // width: 33%;
  // height: var(--card-height);
  // padding: 3px;
  // position: relative;
  border-radius: 6px;
  // justify-content: center;
  // align-items: center;
  // text-align: center;
  // display: flex;
  // font-size: 1.5em;
  // color: rgb(88 199 250 / 0%);
  cursor: pointer;
}

.card:hover {
  color: rgb(88 199 250 / 100%);
  transition: color 1s;
}
.card:hover:before, .card:hover:after {
  animation: none;
  opacity: 0;
}


.card::before {
  content: "";
  // width: 104%;
  // height: 102%;
  // border-radius: 8px;
  background-image: linear-gradient(
    var(--rotate)
    , #5ddcff, #3c67e3 43%, #4e00c2);
    position: absolute;
    z-index: -1;
    top: -1%;
    left: -2%;
    animation: spin 2.5s linear infinite;
}

.card::after {
  // position: absolute;
  content: "";
  top: calc(var(--card-height) / 6);
  left: 0;
  right: 0;
  z-index: -1;
  // height: 100%;
  // width: 100%;
  margin: 0 auto;
  transform: scale(0.4);
  filter: blur(calc(var(--card-height) / 6));
  background-image: linear-gradient(
    var(--rotate)
    , #5ddcff, #3c67e3 43%, #4e00c2);
    opacity: 1;
  transition: opacity .5s;
  animation: spin 2.5s linear infinite;
}

@keyframes spin {
  0% {
    --rotate: 0deg;
  }
  100% {
    --rotate: 360deg;
  }
}

// .affiliation {
//     text-align: left;
// }

.navbar > .container-xxl, .navbar > .container-xl, .navbar > .container-lg, .navbar > .container-md, .navbar > .container-sm, .navbar > .container, .navbar > .container-fluid {
  // max-width: 1300px;
  margin: 0 auto;
}

// #quarto-header>nav {
//     margin-left: 10%;
//     margin-right: 10%;
//     padding-left: 1rem;
//     padding-right: 1rem;
// }


// #title-block-header.quarto-title-block.default .quarto-title-meta {
//     display: grid;
//     grid-template-columns: repeat(2, 1fr);
//     width: 33%;
// }

.callout.callout-titled .callout-body>:last-child:not(.sourceCode), .callout.callout-titled .callout-body>div>:last-child:not(.sourceCode) {
    margin-bottom: 0rem;
    margin-top: 0rem;
}

.callout-note {
    border-left: 2px solid $myblue!important;
    border-radius: 0pt!important;
    // font-size: 1.1em;
}
.callout-tip {
    border-left: 2px solid $callout-tip-color!important;
    border-radius: 0pt!important;
    // font-size: 1.1em;
}
.callout-warning {
    border-left: 2px solid $callout-warning-color!important;
    border-radius: 0pt!important;
    // font-size: 1.1em;
}
.callout-caution {
    border-left: 2px solid $callout-caution-color!important;
    border-radius: 0pt!important;
    // font-size: 1.1em;
}
.callout-important {
    border-left: 2px solid $callout-important-color!important;
    border-radius: 0pt!important;
    // font-size: 1.1em;
}

.callout-note .callout-title-container {
    color: $callout-note-color;
    // font-size: 1.1em;
}
.callout-tip .callout-title-container {
    color: $callout-tip-color;
    // font-size: 1.1em;
}
.callout-warning .callout-title-container {
    color: $callout-warning-color;
    // font-size: 1.1em;
}
.callout-caution .callout-title-container {
    color: $callout-caution-color;
    // font-size: 1.1em;
}
.callout-important .callout-title-container {
    color: $callout-important-color;
    // font-size: 1.1em;
}

.img-container .img-fluid {
    max-width: 33%;
}

div.quarto-about-trestles .about-entity .about-link {
    display: flow;
    // flex-direction: 
    // flow-direction: row;
    color: $dim-text;
    font-size: 1.5rem;
    text-align: center;
    text-decoration: none;
    border: none;
    margin-bottom: 0em;
}

div.quarto-about-trestles .about-contents {
    border-left: solid 1px $dim-text;
    padding-left: 1.5em;
}

#title-block-header.quarto-title-block.default .quarto-title-meta {
    display: inline-flex!important;
    flex-direction: row!important;
    /* justify-content: flex-start; */
    /* flex: 2em; */
}

#title-block-header.quarto-title-block.default .quarto-title-meta-contents {
    font-size: 1rem;
    padding-right: 1rem;
}

#title-block-header.quarto-title-block.default .quarto-title-meta-author {
    display: inline-flex!important;
    flex-direction: row;
    align-content: center;
    flex-wrap: nowrap;
}

#title-block-header.quarto-title-block.default .quarto-title-meta {
    display: grid;
    grid-template-columns: repeat(3, 1fr)
}

div.quarto-about-trestles {
    display: flex !important;
    flex-direction: column;
    padding-top: 0em !important;
    padding-bottom: 1em;
}

// #inline-icon {
//     width: 16px;
//     height: 16px;
//     display: contents;
// }

// .fa, .fas, .fa-solid, .far, .fa-regular, .fal, .fa-light, .fat, .fa-thin, .fad, .fa-duotone, .fab, .fa-brands 
.inline-icon {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: var(--fa-display, inline-block);
    font-style: normal;
    font-variant: normal;
    line-height: 1;
    text-rendering: auto;
}

#title-block-header.quarto-title-block.default .quarto-title-meta-contents {
    display: flow-root!important;
    font-size: 1rem!important;
    margin-bottom: 1rem;
}

div.quarto-about-trestles .about-entity .about-image {
    object-fit: cover;
    // margin-bottom: 0rem;
}

div.quarto-about-trestles .about-entity .about-links {
    flex-direction: row;
    row-gap: 1em;
    width: 100%;
    padding-bottom: 1.5em;
}

// div.quarto-about-trestles {
//     display: flex !important;
//     flex-direction: row;
//     padding-top:0em;
//     // margin-top: unset;
//     margin-right: 0.1rem;
//     padding-top: 0.25rem;
//     padding-bottom: 0.25rem;
//     align-items: center;
// }

div.quarto-about-trestles {
    display: flex !important;
    flex-direction: row;
    margin-right: .1rem;
    padding-top: 0em;
    padding-bottom: 0em!important;
    align-items: center;
}

div.quarto-about-trestles {
    display: flex !important;
    flex-direction: row;
    padding-top: 0em !important;
    padding-bottom: 1em
}

.page-columns .column-screen-inset-shaded {
    grid-column: screen-start/screen-end;
    padding: 1em;
    background: none;
    z-index: 998;
    transform: translate3d(0, 0, 0);
    margin-bottom: 1em;
}

.search-nav {
    display: flex;
    align-items: flex-start;
    width: 100%;
    z-index: 2000;
    justify-content: space-between;
    height: 60px;
    color: #aaa!important;
    background: margin-top .2s;
    background-color: #1c1c1c!important;
}

.search-nav .h1 {
    color: #838383!important;
}

//
// .quarto-dark .navbar-dark{
//     background-color: #222222;
// }

/* On screens that are 600px wide or less, make the columns stack on top of each other instead of next to each other */
// @media screen and (max-width: 600px) {
//     .quarto-about-trestles {
//         flex-direction: column!important;
//     }
//     .hero-heading {
//         width: 100%;
//     }
//     .column {
//         width: 100%;
//     }
//     .about-contents {
//         display: block;
//         width: 100%;
//     }
// }

// @media screen and (max-width: 600px), .about-contents {
//   div.hero-heading {
//   width: 100%!important;
//   }
// }

/* On screens that are 600px wide or less, make the columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
    .row {
        flex-direction: column;
    }
    .columns {
        flex-direction: column;
    }
    .column {
        flex-direction: column;
    }
    .flex {
        flex-direction: column;
    }
}

// .sourceCode .at{
//     color: $quarto-hl-at-color!important;
//     // font-weight: normal;
// }

#title-block-header.quarto-title-block.default .quarto-title .title .h1 {
    margin-bottom: 0;
    color: rgba(0, 0, 0, 0.0)!important;
}


@media screen and (max-width: 600px) {
    .column {
        width: 100%;
        display: flex;
        flex-direction: column!important;
    }
}

// @media screen and (max-width: 600px) {
//     .quarto-about-trestles {
//         flex-direction: column!important;
//     }
//     .hero-heading {
//         width: 100%;
//     }
//     .column {
//         width: 100%;
//     }

#title-block-header.quarto-title-block.default .quarto-title-meta-heading {
    text-transform: uppercase;
    margin-top: 1em;
    font-size: .8em;
    opacity: .8;
    font-weight: 400;
    display: none;
}


// .drop-shadow-pink {
//     --tw-drop-shadow: drop-shadow(2px 2px 0px rgba(var(--pink-800)));
//     filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
// }

// body {
//   font-family: system-ui;
//   background: #000;
//   color: white;
//   text-align: center;
// }
//
// .text {
//     position: relative;
//     right: 10px;
//     transition: 0.5s;
//     outline: 0px;
//     border: 0px;
//     border-radius: 1px;
//     background-color: hsl(172deg 18% 27% / 0%);
//     font-size: 25px;
//     top: 100px;
//     text-align:center;
//     color:red;
// }
//
button.close {
    position: relative;
    transition: 0.5s;
    outline: 0px;
    border: 0px;
    border-radius: 1px;
    background-color: hsl(172deg 18% 27% / 0%);
    font-size: 25px;
    top: 120px;
    text-align:right;
    color:blue;
    left:200px;
}

// .emoji {
//   display: inline-block;
//   width: 1em;
//   height: 1em;
//   vertical-align: -.1em;
// }

.quarto-layout-cell img {
    max-width: 100%;
    vertical-align: baseline;
}


// div.sourceCode {
//     margin: auto;
// }

// .code-copy-button {
//     position: absolute;
//     top: 0;
//     right: 0;
//     border: 0;
//     margin-top: 2px;
//     margin-right: 2px;
//     color: $code-color;
//     background-color: $code-block-bg-color;
//     z-index: 3;
// }

// .callout div.sourceCode {
//     margin-left: initial;
//     margin-bottom: 1em;
// }

// div.sourceCode {
//     margin: auto;
//     margin-bottom: 1em;
// }


.nav-link {
    padding: $nav-link-padding-y $nav-link-padding-x;
}

.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
    color: inherit;
    // background-color: $code-block-bg-color;
    // border-color: $dim-text;
}


div.sidebar-item-container .active, div.sidebar-item-container .show>.nav-link, div.sidebar-item-container .sidebar-link>code {
    color: $link-color-hover;
    background: rgba(red($link-color-hover), green($link-color-hover), blue($link-color-hover), 0.07);
    border-radius: $link-border-radius;
    border-left: 1pt solid $link-color-hover;
    padding-left: 4pt;
    font-weight: bold;
}

.sidebar-navigation {
    font-family: $font-family-headings;
    line-height: 1.5rem;
    overflow: scroll;
    // padding: 0.3rem;
}

// .sidebar-navigation li {
//     padding: 0.2rem;
//     // border: 1px solid rgba(0, 0, 0, 0.0);
// }

.sidebar-item-text {
    width: 100%;
}

.sidebar-navigation .sidebar-section .sidebar-item {
    font-size: .875rem;
}

// .sidebar-item {
//     margin-bottom: 
//
// }

.sidebar-section {
    // padding-left: 1em;
    padding-bottom: 0.5em;
    padding-top: 0.5em;
}

ul>li:not(:has(>p))>ul, ol>li:not(:has(>p))>ul, ul>li:not(:has(>p))>ol, ol>li:not(:has(>p))>ol {
    margin-bottom: 1em;
}

.sidebar-navigation .sidebar-item li:hover {
    // text-decoration: underline;
    color: $link-color-hover;
    background: rgba(red($link-color-hover), green($link-color-hover), blue($link-color-hover), 0.07);
    // border: 1px solid $link-color-hover;
    box-shadow: RGBA(0, 0, 0, 0.25) 0px 2px 7px!important;
    // padding: 0.1rem;
}

.tab-content {
    margin-top: 0px;
    border-left: none;
    border-right: none;
    border-bottom: none;
    margin-left: 0;
    padding: 1em;
    margin-bottom: 1em;
}

.nav-tabs {
    --bs-nav-tabs-border-width: 1px;
    --bs-nav-tabs-border-color: $code-block-border-color;
    --bs-nav-tabs-border-radius: 0;
    --bs-nav-tabs-link-hover-border-color: $code-block-border-color;
    --bs-nav-tabs-link-active-color: $link-color;
    --bs-nav-tabs-link-active-bg: #1c1c1c;
    --bs-nav-tabs-link-active-border-color: $code-block-border-color;
    border-bottom: var(--bs-nav-tabs-border-width) solid var(--bs-nav-tabs-border-color);
}

.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
    // color: ;
    // color: var(--bs-nav-tabs-link-active-color);
    background-color: $link-bg-color;
    border-color: $link-color;
    // var(--bs-nav-tabs-link-active-border-color);
}

.sidebar-navigation li a {
    text-decoration: none;
    overflow-x: scroll;
    text-wrap: balance;
}

.nav-tabs .nav-link {
    margin-bottom: calc(-1*var(--bs-nav-tabs-border-width));
    border: 1px $link-color solid rgba(0,0,0,0);
    border-radius: 0.25rem;
    // border-top-left-radius: var(--bs-nav-tabs-border-radius);
    // border-top-right-radius: var(--bs-nav-tabs-border-radius);
}

.nav-tabs .nav-link:hover {
    color: $link-color-hover;
    margin-bottom: calc(-1*var(--bs-nav-tabs-border-width));
    border: 1px $link-color-hover solid rgba(0,0,0,0);
    border-radius: 0.25rem;
    // border-top-left-radius: var(--bs-nav-tabs-border-radius);
    // border-top-right-radius: var(--bs-nav-tabs-border-radius);
}

.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
    // box-shadow: 0px 5px 15px 0px $shadow-color;
    border-radius: 0.25rem;
    box-shadow: $shadow-color 0px 2px 7px!important;
    border: 1px solid $link-color!important;
    background: rgba(red($link-color), green($link-color), blue($link-color), 0.07);
    color: $link-color;
}

// details>summary {
//     text-align: left;
//     color: $code-color;
// }
//

details>summary {
    text-align: left;
    border-radius: 0.25rem;
    color: $code-color;
    // background: rgba(red($code-color), green($code-color), blue($code-color), 0.05);
    background: oklch(from $code-color calc(l * 1.15) c h / 0.1);
    min-width: max-content;
    max-width: min-content;
    width: fit-content;
    padding-left: 0.5em;
    padding-right: 0.5em;
    margin-block-start: 0.25rem;
    margin-block-end: 0.25rem;
    font-size: 0.95rem;
}

details>summary:hover {
    text-align: left;
    border-radius: 0.25rem;
    color: $code-color;
    // background: rgba(red($code-color), green($code-color), blue($code-color), 0.05);
    background: oklch(from $code-color calc(l * 1.15) c h / 0.1);
    // box-shadow: 0px 5px 15px 0px $shadow-color;
    box-shadow: $shadow-color 0px 2px 5px!important;
    min-width: max-content;
    max-width: min-content;
    width: fit-content;
    padding-left: 0.5em;
    padding-right: 0.5em;
    font-size: 0.95rem;
    margin-block-start: 0.25rem;
    margin-block-end: 0.25rem;
}


.navbar-dark .navbar-nav .show>.nav-link, .navbar-dark .navbar-nav .active>.nav-link, .navbar-dark .navbar-nav .nav-link.active {
    color: $link-color;
}

.navbar #quarto-search.type-overlay .aa-Autocomplete svg.aa-SubmitIcon {
    width: 20px;
    height: 20px;
    // color: #adadad;
    opacity: 1;
}

.navbar {
    position: relative;
    display: flex;
    display: -webkit-flex;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    align-items: center;
    -webkit-align-items: center;
    justify-content: space-between;
    -webkit-justify-content: space-between;
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
    background-color: $navbar-bg;
    color: $navbar-fg;
    font-family: $font-family-headings;
}

.sourceCode {
    overflow: scroll;
}

code span.cf {
    color: var(--myblue);
    font-weight: bold;
}

nav.quarto-secondary-nav {
    // background-color: rgba(red($code-bg), green($code-bg), blue($code-bg), 0.05);
    border-bottom: none;
}

.toc {
    font-family: $font-family-headings;
}


.navbar-dark, .navbar[data-bs-theme=dark] {
    --bs-navbar-color: #adadad;
    --bs-navbar-hover-color: $link-color-hover;
    --bs-navbar-disabled-color: rgba(173, 173, 173, 0.75);
    --bs-navbar-active-color: rgba(red($code-color), green($code-color), blue($code-color), 0.05);
    --bs-navbar-brand-color: #adadad;
    --bs-navbar-brand-hover-color: $link-color-hover;
    --bs-navbar-toggler-border-color: rgba(173, 173, 173, 0);
    // --bs-navbar-toggler-icon-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='%23adadad' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
    --bs-navbar-toggler-icon-bg: url("data:image/svg+xml,%3svg xmlns='http://www.w3.org/2000/svg' viewBox='-3 -3 6 6'> <path class='sun' d='m0,-3 l1,1 1,0 0,1 1,1 -1,1 0,1 -1,0 -1,1 -1,-1 -1,0 0,-1 -1,-1 1,-1 0,-1 1,0 1,-1 0,1.5 a1,1,1,1,0,0,3 1,1,1,1,0,0,-3' /> <circle class='moon' r='1.1' /> </svg>")
}

.navbar-dark, .navbar[data-bs-theme=light] {
    --bs-navbar-color: #adadad;
    --bs-navbar-hover-color: $link-color-hover;
    --bs-navbar-disabled-color: rgba(173, 173, 173, 0.75);
    --bs-navbar-active-color: rgba(red($code-color), green($code-color), blue($code-color), 0.05);
    --bs-navbar-brand-color: #adadad;
    --bs-navbar-brand-hover-color: $link-color-hover;
    --bs-navbar-toggler-border-color: rgba(173, 173, 173, 0);
    --bs-navbar-toggler-icon-bg: url("data:image/svg+xml,%3svg xmlns='http://www.w3.org/2000/svg' viewBox='-3 -3 6 6'> <path class='sun' d='m0,-3 l1,1 1,0 0,1 1,1 -1,1 0,1 -1,0 -1,1 -1,-1 -1,0 0,-1 -1,-1 1,-1 0,-1 1,0 1,-1 0,1.5 a1,1,1,1,0,0,3 1,1,1,1,0,0,-3' /> <circle class='moon' r='1.1' /> </svg>")
    // url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='%23adadad' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.navbar {
    // text-align: center;
    // display: flex;
    // position: absolute;
    border-radius: 0.25rem;
    color: $code-color;
    // background: $rgba(red($code-color), green($code-color), blue($code-color), 0.05);
    width: 100%;
    // margin-left: 5%;
    // margin-right: 5%;
    // min-width: max-content;
    // max-width: min-content;
    // width: fit-content;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    box-shadow: $shadow-color 0px 2px 7px!important;
    // box-shadow: 0 1px 2px 0 rgba(60,64,67,.3),0 1px 3px 1px rgba(60,64,67,.15);
    // margin-top: 0.5rem;
    // padding-left: 40%;
    // padding-right: 40%;

}

.navbar:hover {
    border-radius: 0.25rem;
    color: $code-color;
    // background: rgba(red($code-color), green($code-color), blue($code-color), 0.05);
    box-shadow: $shadow-color 0px 2px 4px!important;
    width: 100%;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    box-shadow: $shadow-color 0px 2px 7px!important;
    // box-shadow: 0 1px 2px 0 rgba(60,64,67,.3),0 1px 3px 1px rgba(60,64,67,.15);
    // margin-top: 0.5rem;
    // box-shadow: 0px 5px 15px 0px $shadow-color;
    // min-width: max-content;
    // max-width: min-content;
    // display: flex;
    // text-align: center;
}

.navbar .dropdown-item {
    padding: .4rem .5rem;
    color: $link-color;
    // background: rgba(red($link-color), green($link-color), blue($link-color), 0.07);
    font-family: $font-family-headings;
    line-height: 1.5rem;
    border-radius: $link-border-radius;
}

.dropdown-item {
    display: block;
    width: 100%;
    padding-top: $dropdown-item-padding-y var(--bs-dropdown-item-padding-x);
    // padding: var(--bs-dropdown-item-padding-y) var(--bs-dropdown-item-padding-x);
    /* clear: both; */
    font-weight: 400;
    color: var(--bs-dropdown-link-color);
    text-align: inherit;
    text-decoration: none;
    -webkit-text-decoration: none;
    -moz-text-decoration: none;
    -ms-text-decoration: none;
    -o-text-decoration: none;
    white-space: nowrap;
    border: 1px solid rgba(0, 0, 0, 0.0)!important;
    border-radius: $link-border-radius;
    /* background-color: rgba(0,0,0,0); */
    // border: 0;
    // border-radius: var(--bs-dropdown-item-border-radius, 0);
}


.dropdown-item:hover, .dropdown-item:focus {
    // color: $link-color-hover;
    // background: rgba(red($link-color-hover), green($link-color-hover), blue($link-color-hover), 0.07);
    border: 1px solid $link-color-hover!important;
    background: rgba(red($link-color-hover), green($link-color-hover), blue($link-color-hover), 0.07);
    color: $link-color-hover;
    // border: 1px solid $link-color-hover;
    box-shadow: RGBA(0, 0, 0, 0.25) 0px 2px 7px!important;
    border-radius: $link-border-radius;
}

// .sidebar-item {
//     margin-bottom: 
//
// }

//
// .navbar-dark {
//     background-color: #f8f8f8;
//     color: #838383;
//     // box-shadow: RGBA(100, 100, 100, 0.15) 0px 5px 15px;
//     // color: #222222!important;
// }
//
//
// .navbar {
//     background-color: #f8f8f8;
//     color: #838383;
// }

// .navbar-dark { 
//     background-color: #222222; 
//     // box-shadow: 
//     box-shadow: RGBA(0, 0, 0, 0.05) 0px 2px 4px!important;
//     color: #838383;
//     // color: #F8F8F8;
// }

// .tab-content {
//     margin-top: 0px;
//     border-top: 1px solid $dim-text;
//     border-left: 1px solid $dim-text;
//     border-right: 1px solid $dim-text;
//     border-bottom: 1px solid $dim-text;
//     margin-left: 0;
//     padding: 1em;
//     margin-bottom: 1em;
// }

// .code-with-filename .code-with-filename-file {
//     margin-bottom: 0;
//     padding-bottom: 2px;
//     padding-top: 2px;
//     padding-left: .7em;
//     // border: var(--quarto-border-width) solid var($code-block-border-color);
//     color: $dim-text;
//     // border-radius: var(--quarto-border-radius);
//     // border-bottom: 0;
//     // --bs-nav-tabs-link-active-border-color: $code-block-border-color;
//     // border-bottom-left-radius: 0%;
//     // border-bottom-right-radius: 0%;
//
//     border-radius: 0.25rem;
//     color: $code-color!important;
//     // background: rgba(red($code-color), green($code-color), blue($code-color), 0.05);
//     box-shadow: $shadow-color 0px 2px 4px!important;
//     width: 100%;
//     padding-left: 0.5rem;
//     padding-right: 0.5rem;
//     box-shadow: $shadow-color 0px 2px 7px!important;
//     // box-shadow: 0 1px 2px 0 rgba(60,64,67,.3),0 1px 3px 1px rgba(60,64,67,.15);
//     // margin-top: 0.5rem;
//     // box-shadow: 0px 5px 15px 0px $shadow-color;
//     // min-width: max-content;
//     // max-width: min-content;
//     // display: flex;
//     // text-align: center;
//
//
//
// }


// .code-with-filename .code-with-filename-file {
//     background: oklch(from $code-block-bg-color calc(l * 0.75) c h / 0.5);
//     // background-color: $code-block-bg-color;
// }
//
// .quarto-dark .code-with-filename .code-with-filename-file {
//     // background-color: $code-block-bg-color;
//     background: oklch(from $code-block-bg-color calc(l * 0.75) c h / 0.5);
// }
//
// .quarto-light .code-with-filename .code-with-filename-file {
//     // background-color: $code-block-bg-color;
//     background: oklch(from $code-block-bg-color calc(l * 0.75) c h / 0.5);
// }

// .success { --c: green; }dark
// aside {
// background: oklch(from var(--c) calc(l * 0.75) c h / 0.5);
// color: oklch(from var(--c) calc(l * 1.5) c h);
// }

.quarto-dark .code-with-filename .code-with-filename-file {
    background-color: unset;
}

.quarto-light .code-with-filename .code-with-filename-file {
    background-color: unset;
}

.code-with-filename-file {
    // background-color: $code-block-bg-color;
    border: none!important;
    // border-bottom: 1px dashed $dim-text!important;
    border-radius: 0.25rem;
    // box-shadow: RGBA(0, 0, 0, 0.15) 0px 2px 5px;
    // color: $dim-text!important;
    font-size: 0.8rem;
    font-weight: 400;
    font-style: italic;
    // color: $code-color!important;
    // background-color: oklch(from $code-fg calc(l + calc(l * 0.25)) c h);
    // background: oklch(from $code-fg calc(l + 0.01) c h);
    // background: oklch(from $code-block-bg-color calc(l * 0.75) c h / 0.5);
}

.quarto-dark .code-with-filename .code-with-filename-file strong {
    color: oklch(from $code-fg l c h);
    background: oklch(from $code-fg calc(l * 1.15) c h / 0.085);
}

.quarto-light .code-with-filename .code-with-filename-file strong {
    color: oklch(from $code-fg l c h);
    background: oklch(from $code-fg calc(l * 1.15) c h / 0.085);
}

figure>figcaption.quarto-float-caption-bottom {
    margin-bottom: .5em;
    text-align: center;
}

// .code-with-filename .code-with-filename-file strong {
//     font-weight: 400;
//     font-style: italic;
//     // color: var(--bs-code-color);
//     // background: oklch(from $code-block-bg-color calc(l * 0.75) c h / 0.5);
// }

// .code-with-filename .code-with-filename-file {
//     background-color: rgba(219,219,219,.8);
// }
// .code-with-filename .code-with-filename-file {
//     // background-color: $bg-transparent;
//     border: 1px dashed $code-block-border-color;
// }
.code-with-filename .code-with-filename-file {
    // background-color: rgba(0,0,0,0.0);
    margin-bottom: 0;
    padding-bottom: 2px;
    padding-top: 2px;
    padding-left: .7em;
    /* border: var(--quarto-border-width) solid var(--quarto-border-color); */
    border-radius: var(--quarto-border-radius);
    /* border-bottom: 0; */
    border-bottom-left-radius: 0%;
    border-bottom-right-radius: 0%;
}

// .code-with-filename .code-with-filename-file {
//     /* background-color: rgba(219,219,219,.8); */
// }

p { 
    line-height: 1.25em;
}
