/* #e599f7; */
/* #4582ec; */
/* #FF5252 */
/* #Fd971F */
/* #02b875 */

:root {
    --callout-simple-color: rgba(90, 90, 90, 20);
    --callout-simple-title-color: rgba(90, 90, 90, 100);
    --callout-border-hover-color: rgba(229, 153, 247, 100);
    --tight-code-line-height: 1rem;
    --tight-code-padding-top: 5px;
    --callout-color-info: #4582ec;
    --callout-color-caution: #E599f7;
    --callout-color-error: #FF5252;
    --callout-color-warning: #FD971F;
    --callout-color-tip: #02b875
}

.callout,
.callout-style-simple,
.callout-tip,
.callout-caution,
.callout-warning,
.callout-error,
.callout-note,
.callout-important {
    border-radius: 0.25rem !important;
    box-shadow: RGBA(0, 0, 0, 0.1) 0px 2px 2px;
}

.callout.callout-style-simple,
.callout-simple,
.callout-tip {
    border-radius: 0.25rem !important;
}

/* .callout.callout-style-simple { */
/*   border-radius: 6px !important; */
/*   opacity: 100% !important; */
/*   display: -webkit-inline-box; */
/* } */

/**/
/* .callout.callout-style-default .callout-icon::before, */
/* .callout.callout-style-simple .callout-icon::before { */
/*   /* height: 1.1rem !important; */
/*   /* width: 1.1rem !important; */
/*   display: inline-flex; */
/*   content: ""; */
/*   background-repeat: no-repeat; */
/* } */
/**/
/* .callout.callout-style-simple .callout-icon::before, */
/* .callout.callout-style-simple .callout-toggle::before { */
/*   height: 1.1rem !important; */
/*   width: 1.1rem !important; */
/*   place-self: start; */
/*   display: inline-block; */
/*   content: ""; */
/*   background-repeat: no-repeat; */
/*   background-size: 1.1rem 1.1rem !important; */
/* } */
/**/
/* .callout.callout-style-default .callout-icon::before, */
/* .callout.callout-style-default .callout-toggle::before { */
/*   height: 1.1rem; */
/*   width: 1.1rem; */
/*   display: inline-block; */
/*   content: ""; */
/*   background-repeat: no-repeat; */
/*   background-size: 1.1rem 1.1rem; */
/* } */


/* .callout.callout-style-simple { */
/*     opacity: 100% !important; */
/*     display: -webkit-inline-box; */
/*     box-shadow: RGBA(0, 0, 0, 0.1) 0px 2px 2px; */
/*     border-radius: 0.25rem !important; */
/* } */

.callout:hover {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 10px 30px;
}

.callout.callout-style-default:not(.no-icon) div.callout-icon-container {
    padding-top: 0.25em;
}

/* div.callout-caution .callout-icon::before { */
/*     color: #e599f7; */
/*     background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><!--! Font Awesome Pro 6.2.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. --><path fill="rgb(229, 153, 247)" d="M448 352V48C448 21.53 426.5 0 400 0h-320C35.89 0 0 35.88 0 80v352C0 476.1 35.89 512 80 512h344c13.25 0 24-10.75 24-24s-10.75-24-24-24H416v-66.95C434.6 390.4 448 372.8 448 352zM368 464h-288c-17.64 0-32-14.34-32-32s14.36-32 32-32h288V464zM400 352h-320c-11.38 0-22.2 2.375-32 6.688V80c0-17.66 14.36-32 32-32h320V352zM152 160h176C341.3 160 352 149.3 352 136S341.3 112 328 112h-176C138.8 112 128 122.8 128 136S138.8 160 152 160zM152 240h176C341.3 240 352 229.3 352 216S341.3 192 328 192h-176C138.8 192 128 202.8 128 216S138.8 240 152 240z"/></svg>'); */
/* } */
/**/
/* div.callout-note .callout-icon::before { */
/*     color: #4582ec; */
/*     background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><!--! Font Awesome Pro 6.2.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. --><path fill="rgb(69,130,236)" d="M366.4 213.5L412.2 221.1C414.7 232.4 416 244 416 256C416 344.4 344.4 416 256 416C167.6 416 96 344.4 96 256C96 167.6 167.6 96 256 96C267.1 96 279.6 97.32 290.9 99.81L298.5 145.6L293.6 150.5C281.9 146.3 269.2 143.1 256 143.1C194.1 143.1 144 194.1 144 255.1C144 317.9 194.1 368 256 368C317.9 368 368 317.9 368 255.1C368 242.8 365.7 230.1 361.5 218.4L366.4 213.5zM497.7 171.5C506.1 197.1 512 226.4 512 256C512 397.4 397.4 512 256 512C114.6 512 0 397.4 0 256C0 114.6 114.6 0 256 0C285.6 0 314 5.024 340.5 14.27L301.7 53.04C286.1 49.74 271.7 48 256 48C141.1 48 48 141.1 48 256C48 370.9 141.1 464 256 464C370.9 464 464 370.9 464 256C464 240.3 462.3 225 458.1 210.3L497.7 171.5zM272.1 272.1C263.6 282.3 248.4 282.3 239 272.1C229.7 263.6 229.7 248.4 239 239L331.2 146.9L322.7 96.24C321 86.05 324.3 75.66 331.6 68.36L382.8 17.16C390.1 9.035 404.7 11.86 409 22.53L432 79.1L489.5 102.1C500.1 107.3 502.1 121 494.8 129.2L443.6 180.4C436.3 187.7 425.9 190.1 415.8 189.3L365.1 180.8L272.1 272.1z"/></svg>'); */
/* } */
/**/
/* div.callout-important .callout-icon::before { */
/*     color: #ff5252; */
/*     background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512"><!--! Font Awesome Pro 6.2.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. --><path fill="rgb(255, 82, 82)" d="M215.1 23.88c0-23.75-31.15-33.15-44.15-13.03C76.47 158.1 200 238.7 200 287.1c0 22-18 40-40 40c-22 0-40-18-40-40V182.1c0-19.38-21.88-30.75-37.75-19.63C30.75 198.4 0 257.2 0 319.1C0 425.9 86.12 512 192 512s192-86.12 192-192C384 149.7 215.1 127 215.1 23.88zM192 463.1c-79.38 0-144-64.63-144-144c0-28.63 8.5-64.75 24-88v56c0 48.5 39.5 88 88 88s88-39.5 88-88c0-64.25-88-120-64-208C224 167.1 336 201.7 336 319.1C336 399.4 271.4 463.1 192 463.1z"/></svg>'); */
/* } */
/**/
/* div.callout-warning .callout-icon::before { */
/*     color: #fd971f; */
/*     background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><!--! Font Awesome Pro 6.2.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. --><path fill="rgb(253,151,31)" d="M200.7 128C270.7 128 337.9 100.2 387.4 50.68L425.4 12.69C445.5-7.472 480 6.805 480 35.31V179.6C498.6 188.4 512 212.1 512 240C512 267.9 498.6 291.6 480 300.4V444.7C480 473.2 445.5 487.5 425.4 467.3L387.4 429.3C339.6 381.5 275.4 353.1 208 352.1V456C208 486.9 182.9 512 152 512H120C89.07 512 64 486.9 64 456V352C28.65 352 0 323.3 0 288V192C0 156.7 28.65 128 64 128L200.7 128zM432 73.94L421.3 84.62C364.5 141.4 288.1 174 208 175.9V304.1C288.1 305.1 364.5 338.6 421.3 395.4L432 406.1V73.94zM112 456C112 460.4 115.6 464 120 464H152C156.4 464 160 460.4 160 456V352H112V456zM48 192V288C48 296.8 55.16 303.1 64 303.1H160V176H64C55.16 176 48 183.2 48 192V192z"/></svg>'); */
/* } */
/**/
/* div.callout-tip .callout-icon::before { */
/*     color: #02b875; */
/*     background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 512"><!--! Font Awesome Pro 6.2.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. --><path fill="rgb(2,184,117)" d="M414.9 31.11L270.9 495.1C266.1 507.8 253.5 514.8 240.9 510.9C228.2 506.1 221.1 493.5 225.1 480.9L369.1 16.89C373 4.226 386.5-2.852 399.1 1.077C411.8 5.006 418.9 18.45 414.9 31.11V31.11zM504.4 118.5L632.4 238.5C637.3 243 640 249.4 640 255.1C640 262.6 637.3 268.1 632.4 273.5L504.4 393.5C494.7 402.6 479.6 402.1 470.5 392.4C461.4 382.7 461.9 367.6 471.6 358.5L580.9 255.1L471.6 153.5C461.9 144.4 461.4 129.3 470.5 119.6C479.6 109.9 494.7 109.4 504.4 118.5V118.5zM168.4 153.5L59.09 255.1L168.4 358.5C178.1 367.6 178.6 382.7 169.5 392.4C160.4 402.1 145.3 402.6 135.6 393.5L7.585 273.5C2.746 268.1 0 262.6 0 255.1C0 249.4 2.746 243 7.585 238.5L135.6 118.5C145.3 109.4 160.4 109.9 169.5 119.6C178.6 129.3 178.1 144.4 168.4 153.5V153.5z"/></svg>'); */
/* } */


/* ************************* gist *************************************** */
div.gist .callout-note.callout {
    border-left-color: #1E211F !important;
}

div.gist .callout-note.callout-style-default>.callout-header {
    background-color: #E2E6E4 !important;
}

div.gist .callout-note.callout-titled .callout-icon::before {
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-github" viewBox="0 0 16 16">  <path d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z"/></svg>');
}

/* ************************* gist *************************************** */




/* ************************* loom *************************************** */
div.loom .callout-note.callout {
    border-left-color: #823CE4 !important;
}

div.loom .callout-note.callout-style-default>.callout-header {
    background-color: #E1CBFF !important;
}

div.loom .callout-note.callout-titled .callout-icon::before {
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="%236A00FF" class="bi bi-flower1" viewBox="0 0 16 16"><path d="M6.174 1.184a2 2 0 0 1 3.652 0A2 2 0 0 1 12.99 3.01a2 2 0 0 1 1.826 3.164 2 2 0 0 1 0 3.652 2 2 0 0 1-1.826 3.164 2 2 0 0 1-3.164 1.826 2 2 0 0 1-3.652 0A2 2 0 0 1 3.01 12.99a2 2 0 0 1-1.826-3.164 2 2 0 0 1 0-3.652A2 2 0 0 1 3.01 3.01a2 2 0 0 1 3.164-1.826zM8 1a1 1 0 0 0-.998 1.03l.01.091c.012.077.029.176.054.296.049.241.122.542.213.887.182.688.428 1.513.676 2.314L8 5.762l.045-.144c.248-.8.494-1.626.676-2.314.091-.345.164-.646.213-.887a4.997 4.997 0 0 0 .064-.386L9 2a1 1 0 0 0-1-1zM2 9l.03-.002.091-.01a4.99 4.99 0 0 0 .296-.054c.241-.049.542-.122.887-.213a60.59 60.59 0 0 0 2.314-.676L5.762 8l-.144-.045a60.59 60.59 0 0 0-2.314-.676 16.705 16.705 0 0 0-.887-.213 4.99 4.99 0 0 0-.386-.064L2 7a1 1 0 1 0 0 2zm7 5-.002-.03a5.005 5.005 0 0 0-.064-.386 16.398 16.398 0 0 0-.213-.888 60.582 60.582 0 0 0-.676-2.314L8 10.238l-.045.144c-.248.8-.494 1.626-.676 2.314-.091.345-.164.646-.213.887a4.996 4.996 0 0 0-.064.386L7 14a1 1 0 1 0 2 0zm-5.696-2.134.025-.017a5.001 5.001 0 0 0 .303-.248c.184-.164.408-.377.661-.629A60.614 60.614 0 0 0 5.96 9.23l.103-.111-.147.033a60.88 60.88 0 0 0-2.343.572c-.344.093-.64.18-.874.258a5.063 5.063 0 0 0-.367.138l-.027.014a1 1 0 1 0 1 1.732zM4.5 14.062a1 1 0 0 0 1.366-.366l.014-.027c.01-.02.021-.048.036-.084a5.09 5.09 0 0 0 .102-.283c.078-.233.165-.53.258-.874a60.6 60.6 0 0 0 .572-2.343l.033-.147-.11.102a60.848 60.848 0 0 0-1.743 1.667 17.07 17.07 0 0 0-.629.66 5.06 5.06 0 0 0-.248.304l-.017.025a1 1 0 0 0 .366 1.366zm9.196-8.196a1 1 0 0 0-1-1.732l-.025.017a4.951 4.951 0 0 0-.303.248 16.69 16.69 0 0 0-.661.629A60.72 60.72 0 0 0 10.04 6.77l-.102.111.147-.033a60.6 60.6 0 0 0 2.342-.572c.345-.093.642-.18.875-.258a4.993 4.993 0 0 0 .367-.138.53.53 0 0 0 .027-.014zM11.5 1.938a1 1 0 0 0-1.366.366l-.014.027c-.01.02-.021.048-.036.084a5.09 5.09 0 0 0-.102.283c-.078.233-.165.53-.258.875a60.62 60.62 0 0 0-.572 2.342l-.033.147.11-.102a60.848 60.848 0 0 0 1.743-1.667c.252-.253.465-.477.629-.66a5.001 5.001 0 0 0 .248-.304l.017-.025a1 1 0 0 0-.366-1.366zM14 9a1 1 0 0 0 0-2l-.03.002a4.996 4.996 0 0 0-.386.064c-.242.049-.543.122-.888.213-.688.182-1.513.428-2.314.676L10.238 8l.144.045c.8.248 1.626.494 2.314.676.345.091.646.164.887.213a4.996 4.996 0 0 0 .386.064L14 9zM1.938 4.5a1 1 0 0 0 .393 1.38l.084.035c.072.03.166.064.283.103.233.078.53.165.874.258a60.88 60.88 0 0 0 2.343.572l.147.033-.103-.111a60.584 60.584 0 0 0-1.666-1.742 16.705 16.705 0 0 0-.66-.629 4.996 4.996 0 0 0-.304-.248l-.025-.017a1 1 0 0 0-1.366.366zm2.196-1.196.017.025a4.996 4.996 0 0 0 .248.303c.164.184.377.408.629.661A60.597 60.597 0 0 0 6.77 5.96l.111.102-.033-.147a60.602 60.602 0 0 0-.572-2.342c-.093-.345-.18-.642-.258-.875a5.006 5.006 0 0 0-.138-.367l-.014-.027a1 1 0 1 0-1.732 1zm9.928 8.196a1 1 0 0 0-.366-1.366l-.027-.014a5 5 0 0 0-.367-.138c-.233-.078-.53-.165-.875-.258a60.619 60.619 0 0 0-2.342-.572l-.147-.033.102.111a60.73 60.73 0 0 0 1.667 1.742c.253.252.477.465.66.629a4.946 4.946 0 0 0 .304.248l.025.017a1 1 0 0 0 1.366-.366zm-3.928 2.196a1 1 0 0 0 1.732-1l-.017-.025a5.065 5.065 0 0 0-.248-.303 16.705 16.705 0 0 0-.629-.661A60.462 60.462 0 0 0 9.23 10.04l-.111-.102.033.147a60.6 60.6 0 0 0 .572 2.342c.093.345.18.642.258.875a4.985 4.985 0 0 0 .138.367.575.575 0 0 0 .014.027zM8 9.5a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3z"/></svg>');
}

/* ************************* loom *************************************** */




/* ************************* mstd *************************************** */
div.mstd .callout-note.callout {
    border-left-color: #C204FF !important;
}

div.mstd .callout-note.callout-style-default>.callout-header {
    background-color: #EFBEFF !important;
}

div.mstd .callout-note.callout-titled .callout-icon::before {
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="%23C100FF" class="bi bi-mastodon" viewBox="0 0 16 16"><path d="M11.19 12.195c2.016-.24 3.77-1.475 3.99-2.603.348-1.778.32-4.339.32-4.339 0-3.47-2.286-4.488-2.286-4.488C12.062.238 10.083.017 8.027 0h-.05C5.92.017 3.942.238 2.79.765c0 0-2.285 1.017-2.285 4.488l-.002.662c-.004.64-.007 1.35.011 2.091.083 3.394.626 6.74 3.78 7.57 1.454.383 2.703.463 3.709.408 1.823-.1 2.847-.647 2.847-.647l-.06-1.317s-1.303.41-2.767.36c-1.45-.05-2.98-.156-3.215-1.928a3.614 3.614 0 0 1-.033-.496s1.424.346 3.228.428c1.103.05 2.137-.064 3.188-.189zm1.613-2.47H11.13v-4.08c0-.859-.364-1.295-1.091-1.295-.804 0-1.207.517-1.207 1.541v2.233H7.168V5.89c0-1.024-.403-1.541-1.207-1.541-.727 0-1.091.436-1.091 1.296v4.079H3.197V5.522c0-.859.22-1.541.66-2.046.456-.505 1.052-.764 1.793-.764.856 0 1.504.328 1.933.983L8 4.39l.417-.695c.429-.655 1.077-.983 1.934-.983.74 0 1.336.259 1.791.764.442.505.661 1.187.661 2.046v4.203z"/></svg>');
}

/* ************************* mstd *************************************** */




/* ************************* tweet *************************************** */
div.tweet .callout-note.callout {
    border-left-color: #02d0fa !important;
}

div.tweet .callout-note.callout-style-default>.callout-header {
    background-color: #bef0fa !important;
}

div.tweet .callout-note.callout-titled .callout-icon::before {
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="%2302D0FA" class="bi bi-twitter" viewBox="0 0 16 16">  <path d="M5.026 15c6.038 0 9.341-5.003 9.341-9.334 0-.14 0-.282-.006-.422A6.685 6.685 0 0 0 16 3.542a6.658 6.658 0 0 1-1.889.518 3.301 3.301 0 0 0 1.447-1.817 6.533 6.533 0 0 1-2.087.793A3.286 3.286 0 0 0 7.875 6.03a9.325 9.325 0 0 1-6.767-3.429 3.289 3.289 0 0 0 1.018 4.382A3.323 3.323 0 0 1 .64 6.575v.045a3.288 3.288 0 0 0 2.632 3.218 3.203 3.203 0 0 1-.865.115 3.23 3.23 0 0 1-.614-.057 3.283 3.283 0 0 0 3.067 2.277A6.588 6.588 0 0 1 .78 13.58a6.32 6.32 0 0 1-.78-.045A9.344 9.344 0 0 0 5.026 15z"/></svg>');
}

/* ************************* tweet *************************************** */




/* ************************* vimeo *************************************** */
div.vimeo .callout-note.callout {
    border-left-color: #0cfada !important;
}

div.vimeo .callout-note.callout-style-default>.callout-header {
    background-color: #C0FFF6 !important;
}

div.vimeo .callout-note.callout-titled .callout-icon::before {
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="%2303fcd7" class="bi bi-vimeo" viewBox="0 0 16 16"><path d="M15.992 4.204c-.071 1.556-1.158 3.687-3.262 6.393-2.175 2.829-4.016 4.243-5.522 4.243-.933 0-1.722-.861-2.367-2.583L3.55 7.523C3.07 5.8 2.556 4.94 2.007 4.94c-.118 0-.537.253-1.254.754L0 4.724a209.56 209.56 0 0 0 2.334-2.081c1.054-.91 1.845-1.388 2.373-1.437 1.243-.123 2.01.728 2.298 2.553.31 1.968.526 3.19.646 3.666.36 1.631.756 2.446 1.186 2.445.334 0 .836-.53 1.508-1.587.671-1.058 1.03-1.863 1.077-2.415.096-.913-.263-1.37-1.077-1.37a3.022 3.022 0 0 0-1.185.261c.789-2.573 2.291-3.825 4.508-3.756 1.644.05 2.419 1.117 2.324 3.2z"/></svg>');
}

/* ************************* vimeo *************************************** */




/* ************************* youtube *************************************** */
div.youtube .callout-note.callout {
    border-left-color: #fa0c0c !important;
}

div.youtube .callout-note.callout-style-default>.callout-header {
    background-color: #fca9a9 !important;
}

div.youtube .callout-note.callout-titled .callout-icon::before {
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="red" class="bi bi-youtube" viewBox="0 0 16 16"><path d="M8.051 1.999h.089c.822.003 4.987.033 6.11.335a2.01 2.01 0 0 1 1.415 1.42c.101.38.172.883.22 1.402l.01.104.022.26.008.104c.065.914.073 1.77.074 1.957v.075c-.001.194-.01 1.108-.082 2.06l-.008.105-.009.104c-.05.572-.124 1.14-.235 1.558a2.007 2.007 0 0 1-1.415 1.42c-1.16.312-5.569.334-6.18.335h-.142c-.309 0-1.587-.006-2.927-.052l-.17-.006-.087-.004-.171-.007-.171-.007c-1.11-.049-2.167-.128-2.654-.26a2.007 2.007 0 0 1-1.415-1.419c-.111-.417-.185-.986-.235-1.558L.09 9.82l-.008-.104A31.4 31.4 0 0 1 0 7.68v-.123c.002-.215.01-.958.064-1.778l.007-.103.003-.052.008-.104.022-.26.01-.104c.048-.519.119-1.023.22-1.402a2.007 2.007 0 0 1 1.415-1.42c.487-.13 1.544-.21 2.654-.26l.17-.007.172-.006.086-.003.171-.007A99.788 99.788 0 0 1 7.858 2h.193zM6.4 5.209v4.818l4.157-2.408L6.4 5.209z"/></svg>');
}

.callout-title-container img-fluid {
    height: 1.125rem;
    vertical-align: text-bottom;
}

/* ************************* youtube *************************************** */


/* div.callout-warning { */
/*     border-left-color: #f0ad4e; */
/*     border: none; */
/*     background: oklch(from #f0ad4e calc(l * 1.15) c h / 0.1); */
/* } */
/**/
/* div.callout-tip { */
/*     border-left-color: #02b875; */
/*     border: none; */
/*     background: oklch(from #02b875 calc(l * 1.15) c h / 0.1); */
/* } */
/**/
/* div.callout-info { */
/*     border-left-color: #5bc0de; */
/*     border: none; */
/*     background: oklch(from #5bc0de calc(l * 1.15) c h / 0.1); */
/* } */
/**/
/* div.callout-important { */
/*     border-left-color: #ff5252; */
/*     border: none; */
/*     background: oklch(from #ff5252 calc(l * 1.15) c h / 0.1); */
/* } */
/**/
/* div.callout-caution { */
/*     border-left-color: #e599f7; */
/*     border: none; */
/*     background: oklch(from #e599f7 calc(l * 1.15) c h / 0.1); */
/* } */
/**/
/* div.callout-note { */
/*     border-left-color: #4582ec; */
/*     border: none; */
/*     background: oklch(from #4582ec calc(l * 1.15) c h / 0.1); */
/* } */



/*h1, h2, h3, h4, h5, h6 {*/
/*  font-family: "IBM Plex Sans Condensed", sans-serif;*/
/*}*/


/* Utility class for code blocks that contain things like box drawing characters, where it's nice for things to touch. */
.tight-code pre,
pre.tight-code {
    padding-top: var(--tight-code-padding-top);
}

pre.tight-code code,
.tight-code pre code {
    line-height: var(--tight-code-line-height);
}

/* ----- Code ---------------------------------------------------------- {{{ */

/* Pandoc code blocks with a language look like div.sourceCode > pre.sourceCode
 * Otherwise, it's just a pre (without .sourceCode)
 *
 * The 'code' element is tricky because it's used for inline code and code in a
 * pre.
 */

/* code { */
/*   font-family: var(--font-family-code); */
/**/
/*   word-spacing: normal; */
/**/
/*   /* Only for inline code */
/*   color: var(--color-inline-code); */
/*   background-color: var(--color-inline-code-bg); */
/*   font-size: var(--inline-code-font-size); */
/*   margin: 0; */
/*   padding: 2px 0 1px; */
/*   border: 1px solid var(--color-border); */
/*   border-radius: 1px; */
/* } */
/**/
/* .sidenote code, */
/* .marginnote code { */
/*   font-size: var(--side-note-code-font-size); */
/* } */
/**/
/* pre code { */
/*   /* Reset some changes meant to be inline-only */
/*   color: inherit; */
/*   background-color: inherit; */
/*   font-size: var(--code-block-font-size); */
/*   line-height: var(--line-height); */
/*   margin: initial; */
/*   padding: initial; */
/*   border: initial; */
/*   border-radius: initial; */
/* } */
/**/
/* pre > code { */
/*   position: relative; /* For line highlights */
/*   display: inline-block; */
/*   min-width: 100%; */
/*   z-index: 1; */
/**/
/*   white-space: pre-wrap; */
/**/
/*   padding: 0 var(--code-block-side-padding); */
/* } */
/**/
/* code.sourceCode::selection { */
/*   /* Prevent bug where far right edge of text box shows as selected. */
/*   background: transparent; */
/* } */
/**/
/* .wide > pre, .wide > div.sourceCode { */
/*   /* Put this in front of the table of contents */
/*   transform: translateZ(0px); */
/* } */
/**/
/* .wide pre > code { */
/*   white-space: pre; */
/* } */
/**/
/* pre.numberSource code { */
/*   counter-reset: source-line 0; */
/* } */
/**/
/* pre > code.sourceCode > span { */
/*   line-height: var(--line-height); */
/**/
/*   display: inline-block; */
/*   min-width: 100%; */
/* } */
/**/
/* div.sourceCode { */
/*   /* Need to make room for line numbers (even if they're not going to be used). */
/*    * Width doesn't matter, just needs to be big enough to hold the largest line */
/*    * number. */
/*   --line-numbers-width: calc(4 * var(--line-numbers-font-size)); */
/*   --line-numbers-negative-width: calc(-1 * var(--line-numbers-width)); */
/*   margin-left: var(--line-numbers-negative-width); */
/* } */
/* div.sourceCode > pre { */
/*   margin-left: var(--line-numbers-width); */
/* } */
/* pre.numberSource > code.sourceCode > span { */
/*   counter-increment: source-line; */
/*   padding-left: var(--line-numbers-width); */
/*   text-indent: var(--line-numbers-negative-width); */
/*   position: relative; */
/*   left: var(--line-numbers-negative-width); */
/* } */
/* pre.numberSource > code.sourceCode > span > a:first-child::before { */
/*   -webkit-touch-callout: none; */
/*   -webkit-user-select: none; */
/*   -khtml-user-select: none; */
/*   -moz-user-select: none; */
/*   -ms-user-select: none; */
/*   user-select: none; */
/**/
/*   content: counter(source-line); */
/*   font-size: var(--line-numbers-font-size); */
/*   text-decoration: none; */
/**/
/*   position: relative; */
/*   text-align: right; */
/*   display: inline-block; */
/**/
/*   padding: 0 calc(2 * var(--code-block-side-padding)); */
/*   width: var(--line-numbers-width); */
/* } */
/* pre > code.sourceCode > span > a:first-child::before:hover { */
/*   text-decoration: underline; */
/* } */
/**/
/* /* Utility class for code blocks that contain things like box drawing characters, where it's nice for things to touch. */
/* .tight-code pre, */
/* pre.tight-code { */
/*   padding-top: var(--tight-code-padding-top); */
/* } */
/**/
/* pre.tight-code code, */
/* .tight-code pre code { */
/*   line-height: var(--tight-code-line-height); */
/* } */
/**/
/* /* --- Code line highlights --- {{{ */
/* /* I used some code I contributed to owickstrom's pandoc-emphasize-code[1] as */
/*  * inspiration for these changes. */
/*  * */
/*  * The novel part is using :nth-of-type(...) selectors and CSS classes, instead */
/*  * of needing a pandoc filter. This means that we can stick with pandoc's */
/*  * default syntax highlighter, and not need to requirer JavaScript for syntax */
/*  * highlighting. It has the obvious limitation that it places a fixed limit on */
/*  * lines that can be highlighted, but these additional CSS styles are easy */
/*  * enough to write, so anyone who needs more lines can write their own */
/*  * stylesheet and include it to add more after the fact. */
/*  * */
/*  * [1] https://github.com/owickstrom/pandoc-emphasize-code/pull/3 */
/*  */
/**/
/* pre > code.sourceCode > span::after { */
/*   position: absolute; */
/*   background-color: var(--color-code-highlight-bg); */
/*   z-index: -1; */
/*   left: calc(var(--line-numbers-width) - var(--code-block-side-padding)); */
/*   right: calc(var(--line-numbers-negative-width) - var(--code-block-side-padding)); */
/*   top: 0; */
/*   height: 100%; */
/* } */
/**/
/* pre.hl-1  > code.sourceCode > span:nth-of-type(1)::after  { content: ""; } */
/* pre.hl-2  > code.sourceCode > span:nth-of-type(2)::after  { content: ""; } */
/* pre.hl-3  > code.sourceCode > span:nth-of-type(3)::after  { content: ""; } */
/* pre.hl-4  > code.sourceCode > span:nth-of-type(4)::after  { content: ""; } */
/* pre.hl-5  > code.sourceCode > span:nth-of-type(5)::after  { content: ""; } */
/* pre.hl-6  > code.sourceCode > span:nth-of-type(6)::after  { content: ""; } */
/* pre.hl-7  > code.sourceCode > span:nth-of-type(7)::after  { content: ""; } */
/* pre.hl-8  > code.sourceCode > span:nth-of-type(8)::after  { content: ""; } */
/* pre.hl-9  > code.sourceCode > span:nth-of-type(9)::after  { content: ""; } */
/* pre.hl-10 > code.sourceCode > span:nth-of-type(10)::after { content: ""; } */
/* pre.hl-11 > code.sourceCode > span:nth-of-type(11)::after { content: ""; } */
/* pre.hl-12 > code.sourceCode > span:nth-of-type(12)::after { content: ""; } */
/* pre.hl-13 > code.sourceCode > span:nth-of-type(13)::after { content: ""; } */
/* pre.hl-14 > code.sourceCode > span:nth-of-type(14)::after { content: ""; } */
/* pre.hl-15 > code.sourceCode > span:nth-of-type(15)::after { content: ""; } */
/* pre.hl-16 > code.sourceCode > span:nth-of-type(16)::after { content: ""; } */
/* pre.hl-17 > code.sourceCode > span:nth-of-type(17)::after { content: ""; } */
/* pre.hl-18 > code.sourceCode > span:nth-of-type(18)::after { content: ""; } */
/* pre.hl-19 > code.sourceCode > span:nth-of-type(19)::after { content: ""; } */
/* pre.hl-20 > code.sourceCode > span:nth-of-type(20)::after { content: ""; } */
/* pre.hl-21 > code.sourceCode > span:nth-of-type(21)::after { content: ""; } */
/* pre.hl-22 > code.sourceCode > span:nth-of-type(22)::after { content: ""; } */
/* pre.hl-23 > code.sourceCode > span:nth-of-type(23)::after { content: ""; } */
/* pre.hl-24 > code.sourceCode > span:nth-of-type(24)::after { content: ""; } */
/* pre.hl-25 > code.sourceCode > span:nth-of-type(25)::after { content: ""; } */
/* pre.hl-26 > code.sourceCode > span:nth-of-type(26)::after { content: ""; } */
/* pre.hl-27 > code.sourceCode > span:nth-of-type(27)::after { content: ""; } */
/* pre.hl-28 > code.sourceCode > span:nth-of-type(28)::after { content: ""; } */
/* pre.hl-29 > code.sourceCode > span:nth-of-type(29)::after { content: ""; } */
/* pre.hl-30 > code.sourceCode > span:nth-of-type(30)::after { content: ""; } */
/* pre.hl-31 > code.sourceCode > span:nth-of-type(31)::after { content: ""; } */
/* pre.hl-32 > code.sourceCode > span:nth-of-type(32)::after { content: ""; } */
/* pre.hl-33 > code.sourceCode > span:nth-of-type(33)::after { content: ""; } */
/* pre.hl-34 > code.sourceCode > span:nth-of-type(34)::after { content: ""; } */
/* pre.hl-35 > code.sourceCode > span:nth-of-type(35)::after { content: ""; } */
/* pre.hl-36 > code.sourceCode > span:nth-of-type(36)::after { content: ""; } */
/* pre.hl-37 > code.sourceCode > span:nth-of-type(37)::after { content: ""; } */
/* pre.hl-38 > code.sourceCode > span:nth-of-type(38)::after { content: ""; } */
/* pre.hl-39 > code.sourceCode > span:nth-of-type(39)::after { content: ""; } */
/* pre.hl-40 > code.sourceCode > span:nth-of-type(40)::after { content: ""; } */
/**/
/* /* }}} */
/**/
/* /* }}} */
/**/
