/*-- scss:defaults --*/

// colors
//
$highlight-bg: #FFFF00;

$shadow-color: rgba(0, 0, 0, 0.5);
$shadow-border: #E599F7;

$bs-table-bg: #2a2a2a;
$bg-transparent: rgba(34, 34, 34, 0.05);

// $variable-prefix: dark;
$navbar-bg: rgba(34, 34, 34, 0.95);
$navbar-fg: #838383;
$brighter-text: #f8f8f8;
$bright-text: #b8b8b8;
$alt-text: #CCCCCC;
$dim-text: #777777;
$dim-color: #404040;
$mygrey-000: #1c1c1c;
$mygrey-010: #222222;
$mygrey-020: #282828;
$mygrey-030: #333333;
$mygrey-040: #444444;
$mygrey-050: #555555;
$mygrey-060: #666666;
$mygrey-070: #777777;
$mygrey-080: #888888;
$mygrey-090: #999999;
$mygrey-100: #b8b8b8;
$mygrey-999: #f8f8f8;

// $callout-warning: #FFFF00;

$callout-note-color: #4582ec;
$callout-tip-color: #02b875;
$callout-warning-color: #FD971F;
$callout-caution-color: #E599F7;
$callout-important-color: #FF5252;

$myred: #FF5252;
$myorange: #FD971F;
$myyellow: #FFFF00;
$mygreen: #63FF5b;
$myblue: #00CCFF;
$mypurple: #AE81FF;
$mypink: #FF67FF;

$highlight-text-color: #FFFF00;
$hypothesis-highlight: oklab(from $highlight-text-color calc(1 * 1.15) c h / 0.1);
// $green-text: #66BB6A;
$yellow-text: #FFFF00;
$pink-text: #FF67FF;
$green-text: #07B875;
$orcid-green: #A6CE39;
$red-text: #FF5252;
$blue-text: #29B6F6;

$body-bg: #1c1c1c;
$alt-bg: #2f2f2f;
$dim-text: #666666;
$body-color: #a9a9b3;

// rgba(255,255,255,.05);

// $link-color: #42affa;
// $link-bg-color: rgba(66, 175, 250, 0.07);
// $link-color: #FFEE58;
// $link-bg-color: rgba(255, 238, 88, 0.07);
$link-color: rgba(0, 204, 255, 1.0);
$link-bg-color: rgba(0, 204, 255, 0.07);

$link-border-radius: 0.05rem;
$italic-color: #89DDFF;
$strong-color: #36Ce5e !default;

$interactive-accent-hsl: #FFFF00;
$text-selection: hsla(var($interactive-accent-hsl), 0.25);

$selection-bg: rgba(255, 255, 0, 0.5);
$selection-color: #1c1c1c;

// $table-striped-c

// $table-striped-color: #f8f8f8!default;
$table-striped-bg: #282828 !default;
$table-bg: #222222 !default;

// fonts
$font-family-sans-serif: "IBM Plex Sans", "Source Sans Pro", "Inter", Open Sans, Helvetica, sans-serif !default;

// $font-family-monospace: 'Iosevka Web', 'agave Nerd Font', Menlo, Monaco, Consolas, monospace !default;
// $font-family-monospace: "IBM Plex Mono", "Iosevka Web", "agave Nerd Font", SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace!default;
$font-family-monospace: "IBM Plex Mono", monospace !default;
// $font-family-monospace: "agave Nerd Font", SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace !default;

// $line-height-base: 1.0 !default;

// line height
$presentation-font-family-line-height: 1.0em !default;
$presentation-line-height: 1.0em !default;

// $h1-font-size: 1.75em;
// $h2-font-size: 1.25em;
// $h3-font-size: 1.1em;
// $h4-font-size: 1.0em;

// headings
$heading-color: #a9a9b3;
$presentation-h1-font-size: 1.5em !default;
$presentation-h2-font-size: 1.33em !default;
$presentation-h3-font-size: 1.25em !default;
$presentation-h4-font-size: 1.1em !default;
$presentation-h5-font-size: 1.05em !default;
$presentation-h6-font-size: 1.0em !default;
$presentation-heading-color: $heading-color !default;
// $presentation-heading-line-height: 1.0em !default;
$presentation-heading-font-weight: 600 !default;
$presentation-h1-text-shadow: none !default;
$presentation-heading-text-shadow: none !default;
$presentation-heading-text-transform: none !default;
$presentation-heading-letter-spacing: normal !default;
$presentation-heading-font: IBM Plex Sans Condensed, Open Sans, Playfair Display, Helvetica, sans-serif, $font-family-sans-serif !default;

// links
// linkcolor: "#00B7E5"
$link-color: #42affa !default;
$link-color-hover: $mypink !default;
$link-hover-bg-opacity: 0.07 !default;
$dark-bg-link-color: #00B7E5 !default;

// code blocks
// $code-block-border-color: lighten($body-color, 60%) !default;
// $dark-bg-code-color: #E599F7 !default;
$code-line-number-color: #444444 !default;
// --code-line-number-color: $code-line-number-color;
$code-fg: #E599F7 !default;
// $code-block-bg-color: #1f1f1f !default;
$code-block-bg-alt: #333333 !default;
$code-block-bg-color: #252525 !default;
$code-block-bg: $code-block-bg-color !default;

$code-block-border-color: #222222 !default;
// $code-block-font-size: 0.9em !default;
$code-block-block-shadow: RGBA(0, 0, 0, 0.15) 0px 2px 5px;
$code-block-hover-box-shadow: rgba(0, 0, 0, 0.75) 0px 2px 5px;

// $quarto-hl-at-color: #42affa;

// inline code
// $code-color: var(--quarto-hl-fu-color) !default;
// $code-color: $dark-bg-code-color !default;
// $dark-bg-code-color: #FF67FF!default;
$dark-bg-code-color: #E599F7 !default;
// $dark-bg-code-bg: oklch(from $dark-bg-code-color calc(l * 1.15) c h / 0.1) !default;
// $dark-bg-code-bg: oklch(from $body-bg calc(l * 0.75) c h / 0.5) !default;
// $dark-bg-code-bg: hsl(from $body-bg h s calc(l + calc(l * 0.05)))!default;
$dark-bg-code-bg: $code-block-bg-color !default;
$code-color: $dark-bg-code-color;
$code-bg: $dark-bg-code-bg;
// $light-bg-code-color: #F06292 !default;
// $code-color: $light-bg-code-color !default;
// $code-bg: #f8f8f8!default;

// $tabset-border-color: $code-block-border-color !default;

$presentation-font-size-root: 30px !default;

$algcolor: #F783AC !default;
$algicon: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 512"><!--! Font Awesome Pro 6.2.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. --><path fill="currentColor" d="M414.9 31.11L270.9 495.1C266.1 507.8 253.5 514.8 240.9 510.9C228.2 506.1 221.1 493.5 225.1 480.9L369.1 16.89C373 4.226 386.5-2.852 399.1 1.077C411.8 5.006 418.9 18.45 414.9 31.11V31.11zM504.4 118.5L632.4 238.5C637.3 243 640 249.4 640 255.1C640 262.6 637.3 268.1 632.4 273.5L504.4 393.5C494.7 402.6 479.6 402.1 470.5 392.4C461.4 382.7 461.9 367.6 471.6 358.5L580.9 255.1L471.6 153.5C461.9 144.4 461.4 129.3 470.5 119.6C479.6 109.9 494.7 109.4 504.4 118.5V118.5zM168.4 153.5L59.09 255.1L168.4 358.5C178.1 367.6 178.6 382.7 169.5 392.4C160.4 402.1 145.3 402.6 135.6 393.5L7.585 273.5C2.746 268.1 0 262.6 0 255.1C0 249.4 2.746 243 7.585 238.5L135.6 118.5C145.3 109.4 160.4 109.9 169.5 119.6C178.6 129.3 178.1 144.4 168.4 153.5V153.5z"/></svg>') !default;
$algbg: #1c1c1c !default;

$blockquote-bg: $bg-transparent;
$blockquote-border: #333333;
$blockquote-text: #666666;

$quarto-hl-in-color: #FD971F;
// $quarto-hl-bn-in-colo
$bs-nav-tabs-border-color: #222222 !default;

// $bs-nav-tabs-link-active-border-color: $code-block-border-color !default;
// $bs-nav-tabs-link-active-color: 
// $bs-nav-tabs-link-active-bg
// $bs-nav-tabs-link-active-border-color

/*-- scss:rules --*/

:root {
  --bs-nav-tabs-border-color: $bs-nav-tabs-border-color;
  --callout-tip-color: $callout-tip-color;
  --callout-warning-color: $callout-warning-color;
  --callout-important-color: $callout-important-color;
  --callout-note-color: $callout-note-color;
  --callout-caution-color: $callout-caution-color;
  --bg-border: rgba(40, 40, 40, 1.0);
  --bg-transparent: rgba(34, 34, 34, 0.05);
  --pink-transparent: rgba(229, 153, 247, 0.075);
  --callout-warning: #FFFF00;
  --hypothesis-highlight: $hypothesis-highlight;
  --highlight-text-color: $highlight-text-color;
}


.green-text {
  color: $green-text;
}

.orcid-green {
  color: $orcid-green !important;
}

.yellow-text {
  color: $myyellow;
}

.red-text {
  color: $red-text;
}

.orange-text {
  color: $myorange;
}

.dim-text {
  color: $dim-text;
}

.purple-text {
  color: $mypurple;
}

.blue-text {
  color: $myblue;
}

.pink-text {
  color: $mypink;
}

.note-green {
  padding: 1pt 1pt 1pt 1pt;
  border: 1px solid #66BB6A;
  border-radius: 8px;
  box-shadow: RGBA(0, 0, 0, 0.35) 0px 5px 15px;
  background-color: #1f1f1f;
  max-width: min-content;
  min-width: max-content;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
}

// .callout.callout-style-default div.callout-title {
//   font-size: 1.0em;
// }
//
// .callout-title {
//   font-size: 1.0em;
// }
//
// .callout-caution {
//   border: 1px solid #E599F7 !important;
// }

.reveal .slide-chalkboard-buttons {
  display: none !important;
}

.slide-chalkboard-buttons.slide-menu-offset {
  display: none !important;
}

div.callout-note.callout-style-default>.callout-header {
  background: none;
}

.callout.callout-style-default>div.callout-header {
  align-items: center;
}

div.callout-note.callout-style-default>.callout-header {
  background: none;
  background-color: rgba(0, 0, 0, 0);
}

.callout.callout-style-simple>div.callout-header {
  opacity: 100% !important;
}

.callout.callout-style-default,
.callout.callout-style-simple {
  display: inline-block;
}

// .callout-note .callout-title-container {
//     color: $callout-note-color;
//     font-size: 1.1em;
// }
// .callout-tip .callout-title-container {
//     color: $callout-tip-color;
//     // color: #02b875;
//     font-size: 1.1em;
// }
// .callout-warning .callout-title-container {
//     color: $callout-warning-color;
//     // color: #FD971F;
//     font-size: 1.1em;
// }
// .callout-caution .callout-title-container {
//     color: $callout-caution-color;
//     // color: #E599F7;
//     font-size: 1.1em;
// }
// .callout-important .callout-title-container {
//     color: $callout-important-color;
//     // color: #FF5252;
//     font-size: 1.1em;
// }


// .cell-output cell-output-display {
//     font-family: var(--bs-monospace-font);
//     display: contents;
// }

.table-striped>tbody>tr:nth-of-type(odd)>* {
  --bs-table-accent-bg: var(--bs-table-striped-bg);
  color: var(--bs-table-striped-color);
}

.callout-toggle {
  color: #666666;
  padding-top: 1.5rem !important;
}

.table>:not(caption)>*:not(:last-child)>* {
  border-bottom-color: #444444 !important;
  border-bottom-style: solid;
  border-bottom-width: 1px;
}


// code span.al {
//   background-color: #4d1f24;
//   font-weight: bold;
//   color: #95da4c;
// }
//
// code span.an {
//   color: #98c379;
// }
//
// code span.at {
//   color: #c678dd;
// }
//
// code span.bn {
//   color: #d19a66;
// }
//
// code span.bu {
//   color: #c678dd;
// }
//
// code span.ch {
//   color: #98c379;
// }
//
// code span.co {
//   font-style: italic;
//   color: #5c6370;
// }
//
// code span.cv {
//   font-style: italic;
//   color: #e06c75;
// }
//
// code span.cn {
//   color: #d19a66;
// }
//
// code span.cf {
//   color: #c678dd;
// }
//
// code span.dt {
//   color: #c678dd;
// }
//
// code span.dv {
//   color: #d19a66;
// }
//
// code span.do {
//   color: #a43340;
// }
//
// code span.er {
//   color: #f44747;
//   text-decoration: underline;
// }
//
// code span.ex {
//   font-weight: bold;
//   color: #61afef;
// }
//
// code span.fl {
//   color: #d19a66;
// }
//
// code span.fu {
//   color: #61afef;
// }
//
// code span.im {
//   color: #98c379;
// }
//
// code span.in {
//   color: #Fd971F;
// }
//
// code span.kw {
//   color: #c678dd;
// }
//
// pre > code.sourceCode > span {
//   color: #abb2bf;
// }
//
// code span {
//   color: #abb2bf;
// }
//
// code.sourceCode > span {
//   color: #abb2bf;
// }
//
// div.sourceCode,
// div.sourceCode pre.sourceCode {
//   color: #abb2bf;
// }
//
// code span.op {
//   color: #c678dd;
// }
//
// code span.pp {
//   color: #c678dd;
// }
//
// code span.re {
//   background-color: #153042;
//   color: #2980b9;
// }
//
// code span.sc {
//   color: #56b6c2;
// }
//
// code span.ss {
//   color: #da4453;
// }
//
// code span.st {
//   color: #98c379;
// }
//
// code span.va {
//   color: #e06c75;
// }
//
// code span.vs {
//   color: #da4453;
// }
//
// code span.wa {
//   color: #da4453;
// }
//
// .prevent-inlining {
//   content: "</";
// }


.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  color: $heading-color;
}
