/*-- scss:defaults --*/

/*-- scss:rules --*/

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: auto;
  margin-bottom: auto;
}

body.h1 {
  margin-bottom: 0.25rem;
}

h1.title,
.title.h1 {
  margin-top: 0pt;
  margin-bottom: 0pt;
}

.callout {
  margin: auto;
  width: 100%;
}

p {
  margin: auto;
}

blockquote p {
  margin: 2pt 5pt;
}

.blockquote,
blockquote {
  margin: 0 0 1rem 0 !important;
  padding: 2px 5px !important;
}

ul>li:not(:has(>p))>ul,
ol>li:not(:has(>p))>ul,
ul>li:not(:has(>p))>ol,
ol>li:not(:has(>p))>ol {
  margin-bottom: auto;
}

main ol ol,
main ul ul,
main ol ul,
main ul ol {
  margin-bottom: auto;
}

.reveal .callout.callout-style-default,
.reveal .callout.callout-style-simple,
.callout.callout-style-default,
.callout.callout-style-simple {
  opacity: 100% !important;
  padding: unset;
  width: 100% !important;
  /* margin-top: .5em; */
}

section.has-dark-background,
section.has-dark-background h1,
section.has-dark-background h2,
section.has-dark-background h3,
section.has-dark-background h4,
section.has-dark-background h5,
section.has-dark-background h6 {
  color: #cccccc;
}

section.has-light-background,
section.has-light-background h1,
section.has-light-background h2,
section.has-light-background h3,
section.has-light-background h4,
section.has-light-background h5,
section.has-light-background h6 {
  color: #333333;
}

.reveal .callout.callout-titled .callout-body>.callout-content>:last-child {
  margin-bottom: unset;
  margin-top: unset;
}

.reveal .callout.callout-titled .callout-body>.callout-content>:last-child {
  margin-bottom: 5pt;
  margin-top: auto;
}

.reveal section.has-dark-background code:not(.sourceCode),
.reveal section.has-dark-background p code:not(.sourceCode),
.reveal section.has-dark-background li code:not(.sourceCode),
.reveal section.has-dark-background td code:not(.sourceCode) {
  color: #FF3BD3;
  background: oklch(from #FF3BD3 calc(l * 1.15) c h/0.1);
}

.reveal section.has-light-background code:not(.sourceCode),
.reveal section.has-light-background p code:not(.sourceCode),
.reveal section.has-light-background li code:not(.sourceCode),
.reveal section.has-light-background td code:not(.sourceCode) {
  color: #a376f4;
  background: oklch(from #a376f4 calc(l * 1.15) c h/0.1);
}

// .callout-caution {
//     border-left: 2px solid #e599f7 !important;
//     border-radius: 0pt !important;
// }
//

.reveal .slide-logo {
  display: block;
  position: fixed;
  bottom: 0;
  right: 12px;
  max-height: 50px;
  height: 100%;
  width: auto;
  z-index: 2;
}

.reveal .footer {
  display: block;
  position: fixed;
  bottom: 18px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  font-size: 18px;
  z-index: 2;
}

.reveal .footer>* {
  margin-top: 0;
  margin-bottom: 0;
}

.reveal .slide .footer {
  display: none;
}

.reveal .slide-number {
  bottom: 10px;
  right: 10px;
  font-size: 16px;
  background-color: transparent;
}

.reveal.has-logo .slide-number {
  bottom: initial;
  top: 8px;
  right: 8px;
}

.reveal .slide-number .slide-number-delimiter {
  margin: 0;
}

.reveal .slide-menu-button {
  left: 8px;
  bottom: 8px;
}

.reveal .slide-chalkboard-buttons {
  position: fixed;
  left: 12px;
  bottom: 8px;
  z-index: 30;
  font-size: 24px;
}

.reveal .slide-chalkboard-buttons.slide-menu-offset {
  left: 54px;
}

.reveal .slide-chalkboard-buttons>span {
  margin-right: 14px;
  cursor: pointer;
}

@media screen and (max-width: 800px) {
  .reveal .slide-logo {
    max-height: 1.1rem;
    bottom: -2px;
    right: 10px;
  }

  .reveal .footer {
    font-size: 14px;
    bottom: 12px;
  }

  .reveal .slide-number {
    font-size: 12px;
    bottom: 7px;
  }

  .reveal .slide-menu-button .fas::before {
    height: 1.3rem;
    width: 1.3rem;
    vertical-align: -0.125em;
    background-size: 1.3rem 1.3rem;
  }

  .reveal .slide-chalkboard-buttons .fas::before {
    height: 0.95rem;
    width: 0.95rem;
    background-size: 0.95rem 0.95rem;
    vertical-align: -0em;
  }

  .reveal .slide-chalkboard-buttons.slide-menu-offset {
    left: 36px;
  }

  .reveal .slide-chalkboard-buttons>span {
    margin-right: 9px;
  }
}

html.print-pdf .reveal .slide-menu-button,
html.print-pdf .reveal .slide-chalkboard-buttons {
  display: none;
}

.reveal .callout.callout-style-simple div.callout-title,
.reveal .callout.callout-style-default div.callout-title {
  background: rgba(0, 0, 0, 0) !important;
  margin: auto;
  margin-block-end: 10pt;
  padding-top: 5pt;
}

// .reveal .slides section.smaller,
.reveal.smaller .slides section,
.reveal .slides section .callout {
  font-size: inherit;
}

.tab-content {
  margin: auto;
}

.reveal .sourceCode {
  font-size: initial;
}
