/*-- scss:defaults --*/

/*-- scss:rules --*/

.callout {
  margin: auto;
  width: 100%;
}

p {
  margin: auto;
  // margin-block-end: 1rem;
}

body p {
  margin: auto;
}

.reveal .slide ul li>*:last-child,
.reveal .slide ol li>*:last-child {
  margin-left: 1rem;
  margin-right: 1rem;
}

blockquote p {
  margin: 2pt 5pt;
}

.blockquote,
blockquote {
  margin: 0 0 1rem 0 !important;
  padding: 2px 5px !important;
}

ul>li:not(:has(>p))>ul,
ol>li:not(:has(>p))>ul,
ul>li:not(:has(>p))>ol,
ol>li:not(:has(>p))>ol {
  margin-bottom: auto;
}

main ol ol,
main ul ul,
main ol ul,
main ul ol {
  margin-bottom: auto;
}

.reveal .callout.callout-style-default,
.reveal .callout.callout-style-simple,
.callout.callout-style-default,
.callout.callout-style-simple {
  opacity: 100% !important;
  padding: unset;
  width: 100% !important;
  /* margin-top: .5em; */
}

.reveal .callout.callout-titled .callout-body>.callout-content>:last-child {
  margin-bottom: unset;
  margin-top: unset;
}

.reveal .callout.callout-titled .callout-body>.callout-content>:last-child {
  margin-bottom: 5pt;

  #title-block-header {
    margin-block-end: 1rem;
    position: relative;
    margin-top: -1px;
  }

  margin-top: auto;
}

.reveal section.has-dark-background code:not(.sourceCode),
.reveal section.has-dark-background p code:not(.sourceCode),
.reveal section.has-dark-background li code:not(.sourceCode),
.reveal section.has-dark-background td code:not(.sourceCode) {
  color: #FF3BD3;
  background: oklch(from #FF3BD3 calc(l * 1.15) c h/0.1);
}

.reveal section.has-light-background code:not(.sourceCode),
.reveal section.has-light-background p code:not(.sourceCode),
.reveal section.has-light-background li code:not(.sourceCode),
.reveal section.has-light-background td code:not(.sourceCode) {
  // color: #a376f4;
  // background: oklch(from #a376f4 calc(l * 1.15) c h/0.1);
  color: #FF1A8F;
  background: oklch(from #FF1A8F calc(l * 1.15) c h/0.1);
}

section.has-dark-background code:not(.sourceCode),
section.has-dark-background p code:not(.sourceCode),
section.has-dark-background li code:not(.sourceCode),
section.has-dark-background td code:not(.sourceCode) {
  color: #FF3BD3;
  background: oklch(from #FF3BD3 calc(l * 1.15) c h/0.1);
}

section.has-light-background code:not(.sourceCode),
section.has-light-background p code:not(.sourceCode),
section.has-light-background li code:not(.sourceCode),
section.has-light-background td code:not(.sourceCode) {
  // color: #a376f4;
  // background: oklch(from #a376f4 calc(l * 1.15) c h/0.1);
  color: #FF1A8F;
  background: oklch(from #FF1A8F calc(l * 1.15) c h/0.1);
}

section.has-dark-background,
section.has-dark-background h1,
section.has-dark-background h2,
section.has-dark-background h3,
section.has-dark-background h4,
section.has-dark-background h5,
section.has-dark-background h6 {
  color: #838383;
}

// .callout-caution {
//     border-left: 2px solid #e599f7 !important;
//     border-radius: 0pt !important;
// }
//

// .reveal .slide-logo {
//   display: block;
//   position: fixed;
//   bottom: 5px;
//   right: 5px;
//   height: ;
//   // max-height: ;
//   // max-height: 50px;
//   // height: 100%;
//   // width: auto;
//   z-index: 1;
// }

.reveal .footer {
  display: block;
  position: relative;
  bottom: 5px;
  // width: 75%;
  // overflow: auto;
  // margin: 0 auto;
  text-align: center;
  font-size: small;
  z-index: 3;
}

.reveal .footer a {
  color: #838383 !important;
}

.reveal .slide-logo {
  display: block;
  position: fixed;
  bottom: 5pt;
  right: 5pt;
  width: auto;
  z-index: 1;
  height: 25pt;
}

// @media screen and (max-width: 800px) {
//   .reveal .slide-logo {
//     max-height: 1.3rem;
//     bottom: -2px;
//     right: 10px;
//   }

// @media screen and (max-width: 801px) {
//   .reveal .footer {
//     margin-left: 10%;
//     margin-right: 16%;
//     width: -webkit-fill-available;
//     max-height: 1.1rem;
//     bottom: -2px;
//     word-break: break-word;
//     font-size: 50%;
//     height: 1.1rem;
//     color: #838383 !important;
//   }
// }

// .reveal .footer>* {
//   margin-top: 0;
//   margin-bottom: 0;
// }
//
// .reveal .slide .footer {
//   display: none;
// }
//
// .reveal .slide-number {
//   bottom: 10px;
//   right: 10px;
//   font-size: 16px;
//   background-color: transparent;
// }
//
// .reveal.has-logo .slide-number {
//   bottom: initial;
//   top: 8px;
//   right: 8px;
// }
//
// .reveal .slide-number .slide-number-delimiter {
//   margin: 0;
// }
//
// .reveal .slide-menu-button {
//   left: 8px;
//   bottom: 8px;
// }
//
// .reveal .slide-chalkboard-buttons {
//   position: fixed;
//   left: 12px;
//   bottom: 8px;
//   z-index: 30;
//   font-size: 24px;
// }
//
// .reveal .slide-chalkboard-buttons.slide-menu-offset {
//   left: 54px;
// }
//
// .reveal .slide-chalkboard-buttons>span {
//   margin-right: 14px;
//   cursor: pointer;
// }

// .reveal .footer {
//   font-size: 14px;
//   bottom: 12px;
// }

.reveal .slide-number {
  font-size: 12px;
  bottom: 7px;
}

.reveal .slide-menu-button .fas::before {
  height: 1.1rem;
  width: 1.1rem;
  vertical-align: -0.125em;
  background-size: 1.1rem 1.1rem;
}

.reveal .slide-chalkboard-buttons .fas::before {
  height: 0.95rem;
  width: 0.95rem;
  background-size: 0.95rem 0.95rem;
  vertical-align: -0em;
}

// .reveal .slide-chalkboard-buttons.slide-menu-offset {
//   left: 36px;
// }

// .reveal .slide-chalkboard-buttons>span {
//   margin-right: 9px;
// }

html.print-pdf .reveal .slide-menu-button,
html.print-pdf .reveal .slide-chalkboard-buttons {
  display: none;
}

.reveal .callout.callout-style-simple div.callout-title,
.reveal .callout.callout-style-default div.callout-title {
  background: rgba(0, 0, 0, 0) !important;
  margin: auto;
  margin-block-end: 10pt;
  padding-top: 5pt;
}

// .reveal .slides section.smaller,
.reveal.smaller .slides section,
.reveal .slides section .callout {
  // font-size: inherit;
  font-size: 80%;
}

.reveal.smallest .slides section {
  font-size: 60%;
}

.tab-content {
  margin: auto;
}

.reveal .sourceCode {
  font-size: initial;
}

.panel-caption,
.figure-caption,
.subfigure-caption,
.table-caption,
figcaption,
caption {
  font-size: .9rem;
  color: #838383;
}

.reveal .slides section[data-transition=none],
.reveal.none .slides section:not([data-transition]) {
  transform: none;
  transition: none;
  // max-height: 100%;
  // overflow: auto;
}

// .reveal .scrollable {
//   overflow: auto;
// }

.reveal pre code {
  display: block;
  padding: 0px;
  overflow: auto;
  // max-height: 400px;
  word-wrap: normal;
}

.reveal pre.sourceCode code {
  padding: 0pt;
  max-height: 500px;
  white-space: pre;
}

// .reveal .slides {
//   position: absolute;
//   width: 100%;
//   height: 100%;
//   max-height: 100%;
//   top: 0;
//   right: 0;
//   bottom: 0;
//   left: 0;
//   margin: auto;
//   pointer-events: none;
//   // overflow: auto;
//   z-index: 1;
//   // text-align: center;
//   perspective: 600px;
//   perspective-origin: 50% 40%;
// }

.navbar {
  --bs-navbar-padding-x: 0;
  --bs-navbar-padding-y: 0.5rem;
  --bs-navbar-color: #adadad;
  --bs-navbar-hover-color: rgba(13, 83, 167, 0.8);
  --bs-navbar-disabled-color: rgba(173, 173, 173, 0.75);
  --bs-navbar-active-color: #0d53a7;
  --bs-navbar-brand-padding-y: 0.0125rem;
  --bs-navbar-brand-margin-end: 1rem;
  --bs-navbar-brand-font-size: 1.25rem;
  --bs-navbar-brand-color: #adadad;
  --bs-navbar-brand-hover-color: #0d53a7;
  --bs-navbar-nav-link-padding-x: 0.5rem;
  --bs-navbar-toggler-padding-y: 0.25;
  --bs-navbar-toggler-padding-x: 0;
  --bs-navbar-toggler-font-size: 1.25rem;
  --bs-navbar-toggler-icon-bg: "./assets/toggle.svg";
  // url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='%23adadad' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
  --bs-navbar-toggler-border-color: rgba(173, 173, 173, 0);
  --bs-navbar-toggler-border-radius: 0.25rem;
  --bs-navbar-toggler-focus-width: 0.25rem;
  --bs-navbar-toggler-transition: box-shadow 0.15s ease-in-out;
  position: relative;
  display: flex;
  display: -webkit-flex;
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  align-items: center;
  -webkit-align-items: center;
  justify-content: space-between;
  -webkit-justify-content: space-between;
  padding: var(--bs-navbar-padding-y) var(--bs-navbar-padding-x);
}

.theme-switch {
  --toggle-size: 30px;
  /* the size is adjusted using font-size,
     this is not transform scale,
     so you can choose any size */
  --container-width: 5.625em;
  --container-height: 2.5em;
  --container-radius: 6.25em;
  /* radius 0 - minecraft mode :) */
  --container-light-bg: #3D7EAE;
  --container-night-bg: #1D1F2C;
  --circle-container-diameter: 3.375em;
  --sun-moon-diameter: 2.125em;
  --sun-bg: #ECCA2F;
  --moon-bg: #C4C9D1;
  --spot-color: #959DB1;
  --circle-container-offset: calc((var(--circle-container-diameter) - var(--container-height)) / 2 * -1);
  --stars-color: #fff;
  --clouds-color: #F3FDFF;
  --back-clouds-color: #AACADF;
  --transition: .5s cubic-bezier(0, -0.02, 0.4, 1.25);
  --circle-transition: .3s cubic-bezier(0, -0.02, 0.35, 1.17);
}

.theme-switch,
.theme-switch *,
.theme-switch *::before,
.theme-switch *::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: var(--toggle-size);
}

.theme-switch__container {
  width: var(--container-width);
  height: var(--container-height);
  background-color: var(--container-light-bg);
  border-radius: var(--container-radius);
  overflow: hidden;
  cursor: pointer;
  -webkit-box-shadow: 0em -0.062em 0.062em rgba(0, 0, 0, 0.25), 0em 0.062em 0.125em rgba(255, 255, 255, 0.94);
  box-shadow: 0em -0.062em 0.062em rgba(0, 0, 0, 0.25), 0em 0.062em 0.125em rgba(255, 255, 255, 0.94);
  -webkit-transition: var(--transition);
  -o-transition: var(--transition);
  transition: var(--transition);
  position: relative;
}

.theme-switch__container::before {
  content: "";
  position: absolute;
  z-index: 1;
  inset: 0;
  -webkit-box-shadow: 0em 0.05em 0.187em rgba(0, 0, 0, 0.25) inset, 0em 0.05em 0.187em rgba(0, 0, 0, 0.25) inset;
  box-shadow: 0em 0.05em 0.187em rgba(0, 0, 0, 0.25) inset, 0em 0.05em 0.187em rgba(0, 0, 0, 0.25) inset;
  border-radius: var(--container-radius)
}

.theme-switch__checkbox {
  display: none;
}

.theme-switch__circle-container {
  width: var(--circle-container-diameter);
  height: var(--circle-container-diameter);
  background-color: rgba(255, 255, 255, 0.1);
  position: absolute;
  left: var(--circle-container-offset);
  top: var(--circle-container-offset);
  border-radius: var(--container-radius);
  -webkit-box-shadow: inset 0 0 0 3.375em rgba(255, 255, 255, 0.1), inset 0 0 0 3.375em rgba(255, 255, 255, 0.1), 0 0 0 0.625em rgba(255, 255, 255, 0.1), 0 0 0 1.25em rgba(255, 255, 255, 0.1);
  box-shadow: inset 0 0 0 3.375em rgba(255, 255, 255, 0.1), inset 0 0 0 3.375em rgba(255, 255, 255, 0.1), 0 0 0 0.625em rgba(255, 255, 255, 0.1), 0 0 0 1.25em rgba(255, 255, 255, 0.1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: var(--circle-transition);
  -o-transition: var(--circle-transition);
  transition: var(--circle-transition);
  pointer-events: none;
}

.theme-switch__sun-moon-container {
  pointer-events: auto;
  position: relative;
  z-index: 2;
  width: var(--sun-moon-diameter);
  height: var(--sun-moon-diameter);
  margin: auto;
  border-radius: var(--container-radius);
  background-color: var(--sun-bg);
  -webkit-box-shadow: 0.062em 0.062em 0.062em 0em rgba(254, 255, 239, 0.61) inset, 0em -0.062em 0.062em 0em #a1872a inset;
  box-shadow: 0.062em 0.062em 0.062em 0em rgba(254, 255, 239, 0.61) inset, 0em -0.062em 0.062em 0em #a1872a inset;
  -webkit-filter: drop-shadow(0.062em 0.125em 0.125em rgba(0, 0, 0, 0.25)) drop-shadow(0em 0.062em 0.125em rgba(0, 0, 0, 0.25));
  filter: drop-shadow(0.062em 0.125em 0.125em rgba(0, 0, 0, 0.25)) drop-shadow(0em 0.062em 0.125em rgba(0, 0, 0, 0.25));
  overflow: hidden;
  -webkit-transition: var(--transition);
  -o-transition: var(--transition);
  transition: var(--transition);
}

.theme-switch__moon {
  -webkit-transform: translateX(100%);
  -ms-transform: translateX(100%);
  transform: translateX(100%);
  width: 100%;
  height: 100%;
  background-color: var(--moon-bg);
  border-radius: inherit;
  -webkit-box-shadow: 0.062em 0.062em 0.062em 0em rgba(254, 255, 239, 0.61) inset, 0em -0.062em 0.062em 0em #969696 inset;
  box-shadow: 0.062em 0.062em 0.062em 0em rgba(254, 255, 239, 0.61) inset, 0em -0.062em 0.062em 0em #969696 inset;
  -webkit-transition: var(--transition);
  -o-transition: var(--transition);
  transition: var(--transition);
  position: relative;
}

.theme-switch__spot {
  position: absolute;
  top: 0.75em;
  left: 0.312em;
  width: 0.75em;
  height: 0.75em;
  border-radius: var(--container-radius);
  background-color: var(--spot-color);
  -webkit-box-shadow: 0em 0.0312em 0.062em rgba(0, 0, 0, 0.25) inset;
  box-shadow: 0em 0.0312em 0.062em rgba(0, 0, 0, 0.25) inset;
}

.theme-switch__spot:nth-of-type(2) {
  width: 0.375em;
  height: 0.375em;
  top: 0.937em;
  left: 1.375em;
}

.theme-switch__spot:nth-last-of-type(3) {
  width: 0.25em;
  height: 0.25em;
  top: 0.312em;
  left: 0.812em;
}

.theme-switch__clouds {
  width: 1.25em;
  height: 1.25em;
  background-color: var(--clouds-color);
  border-radius: var(--container-radius);
  position: absolute;
  bottom: -0.625em;
  left: 0.312em;
  -webkit-box-shadow: 0.937em 0.312em var(--clouds-color), -0.312em -0.312em var(--back-clouds-color), 1.437em 0.375em var(--clouds-color), 0.5em -0.125em var(--back-clouds-color), 2.187em 0 var(--clouds-color), 1.25em -0.062em var(--back-clouds-color), 2.937em 0.312em var(--clouds-color), 2em -0.312em var(--back-clouds-color), 3.625em -0.062em var(--clouds-color), 2.625em 0em var(--back-clouds-color), 4.5em -0.312em var(--clouds-color), 3.375em -0.437em var(--back-clouds-color), 4.625em -1.75em 0 0.437em var(--clouds-color), 4em -0.625em var(--back-clouds-color), 4.125em -2.125em 0 0.437em var(--back-clouds-color);
  box-shadow: 0.937em 0.312em var(--clouds-color), -0.312em -0.312em var(--back-clouds-color), 1.437em 0.375em var(--clouds-color), 0.5em -0.125em var(--back-clouds-color), 2.187em 0 var(--clouds-color), 1.25em -0.062em var(--back-clouds-color), 2.937em 0.312em var(--clouds-color), 2em -0.312em var(--back-clouds-color), 3.625em -0.062em var(--clouds-color), 2.625em 0em var(--back-clouds-color), 4.5em -0.312em var(--clouds-color), 3.375em -0.437em var(--back-clouds-color), 4.625em -1.75em 0 0.437em var(--clouds-color), 4em -0.625em var(--back-clouds-color), 4.125em -2.125em 0 0.437em var(--back-clouds-color);
  -webkit-transition: 0.5s cubic-bezier(0, -0.02, 0.4, 1.25);
  -o-transition: 0.5s cubic-bezier(0, -0.02, 0.4, 1.25);
  transition: 0.5s cubic-bezier(0, -0.02, 0.4, 1.25);
}

.theme-switch__stars-container {
  position: absolute;
  color: var(--stars-color);
  top: -100%;
  left: 0.312em;
  width: 2.75em;
  height: auto;
  -webkit-transition: var(--transition);
  -o-transition: var(--transition);
  transition: var(--transition);
}

/* actions */

.theme-switch__checkbox:checked+.theme-switch__container {
  background-color: var(--container-night-bg);
}

.theme-switch__checkbox:checked+.theme-switch__container .theme-switch__circle-container {
  left: calc(100% - var(--circle-container-offset) - var(--circle-container-diameter));
}

.theme-switch__checkbox:checked+.theme-switch__container .theme-switch__circle-container:hover {
  left: calc(100% - var(--circle-container-offset) - var(--circle-container-diameter) - 0.187em)
}

.theme-switch__circle-container:hover {
  left: calc(var(--circle-container-offset) + 0.187em);
}

.theme-switch__checkbox:checked+.theme-switch__container .theme-switch__moon {
  -webkit-transform: translate(0);
  -ms-transform: translate(0);
  transform: translate(0);
}

.theme-switch__checkbox:checked+.theme-switch__container .theme-switch__clouds {
  bottom: -4.062em;
}

.theme-switch__checkbox:checked+.theme-switch__container .theme-switch__stars-container {
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.reveal .slide ul,
.reveal .slide ol {
  margin-bottom: 0.5em;
  width: -webkit-fill-available;
}

.reveal p,
.reveal .slides section,
.reveal .slides section>section {
  line-height: normal;
}

.reveal p {
  line-height: normal;
}

.reveal.center,
.reveal.center .slides,
.reveal.center .slides section {
  min-height: 0 !important;
}


.reveal section.has-dark-background,
.reveal section.has-light-background {
  height: -webkit-fill-available;
  align-content: center;
}

.quarto-figure {
  position: relative;
  margin-bottom: auto;
}

.reveal .slides {
  width: -webkit-fill-available;
  inset: auto;
  // margin: 1%;
  height: unset;
  transform: unset;
}

// .reveal .footer a {
//   // color: #838383 !important;
//   font-size: 80%;
// }

.reveal .slide.scrollable aside,
.reveal .slide.scrollable div.aside {
  // position: absolute;
  margin-top: 1em;
}

html.print-pdf * {
  text-shadow: none !important;
}


// html.print-pdf .reveal section {
//   height: -we
//     -webkit-print-color-adjust: exact;
// }
//
.notes:not(.reveal) {
  display: none;
}

div.quarto-post {
  display: flex;
  /* gap: 2em; */
  /* margin-bottom: 1.5em; */
  /* border-bottom: 1px solid #dee2e6; */
}

div.quarto-post {
  display: flex;
  gap: 5pt;
  margin-bottom: auto;
  border-bottom: none;
  align-items: baseline;
}

div.quarto-post .thumbnail img {
  width: 100%;
  object-fit: cover;
}

div.quarto-post .thumbnail {
  flex-basis: 25%;
  flex-grow: 0;
  flex-shrink: 1;
}


.quarto-grid-item .card-title {
  margin-bottom: .1em;
  color: inherit;
}

.quarto-grid-item .card-attribution {
  padding-top: 1em;
  display: flex;
  gap: 1em;
  text-align: left;
  text-transform: none;
  color: inherit;
  // font-weight: 500;
  flex-grow: 10;
  align-items: flex-end;
}

.quarto-grid-item .card-attribution {
  /* padding-top: 1em; */
  display: contents;
  /* gap: 1em; */
  text-align: left;
  text-transform: none;
  color: inherit;
  flex-grow: 10;
}

.quarto-grid-item .card-title {
  font-weight: normal;
}

.quarto-grid-item .listing-date {
  text-align: center;
  font-weight: normal;
}

.quarto-grid-item div.post-contents {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  height: 100%;
  text-align: center;
}

.quarto-grid-item table {
  margin: unset;
}

.quarto-grid-item .card-other-values tr>td:first-of-type {
  font-weight: 600;
  padding-right: 1em;
  padding-left: 1em;
  vertical-align: top;
  display: none;
}

.quarto-grid-item .card-other-values {
  margin-top: unset;
  font-size: .8em;
}


.callout-tip .callout-reveal {
  width: 100%;
  border-radius: 0.25rem;
  border: none;
  text-align: center;
  max-height: 500pt !important;
  background-color: rgba(0, 0, 0, 0.0) !important;
  border: 1px solid rgba(131, 131, 131, 0.2) !important;
}

.sidebar-container.theme-clean {
  --tw-shadow: 0px 1px 4px rgb(0, 0, 0, 0.5);
  --tw-shadow-colored: 0px 1px 4px var(--tw-shadow-color);
  // box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  box-shadow: unset;
}

.circle-sketch-highlight {
  position: relative;
  left: 0.5em;
  // font-family: Libre Franklin;
  // font-size: 32px;
  font-weight: 500;
}

.circle-sketch-highlight:before {
  content: "";
  z-index: -1;
  left: -0.5em;
  top: -0.1em;
  border-width: 2px;
  border-style: solid;
  border-color: #ef8c22;
  position: absolute;
  border-right-color: transparent;
  width: 100%;
  height: 1em;
  transform: rotate(2deg);
  opacity: 0.7;
  border-radius: 50%;
  padding: 0.1em 0.25em;
}

.circle-sketch-highlight:after {
  content: "";
  z-index: -1;
  left: -0.5em;
  top: 0.1em;
  padding: 0.1em 0.25em;
  border-width: 2px;
  border-style: solid;
  border-color: #ef8c22;
  border-left-color: transparent;
  border-top-color: transparent;
  position: absolute;
  width: 100%;
  height: 1em;
  transform: rotate(-1deg);
  opacity: 0.7;
  border-radius: 50%;
}


// .hypothesis-highlights-always-on:before {
//   background: oklch(from $yellow-text calc(l * 1.15) c h/0.2);
//   content: "";
//   position: absolute;
//   width: calc(100% + 4px);
//   height: 60%;
//   left: -2px;
//   bottom: 0px;
//   z-index: -1;
//   transform: rotate(-2deg);
// }
//
// .hypothesis-highlight:before {
//   background: oklch(from $yellow-text calc(l * 1.15) c h/0.2);
//   content: "";
//   position: absolute;
//   width: calc(100% + 4px);
//   height: 60%;
//   left: -2px;
//   bottom: 0px;
//   z-index: -1;
//   transform: rotate(-2deg);
// }
//
// .hypothesis-highlight {
//   position: relative;
//   color: $yellow-text;
//   font-weight: 500;
// }
//
// .hypothesis-highlights-always-on {
//   position: relative;
//   color: $yellow-text;
//   font-weight: 500;
// }


.highlight:before {
  background: oklch(from $yellow-text calc(l * 1.15) c h/0.2);
  content: "";
  position: absolute;
  width: calc(100% + 4px);
  height: 60%;
  left: -2px;
  bottom: 0px;
  z-index: -1;
  transform: rotate(-2deg);
}

.highlight {
  position: relative;
  color: $yellow-text;
  font-weight: 500;
}


.highlight-pink:before {
  background: oklch(from $pink-text calc(l * 1.15) c h/0.2);
  content: "";
  position: absolute;
  width: calc(100% + 4px);
  height: 60%;
  left: -2px;
  bottom: 0px;
  z-index: -1;
  transform: rotate(-2deg);
}

.highlight-pink {
  position: relative;
  color: $pink-text;
  font-weight: 500;
}

.highlight-blue:before {
  background: oklch(from $blue-text calc(l * 1.15) c h/0.2);
  content: "";
  position: absolute;
  width: calc(100% + 4px);
  height: 60%;
  left: -2px;
  bottom: 0px;
  z-index: -1;
  transform: rotate(-2deg);
}

.highlight-blue {
  position: relative;
  color: $blue-text;
  font-weight: 500;
}

.highlight-green:before {
  background: oklch(from $green-text calc(l * 1.15) c h/0.2);
  content: "";
  position: absolute;
  width: calc(100% + 4px);
  height: 60%;
  left: -2px;
  bottom: 0px;
  z-index: -1;
  transform: rotate(-2deg);
}

.highlight-green {
  position: relative;
  color: $green-text;
  font-weight: 500;
}

.highlight-red:before {
  background: oklch(from $red-text calc(l * 1.15) c h/0.2);
  content: "";
  position: absolute;
  width: calc(100% + 4px);
  height: 60%;
  left: -2px;
  bottom: 0px;
  z-index: -1;
  transform: rotate(-2deg);
}

.highlight-red {
  position: relative;
  color: $red-text;
  font-weight: 500;
}


.figure {
  max-width: 100%;
  object-fit: scale-down;
  text-align: center;
}

.cell-output p img {
  width: auto;
}

.img {
  width: auto;
}

.img-fluid {
  // max-width: -webkit-fill-available;
  height: auto;
  text-align: center;
}

.cell-output.cell-output-display {
  white-space: pre;
  overflow-x: auto;
  font-family: "IBM Plex Mono", monospace !important;
  white-space-collapse: collapse;
  display: block;
  background-color: oklab(from var(--code-bg) calc(1 * 1.15) c h / 0.1);
  border-radius: 2px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border: 1px solid var(--code-bg);
  border-left: 2px solid var(--bs-code-color) !important;
  padding-left: 5pt;
  line-height: initial;
  margin-bottom: 0;
  color: var(--dim-text);
  overflow: auto;
}

.cell-output pre {
  margin-bottom: 0;
}

// .hypothesis-highlights-always-on .hypothesis-highlight {
//   color: var(--hypothesis-highlight) !important;
//   font-weight: 500;
//   background-color: oklab(from var(--hypothesis-highlight) calc(1 * 1.15) c h / 0.2) !important;
//   cursor: pointer;
// }
//
.reveal .slide-background video {
  position: absolute;
  width: 100%;
  height: 100%;
  max-width: none;
  max-height: none;
  top: 0;
  left: 0;
  object-fit: cover
}

.reveal .slide-background[data-background-size=contain] video {
  object-fit: contain
}

.reveal>.backgrounds .slide-background[data-background-transition=none],
.reveal[data-background-transition=none]>.backgrounds .slide-background:not([data-background-transition]) {
  transition: none
}

.reveal>.backgrounds .slide-background[data-background-transition=slide],
.reveal[data-background-transition=slide]>.backgrounds .slide-background:not([data-background-transition]) {
  opacity: 1
}

.reveal>.backgrounds .slide-background.past[data-background-transition=slide],
.reveal[data-background-transition=slide]>.backgrounds .slide-background.past:not([data-background-transition]) {
  transform: translate(-100%, 0)
}

.reveal>.backgrounds .slide-background.future[data-background-transition=slide],
.reveal[data-background-transition=slide]>.backgrounds .slide-background.future:not([data-background-transition]) {
  transform: translate(100%, 0)
}

.reveal>.backgrounds .slide-background>.slide-background.past[data-background-transition=slide],
.reveal[data-background-transition=slide]>.backgrounds .slide-background>.slide-background.past:not([data-background-transition]) {
  transform: translate(0, -100%)
}

.reveal>.backgrounds .slide-background>.slide-background.future[data-background-transition=slide],
.reveal[data-background-transition=slide]>.backgrounds .slide-background>.slide-background.future:not([data-background-transition]) {
  transform: translate(0, 100%)
}

.reveal>.backgrounds .slide-background.past[data-background-transition=convex],
.reveal[data-background-transition=convex]>.backgrounds .slide-background.past:not([data-background-transition]) {
  opacity: 0;
  transform: translate3d(-100%, 0, 0) rotateY(-90deg) translate3d(-100%, 0, 0)
}

.reveal>.backgrounds .slide-background.future[data-background-transition=convex],
.reveal[data-background-transition=convex]>.backgrounds .slide-background.future:not([data-background-transition]) {
  opacity: 0;
  transform: translate3d(100%, 0, 0) rotateY(90deg) translate3d(100%, 0, 0)
}

.reveal>.backgrounds .slide-background>.slide-background.past[data-background-transition=convex],
.reveal[data-background-transition=convex]>.backgrounds .slide-background>.slide-background.past:not([data-background-transition]) {
  opacity: 0;
  transform: translate3d(0, -100%, 0) rotateX(90deg) translate3d(0, -100%, 0)
}

.reveal>.backgrounds .slide-background>.slide-background.future[data-background-transition=convex],
.reveal[data-background-transition=convex]>.backgrounds .slide-background>.slide-background.future:not([data-background-transition]) {
  opacity: 0;
  transform: translate3d(0, 100%, 0) rotateX(-90deg) translate3d(0, 100%, 0)
}

.reveal>.backgrounds .slide-background.past[data-background-transition=concave],
.reveal[data-background-transition=concave]>.backgrounds .slide-background.past:not([data-background-transition]) {
  opacity: 0;
  transform: translate3d(-100%, 0, 0) rotateY(90deg) translate3d(-100%, 0, 0)
}

.reveal>.backgrounds .slide-background.future[data-background-transition=concave],
.reveal[data-background-transition=concave]>.backgrounds .slide-background.future:not([data-background-transition]) {
  opacity: 0;
  transform: translate3d(100%, 0, 0) rotateY(-90deg) translate3d(100%, 0, 0)
}

.reveal>.backgrounds .slide-background>.slide-background.past[data-background-transition=concave],
.reveal[data-background-transition=concave]>.backgrounds .slide-background>.slide-background.past:not([data-background-transition]) {
  opacity: 0;
  transform: translate3d(0, -100%, 0) rotateX(-90deg) translate3d(0, -100%, 0)
}

.reveal>.backgrounds .slide-background>.slide-background.future[data-background-transition=concave],
.reveal[data-background-transition=concave]>.backgrounds .slide-background>.slide-background.future:not([data-background-transition]) {
  opacity: 0;
  transform: translate3d(0, 100%, 0) rotateX(90deg) translate3d(0, 100%, 0)
}

.reveal>.backgrounds .slide-background[data-background-transition=zoom],
.reveal[data-background-transition=zoom]>.backgrounds .slide-background:not([data-background-transition]) {
  transition-timing-function: ease
}

.reveal>.backgrounds .slide-background.past[data-background-transition=zoom],
.reveal[data-background-transition=zoom]>.backgrounds .slide-background.past:not([data-background-transition]) {
  opacity: 0;
  visibility: hidden;
  transform: scale(16)
}

.reveal>.backgrounds .slide-background.future[data-background-transition=zoom],
.reveal[data-background-transition=zoom]>.backgrounds .slide-background.future:not([data-background-transition]) {
  opacity: 0;
  visibility: hidden;
  transform: scale(.2)
}

.reveal>.backgrounds .slide-background>.slide-background.past[data-background-transition=zoom],
.reveal[data-background-transition=zoom]>.backgrounds .slide-background>.slide-background.past:not([data-background-transition]) {
  opacity: 0;
  visibility: hidden;
  transform: scale(16)
}

.reveal>.backgrounds .slide-background>.slide-background.future[data-background-transition=zoom],
.reveal[data-background-transition=zoom]>.backgrounds .slide-background>.slide-background.future:not([data-background-transition]) {
  opacity: 0;
  visibility: hidden;
  transform: scale(.2)
}

.reveal[data-transition-speed=fast]>.backgrounds .slide-background {
  transition-duration: .4s
}

.reveal[data-transition-speed=slow]>.backgrounds .slide-background {
  transition-duration: 1.2s
}

.reveal [data-auto-animate-target^=unmatched] {
  will-change: opacity
}

.reveal section[data-auto-animate]:not(.stack):not([data-auto-animate=running]) [data-auto-animate-target^=unmatched] {
  opacity: 0
}

.reveal.overview {
  perspective-origin: 50% 50%;
  perspective: 700px
}

.reveal.overview .slides {
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.reveal.overview .slides section {
  height: 100%;
  top: 0 !important;
  opacity: 1 !important;
  overflow: hidden;
  visibility: visible !important;
  cursor: pointer;
  box-sizing: border-box
}

.reveal.overview .slides section.present,
.reveal.overview .slides section:hover {
  outline: 10px solid rgba(150, 150, 150, .4);
  outline-offset: 10px
}

.reveal.overview .slides section .fragment {
  opacity: 1;
  transition: none
}

.reveal.overview .slides section:after,
.reveal.overview .slides section:before {
  display: none !important
}

.reveal.overview .slides>section.stack {
  padding: 0;
  top: 0 !important;
  background: 0 0;
  outline: 0;
  overflow: visible
}

.reveal.overview .backgrounds {
  perspective: inherit;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.reveal.overview .backgrounds .slide-background {
  opacity: 1;
  visibility: visible;
  outline: 10px solid rgba(150, 150, 150, .1);
  outline-offset: 10px
}

.reveal.overview .backgrounds .slide-background.stack {
  overflow: visible
}

.reveal.overview .slides section,
.reveal.overview-deactivating .slides section {
  transition: none
}

.reveal.overview .backgrounds .slide-background,
.reveal.overview-deactivating .backgrounds .slide-background {
  transition: none
}

.reveal.rtl .slides,
.reveal.rtl .slides h1,
.reveal.rtl .slides h2,
.reveal.rtl .slides h3,
.reveal.rtl .slides h4,
.reveal.rtl .slides h5,
.reveal.rtl .slides h6 {
  direction: rtl;
  font-family: sans-serif
}

.reveal.rtl code,
.reveal.rtl pre {
  direction: ltr
}

.reveal.rtl ol,
.reveal.rtl ul {
  text-align: right
}

.reveal.rtl .progress span {
  transform-origin: 100% 0
}

.reveal.has-parallax-background .backgrounds {
  transition: all .8s ease
}

.reveal.has-parallax-background[data-transition-speed=fast] .backgrounds {
  transition-duration: .4s
}

.reveal.has-parallax-background[data-transition-speed=slow] .backgrounds {
  transition-duration: 1.2s
}

.reveal {
  -webkit-backdrop-filter: none;
  backdrop-filter: none;
}

.reveal>.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  background: none;
  -webkit-backdrop-filter: none;
  backdrop-filter: none;
}

.reveal.rtl ol,
.reveal.rtl ul {
  text-align: right
}

.reveal.rtl .progress span {
  transform-origin: 100% 0
}

.reveal.has-parallax-background .backgrounds {
  transition: all .8s ease
}

.reveal.has-parallax-background[data-transition-speed=fast] .backgrounds {
  transition-duration: .4s
}

.reveal.has-parallax-background[data-transition-speed=slow] .backgrounds {
  transition-duration: 1.2s
}

//
// .reveal>.overlay {
//   position: absolute;
//   top: 0;
//   left: 0;
//   width: 100%;
//   height: 100%;
//   z-index: 1000;
//   background: rgba(0, 0, 0, .95);
//   -webkit-backdrop-filter: blur(6px);
//   backdrop-filter: blur(6px);
//   transition: all .3s ease
// }
//
// .reveal>.overlay .spinner {
//   position: absolute;
//   display: block;
//   top: 50%;
//   left: 50%;
//   width: 32px;
//   height: 32px;
//   margin: -16px 0 0 -16px;
//   z-index: 10;
//   background-image: url(data:image/gif;base64,R0lGODlhIAAgAPMAAJmZmf%2F%2F%2F6%2Bvr8nJybW1tcDAwOjo6Nvb26ioqKOjo7Ozs%2FLy8vz8%2FAAAAAAAAAAAACH%2FC05FVFNDQVBFMi4wAwEAAAAh%2FhpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh%2BQQJCgAAACwAAAAAIAAgAAAE5xDISWlhperN52JLhSSdRgwVo1ICQZRUsiwHpTJT4iowNS8vyW2icCF6k8HMMBkCEDskxTBDAZwuAkkqIfxIQyhBQBFvAQSDITM5VDW6XNE4KagNh6Bgwe60smQUB3d4Rz1ZBApnFASDd0hihh12BkE9kjAJVlycXIg7CQIFA6SlnJ87paqbSKiKoqusnbMdmDC2tXQlkUhziYtyWTxIfy6BE8WJt5YJvpJivxNaGmLHT0VnOgSYf0dZXS7APdpB309RnHOG5gDqXGLDaC457D1zZ%2FV%2FnmOM82XiHRLYKhKP1oZmADdEAAAh%2BQQJCgAAACwAAAAAIAAgAAAE6hDISWlZpOrNp1lGNRSdRpDUolIGw5RUYhhHukqFu8DsrEyqnWThGvAmhVlteBvojpTDDBUEIFwMFBRAmBkSgOrBFZogCASwBDEY%2FCZSg7GSE0gSCjQBMVG023xWBhklAnoEdhQEfyNqMIcKjhRsjEdnezB%2BA4k8gTwJhFuiW4dokXiloUepBAp5qaKpp6%2BHo7aWW54wl7obvEe0kRuoplCGepwSx2jJvqHEmGt6whJpGpfJCHmOoNHKaHx61WiSR92E4lbFoq%2BB6QDtuetcaBPnW6%2BO7wDHpIiK9SaVK5GgV543tzjgGcghAgAh%2BQQJCgAAACwAAAAAIAAgAAAE7hDISSkxpOrN5zFHNWRdhSiVoVLHspRUMoyUakyEe8PTPCATW9A14E0UvuAKMNAZKYUZCiBMuBakSQKG8G2FzUWox2AUtAQFcBKlVQoLgQReZhQlCIJesQXI5B0CBnUMOxMCenoCfTCEWBsJColTMANldx15BGs8B5wlCZ9Po6OJkwmRpnqkqnuSrayqfKmqpLajoiW5HJq7FL1Gr2mMMcKUMIiJgIemy7xZtJsTmsM4xHiKv5KMCXqfyUCJEonXPN2rAOIAmsfB3uPoAK%2B%2BG%2Bw48edZPK%2BM6hLJpQg484enXIdQFSS1u6UhksENEQAAIfkECQoAAAAsAAAAACAAIAAABOcQyEmpGKLqzWcZRVUQnZYg1aBSh2GUVEIQ2aQOE%2BG%2BcD4ntpWkZQj1JIiZIogDFFyHI0UxQwFugMSOFIPJftfVAEoZLBbcLEFhlQiqGp1Vd140AUklUN3eCA51C1EWMzMCezCBBmkxVIVHBWd3HHl9JQOIJSdSnJ0TDKChCwUJjoWMPaGqDKannasMo6WnM562R5YluZRwur0wpgqZE7NKUm%2BFNRPIhjBJxKZteWuIBMN4zRMIVIhffcgojwCF117i4nlLnY5ztRLsnOk%2BaV%2BoJY7V7m76PdkS4trKcdg0Zc0tTcKkRAAAIfkECQoAAAAsAAAAACAAIAAABO4QyEkpKqjqzScpRaVkXZWQEximw1BSCUEIlDohrft6cpKCk5xid5MNJTaAIkekKGQkWyKHkvhKsR7ARmitkAYDYRIbUQRQjWBwJRzChi9CRlBcY1UN4g0%2FVNB0AlcvcAYHRyZPdEQFYV8ccwR5HWxEJ02YmRMLnJ1xCYp0Y5idpQuhopmmC2KgojKasUQDk5BNAwwMOh2RtRq5uQuPZKGIJQIGwAwGf6I0JXMpC8C7kXWDBINFMxS4DKMAWVWAGYsAdNqW5uaRxkSKJOZKaU3tPOBZ4DuK2LATgJhkPJMgTwKCdFjyPHEnKxFCDhEAACH5BAkKAAAALAAAAAAgACAAAATzEMhJaVKp6s2nIkolIJ2WkBShpkVRWqqQrhLSEu9MZJKK9y1ZrqYK9WiClmvoUaF8gIQSNeF1Er4MNFn4SRSDARWroAIETg1iVwuHjYB1kYc1mwruwXKC9gmsJXliGxc%2BXiUCby9ydh1sOSdMkpMTBpaXBzsfhoc5l58Gm5yToAaZhaOUqjkDgCWNHAULCwOLaTmzswadEqggQwgHuQsHIoZCHQMMQgQGubVEcxOPFAcMDAYUA85eWARmfSRQCdcMe0zeP1AAygwLlJtPNAAL19DARdPzBOWSm1brJBi45soRAWQAAkrQIykShQ9wVhHCwCQCACH5BAkKAAAALAAAAAAgACAAAATrEMhJaVKp6s2nIkqFZF2VIBWhUsJaTokqUCoBq%2BE71SRQeyqUToLA7VxF0JDyIQh%2FMVVPMt1ECZlfcjZJ9mIKoaTl1MRIl5o4CUKXOwmyrCInCKqcWtvadL2SYhyASyNDJ0uIiRMDjI0Fd30%2FiI2UA5GSS5UDj2l6NoqgOgN4gksEBgYFf0FDqKgHnyZ9OX8HrgYHdHpcHQULXAS2qKpENRg7eAMLC7kTBaixUYFkKAzWAAnLC7FLVxLWDBLKCwaKTULgEwbLA4hJtOkSBNqITT3xEgfLpBtzE%2FjiuL04RGEBgwWhShRgQExHBAAh%2BQQJCgAAACwAAAAAIAAgAAAE7xDISWlSqerNpyJKhWRdlSAVoVLCWk6JKlAqAavhO9UkUHsqlE6CwO1cRdCQ8iEIfzFVTzLdRAmZX3I2SfZiCqGk5dTESJeaOAlClzsJsqwiJwiqnFrb2nS9kmIcgEsjQydLiIlHehhpejaIjzh9eomSjZR%2BipslWIRLAgMDOR2DOqKogTB9pCUJBagDBXR6XB0EBkIIsaRsGGMMAxoDBgYHTKJiUYEGDAzHC9EACcUGkIgFzgwZ0QsSBcXHiQvOwgDdEwfFs0sDzt4S6BK4xYjkDOzn0unFeBzOBijIm1Dgmg5YFQwsCMjp1oJ8LyIAACH5BAkKAAAALAAAAAAgACAAAATwEMhJaVKp6s2nIkqFZF2VIBWhUsJaTokqUCoBq%2BE71SRQeyqUToLA7VxF0JDyIQh%2FMVVPMt1ECZlfcjZJ9mIKoaTl1MRIl5o4CUKXOwmyrCInCKqcWtvadL2SYhyASyNDJ0uIiUd6GGl6NoiPOH16iZKNlH6KmyWFOggHhEEvAwwMA0N9GBsEC6amhnVcEwavDAazGwIDaH1ipaYLBUTCGgQDA8NdHz0FpqgTBwsLqAbWAAnIA4FWKdMLGdYGEgraigbT0OITBcg5QwPT4xLrROZL6AuQAPUS7bxLpoWidY0JtxLHKhwwMJBTHgPKdEQAACH5BAkKAAAALAAAAAAgACAAAATrEMhJaVKp6s2nIkqFZF2VIBWhUsJaTokqUCoBq%2BE71SRQeyqUToLA7VxF0JDyIQh%2FMVVPMt1ECZlfcjZJ9mIKoaTl1MRIl5o4CUKXOwmyrCInCKqcWtvadL2SYhyASyNDJ0uIiUd6GAULDJCRiXo1CpGXDJOUjY%2BYip9DhToJA4RBLwMLCwVDfRgbBAaqqoZ1XBMHswsHtxtFaH1iqaoGNgAIxRpbFAgfPQSqpbgGBqUD1wBXeCYp1AYZ19JJOYgH1KwA4UBvQwXUBxPqVD9L3sbp2BNk2xvvFPJd%2BMFCN6HAAIKgNggY0KtEBAAh%2BQQJCgAAACwAAAAAIAAgAAAE6BDISWlSqerNpyJKhWRdlSAVoVLCWk6JKlAqAavhO9UkUHsqlE6CwO1cRdCQ8iEIfzFVTzLdRAmZX3I2SfYIDMaAFdTESJeaEDAIMxYFqrOUaNW4E4ObYcCXaiBVEgULe0NJaxxtYksjh2NLkZISgDgJhHthkpU4mW6blRiYmZOlh4JWkDqILwUGBnE6TYEbCgevr0N1gH4At7gHiRpFaLNrrq8HNgAJA70AWxQIH1%2BvsYMDAzZQPC9VCNkDWUhGkuE5PxJNwiUK4UfLzOlD4WvzAHaoG9nxPi5d%2BjYUqfAhhykOFwJWiAAAIfkECQoAAAAsAAAAACAAIAAABPAQyElpUqnqzaciSoVkXVUMFaFSwlpOCcMYlErAavhOMnNLNo8KsZsMZItJEIDIFSkLGQoQTNhIsFehRww2CQLKF0tYGKYSg%2BygsZIuNqJksKgbfgIGepNo2cIUB3V1B3IvNiBYNQaDSTtfhhx0CwVPI0UJe0%2Bbm4g5VgcGoqOcnjmjqDSdnhgEoamcsZuXO1aWQy8KAwOAuTYYGwi7w5h%2BKr0SJ8MFihpNbx%2B4Erq7BYBuzsdiH1jCAzoSfl0rVirNbRXlBBlLX%2BBP0XJLAPGzTkAuAOqb0WT5AH7OcdCm5B8TgRwSRKIHQtaLCwg1RAAAOwAAAAAAAAAAAA%3D%3D);
//   visibility: visible;
//   opacity: .6;
//   transition: all .3s ease
// }
//
// .reveal>.overlay header {
//   position: absolute;
//   left: 0;
//   top: 0;
//   width: 100%;
//   padding: 5px;
//   z-index: 2;
//   box-sizing: border-box
// }
//
// .reveal>.overlay header a {
//   display: inline-block;
//   width: 40px;
//   height: 40px;
//   line-height: 36px;
//   padding: 0 10px;
//   float: right;
//   opacity: .6;
//   box-sizing: border-box
// }
//
// .reveal>.overlay header a:hover {
//   opacity: 1
// }
//
// .reveal>.overlay header a .icon {
//   display: inline-block;
//   width: 20px;
//   height: 20px;
//   background-position: 50% 50%;
//   background-size: 100%;
//   background-repeat: no-repeat
// }
//
// .reveal>.overlay header a.close .icon {
//   background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAABkklEQVRYR8WX4VHDMAxG6wnoJrABZQPYBCaBTWAD2g1gE5gg6OOsXuxIlr40d81dfrSJ9V4c2VLK7spHuTJ/5wpM07QXuXc5X0opX2tEJcadjHuV80li/FgxTIEK/5QBCICBD6xEhSMGHgQPgBgLiYVAB1dpSqKDawxTohFw4JSEA3clzgIBPCURwE2JucBR7rhPJJv5OpJwDX+SfDjgx1wACQeJG1aChP9K/IMmdZ8DtESV1WyP3Bt4MwM6sj4NMxMYiqUWHQu4KYA/SYkIjOsm3BXYWMKFDwU2khjCQ4ELJUJ4SmClRArOCmSXGuKma0fYD5CbzHxFpCSGAhfAVSSUGDUk2BWZaff2g6GE15BsBQ9nwmpIGDiyHQddwNTMKkbZaf9fajXQca1EX44puJZUsnY0ObGmITE3GVLCbEhQUjGVt146j6oasWN+49Vph2w1pZ5EansNZqKBm1txbU57iRRcZ86RWMDdWtBJUHBHwoQPi1GV+JCbntmvok7iTX4/Up9mgyTc/FJYDTcndgH/AA5A/CHsyEkVAAAAAElFTkSuQmCC)
// }
//
// .reveal>.overlay header a.external .icon {
//   background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAcElEQVRYR+2WSQoAIQwEzf8f7XiOMkUQxUPlGkM3hVmiQfQR9GYnH1SsAQlI4DiBqkCMoNb9y2e90IAEJPAcgdznU9+engMaeJ7Azh5Y1U67gAho4DqBqmB1buAf0MB1AlVBek83ZPkmJMGc1wAR+AAqod/B97TRpQAAAABJRU5ErkJggg==)
// }
//
// .reveal>.overlay .viewport {
//   position: absolute;
//   display: flex;
//   top: 50px;
//   right: 0;
//   bottom: 0;
//   left: 0
// }
//
// .reveal>.overlay.overlay-preview .viewport iframe {
//   width: 100%;
//   height: 100%;
//   max-width: 100%;
//   max-height: 100%;
//   border: 0;
//   opacity: 0;
//   visibility: hidden;
//   transition: all .3s ease
// }
//
// .reveal>.overlay.overlay-preview.loaded .viewport iframe {
//   opacity: 1;
//   visibility: visible
// }
//
// .reveal>.overlay.overlay-preview.loaded .viewport-inner {
//   position: absolute;
//   z-index: -1;
//   left: 0;
//   top: 45%;
//   width: 100%;
//   text-align: center;
//   letter-spacing: normal
// }
//
// .reveal>.overlay.overlay-preview .x-frame-error {
//   opacity: 0;
//   transition: opacity .3s ease .3s
// }
//
// .reveal>.overlay.overlay-preview.loaded .x-frame-error {
//   opacity: 1
// }
//
// .reveal>.overlay.overlay-preview.loaded .spinner {
//   opacity: 0;
//   visibility: hidden;
//   transform: scale(.2)
// }
//
// .reveal>.overlay.overlay-help .viewport {
//   overflow: auto;
//   color: #fff
// }
//
// .reveal>.overlay.overlay-help .viewport .viewport-inner {
//   width: 600px;
//   margin: auto;
//   padding: 20px 20px 80px 20px;
//   text-align: center;
//   letter-spacing: normal
// }
//
// .reveal>.overlay.overlay-help .viewport .viewport-inner .title {
//   font-size: 20px
// }
//
// .reveal>.overlay.overlay-help .viewport .viewport-inner table {
//   border: 1px solid #fff;
//   border-collapse: collapse;
//   font-size: 16px
// }
//
// .reveal>.overlay.overlay-help .viewport .viewport-inner table td,
// .reveal>.overlay.overlay-help .viewport .viewport-inner table th {
//   width: 200px;
//   padding: 14px;
//   border: 1px solid #fff;
//   vertical-align: middle
// }
//
// .reveal>.overlay.overlay-help .viewport .viewport-inner table th {
//   padding-top: 20px;
//   padding-bottom: 20px
// }
//
