@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro");
@import url("https://iosevka-webfonts.github.io/iosevka-fixed/iosevka-fixed.css");

$globalFontSize: 12px;
/* $globalFontFamily: "Source Sans Pro", sans-serif; */
/* "Iosevka Fixed Web" "IBM Plex Sans", */
/* sans-serif; */
/* $globalFontFamily: "Iosevka Fixed Web", "IBM Plex Sans", sans-serif; */
$globalBorderRadius: 0.25rem;

@mixin border-left-radius($radius) {
  -webkit-border-top-left-radius: $radius;
  -moz-border-top-left-radius: $radius;
  -ms-border-top-left-radius: $radius;
  -o-border-top-left-radius: $radius;
  border-top-left-radius: $radius;

  -webkit-border-bottom-left-radius: $radius;
  -moz-border-bottom-left-radius: $radius;
  -ms-border-bottom-left-radius: $radius;
  -o-border-bottom-left-radius: $radius;
  border-bottom-left-radius: $radius;
}

/* body { */
/*   padding: 0; */
/*   margin: 0; */
/**/
.nowplayingcard {
  /* min-width: 200px; */
  /* max-width: 20%; */
  margin: 0 auto;
  font-family: "IBM Plex Sans";
  font-size: smaller;

  .nowplayingcontainer-inner {
    /* width: 100%; */
    overflow: hidden;
    margin-bottom: 0em;
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); */
    transition: 0.3s;
    display: inline-flex;
    text-overflow: ellipsis;
    border-radius: 6pt;
    @include border-left-radius(6pt);

    &:hover {
      box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    }

    img#trackart {
      max-width: 30%;
      float: left;
      left: 0;
      border-top-left-radius: 6pt;
      border-bottom-left-radius: 6pt;
      @include border-left-radius(6pt);
    }

    .trackInfo {
      /* max-width: 70%; */
      float: left;
      display: block;

      a {
        max-width: 95%;
        display: inline-block;
        font-size: inherit;
        text-align: left;
        text-decoration: none;
        overflow: auto;
        white-space: nowrap;
        text-overflow: ellipsis;

        &:nth-child(odd) {
          img {
            width: 15px;
            height: 15px;
            vertical-align: middle;
            margin: -2% 3px 0 0;
          }

          color: "#838383";
          vertical-align: middle;
          line-height: 15px;
          letter-spacing: 0.2px;
          padding: 10% 0 0 5%;
        }

        &:nth-child(even) {
          img {
            width: 15px;
            height: 15px;
            vertical-align: middle;
            margin: -2% 3px 0 0;
          }

          color: "#838383";
          font-size: calc(var(--font-size) - 1);
          letter-spacing: 0.1px;
          padding: 5% 0 0 5%;
        }
      }
    }
  }
}
