/*-- scss:defaults --*/

// $thunder: #222222; // ansi0
// $silver-chalice: #b0b0b0; // ansi8
// $purple-pizzazz: #ff0ad8; // ansi
// $rose: #ff0090;
// $green-haze: #00a846;
// $malachite: #00cc3f;
// $burning-orange: #ff6e3f;
// $vermilion: #ff4300;
// $azure-radiance: #0099fa;
// $blue-ribbon: #0068fe;
// $hot-pink: #fb6dd0;
// $hollywood-cerise: #ff009b;
// $robin-s-egg-blue: #00bbd8;
// $blue-lagoon: #008691;
// $slate-gray: #7b8799;
// $dusty-gray: #959595;
$white: #ffffff;

$ansi0: #222222;
$ansi1: #ff0ad8;
$ansi2: #00a846;
$ansi3: #ff6e3f;
$ansi4: #0099fa;
$ansi5: #fb6dd0;
// $ansi6: #00bbd8;
$ansi6: #00acc1;
$ansi7: #7b8799;
$ansi8: #b0b0b0;
$ansi9: #ff0090;
$ansi10: #00cc3f;
$ansi11: #ff4300;
$ansi12: #0068fe;
$ansi13: #ff009b;
$ansi14: #008691;
$ansi15: #959595;
$ansi-fg: #222222;
$ansi-bg: #ffffff;

$ansi-white-fg: $ansi7;
$ansi-white-bg: $ansi0;
$ansi-bright-white-fg: $ansi15;
$ansi-bright-white-bg: $ansi0;

$ansi-black: $ansi0;
$ansi-bright-black: $ansi8;
$ansi-black-fg: $ansi7;
$ansi-black-bg: $ansi0;
$ansi-bright-black-fg: $ansi8;
$ansi-bright-black-bg: $ansi0;

$ansi-red-fg: $ansi1;
$ansi-bright-red-fg: $ansi9;
$ansi-red-bg: $ansi0;
$ansi-bright-red-bg: $ansi0;

$ansi-green-fg: $ansi2;
$ansi-bright-green-fg: $ansi10;
$ansi-green-bg: $ansi0;
$ansi-bright-green-bg: $ansi0;

$ansi-yellow-fg: $ansi3;
$ansi-bright-yellow-fg: $ansi11;
$ansi-yellow-bg: $ansi0;
$ansi-bright-yellow-bg: $ansi0;

$ansi-blue-fg: $ansi4;
$ansi-bright-blue-fg: $ansi12;
$ansi-blue-bg: $ansi0;
$ansi-bright-blue-bg: $ansi0;

$ansi-magenta-fg: $ansi5;
$ansi-bright-magenta-fg: $ansi13;
$ansi-magenta-bg: $ansi0;
$ansi-bright-magenta-bg: $ansi0;

$ansi-cyan-fg: $ansi6;
$ansi-bright-cyan-fg: $ansi14;
$ansi-cyan-bg: $ansi0;
$ansi-bright-cyan-bg: $ansi0;

// $ansi1: $purple-pizzazz;
// $ansi2: $green-haze;
// $ansi3: $burning-orange;
// $ansi4: $azure-radiance;
// $ansi5: $hot-pink;
// $ansi6: $robin-s-egg-blue;
// $ansi7: $slate-gray;
// $ansi8: $dusty-gray;
// $ansi9: $vermilion;
// $ansi10: $green-haze;
// $ansi11: $burning-orange;
// $ansi12: $azure-radiance;
// $ansi13: $hot-pink;
// $ansi14: $robin-s-egg-blue;
// $ansi15: $slate-gray;
// $ansi-fg: $thunder;
// $ansi-bg: $white;

// $ansi0: $thunder;
// $ansi1: $purple-pizzazz;
// $ansi2: $green-haze;
// $ansi3: $burning-orange;
// $ansi4: $azure-radiance;
// $ansi5: $hot-pink;
// $ansi6: $robin-s-egg-blue;
// $ansi7: $slate-gray;
// $ansi8: $dusty-gray;
// $ansi9: $vermilion;
// $ansi10: $green-haze;
// $ansi11: $burning-orange;
// $ansi12: $azure-radiance;
// $ansi13: $hot-pink;
// $ansi14: $robin-s-egg-blue;
// $ansi15: $slate-gray;
// $ansi-fg: $thunder;
// $ansi-bg: $white;

// $ansi-black: $thunder;
// $ansi-bright-black: $silver-chalice;
//
// $ansi-black-fg: $white;
// $ansi-black-bg: $ansi0;
// $ansi-bright-black-fg: $silver-chalice;
// $ansi-bright-black-bg: $ansi0;
// $ansi-red-fg: $rose;
// $ansi-red-bg: $ansi0;
// $ansi-bright-red-fg: $ansi1;
// $ansi-bright-red-bg: $ansi0;
// $ansi-green-fg: $ansi2;
// $ansi-bright-green-fg: $malachite;
// $ansi-green-bg: $ansi0;
// $ansi-bright-green-bg: $ansi0;
// $ansi-yellow-fg: $burning-orange;
// $ansi-yellow-bg: $ansi0;
// $ansi-bright-yellow-fg: $vermilion;
// $ansi-bright-yellow-bg: $ansi0;
// $ansi-blue-fg: $azure-radiance;
// $ansi-blue-bg: $ansi0;
// $ansi-bright-blue-fg: $blue-ribbon;
// $ansi-bright-blue-bg: $ansi0;
// $ansi-magenta-fg: $hot-pink;
// $ansi-magenta-bg: $ansi0;
// $ansi-bright-magenta-fg: $hollywood-cerise;
// $ansi-bright-magenta-bg: $ansi0;
// $ansi-cyan-fg: $robin-s-egg-blue;
// $ansi-cyan-bg: $ansi0;
// $ansi-bright-cyan-fg: $blue-lagoon;
// $ansi-bright-cyan-bg: $ansi0;
// $ansi-white-fg: $slate-gray;
// $ansi-white-bg: $ansi0;
// $ansi-bright-white-fg: $dusty-gray;
// $ansi-bright-white-bg: $ansi0;

$highlight-bg: #fd971f;

$shadow-color: rgba(0, 0, 0, 0.4);
$shadow-border: #e599f7;

$bs-table-bg: #cfcfcf;
$bg-transparent: rgba(248, 248, 248, 0.05);

// $navbar-bg: rgba(248, 248, 248, 0.95);
// $navbar-fg: #adadad;
$brighter-text: #000000;
$bright-text: #111111;
$alt-text: #282828;
$dim-text: #808080;
$dim-color: #b8b8b8;
$mygrey-000: #1c1c1c;
$mygrey-010: #222222;
$mygrey-020: #282828;
$mygrey-030: #333333;
$mygrey-040: #444444;
$mygrey-050: #555555;
$mygrey-060: #666666;
$mygrey-070: #777777;
$mygrey-080: #888888;
$mygrey-090: #999999;
$mygrey-100: #b8b8b8;
$mygrey-999: #f8f8f8;

$callout-note-color: #4582ec;
$callout-tip-color: #02b875;
$callout-warning-color: #fd971f;
// $callout-caution-color: #e599f7;
$callout-caution-color: #ff3bd3;
$callout-important-color: #ff5252;

$myred: #fa5252;
$myorange: #f76707;
$myyellow: #ffca27;
$mygreen: hsla(116, 81%, 37%, 1);
$myblue: hsla(209, 100%, 55%, 1);
$mydarkblue: hsla(230, 57%, 50%, 1);
$mypurple: #ae81ff;
$mypink: #ff67ff;

$sf-pink: #f06292;

$red-fg-light-bg: #e05661;
$orange-fg-light-bg: #fd971f;
$yellow-fg-light-bg: #ffc008;
$green-fg-light-bg: #1da912;
$blue-fg-light-bg: #118dc3;
$purple-fg-light-bg: #9a77cf;
// $pink-fg-light-bg: #e599f7;
$pink-fg-light-bg: #ff3bd3;
$cyan-fg-light-bg: #56b6c2;

$red-fg: oklch(from $red-fg-light-bg l c h);
$orange-fg: oklch(from $orange-fg-light-bg l c h);
$yellow-fg: oklch(from $yellow-fg-light-bg l c h);
$green-fg: oklch(from $green-fg-light-bg l c h);
$blue-fg: oklch(from $blue-fg-light-bg l c h);
$purple-fg: oklch(from $purple-fg-light-bg l c h);
$pink-fg: oklch(from $pink-fg-light-bg l c h);
$cyan-fg: oklch(from $cyan-fg-light-bg l c h);

$h1-fg-color: $red-fg;
$h1-bg-color: oklch(from $h1-fg-color calc(l * 1.15) c h / 0.1);

$h2-fg-color: $blue-fg;
$h2-bg-color: oklch(from $h2-fg-color calc(l * 1.15) c h / 0.1);

$h3-fg-color: $green-fg;
$h3-bg-color: oklch(from $h3-fg-color calc(l * 1.15) c h / 0.1);

$h4-fg-color: $purple-fg;
$h4-bg-color: oklch(from $h4-fg-color calc(l * 1.15) c h / 0.1);

$h5-fg-color: $cyan-fg;
$h5-bg-color: oklch(from $h5-fg-color calc(l * 1.15) c h / 0.1);

$h6-fg-color: $orange-fg;
$h6-bg-color: oklch(from $h6-fg-color calc(l * 1.15) c h / 0.1);

$highlight-text-color: #ff67ff;
$hypothesis-highlight: oklab(
  from $highlight-text-color calc(1 * 1.15) c h / 0.1
);
$yellow-text: #fd971f;
$pink-text: #ff1a8f;
$green-text: #07b875;
$orcid-green: #a6ce39;
$red-text: #ff5252;
$blue-text: #29b6f6;

$body-bg: #ffffff;
$alt-bg: #b8b8b8;
$body-color: #222222;
$body-fg: #222222;

$strong-color: #f06292;
$italic-color: rgba(54, 206, 94, 1);
$italic-color-bg: rgba(54, 206, 94, 0.1);

$interactive-accent-hsl: #ffff00;
$text-selection: hsla(var($interactive-accent-hsl), 0.25);

$selection-bg: rgba(255, 255, 0, 0.5);
$selection-color: #1c1c1c;

$selection-bg-color: rgba(255, 255, 0, 0.5);
$selection-fg-color: #1c1c1c;

$presentation-font-family-line-height: 1em !default;
$presentation-line-height: 1em !default;

$heading-color: #1c1c1c;

$link-color: rgba(19, 122, 245, 1) !default;
$dark-bg-link-color: #137af5 !default;
$link-bg-color: rgba(19, 122, 245, 0.062745098);
$link-border-radius: 0.05rem;
$light-bg-link-color: #1a8fff !default;

$link-color-hover: #ff1a8f !default;
$link-hover-bg-opacity: 0.05 !default;

// $code-block-bg-color: hsla(0, 0%, 99%, 1) !default;
$code-block-bg-color: #fcfcfc !default;
$code-block-border-color: hsla(0, 0%, 96%, 1) !default;
$code-block-line-number-fg: hsla(0, 0%, 0%, 0.5) !default;
$code-block-line-number-bg: hsla(0, 0%, 95%, 1) !default;
$code-block-bg: $code-block-bg-color !default;
$code-block-bg-alt: #ff5252 !default;
$code-block-border-color: hsla(0, 0%, 98%, 1) !default;
$code-block-border: 1px solid $code-block-border-color !default;
$code-block-block-shadow: RGBA(0, 0, 0, 0.05) 0px 2px 5px;
$code-block-hover-box-shadow: RGBA(0, 0, 0, 0.15) 0px 2px 5px;

$dark-bg-code-color: #ff67ff !default;
$code-line-number-color: hsl(0, 0, 80%) !default;

$code-fg: #444444 !default;
$light-bg-code-color: #444444 !default;

$grey-neutral: #a6a6a6;
$mermaid-accent: #222222;

$light-bg-code-bg: oklab(
  from ($light-bg-code-color) calc(l * 1.15) c h / 0.1
) !default;
$code-color: $light-bg-code-color !default;
$code-bg: $light-bg-code-bg !default;

$algcolor: #f783ac !default;
$algicon: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 512"><!--! Font Awesome Pro 6.2.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. --><path fill="currentColor" d="M414.9 31.11L270.9 495.1C266.1 507.8 253.5 514.8 240.9 510.9C228.2 506.1 221.1 493.5 225.1 480.9L369.1 16.89C373 4.226 386.5-2.852 399.1 1.077C411.8 5.006 418.9 18.45 414.9 31.11V31.11zM504.4 118.5L632.4 238.5C637.3 243 640 249.4 640 255.1C640 262.6 637.3 268.1 632.4 273.5L504.4 393.5C494.7 402.6 479.6 402.1 470.5 392.4C461.4 382.7 461.9 367.6 471.6 358.5L580.9 255.1L471.6 153.5C461.9 144.4 461.4 129.3 470.5 119.6C479.6 109.9 494.7 109.4 504.4 118.5V118.5zM168.4 153.5L59.09 255.1L168.4 358.5C178.1 367.6 178.6 382.7 169.5 392.4C160.4 402.1 145.3 402.6 135.6 393.5L7.585 273.5C2.746 268.1 0 262.6 0 255.1C0 249.4 2.746 243 7.585 238.5L135.6 118.5C145.3 109.4 160.4 109.9 169.5 119.6C178.6 129.3 178.1 144.4 168.4 153.5V153.5z"/></svg>') !default;
$algbg: #1c1c1c !default;

$blockquote-bg: $bg-transparent;
$blockquote-border: #cccccc;
$blockquote-text: #666666;

$bs-nav-tabs-border-color: #222222 !default;

$code-fg-light-bg: #444 !default;
$light-bg-code-bg: oklch(
  from ($code-fg-light-bg) calc(l * 1.15) c h / 0.1
) !default;

// $bg: #ffffff!default;
// $cardbg: $cardbg!default;
// $text: #222222!default;
$bs-nav-link-color: #838383 !default;
$strong-fg: #f06292 !default;
$italic-fg: rgba(54, 206, 94, 1) !default;
$strong-color: #f06292 !default;
$italic-color: rgba(54, 206, 94, 1) !default;
$interactive-accent-hsl: #ffff00 !default;
$text-selection: rgba(255, 255, 0, 0.3) !default;
// text-selection: hsla(var($interactive-accent-hsl), 0.25)!default;
// mermaid-node-bg-color: oklch(from $code-fg-light-bg calc(l * 1.15) c h / 0.1)!default;
// selection-fg: rgba(256, 255, 0, 1.0)!default;
$selection-color: #1c1c1c !default;
$heading-color: #1c1c1c !default;
$light-bg-link-color: #1a8fff !default;
// --r-link-color: $light-bg-link-color!default;
$bs-code-color: $code-fg-light-bg !default;
$code-fg: $code-fg-light-bg !default;
$code-block-color: $code-fg-light-bg !default;
$code-border: #f9f9f9 !default;
$mermaid-node-bg-color: oklch(
  from $code-fg-light-bg calc(l * 1.15) c h / 0.1
) !default;
$code-bg: oklch(from ($code-fg-light-bg) calc(l * 1.15) c h / 0.1) !default;
$shadow-color: rgba(0, 0, 0, 0.4) !default;
$navbar-fg: rgb(173, 173, 173) !default;
$navbar-bg: rgba(255, 255, 255, 0.995) !default;
$alt-text: #282828 !default;
$dim-text: #808080 !default;
$dim-color: #b8b8b8 !default;
$mygrey-100: #b8b8b8 !default;
$mygrey-090: #999999 !default;
$mygrey-080: #888888 !default;
$mygrey-070: #777777 !default;
$mygrey-060: #666666 !default;
$mygrey-050: #555555 !default;
$mygrey-040: #444444 !default;
$mygrey-030: #333333 !default;
$mygrey-020: #282828 !default;
$mygrey-010: #222222 !default;
$mygrey-000: #1c1c1c !default;
$body-bg: #ffffff !default;
$alt-bg: #b8b8b8 !default;
$body-color: #222222 !default;
$bright-text: #111111 !default;
$brighter-text: #000000 !default;
$callout-note-color: #4582ec !default;
$callout-tip-color: #838383 !default;
$callout-warning-color: #fd971f !default;
$callout-caution-color: #e599f7 !default;
$callout-important-color: #ff5252 !default;
$bg-transparent: rgba(248, 248, 248, 0.05) !default;
$blockquote-bg: rgba(248, 248, 248, 0.05) !default;
$blockquote-border: #cccccc !default;
$blockquote-text: #666666 !default;
$bs-nav-tabs-border-color: #222222 !default;
$code-block-shadow: rgba(0, 0, 0, 0.15) 0px 2px 5px !default;
$code-block-box-shadow-hover: rgba(0, 0, 0, 0.75) 0px 2px 5px !default;
$red-text: #ff5252 !default;
$green-text: #07b875 !default;
$blue-text: #29b6f6 !default;
$link-fg: #1a8fff !default;
$link-fg-hover: #ff1a8f !default;

/*-- scss:rules --*/

:root {
  --red-fg: #{$red-fg};
  --orange-fg: #{$orange-fg};
  --yellow-fg: #{$yellow-fg};
  --green-fg: #{$green-fg};
  --blue-fg: #{$blue-fg};
  --purple-fg: #{$purple-fg};
  --pink-fg: #{$pink-fg};
  --cyan-fg: #{$cyan-fg};
  --bs-nav-link-color: #{$navbar-fg};
  --code-fg: #{$code-fg};
  --bs-nav-tabs-border-color: #{$bs-nav-tabs-border-color};
  --callout-note-color: #{$callout-note-color};
  --callout-tip-color: #{$callout-tip-color};
  --callout-warning-color: #{$callout-warning-color};
  --callout-caution-color: #{$callout-caution-color};
  --callout-important-color: #{$callout-important-color};
  --green-text: #07b875;
  --bg-border: rgba(240, 240, 240, 1);
  --bg-transparent: rgba(248, 248, 248, 0.05);
  --pink-transparent: rgba(245, 83, 191, 0.075);
  --callout-warning: #fd971f;
  --hypothesis-highlight: #{$hypothesis-highlight};
  --highlight-text-color: #{$highlight-text-color};
}

.green-text {
  color: $green-text;
}

.orcid-green {
  color: $orcid-green !important;
}

.yellow-text {
  color: $myyellow;
}

.red-text {
  color: $red-text;
}

.orange-text {
  color: $myorange;
}

.dim-text {
  color: $dim-text;
}

.purple-text {
  color: $mypurple;
}

.blue-text {
  color: $myblue;
}

.pink-text {
  color: $mypink;
}

.note-green {
  padding: 1pt 1pt 1pt 1pt;
  border: 1px solid #66bb6a;
  border-radius: 8px;
  box-shadow: RGBA(0, 0, 0, 0.35) 0px 5px 15px;
  // background-color: #1f1f1f;
  max-width: min-content;
  min-width: max-content;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
}

// small * {
//   vertical-align: baseline !important;
// }

// .slide figure > figcaption {
//   text-align: center;
// }

// figure > figcaption {
//   margin-top: 0.2em;
// }

// boxed {
//   border-radius: 6px !important;
//   display: block;
//   position: relative;
//   width: fit-content !important;
//   color: $mygrey-080;
//   background-color: #1f1f1f;
//   box-shadow: RGBA(0, 0, 0, 0.85) 0px 5px 15px !important;
//   margin-right: revert !important;
//   padding: 0em 0.1em 0em 0.3em;
// }

// .slide-chalkboard-buttons.slide-menu-offset {
//   display: none !important;
// }

// div.callout-note.callout-style-default > .callout-header {
//   background: none;
// }

// .callout.callout-style-default > div.callout-header {
//   align-items: center;
// }

// div.callout-note.callout-style-default > .callout-header {
//   background: none;
//   // background-color: rgba(0,0,0,0);
// }

// .callout.callout-style-simple > div.callout-header {
//   opacity: 100% !important;
// }

// div.callout-caution {
//   // border: 1px solid #d06de7 !important;
//   // #AF4CC6 #D06DE7
//   // background-color: rgba(208, 109, 231, 1);
// }

// div.callout-caution.callout-style-default .callout-title {
//   background: none !important;
//   color: #d06de7 !important;
// }

// div.callout-caution {
//   border: 1px solid #d06de7 !important;
//   background-color: rgba(208, 109, 231, 0.075) !important;
// }

// div.callout-caution .callout-icon::before {
//   color: #d06de7 !important;
//   background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><!--! Font Awesome Pro 6.2.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. --><path fill="rgb(229, 153, 247)" d="M448 352V48C448 21.53 426.5 0 400 0h-320C35.89 0 0 35.88 0 80v352C0 476.1 35.89 512 80 512h344c13.25 0 24-10.75 24-24s-10.75-24-24-24H416v-66.95C434.6 390.4 448 372.8 448 352zM368 464h-288c-17.64 0-32-14.34-32-32s14.36-32 32-32h288V464zM400 352h-320c-11.38 0-22.2 2.375-32 6.688V80c0-17.66 14.36-32 32-32h320V352zM152 160h176C341.3 160 352 149.3 352 136S341.3 112 328 112h-176C138.8 112 128 122.8 128 136S138.8 160 152 160zM152 240h176C341.3 240 352 229.3 352 216S341.3 192 328 192h-176C138.8 192 128 202.8 128 216S138.8 240 152 240z"/></svg>') !important;
// }
