/* css styles */

/* .quarto-alternate-formats { */
/*     padding-left: 0em; */
/*     display: none; */
/* } */

.profile-pic {
    border-radius: 50%;
    text-align: center!important;
    width: 150px;
    /* float: right!important; */
    height: 150px;
}

.profile-body {
    margin: 0px;
    text-align: justify;
}
/* .profile-h1 { */
/*     color: green; */
/* } */

/* This div design part is
    used as an Image */
.round {
    /* width: 200px; */
    /* height: 200px; */
    border-radius: 50%;
    /* float: left; */
    font-weight: bold;
    /* Change the shape according
        to the image */
    shape-outside: circle();
    /* background-color: #666666; */
    width: 150px;
    height: 150px;
    color: white;
}

.profile-avatar img {
    display: inline-block;
    width: 6rem;
    height: auto;
    /* margin: 0 auto; */
    /* margin-bottom: 0.5rem; */
    /* shape-outside: url('https://github.com/saforem2/personal_site/blob/main/assets/avatar-no-bg.png?raw=true'); */
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    /* vertical-align: middle; */
    -webkit-box-shadow: 0 0 0 0.2618em rgba(0,0,0,0.1);
    box-shadow: 0 0 0 0.2618em rgba(0,0,0,0.1);
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

.profile-avatar img:hover {
    display: inline-block;
    width: 6rem;
    height: auto;
    margin: 0 auto;
    /* -webkit-border-radius: 100%; */
    vertical-align: middle;
    -moz-border-radius: 100%;
    /* border: 3px solid rgba(131, 131, 131, 0.5); */
    border-radius: 100%;
    /* shape-outside: url('https://github.com/saforem2/personal_site/blob/main/assets/avatar-no-bg.png?raw=true'); */
    /* border: 2px solid var(--bs-pink); */
    box-shadow: 0 0 0 0.2618em var(--callout-border-hover-color);
    -webkit-box-shadow: 0 0 0 0.2618em var(--callout-border-hover-color);
    border-radius: 100%;
    /* -webkit-box-shadow: 0 0 0 0.3618em rgb(red(var(--pin-text)), green(var(--pin-text)), blue(var(--pin-text)), 0.5); */
    /* -webkit-box-shadow: 0 0 0 0.3618em red; */
    /* box-shadow: 0 0 0 0.3618em rgb(red(var(--pin-text)), green(var(--pin-text)), blue(var(--pin-text)), 0.5); */
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
}



.avatar {
  vertical-align: middle;
    float: left;
    /* shape-outside: url('file://../assets/avatar-no-bg.png'); */
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.avatar:hover {
    vertical-align: middle;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    /* border: 2px solid var(--bs-pink); */
    box-shadow: 0 0 0 0.1em var(--callout-border-hover-color);
    -webkit-box-shadow: 0 0 0 0.1em var(--callout-border-hover-color);
    /* -webkit-box-shadow: 0 0 0 0.3618em rgb(red(var(--pin-text)), green(var(--pin-text)), blue(var(--pin-text)), 0.5); */
    /* -webkit-box-shadow: 0 0 0 0.3618em red; */
    /* box-shadow: 0 0 0 0.3618em rgb(red(var(--pin-text)), green(var(--pin-text)), blue(var(--pin-text)), 0.5); */
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
}


/* .profile-avatar img { */
/*     object-fit: cover; */
/* } */

.profile-article{
    display: inline-block;
}
.profile-p {
    text-align: justify;
}

@media (max-width: 250px){
.profile-pic {
    display: none;
}
}

@media (min-width: 250px){
    .profile-header .quarto-layout-row{
        flex-direction: row;
    }
    .formkit-form .formkit-fields {
        flex-direction: row!important;
    }
}

.profile-pic2 {
    border-radius: 50%;
}

/* .quarto-dark .navbar-dark{ */
/*     background-color: #1b1b1d; */
/* } */

/* .quarto-dark .ex{ */
/*     color:#d4d0ab; */
/*     font-weight: normal;     */
/* } */
/**/
/* .sourceCode .at, code{ */
/*     color:#d4d0ab; */
/*     font-weight: normal; */
/* } */
/**/
/* .sourceCode .co{ */
/*     color:#d1b4e0; */
/*     font-weight: normal; */
/* } */


@media (min-width: 991px){
    .mobile-warning{
        display: none;
    }
}

/* body { */
/*   background-color: #E7EAF1; */
/*   height: 100vh; */
/*   margin: 0; */
/*   display: flex; */
/*   align-items: center; */
/*   justify-content: center; */
/* } */

.avi img {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  box-shadow: inset 3px 3px 0px 0px rgba(0, 0, 0, 0), inset -5px -5px 0px 0px rgba(255, 255, 255, 0), 6px 6px 10px 2px rgba(0, 0, 0, 0.1), -5px -5px 10px 2px white;
  position: relative;
  overflow: hidden;
}
.avi img::before {
  content: "";
  border-radius: 50%;
  position: absolute;
  height: 100%;
  width: 100%;
  box-shadow: inset 3px 3px 5px 2px rgba(0, 0, 0, 0.1), inset -5px -5px 10px 2px white;
}
.avi img .head, img .body {
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  height: 70px;
  width: 70px;
  box-shadow: inset 3px 3px 0px 0px rgba(0, 0, 0, 0), inset -5px -5px 0px 0px rgba(255, 255, 255, 0), 6px 6px 10px 2px rgba(0, 0, 0, 0.1), -5px -5px 10px 2px white;
  background-color: #E7EAF1;
}
.avi img .body {
  top: 100%;
  transform: translate(-50%, -50px);
  width: 150px;
}

/* .formkit-field { */
/*     background-color: gray; */
/* } */
/**/
/* input[type="text"], textarea { */
/*     background-color : #d1d1d1!important;  */
/* } */

/* .nav-tabs .nav-link { */
/*     border-color: #53b2ca; */
/* } */
/*    */
/* .nav-tabs .nav-link.active { */
/*     border-color: #b6ced4; */
/* } */

/* .quarto-layout-cell { */
/*     position: relative; */
/*     margin-right: 0.5rem!important; */
/* } */

main {
    margin-top: unset;
}

#quarto-content>* {
    padding-top: 0px;
}
