/*-- scss:defaults --*/

:root {
  --hljs-selection: #ffff0020;
  --hljs-background: #1c1c1c;
  --hljs-text: #BDBDBD;
  --hljs-string: #ffff00;
  --hljs-number: #0dcdcd;
  --hljs-title: #40c057;
  --hljs-built_in: #F39CF4;
  --hljs-keyword: #f92672;
  --hljs-function: #FF79FF;
  --hljs-params: #FD971F;
  --hljs-comment: #404040;
}

$quarto-hl-num-color: #FF5370;
// $quarto-hl-float-color: #FF9940;
$quarto-hl-float-color: #2196FF;
// $quarto-hl-al-color: #95da4c;
$quarto-hl-al-color: rgba(169, 227, 76, 1.0);
$quarto-hl-al-bg-color: rgba(169, 227, 76, 0.07);
;
$quarto-hl-an-color: #98c379;
// $quarto-hl-at-color: #da4453;
$quarto-hl-at-color: #78a9ff;
$quarto-hl-bn-color: #FFB53D;
// $quarto-hl-bu-color: #89DDFF;
$quarto-hl-bu-color: #63ff5b; // #d1bcf9;
$quarto-hl-ch-color: #98c379;
$quarto-hl-co-color: #5c6370;
$quarto-hl-cv-color: #ff7eb6;
$quarto-hl-cn-color: #FFB53D;
// $quarto-hl-cf-color: #FF5252;  // #42be65;
// $quarto-hl-cf-color: #F39CF4;  // #42be65;
$quarto-hl-cf-color: #00CCFF; // #42be65;
$quarto-hl-dt-color: #E535AB;
$quarto-hl-dv-color: #FFA94D;
$quarto-hl-do-color: #a43340;
$quarto-hl-er-color: #f44747;
$quarto-hl-ex-color: #36CE5E;
// $quarto-hl-ex-color: #61afef;
// code span.ex {
//     font-weight: bold;
//     color: #00FF00;
// }
$quarto-hl-fl-color: #2196FF;
$quarto-hl-fu-color: rgba(255, 103, 255, 1.0);
$quarto-hl-im-color: #d3ff00;
$quarto-hl-in-color: #E8274b;
$quarto-hl-kw-color: #E599F7;
// $quarto-hl-op-color: #FF67FF;
$quarto-hl-op-color: #FF57FF;
$quarto-hl-pp-color: #42A5F5;
$quarto-hl-re-color: #2980b9;
$quarto-hl-sc-color: #3ddbd9;
// $quarto-hl-ss-color: #FF5252;
// $quarto-hl-ss-color: #26c99e;
$quarto-hl-ss-color: #049BE5;
// $quarto-hl-ss-color: #ABE338;
$quarto-hl-st-color: #d3ff3b;
// $quarto-hl-st-color: #36CE5E;
// $quarto-hl-st-color: #36CE5E;
// $quarto-hl-va-color: #FF2052;
// $quarto-hl-va-color: #FF5252;
$quarto-hl-va-color: #be95ff; // #FF6E6E;
// $quarto-hl-vs-color: #da4453;
$quarto-hl-vs-color: #da4453;
$quarto-hl-wa-color: #ff7eb6;

// $quarto-hl-st-color: #98c379;
// $quarto-hl-at-color: #c678dd;
// $quarto-hl-dv-color: #89DDFF;
// $quarto-hl-im-color: #ff7eb6;
// $quarto-hl-im-color: #889DFF;
// $quarto-hl-im-color: #889DFF;
// $quarto-hl-kw-color: #FF2052;
// $quarto-hl-kw-color: #be95ff;
// $quarto-hl-kw-color: #be95ff;
// $quarto-hl-kw-color: #ff7eb6;
// $quarto-hl-op-color: #08bdba;
// $quarto-hl-op-color: #FD971F;
// $quarto-hl-op-color: #ffb53d;
// $quarto-hl-op-color: #be95ff;
// $quarto-hl-op-color: #c678dd;
// $quarto-hl-op-color: #26c99e;
// $quarto-hl-op-color: #ee5396;
// $quarto-hl-pp-color: #26c99e;


/*-- scss:rules --*/

/* quarto syntax highlight colors */
// :root {
//   --quarto-hl-al-color: #95da4c;
//   --quarto-hl-an-color: #98c379;
//   --quarto-hl-at-color: #c678dd;
//   --quarto-hl-bn-color: #FFB53D;
//   --quarto-hl-bu-color: #c678dd;
//   --quarto-hl-ch-color: #98c379;
//   --quarto-hl-co-color: #5c6370;
//   --quarto-hl-cv-color: #e06c75;
//   --quarto-hl-cn-color: #FFB53D;
//   --quarto-hl-cf-color: #c678dd;
//   --quarto-hl-dt-color: #c678dd;
//   --quarto-hl-dv-color: #AE81FF;
//   --quarto-hl-do-color: #a43340;
//   --quarto-hl-er-color: #f44747;
//   --quarto-hl-ex-color: #61afef;
//   --quarto-hl-fl-color: #FFB53D;
//   --quarto-hl-fu-color: #82cfff;
//   --quarto-hl-im-color: #42be65;
//   --quarto-hl-in-color: #E8274b;
//   --quarto-hl-kw-color: #c678dd;
//   --quarto-hl-op-color: #08bdba;
//   --quarto-hl-pp-color: #26c99e;
//   --quarto-hl-re-color: #2980b9;
//   --quarto-hl-sc-color: #56b6c2;
//   --quarto-hl-ss-color: #da4453;
//   --quarto-hl-st-color: #98c379;
//   --quarto-hl-va-color: #e06c75;
//   --quarto-hl-vs-color: #da4453;
//   --quarto-hl-wa-color: #ff7eb6;
// }
//
/* other quarto variables */
:root {
  --quarto-font-monospace: "IBM Plex Mono", "Iosevka Web", "agave Nerd Font", SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

code span.al {
  background-color: $quarto-hl-al-bg-color;
  // font-weight: bold;
  color: $quarto-hl-al-color;
}

code span.an {
  color: $quarto-hl-an-color;
}

code span.at {
  color: $quarto-hl-at-color !important;
}

code span.bn {
  color: $quarto-hl-bn-color;
}

code span.bu {
  color: $quarto-hl-bu-color;
}

code span.ch {
  color: $quarto-hl-ch-color;
}

code span.co {
  font-style: italic;
  color: $quarto-hl-co-color;
}

code span.cv {
  font-style: italic;
  color: $quarto-hl-cv-color;
}

code span.cn {
  color: $quarto-hl-cn-color;
}

code span.cf {
  // font-weight: 700;
  color: $quarto-hl-cf-color;
}

code span.dt {
  color: $quarto-hl-dt-color;
}

code span.dv {
  color: $quarto-hl-dv-color;
}

code span.do {
  color: $quarto-hl-do-color;
}

code span.er {
  text-decoration: underline;
  color: $quarto-hl-er-color;
}

code span.ex {
  font-weight: 500;
  color: $quarto-hl-ex-color;
}

code span.fl {
  color: $quarto-hl-fl-color;
}

code span.fu {
  color: $quarto-hl-fu-color;
}

code span.im {
  color: $quarto-hl-im-color;
}

code span.in {
  color: $quarto-hl-in-color;
}

code span.kw {
  color: $quarto-hl-kw-color;
}

pre>code.sourceCode>span {
  color: #abb2bf;
}

code span {
  color: #abb2bf;
}

code.sourceCode>span {
  color: #abb2bf;
}

div.sourceCode,
div.sourceCode pre.sourceCode {
  color: #abb2bf;
}

code span.op {
  color: $quarto-hl-op-color !important;
}

code span.pp {
  color: $quarto-hl-pp-color;
}

code span.re {
  background-color: #153042;
  color: $quarto-hl-re-color;
}

code span.sc {
  color: $quarto-hl-sc-color;
}

code span.ss {
  color: $quarto-hl-ss-color;
}

code span.st {
  // fon
  // font-style: italic;
  color: $quarto-hl-st-color !important;
}

code span.va {
  color: $quarto-hl-va-color;
}

code span.vs {
  color: $quarto-hl-vs-color;
}

code span.wa {
  color: $quarto-hl-wa-color;
}

.prevent-inlining {
  content: "</";
}

/*# sourceMappingURL=935a306eefa94366c21e1a970dddb765.css.map */
