/*-- scss:rules --*/
$presentation-author-block-padding-left: if($presentation-title-slide-text-align !=left,
    0.5em,
    0);
$presentation-author-block-padding-right: if($presentation-title-slide-text-align !=right,
    0.5em,
    0);

.reveal {
  .quarto-title-block {
    .quarto-title-container {
      background-color: rgba(245, 245, 245, 0.875);
      border-radius: 10px;
      text-align: center;
      padding: 0px;
      padding-left: 1.5em;
      padding-right: 1.5em;
      max-width: min-content;
      min-width: max-content;
      margin-left: auto;
      margin-right: auto;
      padding-top: 0.2em;
      padding-bottom: 0.2em;
      line-height: 1.5em !important;

      .quarto-title {
        color: $body-color;

      }

      .quarto-title-authors {
        display: flex;
        justify-content: $presentation-title-slide-text-align ;

        .quarto-title-author {
          padding-left: $presentation-author-block-padding-left;
          padding-right: $presentation-author-block-padding-right ;

          // a, a:hover, a:visited, a:active {
          //     color: var(--link-color);
          //   text-decoration: underline;
          //
          // }

          .quarto-title-author-name {
            margin-bottom: 0.1rem;

          }

          .quarto-title-author-email {
            margin-top: 0px;
            margin-bottom: 0.4em;
            font-size: 0.6em;

          }
        }
      }
    }
  }
}
