uv.lock
wandb/

*.zip
talks/**/{*.svg,*.png,*.jpg,*.jpeg}
./**/**/*.DS_Store
posts/**/*.css
posts/**/*.scss
talks/**/*.css
talks/**/*.scss
*.pyc
*.pyi
posts/**/*.svg
posts/**/*.png
talks/**/*.svg
talks/**/*.png
venvs/
*.jukit
*.DS_Store
*old*
.hugo_build.log
.hugo_build.lock

/.quarto/
_extensions/*
_freeze/*
*.bak
.RData
.Rhistory
.trash

.ipynb_checkpoints
.jupyter_cache
ignore

**/*.quarto_ipynb
