
@font-face {
	font-family: 'IosevkaQP Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2/IosevkaQP-Thin.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaQP Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2/IosevkaQP-ExtendedThin.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaQP Condensed Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: condensed;
	font-style: normal;
	src: url('WOFF2/IosevkaQP-CondensedThin.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaQP Condensed Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: semi-condensed;
	font-style: normal;
	src: url('WOFF2/IosevkaQP-SemiCondensedThin.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaQP Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: semi-expanded;
	font-style: normal;
	src: url('WOFF2/IosevkaQP-SemiExtendedThin.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaQP Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: extra-expanded;
	font-style: normal;
	src: url('WOFF2/IosevkaQP-ExtraExtendedThin.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaQP Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: ultra-expanded;
	font-style: normal;
	src: url('WOFF2/IosevkaQP-UltraExtendedThin.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaQP Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2/IosevkaQP-ThinOblique.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaQP Web Oblique';
	font-display: swap;
	font-weight: 100;
	font-stretch: normal;
	src: url('WOFF2/IosevkaQP-ThinOblique.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaQP Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2/IosevkaQP-ExtendedThinOblique.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaQP Web Oblique';
	font-display: swap;
	font-weight: 100;
	font-stretch: expanded;
	src: url('WOFF2/IosevkaQP-ExtendedThinOblique.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaQP Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: condensed;
	font-style: oblique;
	src: url('WOFF2/IosevkaQP-CondensedThinOblique.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaQP Web Oblique';
	font-display: swap;
	font-weight: 100;
	font-stretch: condensed;
	src: url('WOFF2/IosevkaQP-CondensedThinOblique.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaQP Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: semi-condensed;
	font-style: oblique;
	src: url('WOFF2/IosevkaQP-SemiCondensedThinOblique.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaQP Web Oblique';
	font-display: swap;
	font-weight: 100;
	font-stretch: semi-condensed;
	src: url('WOFF2/IosevkaQP-SemiCondensedThinOblique.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaQP Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: semi-expanded;
	font-style: oblique;
	src: url('WOFF2/IosevkaQP-SemiExtendedThinOblique.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaQP Web Oblique';
	font-display: swap;
	font-weight: 100;
	font-stretch: semi-expanded;
	src: url('WOFF2/IosevkaQP-SemiExtendedThinOblique.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaQP Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: extra-expanded;
	font-style: oblique;
	src: url('WOFF2/IosevkaQP-ExtraExtendedThinOblique.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaQP Web Oblique';
	font-display: swap;
	font-weight: 100;
	font-stretch: extra-expanded;
	src: url('WOFF2/IosevkaQP-ExtraExtendedThinOblique.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaQP Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: ultra-expanded;
	font-style: oblique;
	src: url('WOFF2/IosevkaQP-UltraExtendedThinOblique.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaQP Web Oblique';
	font-display: swap;
	font-weight: 100;
	font-stretch: ultra-expanded;
	src: url('WOFF2/IosevkaQP-UltraExtendedThinOblique.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaQP Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2/IosevkaQP-ThinItalic.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaQP Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2/IosevkaQP-ExtendedThinItalic.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaQP Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: condensed;
	font-style: italic;
	src: url('WOFF2/IosevkaQP-CondensedThinItalic.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaQP Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: semi-condensed;
	font-style: italic;
	src: url('WOFF2/IosevkaQP-SemiCondensedThinItalic.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaQP Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: semi-expanded;
	font-style: italic;
	src: url('WOFF2/IosevkaQP-SemiExtendedThinItalic.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaQP Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: extra-expanded;
	font-style: italic;
	src: url('WOFF2/IosevkaQP-ExtraExtendedThinItalic.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaQP Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: ultra-expanded;
	font-style: italic;
	src: url('WOFF2/IosevkaQP-UltraExtendedThinItalic.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaQP Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2/IosevkaQP-ExtraLight.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaQP Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2/IosevkaQP-ExtendedExtraLight.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaQP Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: condensed;
	font-style: normal;
	src: url('WOFF2/IosevkaQP-CondensedExtraLight.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaQP Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: semi-condensed;
	font-style: normal;
	src: url('WOFF2/IosevkaQP-SemiCondensedExtraLight.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaQP Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: semi-expanded;
	font-style: normal;
	src: url('WOFF2/IosevkaQP-SemiExtendedExtraLight.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaQP Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: extra-expanded;
	font-style: normal;
	src: url('WOFF2/IosevkaQP-ExtraExtendedExtraLight.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaQP Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: ultra-expanded;
	font-style: normal;
	src: url('WOFF2/IosevkaQP-UltraExtendedExtraLight.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaQP Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2/IosevkaQP-ExtraLightOblique.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaQP Web Oblique';
	font-display: swap;
	font-weight: 200;
	font-stretch: normal;
	src: url('WOFF2/IosevkaQP-ExtraLightOblique.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaQP Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2/IosevkaQP-ExtendedExtraLightOblique.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaQP Web Oblique';
	font-display: swap;
	font-weight: 200;
	font-stretch: expanded;
	src: url('WOFF2/IosevkaQP-ExtendedExtraLightOblique.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaQP Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: condensed;
	font-style: oblique;
	src: url('WOFF2/IosevkaQP-CondensedExtraLightOblique.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaQP Web Oblique';
	font-display: swap;
	font-weight: 200;
	font-stretch: condensed;
	src: url('WOFF2/IosevkaQP-CondensedExtraLightOblique.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaQP Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: semi-condensed;
	font-style: oblique;
	src: url('WOFF2/IosevkaQP-SemiCondensedExtraLightOblique.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaQP Web Oblique';
	font-display: swap;
	font-weight: 200;
	font-stretch: semi-condensed;
	src: url('WOFF2/IosevkaQP-SemiCondensedExtraLightOblique.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaQP Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: semi-expanded;
	font-style: oblique;
	src: url('WOFF2/IosevkaQP-SemiExtendedExtraLightOblique.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaQP Web Oblique';
	font-display: swap;
	font-weight: 200;
	font-stretch: semi-expanded;
	src: url('WOFF2/IosevkaQP-SemiExtendedExtraLightOblique.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaQP Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: extra-expanded;
	font-style: oblique;
	src: url('WOFF2/IosevkaQP-ExtraExtendedExtraLightOblique.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaQP Web Oblique';
	font-display: swap;
	font-weight: 200;
	font-stretch: extra-expanded;
	src: url('WOFF2/IosevkaQP-ExtraExtendedExtraLightOblique.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaQP Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: ultra-expanded;
	font-style: oblique;
	src: url('WOFF2/IosevkaQP-UltraExtendedExtraLightOblique.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaQP Web Oblique';
	font-display: swap;
	font-weight: 200;
	font-stretch: ultra-expanded;
	src: url('WOFF2/IosevkaQP-UltraExtendedExtraLightOblique.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaQP Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2/IosevkaQP-ExtraLightItalic.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaQP Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2/IosevkaQP-ExtendedExtraLightItalic.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaQP Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: condensed;
	font-style: italic;
	src: url('WOFF2/IosevkaQP-CondensedExtraLightItalic.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaQP Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: semi-condensed;
	font-style: italic;
	src: url('WOFF2/IosevkaQP-SemiCondensedExtraLightItalic.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaQP Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: semi-expanded;
	font-style: italic;
	src: url('WOFF2/IosevkaQP-SemiExtendedExtraLightItalic.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaQP Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: extra-expanded;
	font-style: italic;
	src: url('WOFF2/IosevkaQP-ExtraExtendedExtraLightItalic.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaQP Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: ultra-expanded;
	font-style: italic;
	src: url('WOFF2/IosevkaQP-UltraExtendedExtraLightItalic.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaQP Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2/IosevkaQP-Light.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaQP Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2/IosevkaQP-ExtendedLight.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaQP Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: condensed;
	font-style: normal;
	src: url('WOFF2/IosevkaQP-CondensedLight.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaQP Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: semi-condensed;
	font-style: normal;
	src: url('WOFF2/IosevkaQP-SemiCondensedLight.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaQP Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: semi-expanded;
	font-style: normal;
	src: url('WOFF2/IosevkaQP-SemiExtendedLight.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaQP Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: extra-expanded;
	font-style: normal;
	src: url('WOFF2/IosevkaQP-ExtraExtendedLight.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaQP Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: ultra-expanded;
	font-style: normal;
	src: url('WOFF2/IosevkaQP-UltraExtendedLight.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaQP Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2/IosevkaQP-LightOblique.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaQP Web Oblique';
	font-display: swap;
	font-weight: 300;
	font-stretch: normal;
	src: url('WOFF2/IosevkaQP-LightOblique.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaQP Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2/IosevkaQP-ExtendedLightOblique.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaQP Web Oblique';
	font-display: swap;
	font-weight: 300;
	font-stretch: expanded;
	src: url('WOFF2/IosevkaQP-ExtendedLightOblique.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaQP Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: condensed;
	font-style: oblique;
	src: url('WOFF2/IosevkaQP-CondensedLightOblique.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaQP Web Oblique';
	font-display: swap;
	font-weight: 300;
	font-stretch: condensed;
	src: url('WOFF2/IosevkaQP-CondensedLightOblique.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaQP Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: semi-condensed;
	font-style: oblique;
	src: url('WOFF2/IosevkaQP-SemiCondensedLightOblique.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaQP Web Oblique';
	font-display: swap;
	font-weight: 300;
	font-stretch: semi-condensed;
	src: url('WOFF2/IosevkaQP-SemiCondensedLightOblique.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaQP Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: semi-expanded;
	font-style: oblique;
	src: url('WOFF2/IosevkaQP-SemiExtendedLightOblique.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaQP Web Oblique';
	font-display: swap;
	font-weight: 300;
	font-stretch: semi-expanded;
	src: url('WOFF2/IosevkaQP-SemiExtendedLightOblique.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaQP Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: extra-expanded;
	font-style: oblique;
	src: url('WOFF2/IosevkaQP-ExtraExtendedLightOblique.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaQP Web Oblique';
	font-display: swap;
	font-weight: 300;
	font-stretch: extra-expanded;
	src: url('WOFF2/IosevkaQP-ExtraExtendedLightOblique.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaQP Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: ultra-expanded;
	font-style: oblique;
	src: url('WOFF2/IosevkaQP-UltraExtendedLightOblique.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaQP Web Oblique';
	font-display: swap;
	font-weight: 300;
	font-stretch: ultra-expanded;
	src: url('WOFF2/IosevkaQP-UltraExtendedLightOblique.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaQP Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2/IosevkaQP-LightItalic.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaQP Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2/IosevkaQP-ExtendedLightItalic.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaQP Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: condensed;
	font-style: italic;
	src: url('WOFF2/IosevkaQP-CondensedLightItalic.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaQP Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: semi-condensed;
	font-style: italic;
	src: url('WOFF2/IosevkaQP-SemiCondensedLightItalic.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaQP Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: semi-expanded;
	font-style: italic;
	src: url('WOFF2/IosevkaQP-SemiExtendedLightItalic.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaQP Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: extra-expanded;
	font-style: italic;
	src: url('WOFF2/IosevkaQP-ExtraExtendedLightItalic.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaQP Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: ultra-expanded;
	font-style: italic;
	src: url('WOFF2/IosevkaQP-UltraExtendedLightItalic.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaQP Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2/IosevkaQP-Regular.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaQP Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2/IosevkaQP-Extended.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaQP Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: condensed;
	font-style: normal;
	src: url('WOFF2/IosevkaQP-Condensed.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaQP Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: semi-condensed;
	font-style: normal;
	src: url('WOFF2/IosevkaQP-SemiCondensed.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaQP Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: semi-expanded;
	font-style: normal;
	src: url('WOFF2/IosevkaQP-SemiExtended.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaQP Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: extra-expanded;
	font-style: normal;
	src: url('WOFF2/IosevkaQP-ExtraExtended.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaQP Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: ultra-expanded;
	font-style: normal;
	src: url('WOFF2/IosevkaQP-UltraExtended.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaQP Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2/IosevkaQP-Oblique.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaQP Web Oblique';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	src: url('WOFF2/IosevkaQP-Oblique.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaQP Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2/IosevkaQP-ExtendedOblique.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaQP Web Oblique';
	font-display: swap;
	font-weight: 400;
	font-stretch: expanded;
	src: url('WOFF2/IosevkaQP-ExtendedOblique.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaQP Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: condensed;
	font-style: oblique;
	src: url('WOFF2/IosevkaQP-CondensedOblique.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaQP Web Oblique';
	font-display: swap;
	font-weight: 400;
	font-stretch: condensed;
	src: url('WOFF2/IosevkaQP-CondensedOblique.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaQP Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: semi-condensed;
	font-style: oblique;
	src: url('WOFF2/IosevkaQP-SemiCondensedOblique.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaQP Web Oblique';
	font-display: swap;
	font-weight: 400;
	font-stretch: semi-condensed;
	src: url('WOFF2/IosevkaQP-SemiCondensedOblique.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaQP Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: semi-expanded;
	font-style: oblique;
	src: url('WOFF2/IosevkaQP-SemiExtendedOblique.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaQP Web Oblique';
	font-display: swap;
	font-weight: 400;
	font-stretch: semi-expanded;
	src: url('WOFF2/IosevkaQP-SemiExtendedOblique.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaQP Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: extra-expanded;
	font-style: oblique;
	src: url('WOFF2/IosevkaQP-ExtraExtendedOblique.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaQP Web Oblique';
	font-display: swap;
	font-weight: 400;
	font-stretch: extra-expanded;
	src: url('WOFF2/IosevkaQP-ExtraExtendedOblique.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaQP Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: ultra-expanded;
	font-style: oblique;
	src: url('WOFF2/IosevkaQP-UltraExtendedOblique.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaQP Web Oblique';
	font-display: swap;
	font-weight: 400;
	font-stretch: ultra-expanded;
	src: url('WOFF2/IosevkaQP-UltraExtendedOblique.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaQP Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2/IosevkaQP-Italic.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaQP Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2/IosevkaQP-ExtendedItalic.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaQP Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: condensed;
	font-style: italic;
	src: url('WOFF2/IosevkaQP-CondensedItalic.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaQP Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: semi-condensed;
	font-style: italic;
	src: url('WOFF2/IosevkaQP-SemiCondensedItalic.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaQP Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: semi-expanded;
	font-style: italic;
	src: url('WOFF2/IosevkaQP-SemiExtendedItalic.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaQP Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: extra-expanded;
	font-style: italic;
	src: url('WOFF2/IosevkaQP-ExtraExtendedItalic.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaQP Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: ultra-expanded;
	font-style: italic;
	src: url('WOFF2/IosevkaQP-UltraExtendedItalic.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaQP Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2/IosevkaQP-Medium.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaQP Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2/IosevkaQP-ExtendedMedium.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaQP Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: condensed;
	font-style: normal;
	src: url('WOFF2/IosevkaQP-CondensedMedium.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaQP Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: semi-condensed;
	font-style: normal;
	src: url('WOFF2/IosevkaQP-SemiCondensedMedium.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaQP Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: semi-expanded;
	font-style: normal;
	src: url('WOFF2/IosevkaQP-SemiExtendedMedium.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaQP Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: extra-expanded;
	font-style: normal;
	src: url('WOFF2/IosevkaQP-ExtraExtendedMedium.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaQP Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: ultra-expanded;
	font-style: normal;
	src: url('WOFF2/IosevkaQP-UltraExtendedMedium.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaQP Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2/IosevkaQP-MediumOblique.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaQP Web Oblique';
	font-display: swap;
	font-weight: 500;
	font-stretch: normal;
	src: url('WOFF2/IosevkaQP-MediumOblique.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaQP Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2/IosevkaQP-ExtendedMediumOblique.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaQP Web Oblique';
	font-display: swap;
	font-weight: 500;
	font-stretch: expanded;
	src: url('WOFF2/IosevkaQP-ExtendedMediumOblique.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaQP Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: condensed;
	font-style: oblique;
	src: url('WOFF2/IosevkaQP-CondensedMediumOblique.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaQP Web Oblique';
	font-display: swap;
	font-weight: 500;
	font-stretch: condensed;
	src: url('WOFF2/IosevkaQP-CondensedMediumOblique.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaQP Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: semi-condensed;
	font-style: oblique;
	src: url('WOFF2/IosevkaQP-SemiCondensedMediumOblique.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaQP Web Oblique';
	font-display: swap;
	font-weight: 500;
	font-stretch: semi-condensed;
	src: url('WOFF2/IosevkaQP-SemiCondensedMediumOblique.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaQP Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: semi-expanded;
	font-style: oblique;
	src: url('WOFF2/IosevkaQP-SemiExtendedMediumOblique.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaQP Web Oblique';
	font-display: swap;
	font-weight: 500;
	font-stretch: semi-expanded;
	src: url('WOFF2/IosevkaQP-SemiExtendedMediumOblique.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaQP Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: extra-expanded;
	font-style: oblique;
	src: url('WOFF2/IosevkaQP-ExtraExtendedMediumOblique.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaQP Web Oblique';
	font-display: swap;
	font-weight: 500;
	font-stretch: extra-expanded;
	src: url('WOFF2/IosevkaQP-ExtraExtendedMediumOblique.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaQP Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: ultra-expanded;
	font-style: oblique;
	src: url('WOFF2/IosevkaQP-UltraExtendedMediumOblique.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaQP Web Oblique';
	font-display: swap;
	font-weight: 500;
	font-stretch: ultra-expanded;
	src: url('WOFF2/IosevkaQP-UltraExtendedMediumOblique.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaQP Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2/IosevkaQP-MediumItalic.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaQP Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2/IosevkaQP-ExtendedMediumItalic.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaQP Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: condensed;
	font-style: italic;
	src: url('WOFF2/IosevkaQP-CondensedMediumItalic.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaQP Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: semi-condensed;
	font-style: italic;
	src: url('WOFF2/IosevkaQP-SemiCondensedMediumItalic.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaQP Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: semi-expanded;
	font-style: italic;
	src: url('WOFF2/IosevkaQP-SemiExtendedMediumItalic.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaQP Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: extra-expanded;
	font-style: italic;
	src: url('WOFF2/IosevkaQP-ExtraExtendedMediumItalic.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaQP Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: ultra-expanded;
	font-style: italic;
	src: url('WOFF2/IosevkaQP-UltraExtendedMediumItalic.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaQP Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2/IosevkaQP-SemiBold.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaQP Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2/IosevkaQP-ExtendedSemiBold.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaQP Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: condensed;
	font-style: normal;
	src: url('WOFF2/IosevkaQP-CondensedSemiBold.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaQP Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: semi-condensed;
	font-style: normal;
	src: url('WOFF2/IosevkaQP-SemiCondensedSemiBold.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaQP Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: semi-expanded;
	font-style: normal;
	src: url('WOFF2/IosevkaQP-SemiExtendedSemiBold.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaQP Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: extra-expanded;
	font-style: normal;
	src: url('WOFF2/IosevkaQP-ExtraExtendedSemiBold.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaQP Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: ultra-expanded;
	font-style: normal;
	src: url('WOFF2/IosevkaQP-UltraExtendedSemiBold.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaQP Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2/IosevkaQP-SemiBoldOblique.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaQP Web Oblique';
	font-display: swap;
	font-weight: 600;
	font-stretch: normal;
	src: url('WOFF2/IosevkaQP-SemiBoldOblique.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaQP Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2/IosevkaQP-ExtendedSemiBoldOblique.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaQP Web Oblique';
	font-display: swap;
	font-weight: 600;
	font-stretch: expanded;
	src: url('WOFF2/IosevkaQP-ExtendedSemiBoldOblique.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaQP Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: condensed;
	font-style: oblique;
	src: url('WOFF2/IosevkaQP-CondensedSemiBoldOblique.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaQP Web Oblique';
	font-display: swap;
	font-weight: 600;
	font-stretch: condensed;
	src: url('WOFF2/IosevkaQP-CondensedSemiBoldOblique.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaQP Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: semi-condensed;
	font-style: oblique;
	src: url('WOFF2/IosevkaQP-SemiCondensedSemiBoldOblique.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaQP Web Oblique';
	font-display: swap;
	font-weight: 600;
	font-stretch: semi-condensed;
	src: url('WOFF2/IosevkaQP-SemiCondensedSemiBoldOblique.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaQP Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: semi-expanded;
	font-style: oblique;
	src: url('WOFF2/IosevkaQP-SemiExtendedSemiBoldOblique.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaQP Web Oblique';
	font-display: swap;
	font-weight: 600;
	font-stretch: semi-expanded;
	src: url('WOFF2/IosevkaQP-SemiExtendedSemiBoldOblique.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaQP Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: extra-expanded;
	font-style: oblique;
	src: url('WOFF2/IosevkaQP-ExtraExtendedSemiBoldOblique.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaQP Web Oblique';
	font-display: swap;
	font-weight: 600;
	font-stretch: extra-expanded;
	src: url('WOFF2/IosevkaQP-ExtraExtendedSemiBoldOblique.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaQP Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: ultra-expanded;
	font-style: oblique;
	src: url('WOFF2/IosevkaQP-UltraExtendedSemiBoldOblique.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaQP Web Oblique';
	font-display: swap;
	font-weight: 600;
	font-stretch: ultra-expanded;
	src: url('WOFF2/IosevkaQP-UltraExtendedSemiBoldOblique.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaQP Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2/IosevkaQP-SemiBoldItalic.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaQP Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2/IosevkaQP-ExtendedSemiBoldItalic.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaQP Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: condensed;
	font-style: italic;
	src: url('WOFF2/IosevkaQP-CondensedSemiBoldItalic.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaQP Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: semi-condensed;
	font-style: italic;
	src: url('WOFF2/IosevkaQP-SemiCondensedSemiBoldItalic.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaQP Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: semi-expanded;
	font-style: italic;
	src: url('WOFF2/IosevkaQP-SemiExtendedSemiBoldItalic.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaQP Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: extra-expanded;
	font-style: italic;
	src: url('WOFF2/IosevkaQP-ExtraExtendedSemiBoldItalic.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaQP Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: ultra-expanded;
	font-style: italic;
	src: url('WOFF2/IosevkaQP-UltraExtendedSemiBoldItalic.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaQP Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2/IosevkaQP-Bold.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaQP Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2/IosevkaQP-ExtendedBold.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaQP Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: condensed;
	font-style: normal;
	src: url('WOFF2/IosevkaQP-CondensedBold.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaQP Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: semi-condensed;
	font-style: normal;
	src: url('WOFF2/IosevkaQP-SemiCondensedBold.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaQP Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: semi-expanded;
	font-style: normal;
	src: url('WOFF2/IosevkaQP-SemiExtendedBold.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaQP Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: extra-expanded;
	font-style: normal;
	src: url('WOFF2/IosevkaQP-ExtraExtendedBold.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaQP Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: ultra-expanded;
	font-style: normal;
	src: url('WOFF2/IosevkaQP-UltraExtendedBold.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaQP Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2/IosevkaQP-BoldOblique.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaQP Web Oblique';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	src: url('WOFF2/IosevkaQP-BoldOblique.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaQP Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2/IosevkaQP-ExtendedBoldOblique.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaQP Web Oblique';
	font-display: swap;
	font-weight: 700;
	font-stretch: expanded;
	src: url('WOFF2/IosevkaQP-ExtendedBoldOblique.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaQP Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: condensed;
	font-style: oblique;
	src: url('WOFF2/IosevkaQP-CondensedBoldOblique.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaQP Web Oblique';
	font-display: swap;
	font-weight: 700;
	font-stretch: condensed;
	src: url('WOFF2/IosevkaQP-CondensedBoldOblique.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaQP Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: semi-condensed;
	font-style: oblique;
	src: url('WOFF2/IosevkaQP-SemiCondensedBoldOblique.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaQP Web Oblique';
	font-display: swap;
	font-weight: 700;
	font-stretch: semi-condensed;
	src: url('WOFF2/IosevkaQP-SemiCondensedBoldOblique.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaQP Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: semi-expanded;
	font-style: oblique;
	src: url('WOFF2/IosevkaQP-SemiExtendedBoldOblique.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaQP Web Oblique';
	font-display: swap;
	font-weight: 700;
	font-stretch: semi-expanded;
	src: url('WOFF2/IosevkaQP-SemiExtendedBoldOblique.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaQP Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: extra-expanded;
	font-style: oblique;
	src: url('WOFF2/IosevkaQP-ExtraExtendedBoldOblique.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaQP Web Oblique';
	font-display: swap;
	font-weight: 700;
	font-stretch: extra-expanded;
	src: url('WOFF2/IosevkaQP-ExtraExtendedBoldOblique.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaQP Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: ultra-expanded;
	font-style: oblique;
	src: url('WOFF2/IosevkaQP-UltraExtendedBoldOblique.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaQP Web Oblique';
	font-display: swap;
	font-weight: 700;
	font-stretch: ultra-expanded;
	src: url('WOFF2/IosevkaQP-UltraExtendedBoldOblique.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaQP Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2/IosevkaQP-BoldItalic.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaQP Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2/IosevkaQP-ExtendedBoldItalic.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaQP Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: condensed;
	font-style: italic;
	src: url('WOFF2/IosevkaQP-CondensedBoldItalic.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaQP Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: semi-condensed;
	font-style: italic;
	src: url('WOFF2/IosevkaQP-SemiCondensedBoldItalic.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaQP Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: semi-expanded;
	font-style: italic;
	src: url('WOFF2/IosevkaQP-SemiExtendedBoldItalic.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaQP Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: extra-expanded;
	font-style: italic;
	src: url('WOFF2/IosevkaQP-ExtraExtendedBoldItalic.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaQP Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: ultra-expanded;
	font-style: italic;
	src: url('WOFF2/IosevkaQP-UltraExtendedBoldItalic.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaQP Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2/IosevkaQP-ExtraBold.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaQP Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2/IosevkaQP-ExtendedExtraBold.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaQP Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: condensed;
	font-style: normal;
	src: url('WOFF2/IosevkaQP-CondensedExtraBold.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaQP Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: semi-condensed;
	font-style: normal;
	src: url('WOFF2/IosevkaQP-SemiCondensedExtraBold.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaQP Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: semi-expanded;
	font-style: normal;
	src: url('WOFF2/IosevkaQP-SemiExtendedExtraBold.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaQP Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: extra-expanded;
	font-style: normal;
	src: url('WOFF2/IosevkaQP-ExtraExtendedExtraBold.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaQP Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: ultra-expanded;
	font-style: normal;
	src: url('WOFF2/IosevkaQP-UltraExtendedExtraBold.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaQP Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2/IosevkaQP-ExtraBoldOblique.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaQP Web Oblique';
	font-display: swap;
	font-weight: 800;
	font-stretch: normal;
	src: url('WOFF2/IosevkaQP-ExtraBoldOblique.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaQP Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2/IosevkaQP-ExtendedExtraBoldOblique.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaQP Web Oblique';
	font-display: swap;
	font-weight: 800;
	font-stretch: expanded;
	src: url('WOFF2/IosevkaQP-ExtendedExtraBoldOblique.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaQP Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: condensed;
	font-style: oblique;
	src: url('WOFF2/IosevkaQP-CondensedExtraBoldOblique.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaQP Web Oblique';
	font-display: swap;
	font-weight: 800;
	font-stretch: condensed;
	src: url('WOFF2/IosevkaQP-CondensedExtraBoldOblique.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaQP Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: semi-condensed;
	font-style: oblique;
	src: url('WOFF2/IosevkaQP-SemiCondensedExtraBoldOblique.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaQP Web Oblique';
	font-display: swap;
	font-weight: 800;
	font-stretch: semi-condensed;
	src: url('WOFF2/IosevkaQP-SemiCondensedExtraBoldOblique.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaQP Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: semi-expanded;
	font-style: oblique;
	src: url('WOFF2/IosevkaQP-SemiExtendedExtraBoldOblique.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaQP Web Oblique';
	font-display: swap;
	font-weight: 800;
	font-stretch: semi-expanded;
	src: url('WOFF2/IosevkaQP-SemiExtendedExtraBoldOblique.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaQP Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: extra-expanded;
	font-style: oblique;
	src: url('WOFF2/IosevkaQP-ExtraExtendedExtraBoldOblique.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaQP Web Oblique';
	font-display: swap;
	font-weight: 800;
	font-stretch: extra-expanded;
	src: url('WOFF2/IosevkaQP-ExtraExtendedExtraBoldOblique.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaQP Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: ultra-expanded;
	font-style: oblique;
	src: url('WOFF2/IosevkaQP-UltraExtendedExtraBoldOblique.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaQP Web Oblique';
	font-display: swap;
	font-weight: 800;
	font-stretch: ultra-expanded;
	src: url('WOFF2/IosevkaQP-UltraExtendedExtraBoldOblique.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaQP Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2/IosevkaQP-ExtraBoldItalic.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaQP Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2/IosevkaQP-ExtendedExtraBoldItalic.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaQP Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: condensed;
	font-style: italic;
	src: url('WOFF2/IosevkaQP-CondensedExtraBoldItalic.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaQP Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: semi-condensed;
	font-style: italic;
	src: url('WOFF2/IosevkaQP-SemiCondensedExtraBoldItalic.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaQP Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: semi-expanded;
	font-style: italic;
	src: url('WOFF2/IosevkaQP-SemiExtendedExtraBoldItalic.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaQP Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: extra-expanded;
	font-style: italic;
	src: url('WOFF2/IosevkaQP-ExtraExtendedExtraBoldItalic.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaQP Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: ultra-expanded;
	font-style: italic;
	src: url('WOFF2/IosevkaQP-UltraExtendedExtraBoldItalic.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaQP Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2/IosevkaQP-Heavy.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaQP Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2/IosevkaQP-ExtendedHeavy.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaQP Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: condensed;
	font-style: normal;
	src: url('WOFF2/IosevkaQP-CondensedHeavy.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaQP Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: semi-condensed;
	font-style: normal;
	src: url('WOFF2/IosevkaQP-SemiCondensedHeavy.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaQP Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: semi-expanded;
	font-style: normal;
	src: url('WOFF2/IosevkaQP-SemiExtendedHeavy.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaQP Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: extra-expanded;
	font-style: normal;
	src: url('WOFF2/IosevkaQP-ExtraExtendedHeavy.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaQP Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: ultra-expanded;
	font-style: normal;
	src: url('WOFF2/IosevkaQP-UltraExtendedHeavy.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaQP Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2/IosevkaQP-HeavyOblique.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaQP Web Oblique';
	font-display: swap;
	font-weight: 900;
	font-stretch: normal;
	src: url('WOFF2/IosevkaQP-HeavyOblique.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaQP Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2/IosevkaQP-ExtendedHeavyOblique.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaQP Web Oblique';
	font-display: swap;
	font-weight: 900;
	font-stretch: expanded;
	src: url('WOFF2/IosevkaQP-ExtendedHeavyOblique.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaQP Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: condensed;
	font-style: oblique;
	src: url('WOFF2/IosevkaQP-CondensedHeavyOblique.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaQP Web Oblique';
	font-display: swap;
	font-weight: 900;
	font-stretch: condensed;
	src: url('WOFF2/IosevkaQP-CondensedHeavyOblique.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaQP Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: semi-condensed;
	font-style: oblique;
	src: url('WOFF2/IosevkaQP-SemiCondensedHeavyOblique.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaQP Web Oblique';
	font-display: swap;
	font-weight: 900;
	font-stretch: semi-condensed;
	src: url('WOFF2/IosevkaQP-SemiCondensedHeavyOblique.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaQP Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: semi-expanded;
	font-style: oblique;
	src: url('WOFF2/IosevkaQP-SemiExtendedHeavyOblique.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaQP Web Oblique';
	font-display: swap;
	font-weight: 900;
	font-stretch: semi-expanded;
	src: url('WOFF2/IosevkaQP-SemiExtendedHeavyOblique.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaQP Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: extra-expanded;
	font-style: oblique;
	src: url('WOFF2/IosevkaQP-ExtraExtendedHeavyOblique.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaQP Web Oblique';
	font-display: swap;
	font-weight: 900;
	font-stretch: extra-expanded;
	src: url('WOFF2/IosevkaQP-ExtraExtendedHeavyOblique.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaQP Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: ultra-expanded;
	font-style: oblique;
	src: url('WOFF2/IosevkaQP-UltraExtendedHeavyOblique.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaQP Web Oblique';
	font-display: swap;
	font-weight: 900;
	font-stretch: ultra-expanded;
	src: url('WOFF2/IosevkaQP-UltraExtendedHeavyOblique.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaQP Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2/IosevkaQP-HeavyItalic.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaQP Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2/IosevkaQP-ExtendedHeavyItalic.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaQP Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: condensed;
	font-style: italic;
	src: url('WOFF2/IosevkaQP-CondensedHeavyItalic.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaQP Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: semi-condensed;
	font-style: italic;
	src: url('WOFF2/IosevkaQP-SemiCondensedHeavyItalic.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaQP Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: semi-expanded;
	font-style: italic;
	src: url('WOFF2/IosevkaQP-SemiExtendedHeavyItalic.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaQP Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: extra-expanded;
	font-style: italic;
	src: url('WOFF2/IosevkaQP-ExtraExtendedHeavyItalic.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaQP Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: ultra-expanded;
	font-style: italic;
	src: url('WOFF2/IosevkaQP-UltraExtendedHeavyItalic.woff2') format('woff2');
}
