@font-face {
  font-family: "mIosevka-Term Web";
  font-display: swap;
  font-weight: 100;
  font-stretch: normal;
  font-style: normal;
  src:
    url("WOFF2/MIosevkaTerm-Thin.woff2") format("woff2"),
    url("TTF/MIosevkaTerm-Thin.ttf") format("truetype");
}

@font-face {
  font-family: "mIosevka-Term Web";
  font-display: swap;
  font-weight: 100;
  font-stretch: normal;
  font-style: oblique;
  src:
    url("WOFF2/MIosevkaTerm-ThinOblique.woff2") format("woff2"),
    url("TTF/MIosevkaTerm-ThinOblique.ttf") format("truetype");
}

@font-face {
  font-family: "mIosevka-Term Web Oblique";
  font-display: swap;
  font-weight: 100;
  font-stretch: normal;
  src:
    url("WOFF2/MIosevkaTerm-ThinOblique.woff2") format("woff2"),
    url("TTF/MIosevkaTerm-ThinOblique.ttf") format("truetype");
}

@font-face {
  font-family: "mIosevka-Term Web";
  font-display: swap;
  font-weight: 100;
  font-stretch: normal;
  font-style: italic;
  src:
    url("WOFF2/MIosevkaTerm-ThinItalic.woff2") format("woff2"),
    url("TTF/MIosevkaTerm-ThinItalic.ttf") format("truetype");
}

@font-face {
  font-family: "mIosevka-Term Web";
  font-display: swap;
  font-weight: 200;
  font-stretch: normal;
  font-style: normal;
  src:
    url("WOFF2/MIosevkaTerm-ExtraLight.woff2") format("woff2"),
    url("TTF/MIosevkaTerm-ExtraLight.ttf") format("truetype");
}

@font-face {
  font-family: "mIosevka-Term Web";
  font-display: swap;
  font-weight: 200;
  font-stretch: normal;
  font-style: oblique;
  src:
    url("WOFF2/MIosevkaTerm-ExtraLightOblique.woff2") format("woff2"),
    url("TTF/MIosevkaTerm-ExtraLightOblique.ttf") format("truetype");
}

@font-face {
  font-family: "mIosevka-Term Web Oblique";
  font-display: swap;
  font-weight: 200;
  font-stretch: normal;
  src:
    url("WOFF2/MIosevkaTerm-ExtraLightOblique.woff2") format("woff2"),
    url("TTF/MIosevkaTerm-ExtraLightOblique.ttf") format("truetype");
}

@font-face {
  font-family: "mIosevka-Term Web";
  font-display: swap;
  font-weight: 200;
  font-stretch: normal;
  font-style: italic;
  src:
    url("WOFF2/MIosevkaTerm-ExtraLightItalic.woff2") format("woff2"),
    url("TTF/MIosevkaTerm-ExtraLightItalic.ttf") format("truetype");
}

@font-face {
  font-family: "mIosevka-Term Web";
  font-display: swap;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  src:
    url("WOFF2/MIosevkaTerm-Light.woff2") format("woff2"),
    url("TTF/MIosevkaTerm-Light.ttf") format("truetype");
}

@font-face {
  font-family: "mIosevka-Term Web";
  font-display: swap;
  font-weight: 300;
  font-stretch: normal;
  font-style: oblique;
  src:
    url("WOFF2/MIosevkaTerm-LightOblique.woff2") format("woff2"),
    url("TTF/MIosevkaTerm-LightOblique.ttf") format("truetype");
}

@font-face {
  font-family: "mIosevka-Term Web Oblique";
  font-display: swap;
  font-weight: 300;
  font-stretch: normal;
  src:
    url("WOFF2/MIosevkaTerm-LightOblique.woff2") format("woff2"),
    url("TTF/MIosevkaTerm-LightOblique.ttf") format("truetype");
}

@font-face {
  font-family: "mIosevka-Term Web";
  font-display: swap;
  font-weight: 300;
  font-stretch: normal;
  font-style: italic;
  src:
    url("WOFF2/MIosevkaTerm-LightItalic.woff2") format("woff2"),
    url("TTF/MIosevkaTerm-LightItalic.ttf") format("truetype");
}

@font-face {
  font-family: "mIosevka-Term Web";
  font-display: swap;
  font-weight: 400;
  font-stretch: normal;
  font-style: normal;
  src:
    url("WOFF2/MIosevkaTerm-Regular.woff2") format("woff2"),
    url("TTF/MIosevkaTerm-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "mIosevka-Term Web";
  font-display: swap;
  font-weight: 400;
  font-stretch: normal;
  font-style: oblique;
  src:
    url("WOFF2/MIosevkaTerm-Oblique.woff2") format("woff2"),
    url("TTF/MIosevkaTerm-Oblique.ttf") format("truetype");
}

@font-face {
  font-family: "mIosevka-Term Web Oblique";
  font-display: swap;
  font-weight: 400;
  font-stretch: normal;
  src:
    url("WOFF2/MIosevkaTerm-Oblique.woff2") format("woff2"),
    url("TTF/MIosevkaTerm-Oblique.ttf") format("truetype");
}

@font-face {
  font-family: "mIosevka-Term Web";
  font-display: swap;
  font-weight: 400;
  font-stretch: normal;
  font-style: italic;
  src:
    url("WOFF2/MIosevkaTerm-Italic.woff2") format("woff2"),
    url("TTF/MIosevkaTerm-Italic.ttf") format("truetype");
}

@font-face {
  font-family: "mIosevka-Term Web";
  font-display: swap;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  src:
    url("WOFF2/MIosevkaTerm-Medium.woff2") format("woff2"),
    url("TTF/MIosevkaTerm-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "mIosevka-Term Web";
  font-display: swap;
  font-weight: 500;
  font-stretch: normal;
  font-style: oblique;
  src:
    url("WOFF2/MIosevkaTerm-MediumOblique.woff2") format("woff2"),
    url("TTF/MIosevkaTerm-MediumOblique.ttf") format("truetype");
}

@font-face {
  font-family: "mIosevka-Term Web Oblique";
  font-display: swap;
  font-weight: 500;
  font-stretch: normal;
  src:
    url("WOFF2/MIosevkaTerm-MediumOblique.woff2") format("woff2"),
    url("TTF/MIosevkaTerm-MediumOblique.ttf") format("truetype");
}

@font-face {
  font-family: "mIosevka-Term Web";
  font-display: swap;
  font-weight: 500;
  font-stretch: normal;
  font-style: italic;
  src:
    url("WOFF2/MIosevkaTerm-MediumItalic.woff2") format("woff2"),
    url("TTF/MIosevkaTerm-MediumItalic.ttf") format("truetype");
}

@font-face {
  font-family: "mIosevka-Term Web";
  font-display: swap;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  src:
    url("WOFF2/MIosevkaTerm-SemiBold.woff2") format("woff2"),
    url("TTF/MIosevkaTerm-SemiBold.ttf") format("truetype");
}

@font-face {
  font-family: "mIosevka-Term Web";
  font-display: swap;
  font-weight: 600;
  font-stretch: normal;
  font-style: oblique;
  src:
    url("WOFF2/MIosevkaTerm-SemiBoldOblique.woff2") format("woff2"),
    url("TTF/MIosevkaTerm-SemiBoldOblique.ttf") format("truetype");
}

@font-face {
  font-family: "mIosevka-Term Web Oblique";
  font-display: swap;
  font-weight: 600;
  font-stretch: normal;
  src:
    url("WOFF2/MIosevkaTerm-SemiBoldOblique.woff2") format("woff2"),
    url("TTF/MIosevkaTerm-SemiBoldOblique.ttf") format("truetype");
}

@font-face {
  font-family: "mIosevka-Term Web";
  font-display: swap;
  font-weight: 600;
  font-stretch: normal;
  font-style: italic;
  src:
    url("WOFF2/MIosevkaTerm-SemiBoldItalic.woff2") format("woff2"),
    url("TTF/MIosevkaTerm-SemiBoldItalic.ttf") format("truetype");
}

@font-face {
  font-family: "mIosevka-Term Web";
  font-display: swap;
  font-weight: 700;
  font-stretch: normal;
  font-style: normal;
  src:
    url("WOFF2/MIosevkaTerm-Bold.woff2") format("woff2"),
    url("TTF/MIosevkaTerm-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "mIosevka-Term Web";
  font-display: swap;
  font-weight: 700;
  font-stretch: normal;
  font-style: oblique;
  src:
    url("WOFF2/MIosevkaTerm-BoldOblique.woff2") format("woff2"),
    url("TTF/MIosevkaTerm-BoldOblique.ttf") format("truetype");
}

@font-face {
  font-family: "mIosevka-Term Web Oblique";
  font-display: swap;
  font-weight: 700;
  font-stretch: normal;
  src:
    url("WOFF2/MIosevkaTerm-BoldOblique.woff2") format("woff2"),
    url("TTF/MIosevkaTerm-BoldOblique.ttf") format("truetype");
}

@font-face {
  font-family: "mIosevka-Term Web";
  font-display: swap;
  font-weight: 700;
  font-stretch: normal;
  font-style: italic;
  src:
    url("WOFF2/MIosevkaTerm-BoldItalic.woff2") format("woff2"),
    url("TTF/MIosevkaTerm-BoldItalic.ttf") format("truetype");
}

@font-face {
  font-family: "mIosevka-Term Web";
  font-display: swap;
  font-weight: 800;
  font-stretch: normal;
  font-style: normal;
  src:
    url("WOFF2/MIosevkaTerm-ExtraBold.woff2") format("woff2"),
    url("TTF/MIosevkaTerm-ExtraBold.ttf") format("truetype");
}

@font-face {
  font-family: "mIosevka-Term Web";
  font-display: swap;
  font-weight: 800;
  font-stretch: normal;
  font-style: oblique;
  src:
    url("WOFF2/MIosevkaTerm-ExtraBoldOblique.woff2") format("woff2"),
    url("TTF/MIosevkaTerm-ExtraBoldOblique.ttf") format("truetype");
}

@font-face {
  font-family: "mIosevka-Term Web Oblique";
  font-display: swap;
  font-weight: 800;
  font-stretch: normal;
  src:
    url("WOFF2/MIosevkaTerm-ExtraBoldOblique.woff2") format("woff2"),
    url("TTF/MIosevkaTerm-ExtraBoldOblique.ttf") format("truetype");
}

@font-face {
  font-family: "mIosevka-Term Web";
  font-display: swap;
  font-weight: 800;
  font-stretch: normal;
  font-style: italic;
  src:
    url("WOFF2/MIosevkaTerm-ExtraBoldItalic.woff2") format("woff2"),
    url("TTF/MIosevkaTerm-ExtraBoldItalic.ttf") format("truetype");
}

@font-face {
  font-family: "mIosevka-Term Web";
  font-display: swap;
  font-weight: 900;
  font-stretch: normal;
  font-style: normal;
  src:
    url("WOFF2/MIosevkaTerm-Heavy.woff2") format("woff2"),
    url("TTF/MIosevkaTerm-Heavy.ttf") format("truetype");
}

@font-face {
  font-family: "mIosevka-Term Web";
  font-display: swap;
  font-weight: 900;
  font-stretch: normal;
  font-style: oblique;
  src:
    url("WOFF2/MIosevkaTerm-HeavyOblique.woff2") format("woff2"),
    url("TTF/MIosevkaTerm-HeavyOblique.ttf") format("truetype");
}

@font-face {
  font-family: "mIosevka-Term Web Oblique";
  font-display: swap;
  font-weight: 900;
  font-stretch: normal;
  src:
    url("WOFF2/MIosevkaTerm-HeavyOblique.woff2") format("woff2"),
    url("TTF/MIosevkaTerm-HeavyOblique.ttf") format("truetype");
}

@font-face {
  font-family: "mIosevka-Term Web";
  font-display: swap;
  font-weight: 900;
  font-stretch: normal;
  font-style: italic;
  src:
    url("WOFF2/MIosevkaTerm-HeavyItalic.woff2") format("woff2"),
    url("TTF/MIosevkaTerm-HeavyItalic.ttf") format("truetype");
}
