@font-face {
  font-family: "mIosevka-Term Web";
  font-display: swap;
  font-weight: 400;
  font-style: normal;
  src: url("WOFF2/MIosevkaTerm-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "mIosevka-Term Web";
  font-display: swap;
  font-weight: 400;
  font-style: italic;
  src: url("WOFF2/MIosevkaTerm-Italic.woff2") format("woff2");
}

@font-face {
  font-family: "mIosevka-Term Web";
  font-display: swap;
  font-weight: 700;
  font-style: normal;
  src: url("WOFF2/MIosevkaTerm-Bold.woff2") format("woff2");
}

@font-face {
  font-family: "mIosevka-Term Web";
  font-display: swap;
  font-weight: 700;
  font-style: italic;
  src: url("WOFF2/MIosevkaTerm-BoldItalic.woff2") format("woff2");
}
