/*-- scss:defaults --*/

$callout-important-color: #ff5252 !default;
$callout-color-important: #ff5252 !default;

$callout-color-warning: #fd971f !default;
$callout-warning-color: #fd971f !default;

$callout-tip-color: #838383 !default;
$callout-color-tip: #838383 !default;

$callout-note-color: #4582ec !default;
$callout-color-note: #4582ec !default;

$callout-color-info: #b695ff !default;
$callout-info-color: #b695ff !default;

$callout-caution-color: #ff3bd3 !default;
$callout-color-caution: #ff3bd3 !default;

/*-- scss:rules --*/

:root {
  --callout-important-color: #ff5252;
  --callout-color-important: #ff5252;
  --callout-warning-color: #fd971f;
  --callout-color-warning: #fd971f;
  --callout-tip-color: #838383;
  --callout-color-tip: #838383;
  --bs-border-radius: 0pt;
  // --callout-tip-color: #02b875;
  // --callout-color-tip: #02b875;
  --callout-note-color: #4582ec;
  --callout-color-note: #4582ec;
  --callout-color-info: #b695ff;
  --callout-color-info: #b695ff;
  --callout-caution-color: #ff3bd3;
  --callout-color-caution: #ff3bd3;
  // --callout-warning-color: $callout-warning-color;
  // --callout-tip-color: $callout-tip-color;
  // --callout-note-color: $callout-note-color;
  // --callout-info-color: $callout-color-info;
  // --callout-caution-color: $callout-caution-color;
}

.callout.callout-style-simple {
  opacity: 100% !important;
  display: -webkit-inline-box;

  /* background-color: inherit; */
  /* margin-left: auto; */
  /* margin-right: auto; */

  /* padding: .4em .7em; */
  /* border-left: 5px solid; */
  /* border-right: 1px solid #dee2e6; */
  /* border-top: 1px solid #dee2e6; */
  /* border-bottom: 1px solid #dee2e6; */
}

.callout.callout-style-simple > div.callout-header {
  font-size: 1rem;
}

.callout-toggle {
  opacity: 33%;
}

.py-1 {
  padding: 0;
  padding-top: 3pt !important;
  padding-bottom: 0 !important;
}

.pe-0 {
  padding: 0;
}

.ps-1 {
  margin: 0;
  padding: 0;
}

.callout:not(.no-icon).callout-titled.callout-style-simple .callout-body {
  padding-left: 5pt;
}

.callout.callout-titled .callout-body > :last-child:not(.sourceCode),
.callout.callout-titled .callout-body > div > :last-child:not(.sourceCode) {
  padding-bottom: 0;
  margin-bottom: 0;
}

.callout:not(.callout-titled) .callout-body > :last-child,
.callout:not(.callout-titled) .callout-body > div > :last-child {
  font-size: 1rem;
  opacity: 100%;
  display: inline-block;
  padding-inline: 2pt;
  margin-top: auto;
  margin-bottom: auto;
  // padding-block: 2pt;
}

.callout {
  width: 100% !important;
  margin-block: 0.25lh;
  border-radius: 0.05rem;
  // margin-block-end: 0.5rem;
}

.callout .callout-title-container {
  overflow-wrap: anywhere;
  font-stretch: semi-condensed;
  overflow-wrap: anywhere;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: subpixel-antialiased;
  font-weight: bold;
  margin-block: auto;
}

.callout.callout-style-simple,
.callout.callout-style-default {
  padding: 0pt 5pt;
  margin-block: 0.25lh;
  // margin-block-end: 0.5rem;
}

.callout.callout-style-simple:not(.no-icon) div.callout-icon-container {
  margin-block: 1pt;
}

.callout .callout-body-container {
  padding-block: unset;
  padding-bottom: unset;
}

.callout.callout-style-simple .callout-body {
  font-size: inherit;
  /* font-weight: 400; */
  /* margin-bottom: -0.4em; */
  /* margin-top: .5em; */
  margin-block: 0.1lh;
}

.callout.callout-titled > .callout-header {
  padding-top: 0;
  margin-bottom: 0;
}

.callout:not(.callout-titled) .callout-body > :last-child,
.callout:not(.callout-titled) .callout-body > div > :last-child {
  margin-block: auto;
  font-size: 1rem;
  opacity: 100%;
  display: inline-block;
  padding-inline: 2pt;
  margin-top: unset;
}

.callout:not(.callout-titled) .callout-body > :first-child,
.callout:not(.callout-titled) .callout-body > div > :first-child {
  padding-inline-end: 2pt;
}

.callout:not(.callout-titled) .callout-body > :last-child,
.callout:not(.callout-titled) .callout-body > div > :last-child {
  margin-bottom: unset;
  padding-bottom: unset;
}

div.callout-tip.callout {
  border-left-color: rgba(0, 0, 0, 0);
  background: oklch(from $callout-tip-color calc(l * 1.15) c h/0.1);
  border: 1px solid rgba(0, 0, 0, 0);
  &:hover {
    border: 1px solid $callout-tip-color !important;
    transition: all 0.2s ease-in-out;
  }
}

// div.callout-tip.callout:hover {
//   border: 1px solid $callout-tip-color;
// }

div.callout-note.callout {
  border-left-color: rgba(0, 0, 0, 0);
  background: oklch(from $callout-note-color calc(l * 1.15) c h/0.1);
  border: 1px solid rgba(0, 0, 0, 0);
  &:hover {
    border: 1px solid $callout-note-color !important;
    transition: all 0.2s ease-in-out;
  }
}

// div.callout-note.callout:hover {
//   border: 1px solid $callout-note-color
// }

div.callout-caution.callout {
  border-left-color: rgba(0, 0, 0, 0);
  background: oklch(from $callout-caution-color calc(l * 1.15) c h/0.1);
  border: 1px solid rgba(0, 0, 0, 0);
  &:hover {
    border: 1px solid $callout-caution-color !important;
    transition: all 0.2s ease-in-out;
  }
}

// div.callout-caution.callout:hover {
//   border: 1px solid $callout-caution-color
// }

div.callout-important.callout {
  border-left-color: rgba(0, 0, 0, 0);
  background: oklch(from $callout-important-color calc(l * 1.15) c h/0.1);
  &:hover {
    border: 1px solid $callout-important-color !important;
    transition: all 0.2s ease-in-out;
  }
}

div.callout-warning.callout {
  border-left-color: rgba(0, 0, 0, 0);
  background: oklch(from $callout-color-warning calc(l * 1.15) c h/0.1);
  &:hover {
    border: 1px solid $callout-color-warning !important;
  }
}

div.callout-warning.callout .callout .callout-title-container {
  overflow-wrap: anywhere;
  color: $callout-color-warning;
}

div.callout-important.callout .callout .callout-title-container {
  overflow-wrap: anywhere;
  color: $callout-important-color;
}

div.callout-note.callout-style-default .callout-title,
div.callout-note.callout-style-simple .callout-title {
  background-color: oklch(from $callout-note-color calc(l * 1.15) c h/0.1);
  color: $callout-note-color;
}

div.callout-info.callout-style-simple .callout-title,
div.callout-info.callout-style-default .callout-title {
  background-color: oklch(from $callout-color-info calc(l * 1.15) c h/0.1);
  color: $callout-color-info;

  &:hover {
    border: 1px solid $callout-color-info !important;
    transition: all 0.2s ease-in-out;
  }
}

div.callout-caution.callout-style-simple .callout-title,
div.callout-caution.callout-style-default .callout-title {
  background-color: oklch(from $callout-caution-color calc(l * 1.15) c h/0.1);
  color: $callout-caution-color;
  border: 1px solid rgba(0, 0, 0, 0);

  &:hover {
    border: 1px solid $callout-caution-color !important;
    transition: all 0.2s ease-in-out;
  }
}

div.callout-warning.callout-style-simple .callout-title,
div.callout-warning.callout-style-default .callout-title {
  background-color: oklch(from $callout-color-warning calc(l * 1.15) c h/0.1);
  color: $callout-color-warning;
}

div.callout-warning .callout.callout-style-simple > div.callout-header {
  color: $callout-color-warning;
}

div.callout-warning.callout-style-simple > div.callout-header {
  color: $callout-color-warning;
}

div.callout-note.callout-style-simple > div.callout-header {
  color: $callout-note-color;
}

div.callout-tip.callout-style-simple > div.callout-header {
  color: $callout-tip-color;
}

div.callout-caution.callout-style-simple > div.callout-header {
  color: $callout-caution-color;
}

div.callout-important.callout-style-simple > div.callout-header {
  color: $callout-important-color;
}

div.callout-important.callout-style-simple .callout-title,
div.callout-important.callout-style-default .callout-title {
  background-color: oklch(from $callout-important-color calc(l * 1.15) c h/0.1);
  color: $callout-important-color;
}

.callout.callout-style-default div.callout-title {
  border-bottom: none;
  font-weight: 600;
  opacity: 100%;
  font-size: inherit;
}

.reveal .slides section .callout {
  font-size: 1rem;
}

.reveal .callout.callout-style-simple div.callout-title,
.reveal .callout.callout-style-default div.callout-title {
  padding-top: unset;
  font-size: 1rem;
}

.reveal .callout.callout-style-simple .callout-body,
.reveal .callout.callout-style-default .callout-body {
  font-size: 1rem;
}

.callout.callout-style-simple {
  opacity: 100% !important;
  display: -webkit-inline-box;
}

.callout.callout-style-simple > div.callout-header {
  font-size: 1rem;
}

.callout-toggle {
  opacity: 33%;
}

div.callout-tip.callout,
.callout .callout-tip {
  background: oklch(from $callout-tip-color calc(l * 1.15) c h/0.1);
  border: 1px solid
    rgba(
      red($callout-tip-color),
      green($callout-tip-color),
      blue($callout-tip-color),
      0.25
    ) !important;

  &:hover {
    border: 1px solid var(--callout-color-tip) !important;
    transition: all 1s ease-all;
    box-shadow: 1px 2px 1px rgba(0, 0, 0, 0.65) !important;
  }
}

div.callout-note.callout,
.callout .callout-note {
  background: oklch(from $callout-note-color calc(l * 1.15) c h/0.1);
  border: 1px solid rgba(0, 0, 0, 0) !important;

  &:hover {
    border: 1px solid $callout-note-color !important;
    transition: all 1s ease-all;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.65) !important;
  }
}

div.callout-caution.callout,
.callout .callout-caution {
  background: oklch(from $callout-caution-color calc(l * 1.15) c h/0.1);
  border: 1px solid rgba(0, 0, 0, 0) !important;

  &:hover {
    border: 1px solid $callout-caution-color !important;
    transition: all 1s ease-all;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.65) !important;
  }
}

.callout .callout-important,
div.callout-important.callout {
  background: oklch(from $callout-important-color calc(l * 1.15) c h/0.1);
  border: 1px solid rgba(0, 0, 0, 0) !important;

  &:hover {
    border: 1px solid $callout-important-color !important;
    transition: all 1s ease-all;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.65) !important;
  }
}

.callout .callout-tip,
div.callout-tip.callout {
  background: oklch(from $callout-color-tip calc(l * 1.15) c h/0.1);
  // border: 1px solid rgba(0, 0, 0, 0) !important;

  &:hover {
    border: 1px solid $callout-color-tip !important;
    transition: all 1s ease-all;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.65) !important;
  }
}

div.callout-tip.callout {
  background: rgba(0, 0, 0, 0) !important;
  border: 1px solid rgba(131, 131, 131, 0.25);

  &:hover {
    border: 1px solid rgba(131, 131, 131, 1) !important;
    transition: all 1s ease-all;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.65) !important;
  }
}
