.admonition .quote {
  background-color: #1c1c1c!important;;
}

.admonition .title {
    margin: 0;
    text-transform: uppercase;
    padding-left: 3px;
    border: 1px solid;
    border-style: hidden hidden solid;
}

