
@font-face {
	font-family: 'IosevkaTerm Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2/IosevkaTerm-Thin.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaTerm Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2/IosevkaTerm-ExtendedThin.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaTerm Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: condensed;
	font-style: normal;
	src: url('WOFF2/IosevkaTerm-CondensedThin.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaTerm Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: semi-condensed;
	font-style: normal;
	src: url('WOFF2/IosevkaTerm-SemiCondensedThin.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaTerm Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: semi-expanded;
	font-style: normal;
	src: url('WOFF2/IosevkaTerm-SemiExtendedThin.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaTerm Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: extra-expanded;
	font-style: normal;
	src: url('WOFF2/IosevkaTerm-ExtraExtendedThin.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaTerm Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: ultra-expanded;
	font-style: normal;
	src: url('WOFF2/IosevkaTerm-UltraExtendedThin.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaTerm Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2/IosevkaTerm-ThinOblique.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaTerm Web Oblique';
	font-display: swap;
	font-weight: 100;
	font-stretch: normal;
	src: url('WOFF2/IosevkaTerm-ThinOblique.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaTerm Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2/IosevkaTerm-ExtendedThinOblique.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaTerm Web Oblique';
	font-display: swap;
	font-weight: 100;
	font-stretch: expanded;
	src: url('WOFF2/IosevkaTerm-ExtendedThinOblique.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaTerm Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: condensed;
	font-style: oblique;
	src: url('WOFF2/IosevkaTerm-CondensedThinOblique.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaTerm Web Oblique';
	font-display: swap;
	font-weight: 100;
	font-stretch: condensed;
	src: url('WOFF2/IosevkaTerm-CondensedThinOblique.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaTerm Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: semi-condensed;
	font-style: oblique;
	src: url('WOFF2/IosevkaTerm-SemiCondensedThinOblique.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaTerm Web Oblique';
	font-display: swap;
	font-weight: 100;
	font-stretch: semi-condensed;
	src: url('WOFF2/IosevkaTerm-SemiCondensedThinOblique.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaTerm Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: semi-expanded;
	font-style: oblique;
	src: url('WOFF2/IosevkaTerm-SemiExtendedThinOblique.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaTerm Web Oblique';
	font-display: swap;
	font-weight: 100;
	font-stretch: semi-expanded;
	src: url('WOFF2/IosevkaTerm-SemiExtendedThinOblique.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaTerm Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: extra-expanded;
	font-style: oblique;
	src: url('WOFF2/IosevkaTerm-ExtraExtendedThinOblique.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaTerm Web Oblique';
	font-display: swap;
	font-weight: 100;
	font-stretch: extra-expanded;
	src: url('WOFF2/IosevkaTerm-ExtraExtendedThinOblique.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaTerm Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: ultra-expanded;
	font-style: oblique;
	src: url('WOFF2/IosevkaTerm-UltraExtendedThinOblique.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaTerm Web Oblique';
	font-display: swap;
	font-weight: 100;
	font-stretch: ultra-expanded;
	src: url('WOFF2/IosevkaTerm-UltraExtendedThinOblique.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaTerm Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2/IosevkaTerm-ThinItalic.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaTerm Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2/IosevkaTerm-ExtendedThinItalic.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaTerm Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: condensed;
	font-style: italic;
	src: url('WOFF2/IosevkaTerm-CondensedThinItalic.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaTerm Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: semi-condensed;
	font-style: italic;
	src: url('WOFF2/IosevkaTerm-SemiCondensedThinItalic.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaTerm Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: semi-expanded;
	font-style: italic;
	src: url('WOFF2/IosevkaTerm-SemiExtendedThinItalic.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaTerm Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: extra-expanded;
	font-style: italic;
	src: url('WOFF2/IosevkaTerm-ExtraExtendedThinItalic.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaTerm Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: ultra-expanded;
	font-style: italic;
	src: url('WOFF2/IosevkaTerm-UltraExtendedThinItalic.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaTerm Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2/IosevkaTerm-ExtraLight.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaTerm Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2/IosevkaTerm-ExtendedExtraLight.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaTerm Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: condensed;
	font-style: normal;
	src: url('WOFF2/IosevkaTerm-CondensedExtraLight.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaTerm Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: semi-condensed;
	font-style: normal;
	src: url('WOFF2/IosevkaTerm-SemiCondensedExtraLight.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaTerm Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: semi-expanded;
	font-style: normal;
	src: url('WOFF2/IosevkaTerm-SemiExtendedExtraLight.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaTerm Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: extra-expanded;
	font-style: normal;
	src: url('WOFF2/IosevkaTerm-ExtraExtendedExtraLight.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaTerm Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: ultra-expanded;
	font-style: normal;
	src: url('WOFF2/IosevkaTerm-UltraExtendedExtraLight.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaTerm Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2/IosevkaTerm-ExtraLightOblique.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaTerm Web Oblique';
	font-display: swap;
	font-weight: 200;
	font-stretch: normal;
	src: url('WOFF2/IosevkaTerm-ExtraLightOblique.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaTerm Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2/IosevkaTerm-ExtendedExtraLightOblique.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaTerm Web Oblique';
	font-display: swap;
	font-weight: 200;
	font-stretch: expanded;
	src: url('WOFF2/IosevkaTerm-ExtendedExtraLightOblique.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaTerm Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: condensed;
	font-style: oblique;
	src: url('WOFF2/IosevkaTerm-CondensedExtraLightOblique.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaTerm Web Oblique';
	font-display: swap;
	font-weight: 200;
	font-stretch: condensed;
	src: url('WOFF2/IosevkaTerm-CondensedExtraLightOblique.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaTerm Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: semi-condensed;
	font-style: oblique;
	src: url('WOFF2/IosevkaTerm-SemiCondensedExtraLightOblique.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaTerm Web Oblique';
	font-display: swap;
	font-weight: 200;
	font-stretch: semi-condensed;
	src: url('WOFF2/IosevkaTerm-SemiCondensedExtraLightOblique.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaTerm Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: semi-expanded;
	font-style: oblique;
	src: url('WOFF2/IosevkaTerm-SemiExtendedExtraLightOblique.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaTerm Web Oblique';
	font-display: swap;
	font-weight: 200;
	font-stretch: semi-expanded;
	src: url('WOFF2/IosevkaTerm-SemiExtendedExtraLightOblique.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaTerm Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: extra-expanded;
	font-style: oblique;
	src: url('WOFF2/IosevkaTerm-ExtraExtendedExtraLightOblique.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaTerm Web Oblique';
	font-display: swap;
	font-weight: 200;
	font-stretch: extra-expanded;
	src: url('WOFF2/IosevkaTerm-ExtraExtendedExtraLightOblique.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaTerm Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: ultra-expanded;
	font-style: oblique;
	src: url('WOFF2/IosevkaTerm-UltraExtendedExtraLightOblique.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaTerm Web Oblique';
	font-display: swap;
	font-weight: 200;
	font-stretch: ultra-expanded;
	src: url('WOFF2/IosevkaTerm-UltraExtendedExtraLightOblique.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaTerm Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2/IosevkaTerm-ExtraLightItalic.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaTerm Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2/IosevkaTerm-ExtendedExtraLightItalic.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaTerm Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: condensed;
	font-style: italic;
	src: url('WOFF2/IosevkaTerm-CondensedExtraLightItalic.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaTerm Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: semi-condensed;
	font-style: italic;
	src: url('WOFF2/IosevkaTerm-SemiCondensedExtraLightItalic.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaTerm Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: semi-expanded;
	font-style: italic;
	src: url('WOFF2/IosevkaTerm-SemiExtendedExtraLightItalic.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaTerm Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: extra-expanded;
	font-style: italic;
	src: url('WOFF2/IosevkaTerm-ExtraExtendedExtraLightItalic.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaTerm Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: ultra-expanded;
	font-style: italic;
	src: url('WOFF2/IosevkaTerm-UltraExtendedExtraLightItalic.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaTerm Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2/IosevkaTerm-Light.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaTerm Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2/IosevkaTerm-ExtendedLight.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaTerm Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: condensed;
	font-style: normal;
	src: url('WOFF2/IosevkaTerm-CondensedLight.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaTerm Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: semi-condensed;
	font-style: normal;
	src: url('WOFF2/IosevkaTerm-SemiCondensedLight.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaTerm Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: semi-expanded;
	font-style: normal;
	src: url('WOFF2/IosevkaTerm-SemiExtendedLight.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaTerm Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: extra-expanded;
	font-style: normal;
	src: url('WOFF2/IosevkaTerm-ExtraExtendedLight.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaTerm Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: ultra-expanded;
	font-style: normal;
	src: url('WOFF2/IosevkaTerm-UltraExtendedLight.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaTerm Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2/IosevkaTerm-LightOblique.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaTerm Web Oblique';
	font-display: swap;
	font-weight: 300;
	font-stretch: normal;
	src: url('WOFF2/IosevkaTerm-LightOblique.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaTerm Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2/IosevkaTerm-ExtendedLightOblique.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaTerm Web Oblique';
	font-display: swap;
	font-weight: 300;
	font-stretch: expanded;
	src: url('WOFF2/IosevkaTerm-ExtendedLightOblique.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaTerm Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: condensed;
	font-style: oblique;
	src: url('WOFF2/IosevkaTerm-CondensedLightOblique.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaTerm Web Oblique';
	font-display: swap;
	font-weight: 300;
	font-stretch: condensed;
	src: url('WOFF2/IosevkaTerm-CondensedLightOblique.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaTerm Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: semi-condensed;
	font-style: oblique;
	src: url('WOFF2/IosevkaTerm-SemiCondensedLightOblique.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaTerm Web Oblique';
	font-display: swap;
	font-weight: 300;
	font-stretch: semi-condensed;
	src: url('WOFF2/IosevkaTerm-SemiCondensedLightOblique.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaTerm Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: semi-expanded;
	font-style: oblique;
	src: url('WOFF2/IosevkaTerm-SemiExtendedLightOblique.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaTerm Web Oblique';
	font-display: swap;
	font-weight: 300;
	font-stretch: semi-expanded;
	src: url('WOFF2/IosevkaTerm-SemiExtendedLightOblique.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaTerm Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: extra-expanded;
	font-style: oblique;
	src: url('WOFF2/IosevkaTerm-ExtraExtendedLightOblique.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaTerm Web Oblique';
	font-display: swap;
	font-weight: 300;
	font-stretch: extra-expanded;
	src: url('WOFF2/IosevkaTerm-ExtraExtendedLightOblique.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaTerm Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: ultra-expanded;
	font-style: oblique;
	src: url('WOFF2/IosevkaTerm-UltraExtendedLightOblique.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaTerm Web Oblique';
	font-display: swap;
	font-weight: 300;
	font-stretch: ultra-expanded;
	src: url('WOFF2/IosevkaTerm-UltraExtendedLightOblique.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaTerm Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2/IosevkaTerm-LightItalic.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaTerm Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2/IosevkaTerm-ExtendedLightItalic.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaTerm Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: condensed;
	font-style: italic;
	src: url('WOFF2/IosevkaTerm-CondensedLightItalic.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaTerm Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: semi-condensed;
	font-style: italic;
	src: url('WOFF2/IosevkaTerm-SemiCondensedLightItalic.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaTerm Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: semi-expanded;
	font-style: italic;
	src: url('WOFF2/IosevkaTerm-SemiExtendedLightItalic.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaTerm Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: extra-expanded;
	font-style: italic;
	src: url('WOFF2/IosevkaTerm-ExtraExtendedLightItalic.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaTerm Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: ultra-expanded;
	font-style: italic;
	src: url('WOFF2/IosevkaTerm-UltraExtendedLightItalic.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaTerm Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2/IosevkaTerm-Regular.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaTerm Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2/IosevkaTerm-Extended.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaTerm Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: condensed;
	font-style: normal;
	src: url('WOFF2/IosevkaTerm-Condensed.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaTerm Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: semi-condensed;
	font-style: normal;
	src: url('WOFF2/IosevkaTerm-SemiCondensed.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaTerm Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: semi-expanded;
	font-style: normal;
	src: url('WOFF2/IosevkaTerm-SemiExtended.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaTerm Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: extra-expanded;
	font-style: normal;
	src: url('WOFF2/IosevkaTerm-ExtraExtended.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaTerm Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: ultra-expanded;
	font-style: normal;
	src: url('WOFF2/IosevkaTerm-UltraExtended.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaTerm Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2/IosevkaTerm-Oblique.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaTerm Web Oblique';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	src: url('WOFF2/IosevkaTerm-Oblique.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaTerm Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2/IosevkaTerm-ExtendedOblique.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaTerm Web Oblique';
	font-display: swap;
	font-weight: 400;
	font-stretch: expanded;
	src: url('WOFF2/IosevkaTerm-ExtendedOblique.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaTerm Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: condensed;
	font-style: oblique;
	src: url('WOFF2/IosevkaTerm-CondensedOblique.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaTerm Web Oblique';
	font-display: swap;
	font-weight: 400;
	font-stretch: condensed;
	src: url('WOFF2/IosevkaTerm-CondensedOblique.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaTerm Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: semi-condensed;
	font-style: oblique;
	src: url('WOFF2/IosevkaTerm-SemiCondensedOblique.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaTerm Web Oblique';
	font-display: swap;
	font-weight: 400;
	font-stretch: semi-condensed;
	src: url('WOFF2/IosevkaTerm-SemiCondensedOblique.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaTerm Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: semi-expanded;
	font-style: oblique;
	src: url('WOFF2/IosevkaTerm-SemiExtendedOblique.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaTerm Web Oblique';
	font-display: swap;
	font-weight: 400;
	font-stretch: semi-expanded;
	src: url('WOFF2/IosevkaTerm-SemiExtendedOblique.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaTerm Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: extra-expanded;
	font-style: oblique;
	src: url('WOFF2/IosevkaTerm-ExtraExtendedOblique.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaTerm Web Oblique';
	font-display: swap;
	font-weight: 400;
	font-stretch: extra-expanded;
	src: url('WOFF2/IosevkaTerm-ExtraExtendedOblique.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaTerm Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: ultra-expanded;
	font-style: oblique;
	src: url('WOFF2/IosevkaTerm-UltraExtendedOblique.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaTerm Web Oblique';
	font-display: swap;
	font-weight: 400;
	font-stretch: ultra-expanded;
	src: url('WOFF2/IosevkaTerm-UltraExtendedOblique.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaTerm Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2/IosevkaTerm-Italic.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaTerm Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2/IosevkaTerm-ExtendedItalic.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaTerm Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: condensed;
	font-style: italic;
	src: url('WOFF2/IosevkaTerm-CondensedItalic.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaTerm Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: semi-condensed;
	font-style: italic;
	src: url('WOFF2/IosevkaTerm-SemiCondensedItalic.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaTerm Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: semi-expanded;
	font-style: italic;
	src: url('WOFF2/IosevkaTerm-SemiExtendedItalic.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaTerm Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: extra-expanded;
	font-style: italic;
	src: url('WOFF2/IosevkaTerm-ExtraExtendedItalic.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaTerm Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: ultra-expanded;
	font-style: italic;
	src: url('WOFF2/IosevkaTerm-UltraExtendedItalic.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaTerm Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2/IosevkaTerm-Medium.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaTerm Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2/IosevkaTerm-ExtendedMedium.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaTerm Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: condensed;
	font-style: normal;
	src: url('WOFF2/IosevkaTerm-CondensedMedium.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaTerm Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: semi-condensed;
	font-style: normal;
	src: url('WOFF2/IosevkaTerm-SemiCondensedMedium.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaTerm Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: semi-expanded;
	font-style: normal;
	src: url('WOFF2/IosevkaTerm-SemiExtendedMedium.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaTerm Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: extra-expanded;
	font-style: normal;
	src: url('WOFF2/IosevkaTerm-ExtraExtendedMedium.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaTerm Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: ultra-expanded;
	font-style: normal;
	src: url('WOFF2/IosevkaTerm-UltraExtendedMedium.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaTerm Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2/IosevkaTerm-MediumOblique.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaTerm Web Oblique';
	font-display: swap;
	font-weight: 500;
	font-stretch: normal;
	src: url('WOFF2/IosevkaTerm-MediumOblique.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaTerm Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2/IosevkaTerm-ExtendedMediumOblique.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaTerm Web Oblique';
	font-display: swap;
	font-weight: 500;
	font-stretch: expanded;
	src: url('WOFF2/IosevkaTerm-ExtendedMediumOblique.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaTerm Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: condensed;
	font-style: oblique;
	src: url('WOFF2/IosevkaTerm-CondensedMediumOblique.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaTerm Web Oblique';
	font-display: swap;
	font-weight: 500;
	font-stretch: condensed;
	src: url('WOFF2/IosevkaTerm-CondensedMediumOblique.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaTerm Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: semi-condensed;
	font-style: oblique;
	src: url('WOFF2/IosevkaTerm-SemiCondensedMediumOblique.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaTerm Web Oblique';
	font-display: swap;
	font-weight: 500;
	font-stretch: semi-condensed;
	src: url('WOFF2/IosevkaTerm-SemiCondensedMediumOblique.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaTerm Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: semi-expanded;
	font-style: oblique;
	src: url('WOFF2/IosevkaTerm-SemiExtendedMediumOblique.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaTerm Web Oblique';
	font-display: swap;
	font-weight: 500;
	font-stretch: semi-expanded;
	src: url('WOFF2/IosevkaTerm-SemiExtendedMediumOblique.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaTerm Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: extra-expanded;
	font-style: oblique;
	src: url('WOFF2/IosevkaTerm-ExtraExtendedMediumOblique.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaTerm Web Oblique';
	font-display: swap;
	font-weight: 500;
	font-stretch: extra-expanded;
	src: url('WOFF2/IosevkaTerm-ExtraExtendedMediumOblique.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaTerm Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: ultra-expanded;
	font-style: oblique;
	src: url('WOFF2/IosevkaTerm-UltraExtendedMediumOblique.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaTerm Web Oblique';
	font-display: swap;
	font-weight: 500;
	font-stretch: ultra-expanded;
	src: url('WOFF2/IosevkaTerm-UltraExtendedMediumOblique.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaTerm Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2/IosevkaTerm-MediumItalic.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaTerm Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2/IosevkaTerm-ExtendedMediumItalic.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaTerm Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: condensed;
	font-style: italic;
	src: url('WOFF2/IosevkaTerm-CondensedMediumItalic.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaTerm Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: semi-condensed;
	font-style: italic;
	src: url('WOFF2/IosevkaTerm-SemiCondensedMediumItalic.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaTerm Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: semi-expanded;
	font-style: italic;
	src: url('WOFF2/IosevkaTerm-SemiExtendedMediumItalic.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaTerm Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: extra-expanded;
	font-style: italic;
	src: url('WOFF2/IosevkaTerm-ExtraExtendedMediumItalic.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaTerm Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: ultra-expanded;
	font-style: italic;
	src: url('WOFF2/IosevkaTerm-UltraExtendedMediumItalic.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaTerm Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2/IosevkaTerm-SemiBold.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaTerm Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2/IosevkaTerm-ExtendedSemiBold.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaTerm Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: condensed;
	font-style: normal;
	src: url('WOFF2/IosevkaTerm-CondensedSemiBold.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaTerm Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: semi-condensed;
	font-style: normal;
	src: url('WOFF2/IosevkaTerm-SemiCondensedSemiBold.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaTerm Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: semi-expanded;
	font-style: normal;
	src: url('WOFF2/IosevkaTerm-SemiExtendedSemiBold.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaTerm Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: extra-expanded;
	font-style: normal;
	src: url('WOFF2/IosevkaTerm-ExtraExtendedSemiBold.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaTerm Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: ultra-expanded;
	font-style: normal;
	src: url('WOFF2/IosevkaTerm-UltraExtendedSemiBold.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaTerm Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2/IosevkaTerm-SemiBoldOblique.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaTerm Web Oblique';
	font-display: swap;
	font-weight: 600;
	font-stretch: normal;
	src: url('WOFF2/IosevkaTerm-SemiBoldOblique.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaTerm Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2/IosevkaTerm-ExtendedSemiBoldOblique.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaTerm Web Oblique';
	font-display: swap;
	font-weight: 600;
	font-stretch: expanded;
	src: url('WOFF2/IosevkaTerm-ExtendedSemiBoldOblique.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaTerm Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: condensed;
	font-style: oblique;
	src: url('WOFF2/IosevkaTerm-CondensedSemiBoldOblique.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaTerm Web Oblique';
	font-display: swap;
	font-weight: 600;
	font-stretch: condensed;
	src: url('WOFF2/IosevkaTerm-CondensedSemiBoldOblique.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaTerm Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: semi-condensed;
	font-style: oblique;
	src: url('WOFF2/IosevkaTerm-SemiCondensedSemiBoldOblique.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaTerm Web Oblique';
	font-display: swap;
	font-weight: 600;
	font-stretch: semi-condensed;
	src: url('WOFF2/IosevkaTerm-SemiCondensedSemiBoldOblique.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaTerm Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: semi-expanded;
	font-style: oblique;
	src: url('WOFF2/IosevkaTerm-SemiExtendedSemiBoldOblique.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaTerm Web Oblique';
	font-display: swap;
	font-weight: 600;
	font-stretch: semi-expanded;
	src: url('WOFF2/IosevkaTerm-SemiExtendedSemiBoldOblique.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaTerm Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: extra-expanded;
	font-style: oblique;
	src: url('WOFF2/IosevkaTerm-ExtraExtendedSemiBoldOblique.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaTerm Web Oblique';
	font-display: swap;
	font-weight: 600;
	font-stretch: extra-expanded;
	src: url('WOFF2/IosevkaTerm-ExtraExtendedSemiBoldOblique.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaTerm Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: ultra-expanded;
	font-style: oblique;
	src: url('WOFF2/IosevkaTerm-UltraExtendedSemiBoldOblique.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaTerm Web Oblique';
	font-display: swap;
	font-weight: 600;
	font-stretch: ultra-expanded;
	src: url('WOFF2/IosevkaTerm-UltraExtendedSemiBoldOblique.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaTerm Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2/IosevkaTerm-SemiBoldItalic.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaTerm Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2/IosevkaTerm-ExtendedSemiBoldItalic.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaTerm Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: condensed;
	font-style: italic;
	src: url('WOFF2/IosevkaTerm-CondensedSemiBoldItalic.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaTerm Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: semi-condensed;
	font-style: italic;
	src: url('WOFF2/IosevkaTerm-SemiCondensedSemiBoldItalic.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaTerm Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: semi-expanded;
	font-style: italic;
	src: url('WOFF2/IosevkaTerm-SemiExtendedSemiBoldItalic.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaTerm Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: extra-expanded;
	font-style: italic;
	src: url('WOFF2/IosevkaTerm-ExtraExtendedSemiBoldItalic.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaTerm Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: ultra-expanded;
	font-style: italic;
	src: url('WOFF2/IosevkaTerm-UltraExtendedSemiBoldItalic.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaTerm Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2/IosevkaTerm-Bold.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaTerm Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2/IosevkaTerm-ExtendedBold.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaTerm Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: condensed;
	font-style: normal;
	src: url('WOFF2/IosevkaTerm-CondensedBold.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaTerm Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: semi-condensed;
	font-style: normal;
	src: url('WOFF2/IosevkaTerm-SemiCondensedBold.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaTerm Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: semi-expanded;
	font-style: normal;
	src: url('WOFF2/IosevkaTerm-SemiExtendedBold.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaTerm Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: extra-expanded;
	font-style: normal;
	src: url('WOFF2/IosevkaTerm-ExtraExtendedBold.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaTerm Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: ultra-expanded;
	font-style: normal;
	src: url('WOFF2/IosevkaTerm-UltraExtendedBold.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaTerm Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2/IosevkaTerm-BoldOblique.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaTerm Web Oblique';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	src: url('WOFF2/IosevkaTerm-BoldOblique.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaTerm Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2/IosevkaTerm-ExtendedBoldOblique.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaTerm Web Oblique';
	font-display: swap;
	font-weight: 700;
	font-stretch: expanded;
	src: url('WOFF2/IosevkaTerm-ExtendedBoldOblique.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaTerm Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: condensed;
	font-style: oblique;
	src: url('WOFF2/IosevkaTerm-CondensedBoldOblique.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaTerm Web Oblique';
	font-display: swap;
	font-weight: 700;
	font-stretch: condensed;
	src: url('WOFF2/IosevkaTerm-CondensedBoldOblique.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaTerm Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: semi-condensed;
	font-style: oblique;
	src: url('WOFF2/IosevkaTerm-SemiCondensedBoldOblique.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaTerm Web Oblique';
	font-display: swap;
	font-weight: 700;
	font-stretch: semi-condensed;
	src: url('WOFF2/IosevkaTerm-SemiCondensedBoldOblique.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaTerm Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: semi-expanded;
	font-style: oblique;
	src: url('WOFF2/IosevkaTerm-SemiExtendedBoldOblique.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaTerm Web Oblique';
	font-display: swap;
	font-weight: 700;
	font-stretch: semi-expanded;
	src: url('WOFF2/IosevkaTerm-SemiExtendedBoldOblique.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaTerm Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: extra-expanded;
	font-style: oblique;
	src: url('WOFF2/IosevkaTerm-ExtraExtendedBoldOblique.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaTerm Web Oblique';
	font-display: swap;
	font-weight: 700;
	font-stretch: extra-expanded;
	src: url('WOFF2/IosevkaTerm-ExtraExtendedBoldOblique.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaTerm Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: ultra-expanded;
	font-style: oblique;
	src: url('WOFF2/IosevkaTerm-UltraExtendedBoldOblique.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaTerm Web Oblique';
	font-display: swap;
	font-weight: 700;
	font-stretch: ultra-expanded;
	src: url('WOFF2/IosevkaTerm-UltraExtendedBoldOblique.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaTerm Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2/IosevkaTerm-BoldItalic.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaTerm Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2/IosevkaTerm-ExtendedBoldItalic.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaTerm Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: condensed;
	font-style: italic;
	src: url('WOFF2/IosevkaTerm-CondensedBoldItalic.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaTerm Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: semi-condensed;
	font-style: italic;
	src: url('WOFF2/IosevkaTerm-SemiCondensedBoldItalic.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaTerm Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: semi-expanded;
	font-style: italic;
	src: url('WOFF2/IosevkaTerm-SemiExtendedBoldItalic.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaTerm Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: extra-expanded;
	font-style: italic;
	src: url('WOFF2/IosevkaTerm-ExtraExtendedBoldItalic.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaTerm Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: ultra-expanded;
	font-style: italic;
	src: url('WOFF2/IosevkaTerm-UltraExtendedBoldItalic.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaTerm Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2/IosevkaTerm-ExtraBold.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaTerm Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2/IosevkaTerm-ExtendedExtraBold.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaTerm Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: condensed;
	font-style: normal;
	src: url('WOFF2/IosevkaTerm-CondensedExtraBold.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaTerm Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: semi-condensed;
	font-style: normal;
	src: url('WOFF2/IosevkaTerm-SemiCondensedExtraBold.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaTerm Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: semi-expanded;
	font-style: normal;
	src: url('WOFF2/IosevkaTerm-SemiExtendedExtraBold.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaTerm Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: extra-expanded;
	font-style: normal;
	src: url('WOFF2/IosevkaTerm-ExtraExtendedExtraBold.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaTerm Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: ultra-expanded;
	font-style: normal;
	src: url('WOFF2/IosevkaTerm-UltraExtendedExtraBold.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaTerm Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2/IosevkaTerm-ExtraBoldOblique.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaTerm Web Oblique';
	font-display: swap;
	font-weight: 800;
	font-stretch: normal;
	src: url('WOFF2/IosevkaTerm-ExtraBoldOblique.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaTerm Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2/IosevkaTerm-ExtendedExtraBoldOblique.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaTerm Web Oblique';
	font-display: swap;
	font-weight: 800;
	font-stretch: expanded;
	src: url('WOFF2/IosevkaTerm-ExtendedExtraBoldOblique.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaTerm Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: condensed;
	font-style: oblique;
	src: url('WOFF2/IosevkaTerm-CondensedExtraBoldOblique.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaTerm Web Oblique';
	font-display: swap;
	font-weight: 800;
	font-stretch: condensed;
	src: url('WOFF2/IosevkaTerm-CondensedExtraBoldOblique.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaTerm Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: semi-condensed;
	font-style: oblique;
	src: url('WOFF2/IosevkaTerm-SemiCondensedExtraBoldOblique.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaTerm Web Oblique';
	font-display: swap;
	font-weight: 800;
	font-stretch: semi-condensed;
	src: url('WOFF2/IosevkaTerm-SemiCondensedExtraBoldOblique.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaTerm Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: semi-expanded;
	font-style: oblique;
	src: url('WOFF2/IosevkaTerm-SemiExtendedExtraBoldOblique.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaTerm Web Oblique';
	font-display: swap;
	font-weight: 800;
	font-stretch: semi-expanded;
	src: url('WOFF2/IosevkaTerm-SemiExtendedExtraBoldOblique.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaTerm Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: extra-expanded;
	font-style: oblique;
	src: url('WOFF2/IosevkaTerm-ExtraExtendedExtraBoldOblique.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaTerm Web Oblique';
	font-display: swap;
	font-weight: 800;
	font-stretch: extra-expanded;
	src: url('WOFF2/IosevkaTerm-ExtraExtendedExtraBoldOblique.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaTerm Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: ultra-expanded;
	font-style: oblique;
	src: url('WOFF2/IosevkaTerm-UltraExtendedExtraBoldOblique.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaTerm Web Oblique';
	font-display: swap;
	font-weight: 800;
	font-stretch: ultra-expanded;
	src: url('WOFF2/IosevkaTerm-UltraExtendedExtraBoldOblique.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaTerm Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2/IosevkaTerm-ExtraBoldItalic.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaTerm Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2/IosevkaTerm-ExtendedExtraBoldItalic.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaTerm Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: condensed;
	font-style: italic;
	src: url('WOFF2/IosevkaTerm-CondensedExtraBoldItalic.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaTerm Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: semi-condensed;
	font-style: italic;
	src: url('WOFF2/IosevkaTerm-SemiCondensedExtraBoldItalic.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaTerm Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: semi-expanded;
	font-style: italic;
	src: url('WOFF2/IosevkaTerm-SemiExtendedExtraBoldItalic.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaTerm Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: extra-expanded;
	font-style: italic;
	src: url('WOFF2/IosevkaTerm-ExtraExtendedExtraBoldItalic.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaTerm Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: ultra-expanded;
	font-style: italic;
	src: url('WOFF2/IosevkaTerm-UltraExtendedExtraBoldItalic.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaTerm Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2/IosevkaTerm-Heavy.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaTerm Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2/IosevkaTerm-ExtendedHeavy.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaTerm Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: condensed;
	font-style: normal;
	src: url('WOFF2/IosevkaTerm-CondensedHeavy.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaTerm Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: semi-condensed;
	font-style: normal;
	src: url('WOFF2/IosevkaTerm-SemiCondensedHeavy.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaTerm Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: semi-expanded;
	font-style: normal;
	src: url('WOFF2/IosevkaTerm-SemiExtendedHeavy.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaTerm Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: extra-expanded;
	font-style: normal;
	src: url('WOFF2/IosevkaTerm-ExtraExtendedHeavy.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaTerm Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: ultra-expanded;
	font-style: normal;
	src: url('WOFF2/IosevkaTerm-UltraExtendedHeavy.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaTerm Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2/IosevkaTerm-HeavyOblique.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaTerm Web Oblique';
	font-display: swap;
	font-weight: 900;
	font-stretch: normal;
	src: url('WOFF2/IosevkaTerm-HeavyOblique.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaTerm Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2/IosevkaTerm-ExtendedHeavyOblique.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaTerm Web Oblique';
	font-display: swap;
	font-weight: 900;
	font-stretch: expanded;
	src: url('WOFF2/IosevkaTerm-ExtendedHeavyOblique.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaTerm Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: condensed;
	font-style: oblique;
	src: url('WOFF2/IosevkaTerm-CondensedHeavyOblique.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaTerm Web Oblique';
	font-display: swap;
	font-weight: 900;
	font-stretch: condensed;
	src: url('WOFF2/IosevkaTerm-CondensedHeavyOblique.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaTerm Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: semi-condensed;
	font-style: oblique;
	src: url('WOFF2/IosevkaTerm-SemiCondensedHeavyOblique.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaTerm Web Oblique';
	font-display: swap;
	font-weight: 900;
	font-stretch: semi-condensed;
	src: url('WOFF2/IosevkaTerm-SemiCondensedHeavyOblique.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaTerm Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: semi-expanded;
	font-style: oblique;
	src: url('WOFF2/IosevkaTerm-SemiExtendedHeavyOblique.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaTerm Web Oblique';
	font-display: swap;
	font-weight: 900;
	font-stretch: semi-expanded;
	src: url('WOFF2/IosevkaTerm-SemiExtendedHeavyOblique.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaTerm Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: extra-expanded;
	font-style: oblique;
	src: url('WOFF2/IosevkaTerm-ExtraExtendedHeavyOblique.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaTerm Web Oblique';
	font-display: swap;
	font-weight: 900;
	font-stretch: extra-expanded;
	src: url('WOFF2/IosevkaTerm-ExtraExtendedHeavyOblique.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaTerm Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: ultra-expanded;
	font-style: oblique;
	src: url('WOFF2/IosevkaTerm-UltraExtendedHeavyOblique.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaTerm Web Oblique';
	font-display: swap;
	font-weight: 900;
	font-stretch: ultra-expanded;
	src: url('WOFF2/IosevkaTerm-UltraExtendedHeavyOblique.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaTerm Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2/IosevkaTerm-HeavyItalic.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaTerm Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2/IosevkaTerm-ExtendedHeavyItalic.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaTerm Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: condensed;
	font-style: italic;
	src: url('WOFF2/IosevkaTerm-CondensedHeavyItalic.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaTerm Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: semi-condensed;
	font-style: italic;
	src: url('WOFF2/IosevkaTerm-SemiCondensedHeavyItalic.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaTerm Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: semi-expanded;
	font-style: italic;
	src: url('WOFF2/IosevkaTerm-SemiExtendedHeavyItalic.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaTerm Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: extra-expanded;
	font-style: italic;
	src: url('WOFF2/IosevkaTerm-ExtraExtendedHeavyItalic.woff2') format('woff2');
}

@font-face {
	font-family: 'IosevkaTerm Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: ultra-expanded;
	font-style: italic;
	src: url('WOFF2/IosevkaTerm-UltraExtendedHeavyItalic.woff2') format('woff2');
}
