:root {
  --callout-simple-color: rgba(90, 90, 90, 20);
  --callout-simple-title-color: rgba(90, 90, 90, 100);
  --callout-border-hover-color: rgba(229, 153, 247, 100);
  --tight-code-line-height: 18px;
  --tight-code-padding-top: 5px;
}

.callout, .callout-style-simple, .callout-tip, .callout-caution, .callout-warning, .callout-error, .callout-note, .callout-important {
  border-radius: 0.25rem!important;
  box-shadow: RGBA(0, 0, 0, 0.1) 0px 2px 2px;
}

.callout.callout-style-simple, .callout-simple, .callout-tip {
  border-radius: 0.25rem!important;
}

/* .callout.callout-style-simple { */
/*   border-radius: 6px !important; */
/*   opacity: 100% !important; */
/*   display: -webkit-inline-box; */
/* } */

/**/
/* .callout.callout-style-default .callout-icon::before, */
/* .callout.callout-style-simple .callout-icon::before { */
/*   /* height: 1.1rem !important; */ */
/*   /* width: 1.1rem !important; */ */
/*   display: inline-flex; */
/*   content: ""; */
/*   background-repeat: no-repeat; */
/* } */
/**/
/* .callout.callout-style-simple .callout-icon::before, */
/* .callout.callout-style-simple .callout-toggle::before { */
/*   height: 1.1rem !important; */
/*   width: 1.1rem !important; */
/*   place-self: start; */
/*   display: inline-block; */
/*   content: ""; */
/*   background-repeat: no-repeat; */
/*   background-size: 1.1rem 1.1rem !important; */
/* } */
/**/
/* .callout.callout-style-default .callout-icon::before, */
/* .callout.callout-style-default .callout-toggle::before { */
/*   height: 1.1rem; */
/*   width: 1.1rem; */
/*   display: inline-block; */
/*   content: ""; */
/*   background-repeat: no-repeat; */
/*   background-size: 1.1rem 1.1rem; */
/* } */


/* .callout.callout-style-simple { */
/*     opacity: 100% !important; */
/*     display: -webkit-inline-box; */
/*     box-shadow: RGBA(0, 0, 0, 0.1) 0px 2px 2px; */
/*     border-radius: 0.25rem !important; */
/* } */

.callout:hover {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 10px 30px;
}

div.callout-caution .callout-icon::before {
  color: #e599f7 !important;
  background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><!--! Font Awesome Pro 6.2.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. --><path fill="rgb(229, 153, 247)" d="M448 352V48C448 21.53 426.5 0 400 0h-320C35.89 0 0 35.88 0 80v352C0 476.1 35.89 512 80 512h344c13.25 0 24-10.75 24-24s-10.75-24-24-24H416v-66.95C434.6 390.4 448 372.8 448 352zM368 464h-288c-17.64 0-32-14.34-32-32s14.36-32 32-32h288V464zM400 352h-320c-11.38 0-22.2 2.375-32 6.688V80c0-17.66 14.36-32 32-32h320V352zM152 160h176C341.3 160 352 149.3 352 136S341.3 112 328 112h-176C138.8 112 128 122.8 128 136S138.8 160 152 160zM152 240h176C341.3 240 352 229.3 352 216S341.3 192 328 192h-176C138.8 192 128 202.8 128 216S138.8 240 152 240z"/></svg>') !important;
}

div.callout-note .callout-icon::before {
  color: #4582ec !important;
  background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><!--! Font Awesome Pro 6.2.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. --><path fill="rgb(69,130,236)" d="M366.4 213.5L412.2 221.1C414.7 232.4 416 244 416 256C416 344.4 344.4 416 256 416C167.6 416 96 344.4 96 256C96 167.6 167.6 96 256 96C267.1 96 279.6 97.32 290.9 99.81L298.5 145.6L293.6 150.5C281.9 146.3 269.2 143.1 256 143.1C194.1 143.1 144 194.1 144 255.1C144 317.9 194.1 368 256 368C317.9 368 368 317.9 368 255.1C368 242.8 365.7 230.1 361.5 218.4L366.4 213.5zM497.7 171.5C506.1 197.1 512 226.4 512 256C512 397.4 397.4 512 256 512C114.6 512 0 397.4 0 256C0 114.6 114.6 0 256 0C285.6 0 314 5.024 340.5 14.27L301.7 53.04C286.1 49.74 271.7 48 256 48C141.1 48 48 141.1 48 256C48 370.9 141.1 464 256 464C370.9 464 464 370.9 464 256C464 240.3 462.3 225 458.1 210.3L497.7 171.5zM272.1 272.1C263.6 282.3 248.4 282.3 239 272.1C229.7 263.6 229.7 248.4 239 239L331.2 146.9L322.7 96.24C321 86.05 324.3 75.66 331.6 68.36L382.8 17.16C390.1 9.035 404.7 11.86 409 22.53L432 79.1L489.5 102.1C500.1 107.3 502.1 121 494.8 129.2L443.6 180.4C436.3 187.7 425.9 190.1 415.8 189.3L365.1 180.8L272.1 272.1z"/></svg>') !important;
}

div.callout-important .callout-icon::before {
  color: #ff5252 !important;
  background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512"><!--! Font Awesome Pro 6.2.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. --><path fill="rgb(255, 82, 82)" d="M215.1 23.88c0-23.75-31.15-33.15-44.15-13.03C76.47 158.1 200 238.7 200 287.1c0 22-18 40-40 40c-22 0-40-18-40-40V182.1c0-19.38-21.88-30.75-37.75-19.63C30.75 198.4 0 257.2 0 319.1C0 425.9 86.12 512 192 512s192-86.12 192-192C384 149.7 215.1 127 215.1 23.88zM192 463.1c-79.38 0-144-64.63-144-144c0-28.63 8.5-64.75 24-88v56c0 48.5 39.5 88 88 88s88-39.5 88-88c0-64.25-88-120-64-208C224 167.1 336 201.7 336 319.1C336 399.4 271.4 463.1 192 463.1z"/></svg>') !important;
}

div.callout-warning .callout-icon::before {
  color: #fd971f !important;
  background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><!--! Font Awesome Pro 6.2.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. --><path fill="rgb(253,151,31)" d="M200.7 128C270.7 128 337.9 100.2 387.4 50.68L425.4 12.69C445.5-7.472 480 6.805 480 35.31V179.6C498.6 188.4 512 212.1 512 240C512 267.9 498.6 291.6 480 300.4V444.7C480 473.2 445.5 487.5 425.4 467.3L387.4 429.3C339.6 381.5 275.4 353.1 208 352.1V456C208 486.9 182.9 512 152 512H120C89.07 512 64 486.9 64 456V352C28.65 352 0 323.3 0 288V192C0 156.7 28.65 128 64 128L200.7 128zM432 73.94L421.3 84.62C364.5 141.4 288.1 174 208 175.9V304.1C288.1 305.1 364.5 338.6 421.3 395.4L432 406.1V73.94zM112 456C112 460.4 115.6 464 120 464H152C156.4 464 160 460.4 160 456V352H112V456zM48 192V288C48 296.8 55.16 303.1 64 303.1H160V176H64C55.16 176 48 183.2 48 192V192z"/></svg>') !important;
}

div.callout-tip .callout-icon::before {
  color: #02b875 !important;
  background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 512"><!--! Font Awesome Pro 6.2.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. --><path fill="rgb(2,184,117)" d="M414.9 31.11L270.9 495.1C266.1 507.8 253.5 514.8 240.9 510.9C228.2 506.1 221.1 493.5 225.1 480.9L369.1 16.89C373 4.226 386.5-2.852 399.1 1.077C411.8 5.006 418.9 18.45 414.9 31.11V31.11zM504.4 118.5L632.4 238.5C637.3 243 640 249.4 640 255.1C640 262.6 637.3 268.1 632.4 273.5L504.4 393.5C494.7 402.6 479.6 402.1 470.5 392.4C461.4 382.7 461.9 367.6 471.6 358.5L580.9 255.1L471.6 153.5C461.9 144.4 461.4 129.3 470.5 119.6C479.6 109.9 494.7 109.4 504.4 118.5V118.5zM168.4 153.5L59.09 255.1L168.4 358.5C178.1 367.6 178.6 382.7 169.5 392.4C160.4 402.1 145.3 402.6 135.6 393.5L7.585 273.5C2.746 268.1 0 262.6 0 255.1C0 249.4 2.746 243 7.585 238.5L135.6 118.5C145.3 109.4 160.4 109.9 169.5 119.6C178.6 129.3 178.1 144.4 168.4 153.5V153.5z"/></svg>') !important;
}


h1, h2, h3, h4, h5, h6 {
  font-family: "IBM Plex Sans Condensed", sans-serif;
}


/* Utility class for code blocks that contain things like box drawing characters, where it's nice for things to touch. */
.tight-code pre,
pre.tight-code {
  padding-top: var(--tight-code-padding-top);
}

pre.tight-code code,
.tight-code pre code {
  line-height: var(--tight-code-line-height);
}

/* ----- Code ---------------------------------------------------------- {{{ */

/* Pandoc code blocks with a language look like div.sourceCode > pre.sourceCode
 * Otherwise, it's just a pre (without .sourceCode)
 *
 * The 'code' element is tricky because it's used for inline code and code in a
 * pre.
 */

/* code { */
/*   font-family: var(--font-family-code); */
/**/
/*   word-spacing: normal; */
/**/
/*   /* Only for inline code */ */
/*   color: var(--color-inline-code); */
/*   background-color: var(--color-inline-code-bg); */
/*   font-size: var(--inline-code-font-size); */
/*   margin: 0; */
/*   padding: 2px 0 1px; */
/*   border: 1px solid var(--color-border); */
/*   border-radius: 1px; */
/* } */
/**/
/* .sidenote code, */
/* .marginnote code { */
/*   font-size: var(--side-note-code-font-size); */
/* } */
/**/
/* pre code { */
/*   /* Reset some changes meant to be inline-only */ */
/*   color: inherit; */
/*   background-color: inherit; */
/*   font-size: var(--code-block-font-size); */
/*   line-height: var(--line-height); */
/*   margin: initial; */
/*   padding: initial; */
/*   border: initial; */
/*   border-radius: initial; */
/* } */
/**/
/* pre > code { */
/*   position: relative; /* For line highlights */ */
/*   display: inline-block; */
/*   min-width: 100%; */
/*   z-index: 1; */
/**/
/*   white-space: pre-wrap; */
/**/
/*   padding: 0 var(--code-block-side-padding); */
/* } */
/**/
/* code.sourceCode::selection { */
/*   /* Prevent bug where far right edge of text box shows as selected. */ */
/*   background: transparent; */
/* } */
/**/
/* .wide > pre, .wide > div.sourceCode { */
/*   /* Put this in front of the table of contents */ */
/*   transform: translateZ(0px); */
/* } */
/**/
/* .wide pre > code { */
/*   white-space: pre; */
/* } */
/**/
/* pre.numberSource code { */
/*   counter-reset: source-line 0; */
/* } */
/**/
/* pre > code.sourceCode > span { */
/*   line-height: var(--line-height); */
/**/
/*   display: inline-block; */
/*   min-width: 100%; */
/* } */
/**/
/* div.sourceCode { */
/*   /* Need to make room for line numbers (even if they're not going to be used). */
/*    * Width doesn't matter, just needs to be big enough to hold the largest line */
/*    * number. */ */
/*   --line-numbers-width: calc(4 * var(--line-numbers-font-size)); */
/*   --line-numbers-negative-width: calc(-1 * var(--line-numbers-width)); */
/*   margin-left: var(--line-numbers-negative-width); */
/* } */
/* div.sourceCode > pre { */
/*   margin-left: var(--line-numbers-width); */
/* } */
/* pre.numberSource > code.sourceCode > span { */
/*   counter-increment: source-line; */
/*   padding-left: var(--line-numbers-width); */
/*   text-indent: var(--line-numbers-negative-width); */
/*   position: relative; */
/*   left: var(--line-numbers-negative-width); */
/* } */
/* pre.numberSource > code.sourceCode > span > a:first-child::before { */
/*   -webkit-touch-callout: none; */
/*   -webkit-user-select: none; */
/*   -khtml-user-select: none; */
/*   -moz-user-select: none; */
/*   -ms-user-select: none; */
/*   user-select: none; */
/**/
/*   content: counter(source-line); */
/*   font-size: var(--line-numbers-font-size); */
/*   text-decoration: none; */
/**/
/*   position: relative; */
/*   text-align: right; */
/*   display: inline-block; */
/**/
/*   padding: 0 calc(2 * var(--code-block-side-padding)); */
/*   width: var(--line-numbers-width); */
/* } */
/* pre > code.sourceCode > span > a:first-child::before:hover { */
/*   text-decoration: underline; */
/* } */
/**/
/* /* Utility class for code blocks that contain things like box drawing characters, where it's nice for things to touch. */ */
/* .tight-code pre, */
/* pre.tight-code { */
/*   padding-top: var(--tight-code-padding-top); */
/* } */
/**/
/* pre.tight-code code, */
/* .tight-code pre code { */
/*   line-height: var(--tight-code-line-height); */
/* } */
/**/
/* /* --- Code line highlights --- {{{ */ */
/* /* I used some code I contributed to owickstrom's pandoc-emphasize-code[1] as */
/*  * inspiration for these changes. */
/*  * */
/*  * The novel part is using :nth-of-type(...) selectors and CSS classes, instead */
/*  * of needing a pandoc filter. This means that we can stick with pandoc's */
/*  * default syntax highlighter, and not need to requirer JavaScript for syntax */
/*  * highlighting. It has the obvious limitation that it places a fixed limit on */
/*  * lines that can be highlighted, but these additional CSS styles are easy */
/*  * enough to write, so anyone who needs more lines can write their own */
/*  * stylesheet and include it to add more after the fact. */
/*  * */
/*  * [1] https://github.com/owickstrom/pandoc-emphasize-code/pull/3 */
/*  */ */
/**/
/* pre > code.sourceCode > span::after { */
/*   position: absolute; */
/*   background-color: var(--color-code-highlight-bg); */
/*   z-index: -1; */
/*   left: calc(var(--line-numbers-width) - var(--code-block-side-padding)); */
/*   right: calc(var(--line-numbers-negative-width) - var(--code-block-side-padding)); */
/*   top: 0; */
/*   height: 100%; */
/* } */
/**/
/* pre.hl-1  > code.sourceCode > span:nth-of-type(1)::after  { content: ""; } */
/* pre.hl-2  > code.sourceCode > span:nth-of-type(2)::after  { content: ""; } */
/* pre.hl-3  > code.sourceCode > span:nth-of-type(3)::after  { content: ""; } */
/* pre.hl-4  > code.sourceCode > span:nth-of-type(4)::after  { content: ""; } */
/* pre.hl-5  > code.sourceCode > span:nth-of-type(5)::after  { content: ""; } */
/* pre.hl-6  > code.sourceCode > span:nth-of-type(6)::after  { content: ""; } */
/* pre.hl-7  > code.sourceCode > span:nth-of-type(7)::after  { content: ""; } */
/* pre.hl-8  > code.sourceCode > span:nth-of-type(8)::after  { content: ""; } */
/* pre.hl-9  > code.sourceCode > span:nth-of-type(9)::after  { content: ""; } */
/* pre.hl-10 > code.sourceCode > span:nth-of-type(10)::after { content: ""; } */
/* pre.hl-11 > code.sourceCode > span:nth-of-type(11)::after { content: ""; } */
/* pre.hl-12 > code.sourceCode > span:nth-of-type(12)::after { content: ""; } */
/* pre.hl-13 > code.sourceCode > span:nth-of-type(13)::after { content: ""; } */
/* pre.hl-14 > code.sourceCode > span:nth-of-type(14)::after { content: ""; } */
/* pre.hl-15 > code.sourceCode > span:nth-of-type(15)::after { content: ""; } */
/* pre.hl-16 > code.sourceCode > span:nth-of-type(16)::after { content: ""; } */
/* pre.hl-17 > code.sourceCode > span:nth-of-type(17)::after { content: ""; } */
/* pre.hl-18 > code.sourceCode > span:nth-of-type(18)::after { content: ""; } */
/* pre.hl-19 > code.sourceCode > span:nth-of-type(19)::after { content: ""; } */
/* pre.hl-20 > code.sourceCode > span:nth-of-type(20)::after { content: ""; } */
/* pre.hl-21 > code.sourceCode > span:nth-of-type(21)::after { content: ""; } */
/* pre.hl-22 > code.sourceCode > span:nth-of-type(22)::after { content: ""; } */
/* pre.hl-23 > code.sourceCode > span:nth-of-type(23)::after { content: ""; } */
/* pre.hl-24 > code.sourceCode > span:nth-of-type(24)::after { content: ""; } */
/* pre.hl-25 > code.sourceCode > span:nth-of-type(25)::after { content: ""; } */
/* pre.hl-26 > code.sourceCode > span:nth-of-type(26)::after { content: ""; } */
/* pre.hl-27 > code.sourceCode > span:nth-of-type(27)::after { content: ""; } */
/* pre.hl-28 > code.sourceCode > span:nth-of-type(28)::after { content: ""; } */
/* pre.hl-29 > code.sourceCode > span:nth-of-type(29)::after { content: ""; } */
/* pre.hl-30 > code.sourceCode > span:nth-of-type(30)::after { content: ""; } */
/* pre.hl-31 > code.sourceCode > span:nth-of-type(31)::after { content: ""; } */
/* pre.hl-32 > code.sourceCode > span:nth-of-type(32)::after { content: ""; } */
/* pre.hl-33 > code.sourceCode > span:nth-of-type(33)::after { content: ""; } */
/* pre.hl-34 > code.sourceCode > span:nth-of-type(34)::after { content: ""; } */
/* pre.hl-35 > code.sourceCode > span:nth-of-type(35)::after { content: ""; } */
/* pre.hl-36 > code.sourceCode > span:nth-of-type(36)::after { content: ""; } */
/* pre.hl-37 > code.sourceCode > span:nth-of-type(37)::after { content: ""; } */
/* pre.hl-38 > code.sourceCode > span:nth-of-type(38)::after { content: ""; } */
/* pre.hl-39 > code.sourceCode > span:nth-of-type(39)::after { content: ""; } */
/* pre.hl-40 > code.sourceCode > span:nth-of-type(40)::after { content: ""; } */
/**/
/* /* }}} */ */
/**/
/* /* }}} */ */
/**/
