.quarto-title-banner .code-tools-button>.bi::before {
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="rgb(80, 80, 80)" viewBox="0 0 16 16"><path d="M10.478 1.647a.5.5 0 1 0-.956-.294l-4 13a.5.5 0 0 0 .956.294l4-13zM4.854 4.146a.5.5 0 0 1 0 .708L1.707 8l3.147 3.146a.5.5 0 0 1-.708.708l-3.5-3.5a.5.5 0 0 1 0-.708l3.5-3.5a.5.5 0 0 1 .708 0zm6.292 0a.5.5 0 0 0 0 .708L14.293 8l-3.147 3.146a.5.5 0 0 0 .708.708l3.5-3.5a.5.5 0 0 0 0-.708l-3.5-3.5a.5.5 0 0 0-.708 0z"/></svg>')
}

.quarto-title-banner .code-tools-button:hover>.bi::before {
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="rgb(131, 131, 131)" viewBox="0 0 16 16"><path d="M10.478 1.647a.5.5 0 1 0-.956-.294l-4 13a.5.5 0 0 0 .956.294l4-13zM4.854 4.146a.5.5 0 0 1 0 .708L1.707 8l3.147 3.146a.5.5 0 0 1-.708.708l-3.5-3.5a.5.5 0 0 1 0-.708l3.5-3.5a.5.5 0 0 1 .708 0zm6.292 0a.5.5 0 0 0 0 .708L14.293 8l-3.147 3.146a.5.5 0 0 0 .708.708l3.5-3.5a.5.5 0 0 0 0-.708l-3.5-3.5a.5.5 0 0 0-.708 0z"/></svg>')
}

.quarto-title-banner .quarto-title .title {
    font-weight: 600
}

.quarto-title-banner .quarto-categories {
    margin-top: .75em
}

@media(min-width: 992px) {
    .quarto-title-banner {
        padding-top: 2.5em;
        padding-bottom: 2.5em
    }
}

@media(max-width: 991.98px) {
    .quarto-title-banner {
        padding-top: 1em;
        padding-bottom: 1em
    }
}

@media(max-width: 767.98px) {
    body.hypothesis-enabled #title-block-header>* {
        padding-right: 20px
    }
}

main.quarto-banner-title-block>section:first-child>h2,
main.quarto-banner-title-block>section:first-child>.h2,
main.quarto-banner-title-block>section:first-child>h3,
main.quarto-banner-title-block>section:first-child>.h3,
main.quarto-banner-title-block>section:first-child>h4,
main.quarto-banner-title-block>section:first-child>.h4 {
    margin-top: 0
}

.quarto-title .quarto-categories {
    display: flex;
    flex-wrap: wrap;
    row-gap: .5em;
    column-gap: .4em;
    padding-bottom: .5em;
    margin-top: .75em
}

.quarto-title .quarto-categories .quarto-category {
    padding: .25em .75em;
    font-size: .65em;
    text-transform: none;
    border: solid 1px;
    border-radius: .25rem;
    opacity: .6
}

.quarto-title .quarto-categories .quarto-category a {
    color: inherit
}

.quarto-title-meta-container {
    display: grid;
    grid-template-columns: 1fr auto
}

.quarto-title-meta-column-end {
    display: flex;
    flex-direction: column;
    padding-left: 1em
}

.quarto-title-meta-column-end a .bi {
    margin-right: .3em
}

#title-block-header.quarto-title-block.default .quarto-title-meta {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 1em
}

#title-block-header.quarto-title-block.default .quarto-title .title {
    margin-bottom: 0
}

#title-block-header.quarto-title-block.default .quarto-title-author-orcid img {
    margin-top: -0.2em;
    height: .8em;
    width: .8em
}

#title-block-header.quarto-title-block.default .quarto-title-author-email {
    opacity: .7
}

#title-block-header.quarto-title-block.default .quarto-description p:last-of-type {
    margin-bottom: 0
}

#title-block-header.quarto-title-block.default .quarto-title-meta-contents p,
#title-block-header.quarto-title-block.default .quarto-title-authors p,
#title-block-header.quarto-title-block.default .quarto-title-affiliations p {
    margin-bottom: .1em
}

/* #title-block-header.quarto-title-block.default .quarto-title-meta-heading { */
/*     text-transform: uppercase; */
/*     margin-top: 1em; */
/*     font-size: .8em; */
/*     opacity: .8; */
/*     font-weight: 400 */
/* } */

#title-block-header.quarto-title-block.default .quarto-title-meta-heading {
    text-transform: none;
    margin-top: 0;
    font-size: .8em;
    opacity: .6;
    font-weight: 400;
}


#title-block-header.quarto-title-block.default .quarto-title-meta-contents {
    font-size: .9em
}

#title-block-header.quarto-title-block.default .quarto-title-meta-contents p.affiliation:last-of-type {
    margin-bottom: .1em
}

#title-block-header.quarto-title-block.default p.affiliation {
    margin-bottom: .1em
}

#title-block-header.quarto-title-block.default .keywords,
#title-block-header.quarto-title-block.default .description,
#title-block-header.quarto-title-block.default .abstract {
    margin-top: 0
}

#title-block-header.quarto-title-block.default .keywords>p,
#title-block-header.quarto-title-block.default .description>p,
#title-block-header.quarto-title-block.default .abstract>p {
    font-size: .9em
}

#title-block-header.quarto-title-block.default .keywords>p:last-of-type,
#title-block-header.quarto-title-block.default .description>p:last-of-type,
#title-block-header.quarto-title-block.default .abstract>p:last-of-type {
    margin-bottom: 0
}

#title-block-header.quarto-title-block.default .keywords .block-title,
#title-block-header.quarto-title-block.default .description .block-title,
#title-block-header.quarto-title-block.default .abstract .block-title {
    margin-top: 1em;
    text-transform: uppercase;
    font-size: .8em;
    opacity: .8;
    font-weight: 400
}

#title-block-header.quarto-title-block.default .quarto-title-meta-author {
    display: grid;
    grid-template-columns: minmax(max-content, 1fr) 1fr;
    grid-column-gap: 1em
}

.quarto-title-tools-only {
    display: flex;
    justify-content: right
}
