.monaco-editor pre {
    background-color: unset !important;
}

.qpyodide-editor-toolbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
}

.qpyodide-editor-toolbar-left-buttons,
.qpyodide-editor-toolbar-right-buttons {
    display: flex;
}

.qpyodide-non-interactive-loading-container.qpyodide-cell-needs-evaluation,
.qpyodide-non-interactive-loading-container.qpyodide-cell-evaluated {
    justify-content: center;
    display: flex;
    background-color: rgba(250, 250, 250, 0.65);
    border: 1px solid rgba(233, 236, 239, 0.65);
    border-radius: 0.5rem;
    margin-top: 15px;
    margin-bottom: 15px;
}

.qpyodide-r-project-logo {
    color: #2767B0;
    /* R Project's blue color */
}

.qpyodide-icon-status-spinner {
    color: #7894c4;
}

.qpyodide-icon-run-code {
    color: #0d9c29
}

.qpyodide-output-code-stdout {
    color: #111;
}

.qpyodide-output-code-stderr {
    color: #db4133;
}

.qpyodide-editor {
    border: 1px solid #EEEEEE;
}

.qpyodide-editor-toolbar {
    background-color: rgba(0, 0, 0, 0.0);
    padding: 0.2rem 0.5rem;
}

.qpyodide-button {
    /* background-color: #EEEEEE; */
    background-color: rgba(0, 0, 0, 0.0);
    display: inline-block;
    font-weight: 400;
    line-height: 1;
    text-decoration: none;
    text-align: center;
    color: #000;
    border-color: #dee2e6;
    border: 1px solid rgba(0, 0, 0, 0);
    padding: 0.375rem 0.75rem;
    font-size: .9rem;
    border-radius: 0.25rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.qpyodide-button:hover {
    color: #000;
    background-color: #d9dce0;
    border-color: #c8ccd0;
}

.qpyodide-button:disabled,
.qpyodide-button.disabled,
fieldset:disabled .qpyodide-button {
    pointer-events: none;
    opacity: .65
}

.qpyodide-button-reset {
    color: #696969;
    /*#4682b4;*/
}

.qpyodide-button-copy {
    color: #696969;
}


/* Custom styling for RevealJS Presentations*/

/* Reset the style of the interactive area */
.reveal div.qpyodide-interactive-area {
    display: block;
    box-shadow: none;
    max-width: 100%;
    max-height: 100%;
    margin: 0;
    padding: 0;
}

/* Provide space to entries */
.reveal div.qpyodide-output-code-area pre div {
    margin: 1px 2px 1px 10px;
}

/* Collapse the inside code tags to avoid extra space between line outputs */
.reveal pre div code.qpyodide-output-code-stdout,
.reveal pre div code.qpyodide-output-code-stderr {
    padding: 0;
    display: contents;
}

.reveal pre div code.qpyodide-output-code-stdout {
    color: #111;
}

.reveal pre div code.qpyodide-output-code-stderr {
    color: #db4133;
}


/* Create a border around console and output (does not effect graphs) */
.reveal div.qpyodide-console-area {
    border: 1px solid #EEEEEE;
    box-shadow: 2px 2px 10px #EEEEEE;
}

/* Cap output height and allow text to scroll */
/* TODO: Is there a better way to fit contents/max it parallel to the monaco editor size? */
.reveal div.qpyodide-output-code-area pre {
    max-height: 400px;
    overflow: scroll;
}

.codicon-add:before {
    content: '\ea60';
}

.codicon-plus:before {
    content: '\ea60';
}

.codicon-gist-new:before {
    content: '\ea60';
}

.codicon-repo-create:before {
    content: '\ea60';
}

.codicon-lightbulb:before {
    content: '\ea61';
}

.codicon-light-bulb:before {
    content: '\ea61';
}

.codicon-repo:before {
    content: '\ea62';
}

.codicon-repo-delete:before {
    content: '\ea62';
}

.codicon-gist-fork:before {
    content: '\ea63';
}

.codicon-repo-forked:before {
    content: '\ea63';
}

.codicon-git-pull-request:before {
    content: '\ea64';
}

.codicon-git-pull-request-abandoned:before {
    content: '\ea64';
}

.codicon-record-keys:before {
    content: '\ea65';
}

.codicon-keyboard:before {
    content: '\ea65';
}

.codicon-tag:before {
    content: '\ea66';
}

.codicon-tag-add:before {
    content: '\ea66';
}

.codicon-tag-remove:before {
    content: '\ea66';
}

.codicon-git-pull-request-label:before {
    content: '\ea66';
}

.codicon-person:before {
    content: '\ea67';
}

.codicon-person-follow:before {
    content: '\ea67';
}

.codicon-person-outline:before {
    content: '\ea67';
}

.codicon-person-filled:before {
    content: '\ea67';
}

.codicon-git-branch:before {
    content: '\ea68';
}

.codicon-git-branch-create:before {
    content: '\ea68';
}

.codicon-git-branch-delete:before {
    content: '\ea68';
}

.codicon-source-control:before {
    content: '\ea68';
}

.codicon-mirror:before {
    content: '\ea69';
}

.codicon-mirror-public:before {
    content: '\ea69';
}

.codicon-star:before {
    content: '\ea6a';
}

.codicon-star-add:before {
    content: '\ea6a';
}

.codicon-star-delete:before {
    content: '\ea6a';
}

.codicon-star-empty:before {
    content: '\ea6a';
}

.codicon-comment:before {
    content: '\ea6b';
}

.codicon-comment-add:before {
    content: '\ea6b';
}

.codicon-alert:before {
    content: '\ea6c';
}

.codicon-warning:before {
    content: '\ea6c';
}

.codicon-search:before {
    content: '\ea6d';
}

.codicon-search-save:before {
    content: '\ea6d';
}

.codicon-log-out:before {
    content: '\ea6e';
}

.codicon-sign-out:before {
    content: '\ea6e';
}

.codicon-log-in:before {
    content: '\ea6f';
}

.codicon-sign-in:before {
    content: '\ea6f';
}

.codicon-eye:before {
    content: '\ea70';
}

.codicon-eye-unwatch:before {
    content: '\ea70';
}

.codicon-eye-watch:before {
    content: '\ea70';
}

.codicon-circle-filled:before {
    content: '\ea71';
}

.codicon-primitive-dot:before {
    content: '\ea71';
}

.codicon-close-dirty:before {
    content: '\ea71';
}

.codicon-debug-breakpoint:before {
    content: '\ea71';
}

.codicon-debug-breakpoint-disabled:before {
    content: '\ea71';
}

.codicon-debug-breakpoint-pending:before {
    content: '\ebd9';
}

.codicon-debug-hint:before {
    content: '\ea71';
}

.codicon-primitive-square:before {
    content: '\ea72';
}

.codicon-edit:before {
    content: '\ea73';
}

.codicon-pencil:before {
    content: '\ea73';
}

.codicon-info:before {
    content: '\ea74';
}

.codicon-issue-opened:before {
    content: '\ea74';
}

.codicon-gist-private:before {
    content: '\ea75';
}

.codicon-git-fork-private:before {
    content: '\ea75';
}

.codicon-lock:before {
    content: '\ea75';
}

.codicon-mirror-private:before {
    content: '\ea75';
}

.codicon-close:before {
    content: '\ea76';
}

.codicon-remove-close:before {
    content: '\ea76';
}

.codicon-x:before {
    content: '\ea76';
}

.codicon-repo-sync:before {
    content: '\ea77';
}

.codicon-sync:before {
    content: '\ea77';
}

.codicon-clone:before {
    content: '\ea78';
}

.codicon-desktop-download:before {
    content: '\ea78';
}

.codicon-beaker:before {
    content: '\ea79';
}

.codicon-microscope:before {
    content: '\ea79';
}

.codicon-vm:before {
    content: '\ea7a';
}

.codicon-device-desktop:before {
    content: '\ea7a';
}

.codicon-file:before {
    content: '\ea7b';
}

.codicon-file-text:before {
    content: '\ea7b';
}

.codicon-more:before {
    content: '\ea7c';
}

.codicon-ellipsis:before {
    content: '\ea7c';
}

.codicon-kebab-horizontal:before {
    content: '\ea7c';
}

.codicon-mail-reply:before {
    content: '\ea7d';
}

.codicon-reply:before {
    content: '\ea7d';
}

.codicon-organization:before {
    content: '\ea7e';
}

.codicon-organization-filled:before {
    content: '\ea7e';
}

.codicon-organization-outline:before {
    content: '\ea7e';
}

.codicon-new-file:before {
    content: '\ea7f';
}

.codicon-file-add:before {
    content: '\ea7f';
}

.codicon-new-folder:before {
    content: '\ea80';
}

.codicon-file-directory-create:before {
    content: '\ea80';
}

.codicon-trash:before {
    content: '\ea81';
}

.codicon-trashcan:before {
    content: '\ea81';
}

.codicon-history:before {
    content: '\ea82';
}

.codicon-clock:before {
    content: '\ea82';
}

.codicon-folder:before {
    content: '\ea83';
}

.codicon-file-directory:before {
    content: '\ea83';
}

.codicon-symbol-folder:before {
    content: '\ea83';
}

.codicon-logo-github:before {
    content: '\ea84';
}

.codicon-mark-github:before {
    content: '\ea84';
}

.codicon-github:before {
    content: '\ea84';
}

.codicon-terminal:before {
    content: '\ea85';
}

.codicon-console:before {
    content: '\ea85';
}

.codicon-repl:before {
    content: '\ea85';
}

.codicon-zap:before {
    content: '\ea86';
}

.codicon-symbol-event:before {
    content: '\ea86';
}

.codicon-error:before {
    content: '\ea87';
}

.codicon-stop:before {
    content: '\ea87';
}

.codicon-variable:before {
    content: '\ea88';
}

.codicon-symbol-variable:before {
    content: '\ea88';
}

.codicon-array:before {
    content: '\ea8a';
}

.codicon-symbol-array:before {
    content: '\ea8a';
}

.codicon-symbol-module:before {
    content: '\ea8b';
}

.codicon-symbol-package:before {
    content: '\ea8b';
}

.codicon-symbol-namespace:before {
    content: '\ea8b';
}

.codicon-symbol-object:before {
    content: '\ea8b';
}

.codicon-symbol-method:before {
    content: '\ea8c';
}

.codicon-symbol-function:before {
    content: '\ea8c';
}

.codicon-symbol-constructor:before {
    content: '\ea8c';
}

.codicon-symbol-boolean:before {
    content: '\ea8f';
}

.codicon-symbol-null:before {
    content: '\ea8f';
}

.codicon-symbol-numeric:before {
    content: '\ea90';
}

.codicon-symbol-number:before {
    content: '\ea90';
}

.codicon-symbol-structure:before {
    content: '\ea91';
}

.codicon-symbol-struct:before {
    content: '\ea91';
}

.codicon-symbol-parameter:before {
    content: '\ea92';
}

.codicon-symbol-type-parameter:before {
    content: '\ea92';
}

.codicon-symbol-key:before {
    content: '\ea93';
}

.codicon-symbol-text:before {
    content: '\ea93';
}

.codicon-symbol-reference:before {
    content: '\ea94';
}

.codicon-go-to-file:before {
    content: '\ea94';
}

.codicon-symbol-enum:before {
    content: '\ea95';
}

.codicon-symbol-value:before {
    content: '\ea95';
}

.codicon-symbol-ruler:before {
    content: '\ea96';
}

.codicon-symbol-unit:before {
    content: '\ea96';
}

.codicon-activate-breakpoints:before {
    content: '\ea97';
}

.codicon-archive:before {
    content: '\ea98';
}

.codicon-arrow-both:before {
    content: '\ea99';
}

.codicon-arrow-down:before {
    content: '\ea9a';
}

.codicon-arrow-left:before {
    content: '\ea9b';
}

.codicon-arrow-right:before {
    content: '\ea9c';
}

.codicon-arrow-small-down:before {
    content: '\ea9d';
}

.codicon-arrow-small-left:before {
    content: '\ea9e';
}

.codicon-arrow-small-right:before {
    content: '\ea9f';
}

.codicon-arrow-small-up:before {
    content: '\eaa0';
}

.codicon-arrow-up:before {
    content: '\eaa1';
}

.codicon-bell:before {
    content: '\eaa2';
}

.codicon-bold:before {
    content: '\eaa3';
}

.codicon-book:before {
    content: '\eaa4';
}

.codicon-bookmark:before {
    content: '\eaa5';
}

.codicon-debug-breakpoint-conditional-unverified:before {
    content: '\eaa6';
}

.codicon-debug-breakpoint-conditional:before {
    content: '\eaa7';
}

.codicon-debug-breakpoint-conditional-disabled:before {
    content: '\eaa7';
}

.codicon-debug-breakpoint-data-unverified:before {
    content: '\eaa8';
}

.codicon-debug-breakpoint-data:before {
    content: '\eaa9';
}

.codicon-debug-breakpoint-data-disabled:before {
    content: '\eaa9';
}

.codicon-debug-breakpoint-log-unverified:before {
    content: '\eaaa';
}

.codicon-debug-breakpoint-log:before {
    content: '\eaab';
}

.codicon-debug-breakpoint-log-disabled:before {
    content: '\eaab';
}

.codicon-briefcase:before {
    content: '\eaac';
}

.codicon-broadcast:before {
    content: '\eaad';
}

.codicon-browser:before {
    content: '\eaae';
}

.codicon-bug:before {
    content: '\eaaf';
}

.codicon-calendar:before {
    content: '\eab0';
}

.codicon-case-sensitive:before {
    content: '\eab1';
}

.codicon-check:before {
    content: '\eab2';
}

.codicon-checklist:before {
    content: '\eab3';
}

.codicon-chevron-down:before {
    content: '\eab4';
}

.codicon-drop-down-button:before {
    content: '\eab4';
}

.codicon-chevron-left:before {
    content: '\eab5';
}

.codicon-chevron-right:before {
    content: '\eab6';
}

.codicon-chevron-up:before {
    content: '\eab7';
}

.codicon-chrome-close:before {
    content: '\eab8';
}

.codicon-chrome-maximize:before {
    content: '\eab9';
}

.codicon-chrome-minimize:before {
    content: '\eaba';
}

.codicon-chrome-restore:before {
    content: '\eabb';
}

.codicon-circle:before {
    content: '\eabc';
}

.codicon-circle-outline:before {
    content: '\eabc';
}

.codicon-debug-breakpoint-unverified:before {
    content: '\eabc';
}

.codicon-circle-slash:before {
    content: '\eabd';
}

.codicon-circuit-board:before {
    content: '\eabe';
}

.codicon-clear-all:before {
    content: '\eabf';
}

.codicon-clippy:before {
    content: '\eac0';
}

.codicon-close-all:before {
    content: '\eac1';
}

.codicon-cloud-download:before {
    content: '\eac2';
}

.codicon-cloud-upload:before {
    content: '\eac3';
}

.codicon-code:before {
    content: '\eac4';
}

.codicon-collapse-all:before {
    content: '\eac5';
}

.codicon-color-mode:before {
    content: '\eac6';
}

.codicon-comment-discussion:before {
    content: '\eac7';
}

.codicon-compare-changes:before {
    content: '\eafd';
}

.codicon-credit-card:before {
    content: '\eac9';
}

.codicon-dash:before {
    content: '\eacc';
}

.codicon-dashboard:before {
    content: '\eacd';
}

.codicon-database:before {
    content: '\eace';
}

.codicon-debug-continue:before {
    content: '\eacf';
}

.codicon-debug-disconnect:before {
    content: '\ead0';
}

.codicon-debug-pause:before {
    content: '\ead1';
}

.codicon-debug-restart:before {
    content: '\ead2';
}

.codicon-debug-start:before {
    content: '\ead3';
}

.codicon-debug-step-into:before {
    content: '\ead4';
}

.codicon-debug-step-out:before {
    content: '\ead5';
}

.codicon-debug-step-over:before {
    content: '…';

}

.monaco-editor {
    font-family: -apple-system, BlinkMacSystemFont, Segoe WPC, Segoe UI, HelveticaNeue-Light, system-ui, Ubuntu, Droid Sans, sans-serif;
    --monaco-monospace-font: "IBM Plex Mono", "SF Mono", Monaco, Menlo, Consolas, "Ubuntu Mono", "Liberation Mono", "DejaVu Sans Mono", "Courier New", monospace;
}

.monaco-editor {
    position: relative;
    overflow: visible;
    -webkit-text-size-adjust: 100%;
    color: var(--vscode-editor-foreground);
    background-color: rgba(0, 0, 0, 0.0) !important;
}
