.svgbob .nofill {
    fill: none;
}

.svgbob line,
.svgbob path,
.svgbob circle,
.svgbob rect,
.svgbob polygon {
    stroke: #838383;
    stroke-width: 2;
    stroke-opacity: 1;
    fill-opacity: 1;
    stroke-linecap: round;
    stroke-linejoin: miter;
}

.svgbob text {
    white-space: pre;
    fill: #838383 !important;
    font-family: monospace;
    font-size: 14px;
}


.svgbob line,
.svgbob path,
.svgbob circle,
.svgbob rect,
.svgbob polygon {
    stroke: #838383;
    stroke-width: 2;
    stroke-opacity: 1;
    fill-opacity: 1;
    stroke-linecap: round;
    stroke-linejoin: miter;
}

rect.backdrop,
.svgbob rect.backdrop {
    stroke: none !important;
    fill: none !important;
}

.svgbob .broken {
    stroke-dasharray: 8;
}

.svgbob .filled {
    fill: #838383;
}

.svgbob .bg_filled {
    fill: none !important;
    stroke-width: 1;
}

.svgbob .nofill {
    fill: none;
}

.svgbob .end_marked_arrow {
    marker-end: url(#arrow);
}

.svgbob .start_marked_arrow {
    marker-start: url(#arrow);
}

.svgbob .end_marked_diamond {
    marker-end: url(#diamond);
}

.svgbob .start_marked_diamond {
    marker-start: url(#diamond);
}

.svgbob .end_marked_circle {
    marker-end: url(#circle);
}

.svgbob .start_marked_circle {
    marker-start: url(#circle);
}

.svgbob .end_marked_open_circle {
    marker-end: url(#open_circle);
}

.svgbob .start_marked_open_circle {
    marker-start: url(#open_circle);
}

.svgbob .end_marked_big_open_circle {
    marker-end: url(#big_open_circle);
}

.svgbob .start_marked_big_open_circle {
    marker-start: url(#big_open_circle);
}

.svgbob .r {
    fill: #FF8180 !important;
}

.svgbob .g {
    fill: #97E6A5 !important;
}

.svgbob .b {
    fill: #7DCAFF !important;
}

.svgbob .t {
    fill: none;
    stroke: #838383;
    color: #838383;
}

.svgbob .r1 {
    fill: papayawhip;
}

.svgbob .r2 {
    fill: crimson;
}

.svgbob .a {
    stroke-dasharray: 8;
    fill: lightblue;
}

.svgbob .b {
    stroke: blue;
}

.svgbob .bigrect {
    fill: yellow;
    stroke: red;
}

.svgbob .red {
    fill: red;
    stroke: blue;
}
