
@font-face {
	font-family: 'Iosevka Sans QP SF Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2/IosevkaSansQpSF-Thin.woff2') format('woff2'), url('TTF/IosevkaSansQpSF-Thin.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Sans QP SF Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2/IosevkaSansQpSF-ExtendedThin.woff2') format('woff2'), url('TTF/IosevkaSansQpSF-ExtendedThin.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Sans QP SF Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2/IosevkaSansQpSF-ThinOblique.woff2') format('woff2'), url('TTF/IosevkaSansQpSF-ThinOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Sans QP SF Web Oblique';
	font-display: swap;
	font-weight: 100;
	font-stretch: normal;
	src: url('WOFF2/IosevkaSansQpSF-ThinOblique.woff2') format('woff2'), url('TTF/IosevkaSansQpSF-ThinOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Sans QP SF Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2/IosevkaSansQpSF-ExtendedThinOblique.woff2') format('woff2'), url('TTF/IosevkaSansQpSF-ExtendedThinOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Sans QP SF Web Oblique';
	font-display: swap;
	font-weight: 100;
	font-stretch: expanded;
	src: url('WOFF2/IosevkaSansQpSF-ExtendedThinOblique.woff2') format('woff2'), url('TTF/IosevkaSansQpSF-ExtendedThinOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Sans QP SF Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2/IosevkaSansQpSF-ThinItalic.woff2') format('woff2'), url('TTF/IosevkaSansQpSF-ThinItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Sans QP SF Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2/IosevkaSansQpSF-ExtendedThinItalic.woff2') format('woff2'), url('TTF/IosevkaSansQpSF-ExtendedThinItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Sans QP SF Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2/IosevkaSansQpSF-ExtraLight.woff2') format('woff2'), url('TTF/IosevkaSansQpSF-ExtraLight.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Sans QP SF Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2/IosevkaSansQpSF-ExtendedExtraLight.woff2') format('woff2'), url('TTF/IosevkaSansQpSF-ExtendedExtraLight.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Sans QP SF Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2/IosevkaSansQpSF-ExtraLightOblique.woff2') format('woff2'), url('TTF/IosevkaSansQpSF-ExtraLightOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Sans QP SF Web Oblique';
	font-display: swap;
	font-weight: 200;
	font-stretch: normal;
	src: url('WOFF2/IosevkaSansQpSF-ExtraLightOblique.woff2') format('woff2'), url('TTF/IosevkaSansQpSF-ExtraLightOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Sans QP SF Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2/IosevkaSansQpSF-ExtendedExtraLightOblique.woff2') format('woff2'), url('TTF/IosevkaSansQpSF-ExtendedExtraLightOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Sans QP SF Web Oblique';
	font-display: swap;
	font-weight: 200;
	font-stretch: expanded;
	src: url('WOFF2/IosevkaSansQpSF-ExtendedExtraLightOblique.woff2') format('woff2'), url('TTF/IosevkaSansQpSF-ExtendedExtraLightOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Sans QP SF Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2/IosevkaSansQpSF-ExtraLightItalic.woff2') format('woff2'), url('TTF/IosevkaSansQpSF-ExtraLightItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Sans QP SF Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2/IosevkaSansQpSF-ExtendedExtraLightItalic.woff2') format('woff2'), url('TTF/IosevkaSansQpSF-ExtendedExtraLightItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Sans QP SF Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2/IosevkaSansQpSF-Light.woff2') format('woff2'), url('TTF/IosevkaSansQpSF-Light.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Sans QP SF Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2/IosevkaSansQpSF-ExtendedLight.woff2') format('woff2'), url('TTF/IosevkaSansQpSF-ExtendedLight.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Sans QP SF Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2/IosevkaSansQpSF-LightOblique.woff2') format('woff2'), url('TTF/IosevkaSansQpSF-LightOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Sans QP SF Web Oblique';
	font-display: swap;
	font-weight: 300;
	font-stretch: normal;
	src: url('WOFF2/IosevkaSansQpSF-LightOblique.woff2') format('woff2'), url('TTF/IosevkaSansQpSF-LightOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Sans QP SF Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2/IosevkaSansQpSF-ExtendedLightOblique.woff2') format('woff2'), url('TTF/IosevkaSansQpSF-ExtendedLightOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Sans QP SF Web Oblique';
	font-display: swap;
	font-weight: 300;
	font-stretch: expanded;
	src: url('WOFF2/IosevkaSansQpSF-ExtendedLightOblique.woff2') format('woff2'), url('TTF/IosevkaSansQpSF-ExtendedLightOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Sans QP SF Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2/IosevkaSansQpSF-LightItalic.woff2') format('woff2'), url('TTF/IosevkaSansQpSF-LightItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Sans QP SF Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2/IosevkaSansQpSF-ExtendedLightItalic.woff2') format('woff2'), url('TTF/IosevkaSansQpSF-ExtendedLightItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Sans QP SF Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2/IosevkaSansQpSF-Regular.woff2') format('woff2'), url('TTF/IosevkaSansQpSF-Regular.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Sans QP SF Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2/IosevkaSansQpSF-Extended.woff2') format('woff2'), url('TTF/IosevkaSansQpSF-Extended.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Sans QP SF Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2/IosevkaSansQpSF-Oblique.woff2') format('woff2'), url('TTF/IosevkaSansQpSF-Oblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Sans QP SF Web Oblique';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	src: url('WOFF2/IosevkaSansQpSF-Oblique.woff2') format('woff2'), url('TTF/IosevkaSansQpSF-Oblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Sans QP SF Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2/IosevkaSansQpSF-ExtendedOblique.woff2') format('woff2'), url('TTF/IosevkaSansQpSF-ExtendedOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Sans QP SF Web Oblique';
	font-display: swap;
	font-weight: 400;
	font-stretch: expanded;
	src: url('WOFF2/IosevkaSansQpSF-ExtendedOblique.woff2') format('woff2'), url('TTF/IosevkaSansQpSF-ExtendedOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Sans QP SF Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2/IosevkaSansQpSF-Italic.woff2') format('woff2'), url('TTF/IosevkaSansQpSF-Italic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Sans QP SF Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2/IosevkaSansQpSF-ExtendedItalic.woff2') format('woff2'), url('TTF/IosevkaSansQpSF-ExtendedItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Sans QP SF Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2/IosevkaSansQpSF-Medium.woff2') format('woff2'), url('TTF/IosevkaSansQpSF-Medium.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Sans QP SF Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2/IosevkaSansQpSF-ExtendedMedium.woff2') format('woff2'), url('TTF/IosevkaSansQpSF-ExtendedMedium.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Sans QP SF Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2/IosevkaSansQpSF-MediumOblique.woff2') format('woff2'), url('TTF/IosevkaSansQpSF-MediumOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Sans QP SF Web Oblique';
	font-display: swap;
	font-weight: 500;
	font-stretch: normal;
	src: url('WOFF2/IosevkaSansQpSF-MediumOblique.woff2') format('woff2'), url('TTF/IosevkaSansQpSF-MediumOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Sans QP SF Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2/IosevkaSansQpSF-ExtendedMediumOblique.woff2') format('woff2'), url('TTF/IosevkaSansQpSF-ExtendedMediumOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Sans QP SF Web Oblique';
	font-display: swap;
	font-weight: 500;
	font-stretch: expanded;
	src: url('WOFF2/IosevkaSansQpSF-ExtendedMediumOblique.woff2') format('woff2'), url('TTF/IosevkaSansQpSF-ExtendedMediumOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Sans QP SF Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2/IosevkaSansQpSF-MediumItalic.woff2') format('woff2'), url('TTF/IosevkaSansQpSF-MediumItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Sans QP SF Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2/IosevkaSansQpSF-ExtendedMediumItalic.woff2') format('woff2'), url('TTF/IosevkaSansQpSF-ExtendedMediumItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Sans QP SF Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2/IosevkaSansQpSF-SemiBold.woff2') format('woff2'), url('TTF/IosevkaSansQpSF-SemiBold.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Sans QP SF Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2/IosevkaSansQpSF-ExtendedSemiBold.woff2') format('woff2'), url('TTF/IosevkaSansQpSF-ExtendedSemiBold.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Sans QP SF Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2/IosevkaSansQpSF-SemiBoldOblique.woff2') format('woff2'), url('TTF/IosevkaSansQpSF-SemiBoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Sans QP SF Web Oblique';
	font-display: swap;
	font-weight: 600;
	font-stretch: normal;
	src: url('WOFF2/IosevkaSansQpSF-SemiBoldOblique.woff2') format('woff2'), url('TTF/IosevkaSansQpSF-SemiBoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Sans QP SF Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2/IosevkaSansQpSF-ExtendedSemiBoldOblique.woff2') format('woff2'), url('TTF/IosevkaSansQpSF-ExtendedSemiBoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Sans QP SF Web Oblique';
	font-display: swap;
	font-weight: 600;
	font-stretch: expanded;
	src: url('WOFF2/IosevkaSansQpSF-ExtendedSemiBoldOblique.woff2') format('woff2'), url('TTF/IosevkaSansQpSF-ExtendedSemiBoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Sans QP SF Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2/IosevkaSansQpSF-SemiBoldItalic.woff2') format('woff2'), url('TTF/IosevkaSansQpSF-SemiBoldItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Sans QP SF Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2/IosevkaSansQpSF-ExtendedSemiBoldItalic.woff2') format('woff2'), url('TTF/IosevkaSansQpSF-ExtendedSemiBoldItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Sans QP SF Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2/IosevkaSansQpSF-Bold.woff2') format('woff2'), url('TTF/IosevkaSansQpSF-Bold.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Sans QP SF Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2/IosevkaSansQpSF-ExtendedBold.woff2') format('woff2'), url('TTF/IosevkaSansQpSF-ExtendedBold.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Sans QP SF Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2/IosevkaSansQpSF-BoldOblique.woff2') format('woff2'), url('TTF/IosevkaSansQpSF-BoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Sans QP SF Web Oblique';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	src: url('WOFF2/IosevkaSansQpSF-BoldOblique.woff2') format('woff2'), url('TTF/IosevkaSansQpSF-BoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Sans QP SF Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2/IosevkaSansQpSF-ExtendedBoldOblique.woff2') format('woff2'), url('TTF/IosevkaSansQpSF-ExtendedBoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Sans QP SF Web Oblique';
	font-display: swap;
	font-weight: 700;
	font-stretch: expanded;
	src: url('WOFF2/IosevkaSansQpSF-ExtendedBoldOblique.woff2') format('woff2'), url('TTF/IosevkaSansQpSF-ExtendedBoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Sans QP SF Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2/IosevkaSansQpSF-BoldItalic.woff2') format('woff2'), url('TTF/IosevkaSansQpSF-BoldItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Sans QP SF Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2/IosevkaSansQpSF-ExtendedBoldItalic.woff2') format('woff2'), url('TTF/IosevkaSansQpSF-ExtendedBoldItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Sans QP SF Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2/IosevkaSansQpSF-ExtraBold.woff2') format('woff2'), url('TTF/IosevkaSansQpSF-ExtraBold.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Sans QP SF Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2/IosevkaSansQpSF-ExtendedExtraBold.woff2') format('woff2'), url('TTF/IosevkaSansQpSF-ExtendedExtraBold.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Sans QP SF Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2/IosevkaSansQpSF-ExtraBoldOblique.woff2') format('woff2'), url('TTF/IosevkaSansQpSF-ExtraBoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Sans QP SF Web Oblique';
	font-display: swap;
	font-weight: 800;
	font-stretch: normal;
	src: url('WOFF2/IosevkaSansQpSF-ExtraBoldOblique.woff2') format('woff2'), url('TTF/IosevkaSansQpSF-ExtraBoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Sans QP SF Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2/IosevkaSansQpSF-ExtendedExtraBoldOblique.woff2') format('woff2'), url('TTF/IosevkaSansQpSF-ExtendedExtraBoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Sans QP SF Web Oblique';
	font-display: swap;
	font-weight: 800;
	font-stretch: expanded;
	src: url('WOFF2/IosevkaSansQpSF-ExtendedExtraBoldOblique.woff2') format('woff2'), url('TTF/IosevkaSansQpSF-ExtendedExtraBoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Sans QP SF Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2/IosevkaSansQpSF-ExtraBoldItalic.woff2') format('woff2'), url('TTF/IosevkaSansQpSF-ExtraBoldItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Sans QP SF Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2/IosevkaSansQpSF-ExtendedExtraBoldItalic.woff2') format('woff2'), url('TTF/IosevkaSansQpSF-ExtendedExtraBoldItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Sans QP SF Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2/IosevkaSansQpSF-Heavy.woff2') format('woff2'), url('TTF/IosevkaSansQpSF-Heavy.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Sans QP SF Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2/IosevkaSansQpSF-ExtendedHeavy.woff2') format('woff2'), url('TTF/IosevkaSansQpSF-ExtendedHeavy.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Sans QP SF Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2/IosevkaSansQpSF-HeavyOblique.woff2') format('woff2'), url('TTF/IosevkaSansQpSF-HeavyOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Sans QP SF Web Oblique';
	font-display: swap;
	font-weight: 900;
	font-stretch: normal;
	src: url('WOFF2/IosevkaSansQpSF-HeavyOblique.woff2') format('woff2'), url('TTF/IosevkaSansQpSF-HeavyOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Sans QP SF Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2/IosevkaSansQpSF-ExtendedHeavyOblique.woff2') format('woff2'), url('TTF/IosevkaSansQpSF-ExtendedHeavyOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Sans QP SF Web Oblique';
	font-display: swap;
	font-weight: 900;
	font-stretch: expanded;
	src: url('WOFF2/IosevkaSansQpSF-ExtendedHeavyOblique.woff2') format('woff2'), url('TTF/IosevkaSansQpSF-ExtendedHeavyOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Sans QP SF Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2/IosevkaSansQpSF-HeavyItalic.woff2') format('woff2'), url('TTF/IosevkaSansQpSF-HeavyItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Sans QP SF Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2/IosevkaSansQpSF-ExtendedHeavyItalic.woff2') format('woff2'), url('TTF/IosevkaSansQpSF-ExtendedHeavyItalic.ttf') format('truetype');
}
