
@font-face {
	font-family: 'Iosevka Sans QP Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2/IosevkaSansQp-Thin.woff2') format('woff2'), url('TTF/IosevkaSansQp-Thin.ttf') format('truetype');
  font-feature-settings: "cv36" 3, "cv41" 14, "cv42" 1, "cv45" 6, "cv52" 12,"cv54" 8, "cv57" 10, "cv59" 4, "cv61" 5, "cv62" 21,"cv63" 9, "cv70" 2, "cv71" 8, "cv73" 3, "cv77" 4,"VXAF" 1, "cv78" 9, "cv79" 3, "cv85" 18, "cv86" 18,"cv88" 1, "cv91" 4, "cv92" 4, "cv93" 5, "cv99" 2,"VAAA" 2, "cv10" 10, "cv01" 3, "cv02" 2, "cv03" 2,"cv04" 8, "cv05" 4, "cv06" 1, "cv07" 4, "cv08" 2,"cv09" 1, "VSAB" 11, "VSAC" 3, "VSAH" 3, "VSAI" 1,"VSAJ" 4, "VSAK" 2, "VSAL" 9, "VSAM" 3, "VSAQ" 2,"VSAR" 2;
}

@font-face {
	font-family: 'Iosevka Sans QP Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2/IosevkaSansQp-ExtendedThin.woff2') format('woff2'), url('TTF/IosevkaSansQp-ExtendedThin.ttf') format('truetype');
  font-feature-settings: "cv36" 3, "cv41" 14, "cv42" 1, "cv45" 6, "cv52" 12,"cv54" 8, "cv57" 10, "cv59" 4, "cv61" 5, "cv62" 21,"cv63" 9, "cv70" 2, "cv71" 8, "cv73" 3, "cv77" 4,"VXAF" 1, "cv78" 9, "cv79" 3, "cv85" 18, "cv86" 18,"cv88" 1, "cv91" 4, "cv92" 4, "cv93" 5, "cv99" 2,"VAAA" 2, "cv10" 10, "cv01" 3, "cv02" 2, "cv03" 2,"cv04" 8, "cv05" 4, "cv06" 1, "cv07" 4, "cv08" 2,"cv09" 1, "VSAB" 11, "VSAC" 3, "VSAH" 3, "VSAI" 1,"VSAJ" 4, "VSAK" 2, "VSAL" 9, "VSAM" 3, "VSAQ" 2,"VSAR" 2;
}

@font-face {
	font-family: 'Iosevka Sans QP Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2/IosevkaSansQp-ThinOblique.woff2') format('woff2'), url('TTF/IosevkaSansQp-ThinOblique.ttf') format('truetype');
  font-feature-settings: "cv36" 3, "cv41" 14, "cv42" 1, "cv45" 6, "cv52" 12,"cv54" 8, "cv57" 10, "cv59" 4, "cv61" 5, "cv62" 21,"cv63" 9, "cv70" 2, "cv71" 8, "cv73" 3, "cv77" 4,"VXAF" 1, "cv78" 9, "cv79" 3, "cv85" 18, "cv86" 18,"cv88" 1, "cv91" 4, "cv92" 4, "cv93" 5, "cv99" 2,"VAAA" 2, "cv10" 10, "cv01" 3, "cv02" 2, "cv03" 2,"cv04" 8, "cv05" 4, "cv06" 1, "cv07" 4, "cv08" 2,"cv09" 1, "VSAB" 11, "VSAC" 3, "VSAH" 3, "VSAI" 1,"VSAJ" 4, "VSAK" 2, "VSAL" 9, "VSAM" 3, "VSAQ" 2,"VSAR" 2;
}

@font-face {
	font-family: 'Iosevka Sans QP Web Oblique';
	font-display: swap;
	font-weight: 100;
	font-stretch: normal;
	src: url('WOFF2/IosevkaSansQp-ThinOblique.woff2') format('woff2'), url('TTF/IosevkaSansQp-ThinOblique.ttf') format('truetype');
  font-feature-settings: "cv36" 3, "cv41" 14, "cv42" 1, "cv45" 6, "cv52" 12,"cv54" 8, "cv57" 10, "cv59" 4, "cv61" 5, "cv62" 21,"cv63" 9, "cv70" 2, "cv71" 8, "cv73" 3, "cv77" 4,"VXAF" 1, "cv78" 9, "cv79" 3, "cv85" 18, "cv86" 18,"cv88" 1, "cv91" 4, "cv92" 4, "cv93" 5, "cv99" 2,"VAAA" 2, "cv10" 10, "cv01" 3, "cv02" 2, "cv03" 2,"cv04" 8, "cv05" 4, "cv06" 1, "cv07" 4, "cv08" 2,"cv09" 1, "VSAB" 11, "VSAC" 3, "VSAH" 3, "VSAI" 1,"VSAJ" 4, "VSAK" 2, "VSAL" 9, "VSAM" 3, "VSAQ" 2,"VSAR" 2;
}

@font-face {
	font-family: 'Iosevka Sans QP Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2/IosevkaSansQp-ExtendedThinOblique.woff2') format('woff2'), url('TTF/IosevkaSansQp-ExtendedThinOblique.ttf') format('truetype');
  font-feature-settings: "cv36" 3, "cv41" 14, "cv42" 1, "cv45" 6, "cv52" 12,"cv54" 8, "cv57" 10, "cv59" 4, "cv61" 5, "cv62" 21,"cv63" 9, "cv70" 2, "cv71" 8, "cv73" 3, "cv77" 4,"VXAF" 1, "cv78" 9, "cv79" 3, "cv85" 18, "cv86" 18,"cv88" 1, "cv91" 4, "cv92" 4, "cv93" 5, "cv99" 2,"VAAA" 2, "cv10" 10, "cv01" 3, "cv02" 2, "cv03" 2,"cv04" 8, "cv05" 4, "cv06" 1, "cv07" 4, "cv08" 2,"cv09" 1, "VSAB" 11, "VSAC" 3, "VSAH" 3, "VSAI" 1,"VSAJ" 4, "VSAK" 2, "VSAL" 9, "VSAM" 3, "VSAQ" 2,"VSAR" 2;
}

@font-face {
	font-family: 'Iosevka Sans QP Web Oblique';
	font-display: swap;
	font-weight: 100;
	font-stretch: expanded;
	src: url('WOFF2/IosevkaSansQp-ExtendedThinOblique.woff2') format('woff2'), url('TTF/IosevkaSansQp-ExtendedThinOblique.ttf') format('truetype');
  font-feature-settings: "cv36" 3, "cv41" 14, "cv42" 1, "cv45" 6, "cv52" 12,"cv54" 8, "cv57" 10, "cv59" 4, "cv61" 5, "cv62" 21,"cv63" 9, "cv70" 2, "cv71" 8, "cv73" 3, "cv77" 4,"VXAF" 1, "cv78" 9, "cv79" 3, "cv85" 18, "cv86" 18,"cv88" 1, "cv91" 4, "cv92" 4, "cv93" 5, "cv99" 2,"VAAA" 2, "cv10" 10, "cv01" 3, "cv02" 2, "cv03" 2,"cv04" 8, "cv05" 4, "cv06" 1, "cv07" 4, "cv08" 2,"cv09" 1, "VSAB" 11, "VSAC" 3, "VSAH" 3, "VSAI" 1,"VSAJ" 4, "VSAK" 2, "VSAL" 9, "VSAM" 3, "VSAQ" 2,"VSAR" 2;
}

@font-face {
	font-family: 'Iosevka Sans QP Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2/IosevkaSansQp-ThinItalic.woff2') format('woff2'), url('TTF/IosevkaSansQp-ThinItalic.ttf') format('truetype');
  font-feature-settings: "cv36" 3, "cv41" 14, "cv42" 1, "cv45" 6, "cv52" 12,"cv54" 8, "cv57" 10, "cv59" 4, "cv61" 5, "cv62" 21,"cv63" 9, "cv70" 2, "cv71" 8, "cv73" 3, "cv77" 4,"VXAF" 1, "cv78" 9, "cv79" 3, "cv85" 18, "cv86" 18,"cv88" 1, "cv91" 4, "cv92" 4, "cv93" 5, "cv99" 2,"VAAA" 2, "cv10" 10, "cv01" 3, "cv02" 2, "cv03" 2,"cv04" 8, "cv05" 4, "cv06" 1, "cv07" 4, "cv08" 2,"cv09" 1, "VSAB" 11, "VSAC" 3, "VSAH" 3, "VSAI" 1,"VSAJ" 4, "VSAK" 2, "VSAL" 9, "VSAM" 3, "VSAQ" 2,"VSAR" 2;
}

@font-face {
	font-family: 'Iosevka Sans QP Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2/IosevkaSansQp-ExtendedThinItalic.woff2') format('woff2'), url('TTF/IosevkaSansQp-ExtendedThinItalic.ttf') format('truetype');
  font-feature-settings: "cv36" 3, "cv41" 14, "cv42" 1, "cv45" 6, "cv52" 12,"cv54" 8, "cv57" 10, "cv59" 4, "cv61" 5, "cv62" 21,"cv63" 9, "cv70" 2, "cv71" 8, "cv73" 3, "cv77" 4,"VXAF" 1, "cv78" 9, "cv79" 3, "cv85" 18, "cv86" 18,"cv88" 1, "cv91" 4, "cv92" 4, "cv93" 5, "cv99" 2,"VAAA" 2, "cv10" 10, "cv01" 3, "cv02" 2, "cv03" 2,"cv04" 8, "cv05" 4, "cv06" 1, "cv07" 4, "cv08" 2,"cv09" 1, "VSAB" 11, "VSAC" 3, "VSAH" 3, "VSAI" 1,"VSAJ" 4, "VSAK" 2, "VSAL" 9, "VSAM" 3, "VSAQ" 2,"VSAR" 2;
}

@font-face {
	font-family: 'Iosevka Sans QP Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2/IosevkaSansQp-ExtraLight.woff2') format('woff2'), url('TTF/IosevkaSansQp-ExtraLight.ttf') format('truetype');
  font-feature-settings: "cv36" 3, "cv41" 14, "cv42" 1, "cv45" 6, "cv52" 12,"cv54" 8, "cv57" 10, "cv59" 4, "cv61" 5, "cv62" 21,"cv63" 9, "cv70" 2, "cv71" 8, "cv73" 3, "cv77" 4,"VXAF" 1, "cv78" 9, "cv79" 3, "cv85" 18, "cv86" 18,"cv88" 1, "cv91" 4, "cv92" 4, "cv93" 5, "cv99" 2,"VAAA" 2, "cv10" 10, "cv01" 3, "cv02" 2, "cv03" 2,"cv04" 8, "cv05" 4, "cv06" 1, "cv07" 4, "cv08" 2,"cv09" 1, "VSAB" 11, "VSAC" 3, "VSAH" 3, "VSAI" 1,"VSAJ" 4, "VSAK" 2, "VSAL" 9, "VSAM" 3, "VSAQ" 2,"VSAR" 2;
}

@font-face {
	font-family: 'Iosevka Sans QP Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2/IosevkaSansQp-ExtendedExtraLight.woff2') format('woff2'), url('TTF/IosevkaSansQp-ExtendedExtraLight.ttf') format('truetype');
  font-feature-settings: "cv36" 3, "cv41" 14, "cv42" 1, "cv45" 6, "cv52" 12,"cv54" 8, "cv57" 10, "cv59" 4, "cv61" 5, "cv62" 21,"cv63" 9, "cv70" 2, "cv71" 8, "cv73" 3, "cv77" 4,"VXAF" 1, "cv78" 9, "cv79" 3, "cv85" 18, "cv86" 18,"cv88" 1, "cv91" 4, "cv92" 4, "cv93" 5, "cv99" 2,"VAAA" 2, "cv10" 10, "cv01" 3, "cv02" 2, "cv03" 2,"cv04" 8, "cv05" 4, "cv06" 1, "cv07" 4, "cv08" 2,"cv09" 1, "VSAB" 11, "VSAC" 3, "VSAH" 3, "VSAI" 1,"VSAJ" 4, "VSAK" 2, "VSAL" 9, "VSAM" 3, "VSAQ" 2,"VSAR" 2;
}

@font-face {
	font-family: 'Iosevka Sans QP Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2/IosevkaSansQp-ExtraLightOblique.woff2') format('woff2'), url('TTF/IosevkaSansQp-ExtraLightOblique.ttf') format('truetype');
  font-feature-settings: "cv36" 3, "cv41" 14, "cv42" 1, "cv45" 6, "cv52" 12,"cv54" 8, "cv57" 10, "cv59" 4, "cv61" 5, "cv62" 21,"cv63" 9, "cv70" 2, "cv71" 8, "cv73" 3, "cv77" 4,"VXAF" 1, "cv78" 9, "cv79" 3, "cv85" 18, "cv86" 18,"cv88" 1, "cv91" 4, "cv92" 4, "cv93" 5, "cv99" 2,"VAAA" 2, "cv10" 10, "cv01" 3, "cv02" 2, "cv03" 2,"cv04" 8, "cv05" 4, "cv06" 1, "cv07" 4, "cv08" 2,"cv09" 1, "VSAB" 11, "VSAC" 3, "VSAH" 3, "VSAI" 1,"VSAJ" 4, "VSAK" 2, "VSAL" 9, "VSAM" 3, "VSAQ" 2,"VSAR" 2;
}

@font-face {
	font-family: 'Iosevka Sans QP Web Oblique';
	font-display: swap;
	font-weight: 200;
	font-stretch: normal;
	src: url('WOFF2/IosevkaSansQp-ExtraLightOblique.woff2') format('woff2'), url('TTF/IosevkaSansQp-ExtraLightOblique.ttf') format('truetype');
  font-feature-settings: "cv36" 3, "cv41" 14, "cv42" 1, "cv45" 6, "cv52" 12,"cv54" 8, "cv57" 10, "cv59" 4, "cv61" 5, "cv62" 21,"cv63" 9, "cv70" 2, "cv71" 8, "cv73" 3, "cv77" 4,"VXAF" 1, "cv78" 9, "cv79" 3, "cv85" 18, "cv86" 18,"cv88" 1, "cv91" 4, "cv92" 4, "cv93" 5, "cv99" 2,"VAAA" 2, "cv10" 10, "cv01" 3, "cv02" 2, "cv03" 2,"cv04" 8, "cv05" 4, "cv06" 1, "cv07" 4, "cv08" 2,"cv09" 1, "VSAB" 11, "VSAC" 3, "VSAH" 3, "VSAI" 1,"VSAJ" 4, "VSAK" 2, "VSAL" 9, "VSAM" 3, "VSAQ" 2,"VSAR" 2;
}

@font-face {
	font-family: 'Iosevka Sans QP Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2/IosevkaSansQp-ExtendedExtraLightOblique.woff2') format('woff2'), url('TTF/IosevkaSansQp-ExtendedExtraLightOblique.ttf') format('truetype');
  font-feature-settings: "cv36" 3, "cv41" 14, "cv42" 1, "cv45" 6, "cv52" 12,"cv54" 8, "cv57" 10, "cv59" 4, "cv61" 5, "cv62" 21,"cv63" 9, "cv70" 2, "cv71" 8, "cv73" 3, "cv77" 4,"VXAF" 1, "cv78" 9, "cv79" 3, "cv85" 18, "cv86" 18,"cv88" 1, "cv91" 4, "cv92" 4, "cv93" 5, "cv99" 2,"VAAA" 2, "cv10" 10, "cv01" 3, "cv02" 2, "cv03" 2,"cv04" 8, "cv05" 4, "cv06" 1, "cv07" 4, "cv08" 2,"cv09" 1, "VSAB" 11, "VSAC" 3, "VSAH" 3, "VSAI" 1,"VSAJ" 4, "VSAK" 2, "VSAL" 9, "VSAM" 3, "VSAQ" 2,"VSAR" 2;
}

@font-face {
	font-family: 'Iosevka Sans QP Web Oblique';
	font-display: swap;
	font-weight: 200;
	font-stretch: expanded;
	src: url('WOFF2/IosevkaSansQp-ExtendedExtraLightOblique.woff2') format('woff2'), url('TTF/IosevkaSansQp-ExtendedExtraLightOblique.ttf') format('truetype');
  font-feature-settings: "cv36" 3, "cv41" 14, "cv42" 1, "cv45" 6, "cv52" 12,"cv54" 8, "cv57" 10, "cv59" 4, "cv61" 5, "cv62" 21,"cv63" 9, "cv70" 2, "cv71" 8, "cv73" 3, "cv77" 4,"VXAF" 1, "cv78" 9, "cv79" 3, "cv85" 18, "cv86" 18,"cv88" 1, "cv91" 4, "cv92" 4, "cv93" 5, "cv99" 2,"VAAA" 2, "cv10" 10, "cv01" 3, "cv02" 2, "cv03" 2,"cv04" 8, "cv05" 4, "cv06" 1, "cv07" 4, "cv08" 2,"cv09" 1, "VSAB" 11, "VSAC" 3, "VSAH" 3, "VSAI" 1,"VSAJ" 4, "VSAK" 2, "VSAL" 9, "VSAM" 3, "VSAQ" 2,"VSAR" 2;
}

@font-face {
	font-family: 'Iosevka Sans QP Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2/IosevkaSansQp-ExtraLightItalic.woff2') format('woff2'), url('TTF/IosevkaSansQp-ExtraLightItalic.ttf') format('truetype');
  font-feature-settings: "cv36" 3, "cv41" 14, "cv42" 1, "cv45" 6, "cv52" 12,"cv54" 8, "cv57" 10, "cv59" 4, "cv61" 5, "cv62" 21,"cv63" 9, "cv70" 2, "cv71" 8, "cv73" 3, "cv77" 4,"VXAF" 1, "cv78" 9, "cv79" 3, "cv85" 18, "cv86" 18,"cv88" 1, "cv91" 4, "cv92" 4, "cv93" 5, "cv99" 2,"VAAA" 2, "cv10" 10, "cv01" 3, "cv02" 2, "cv03" 2,"cv04" 8, "cv05" 4, "cv06" 1, "cv07" 4, "cv08" 2,"cv09" 1, "VSAB" 11, "VSAC" 3, "VSAH" 3, "VSAI" 1,"VSAJ" 4, "VSAK" 2, "VSAL" 9, "VSAM" 3, "VSAQ" 2,"VSAR" 2;
}

@font-face {
	font-family: 'Iosevka Sans QP Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2/IosevkaSansQp-ExtendedExtraLightItalic.woff2') format('woff2'), url('TTF/IosevkaSansQp-ExtendedExtraLightItalic.ttf') format('truetype');
  font-feature-settings: "cv36" 3, "cv41" 14, "cv42" 1, "cv45" 6, "cv52" 12,"cv54" 8, "cv57" 10, "cv59" 4, "cv61" 5, "cv62" 21,"cv63" 9, "cv70" 2, "cv71" 8, "cv73" 3, "cv77" 4,"VXAF" 1, "cv78" 9, "cv79" 3, "cv85" 18, "cv86" 18,"cv88" 1, "cv91" 4, "cv92" 4, "cv93" 5, "cv99" 2,"VAAA" 2, "cv10" 10, "cv01" 3, "cv02" 2, "cv03" 2,"cv04" 8, "cv05" 4, "cv06" 1, "cv07" 4, "cv08" 2,"cv09" 1, "VSAB" 11, "VSAC" 3, "VSAH" 3, "VSAI" 1,"VSAJ" 4, "VSAK" 2, "VSAL" 9, "VSAM" 3, "VSAQ" 2,"VSAR" 2;
}

@font-face {
	font-family: 'Iosevka Sans QP Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2/IosevkaSansQp-Light.woff2') format('woff2'), url('TTF/IosevkaSansQp-Light.ttf') format('truetype');
  font-feature-settings: "cv36" 3, "cv41" 14, "cv42" 1, "cv45" 6, "cv52" 12,"cv54" 8, "cv57" 10, "cv59" 4, "cv61" 5, "cv62" 21,"cv63" 9, "cv70" 2, "cv71" 8, "cv73" 3, "cv77" 4,"VXAF" 1, "cv78" 9, "cv79" 3, "cv85" 18, "cv86" 18,"cv88" 1, "cv91" 4, "cv92" 4, "cv93" 5, "cv99" 2,"VAAA" 2, "cv10" 10, "cv01" 3, "cv02" 2, "cv03" 2,"cv04" 8, "cv05" 4, "cv06" 1, "cv07" 4, "cv08" 2,"cv09" 1, "VSAB" 11, "VSAC" 3, "VSAH" 3, "VSAI" 1,"VSAJ" 4, "VSAK" 2, "VSAL" 9, "VSAM" 3, "VSAQ" 2,"VSAR" 2;
}

@font-face {
	font-family: 'Iosevka Sans QP Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2/IosevkaSansQp-ExtendedLight.woff2') format('woff2'), url('TTF/IosevkaSansQp-ExtendedLight.ttf') format('truetype');
  font-feature-settings: "cv36" 3, "cv41" 14, "cv42" 1, "cv45" 6, "cv52" 12,"cv54" 8, "cv57" 10, "cv59" 4, "cv61" 5, "cv62" 21,"cv63" 9, "cv70" 2, "cv71" 8, "cv73" 3, "cv77" 4,"VXAF" 1, "cv78" 9, "cv79" 3, "cv85" 18, "cv86" 18,"cv88" 1, "cv91" 4, "cv92" 4, "cv93" 5, "cv99" 2,"VAAA" 2, "cv10" 10, "cv01" 3, "cv02" 2, "cv03" 2,"cv04" 8, "cv05" 4, "cv06" 1, "cv07" 4, "cv08" 2,"cv09" 1, "VSAB" 11, "VSAC" 3, "VSAH" 3, "VSAI" 1,"VSAJ" 4, "VSAK" 2, "VSAL" 9, "VSAM" 3, "VSAQ" 2,"VSAR" 2;
}

@font-face {
	font-family: 'Iosevka Sans QP Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2/IosevkaSansQp-LightOblique.woff2') format('woff2'), url('TTF/IosevkaSansQp-LightOblique.ttf') format('truetype');
  font-feature-settings: "cv36" 3, "cv41" 14, "cv42" 1, "cv45" 6, "cv52" 12,"cv54" 8, "cv57" 10, "cv59" 4, "cv61" 5, "cv62" 21,"cv63" 9, "cv70" 2, "cv71" 8, "cv73" 3, "cv77" 4,"VXAF" 1, "cv78" 9, "cv79" 3, "cv85" 18, "cv86" 18,"cv88" 1, "cv91" 4, "cv92" 4, "cv93" 5, "cv99" 2,"VAAA" 2, "cv10" 10, "cv01" 3, "cv02" 2, "cv03" 2,"cv04" 8, "cv05" 4, "cv06" 1, "cv07" 4, "cv08" 2,"cv09" 1, "VSAB" 11, "VSAC" 3, "VSAH" 3, "VSAI" 1,"VSAJ" 4, "VSAK" 2, "VSAL" 9, "VSAM" 3, "VSAQ" 2,"VSAR" 2;
}

@font-face {
	font-family: 'Iosevka Sans QP Web Oblique';
	font-display: swap;
	font-weight: 300;
	font-stretch: normal;
	src: url('WOFF2/IosevkaSansQp-LightOblique.woff2') format('woff2'), url('TTF/IosevkaSansQp-LightOblique.ttf') format('truetype');
  font-feature-settings: "cv36" 3, "cv41" 14, "cv42" 1, "cv45" 6, "cv52" 12,"cv54" 8, "cv57" 10, "cv59" 4, "cv61" 5, "cv62" 21,"cv63" 9, "cv70" 2, "cv71" 8, "cv73" 3, "cv77" 4,"VXAF" 1, "cv78" 9, "cv79" 3, "cv85" 18, "cv86" 18,"cv88" 1, "cv91" 4, "cv92" 4, "cv93" 5, "cv99" 2,"VAAA" 2, "cv10" 10, "cv01" 3, "cv02" 2, "cv03" 2,"cv04" 8, "cv05" 4, "cv06" 1, "cv07" 4, "cv08" 2,"cv09" 1, "VSAB" 11, "VSAC" 3, "VSAH" 3, "VSAI" 1,"VSAJ" 4, "VSAK" 2, "VSAL" 9, "VSAM" 3, "VSAQ" 2,"VSAR" 2;
}

@font-face {
	font-family: 'Iosevka Sans QP Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2/IosevkaSansQp-ExtendedLightOblique.woff2') format('woff2'), url('TTF/IosevkaSansQp-ExtendedLightOblique.ttf') format('truetype');
  font-feature-settings: "cv36" 3, "cv41" 14, "cv42" 1, "cv45" 6, "cv52" 12,"cv54" 8, "cv57" 10, "cv59" 4, "cv61" 5, "cv62" 21,"cv63" 9, "cv70" 2, "cv71" 8, "cv73" 3, "cv77" 4,"VXAF" 1, "cv78" 9, "cv79" 3, "cv85" 18, "cv86" 18,"cv88" 1, "cv91" 4, "cv92" 4, "cv93" 5, "cv99" 2,"VAAA" 2, "cv10" 10, "cv01" 3, "cv02" 2, "cv03" 2,"cv04" 8, "cv05" 4, "cv06" 1, "cv07" 4, "cv08" 2,"cv09" 1, "VSAB" 11, "VSAC" 3, "VSAH" 3, "VSAI" 1,"VSAJ" 4, "VSAK" 2, "VSAL" 9, "VSAM" 3, "VSAQ" 2,"VSAR" 2;
}

@font-face {
	font-family: 'Iosevka Sans QP Web Oblique';
	font-display: swap;
	font-weight: 300;
	font-stretch: expanded;
	src: url('WOFF2/IosevkaSansQp-ExtendedLightOblique.woff2') format('woff2'), url('TTF/IosevkaSansQp-ExtendedLightOblique.ttf') format('truetype');
  font-feature-settings: "cv36" 3, "cv41" 14, "cv42" 1, "cv45" 6, "cv52" 12,"cv54" 8, "cv57" 10, "cv59" 4, "cv61" 5, "cv62" 21,"cv63" 9, "cv70" 2, "cv71" 8, "cv73" 3, "cv77" 4,"VXAF" 1, "cv78" 9, "cv79" 3, "cv85" 18, "cv86" 18,"cv88" 1, "cv91" 4, "cv92" 4, "cv93" 5, "cv99" 2,"VAAA" 2, "cv10" 10, "cv01" 3, "cv02" 2, "cv03" 2,"cv04" 8, "cv05" 4, "cv06" 1, "cv07" 4, "cv08" 2,"cv09" 1, "VSAB" 11, "VSAC" 3, "VSAH" 3, "VSAI" 1,"VSAJ" 4, "VSAK" 2, "VSAL" 9, "VSAM" 3, "VSAQ" 2,"VSAR" 2;
}

@font-face {
	font-family: 'Iosevka Sans QP Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2/IosevkaSansQp-LightItalic.woff2') format('woff2'), url('TTF/IosevkaSansQp-LightItalic.ttf') format('truetype');
  font-feature-settings: "cv36" 3, "cv41" 14, "cv42" 1, "cv45" 6, "cv52" 12,"cv54" 8, "cv57" 10, "cv59" 4, "cv61" 5, "cv62" 21,"cv63" 9, "cv70" 2, "cv71" 8, "cv73" 3, "cv77" 4,"VXAF" 1, "cv78" 9, "cv79" 3, "cv85" 18, "cv86" 18,"cv88" 1, "cv91" 4, "cv92" 4, "cv93" 5, "cv99" 2,"VAAA" 2, "cv10" 10, "cv01" 3, "cv02" 2, "cv03" 2,"cv04" 8, "cv05" 4, "cv06" 1, "cv07" 4, "cv08" 2,"cv09" 1, "VSAB" 11, "VSAC" 3, "VSAH" 3, "VSAI" 1,"VSAJ" 4, "VSAK" 2, "VSAL" 9, "VSAM" 3, "VSAQ" 2,"VSAR" 2;
}

@font-face {
	font-family: 'Iosevka Sans QP Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2/IosevkaSansQp-ExtendedLightItalic.woff2') format('woff2'), url('TTF/IosevkaSansQp-ExtendedLightItalic.ttf') format('truetype');
  font-feature-settings: "cv36" 3, "cv41" 14, "cv42" 1, "cv45" 6, "cv52" 12,"cv54" 8, "cv57" 10, "cv59" 4, "cv61" 5, "cv62" 21,"cv63" 9, "cv70" 2, "cv71" 8, "cv73" 3, "cv77" 4,"VXAF" 1, "cv78" 9, "cv79" 3, "cv85" 18, "cv86" 18,"cv88" 1, "cv91" 4, "cv92" 4, "cv93" 5, "cv99" 2,"VAAA" 2, "cv10" 10, "cv01" 3, "cv02" 2, "cv03" 2,"cv04" 8, "cv05" 4, "cv06" 1, "cv07" 4, "cv08" 2,"cv09" 1, "VSAB" 11, "VSAC" 3, "VSAH" 3, "VSAI" 1,"VSAJ" 4, "VSAK" 2, "VSAL" 9, "VSAM" 3, "VSAQ" 2,"VSAR" 2;
}

@font-face {
	font-family: 'Iosevka Sans QP Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2/IosevkaSansQp-Regular.woff2') format('woff2'), url('TTF/IosevkaSansQp-Regular.ttf') format('truetype');
  font-feature-settings: "cv36" 3, "cv41" 14, "cv42" 1, "cv45" 6, "cv52" 12,"cv54" 8, "cv57" 10, "cv59" 4, "cv61" 5, "cv62" 21,"cv63" 9, "cv70" 2, "cv71" 8, "cv73" 3, "cv77" 4,"VXAF" 1, "cv78" 9, "cv79" 3, "cv85" 18, "cv86" 18,"cv88" 1, "cv91" 4, "cv92" 4, "cv93" 5, "cv99" 2,"VAAA" 2, "cv10" 10, "cv01" 3, "cv02" 2, "cv03" 2,"cv04" 8, "cv05" 4, "cv06" 1, "cv07" 4, "cv08" 2,"cv09" 1, "VSAB" 11, "VSAC" 3, "VSAH" 3, "VSAI" 1,"VSAJ" 4, "VSAK" 2, "VSAL" 9, "VSAM" 3, "VSAQ" 2,"VSAR" 2;
}

@font-face {
	font-family: 'Iosevka Sans QP Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2/IosevkaSansQp-Extended.woff2') format('woff2'), url('TTF/IosevkaSansQp-Extended.ttf') format('truetype');
  font-feature-settings: "cv36" 3, "cv41" 14, "cv42" 1, "cv45" 6, "cv52" 12,"cv54" 8, "cv57" 10, "cv59" 4, "cv61" 5, "cv62" 21,"cv63" 9, "cv70" 2, "cv71" 8, "cv73" 3, "cv77" 4,"VXAF" 1, "cv78" 9, "cv79" 3, "cv85" 18, "cv86" 18,"cv88" 1, "cv91" 4, "cv92" 4, "cv93" 5, "cv99" 2,"VAAA" 2, "cv10" 10, "cv01" 3, "cv02" 2, "cv03" 2,"cv04" 8, "cv05" 4, "cv06" 1, "cv07" 4, "cv08" 2,"cv09" 1, "VSAB" 11, "VSAC" 3, "VSAH" 3, "VSAI" 1,"VSAJ" 4, "VSAK" 2, "VSAL" 9, "VSAM" 3, "VSAQ" 2,"VSAR" 2;
}

@font-face {
	font-family: 'Iosevka Sans QP Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2/IosevkaSansQp-Oblique.woff2') format('woff2'), url('TTF/IosevkaSansQp-Oblique.ttf') format('truetype');
  font-feature-settings: "cv36" 3, "cv41" 14, "cv42" 1, "cv45" 6, "cv52" 12,"cv54" 8, "cv57" 10, "cv59" 4, "cv61" 5, "cv62" 21,"cv63" 9, "cv70" 2, "cv71" 8, "cv73" 3, "cv77" 4,"VXAF" 1, "cv78" 9, "cv79" 3, "cv85" 18, "cv86" 18,"cv88" 1, "cv91" 4, "cv92" 4, "cv93" 5, "cv99" 2,"VAAA" 2, "cv10" 10, "cv01" 3, "cv02" 2, "cv03" 2,"cv04" 8, "cv05" 4, "cv06" 1, "cv07" 4, "cv08" 2,"cv09" 1, "VSAB" 11, "VSAC" 3, "VSAH" 3, "VSAI" 1,"VSAJ" 4, "VSAK" 2, "VSAL" 9, "VSAM" 3, "VSAQ" 2,"VSAR" 2;
}

@font-face {
	font-family: 'Iosevka Sans QP Web Oblique';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	src: url('WOFF2/IosevkaSansQp-Oblique.woff2') format('woff2'), url('TTF/IosevkaSansQp-Oblique.ttf') format('truetype');
  font-feature-settings: "cv36" 3, "cv41" 14, "cv42" 1, "cv45" 6, "cv52" 12,"cv54" 8, "cv57" 10, "cv59" 4, "cv61" 5, "cv62" 21,"cv63" 9, "cv70" 2, "cv71" 8, "cv73" 3, "cv77" 4,"VXAF" 1, "cv78" 9, "cv79" 3, "cv85" 18, "cv86" 18,"cv88" 1, "cv91" 4, "cv92" 4, "cv93" 5, "cv99" 2,"VAAA" 2, "cv10" 10, "cv01" 3, "cv02" 2, "cv03" 2,"cv04" 8, "cv05" 4, "cv06" 1, "cv07" 4, "cv08" 2,"cv09" 1, "VSAB" 11, "VSAC" 3, "VSAH" 3, "VSAI" 1,"VSAJ" 4, "VSAK" 2, "VSAL" 9, "VSAM" 3, "VSAQ" 2,"VSAR" 2;
}

@font-face {
	font-family: 'Iosevka Sans QP Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2/IosevkaSansQp-ExtendedOblique.woff2') format('woff2'), url('TTF/IosevkaSansQp-ExtendedOblique.ttf') format('truetype');
  font-feature-settings: "cv36" 3, "cv41" 14, "cv42" 1, "cv45" 6, "cv52" 12,"cv54" 8, "cv57" 10, "cv59" 4, "cv61" 5, "cv62" 21,"cv63" 9, "cv70" 2, "cv71" 8, "cv73" 3, "cv77" 4,"VXAF" 1, "cv78" 9, "cv79" 3, "cv85" 18, "cv86" 18,"cv88" 1, "cv91" 4, "cv92" 4, "cv93" 5, "cv99" 2,"VAAA" 2, "cv10" 10, "cv01" 3, "cv02" 2, "cv03" 2,"cv04" 8, "cv05" 4, "cv06" 1, "cv07" 4, "cv08" 2,"cv09" 1, "VSAB" 11, "VSAC" 3, "VSAH" 3, "VSAI" 1,"VSAJ" 4, "VSAK" 2, "VSAL" 9, "VSAM" 3, "VSAQ" 2,"VSAR" 2;
}

@font-face {
	font-family: 'Iosevka Sans QP Web Oblique';
	font-display: swap;
	font-weight: 400;
	font-stretch: expanded;
	src: url('WOFF2/IosevkaSansQp-ExtendedOblique.woff2') format('woff2'), url('TTF/IosevkaSansQp-ExtendedOblique.ttf') format('truetype');
  font-feature-settings: "cv36" 3, "cv41" 14, "cv42" 1, "cv45" 6, "cv52" 12,"cv54" 8, "cv57" 10, "cv59" 4, "cv61" 5, "cv62" 21,"cv63" 9, "cv70" 2, "cv71" 8, "cv73" 3, "cv77" 4,"VXAF" 1, "cv78" 9, "cv79" 3, "cv85" 18, "cv86" 18,"cv88" 1, "cv91" 4, "cv92" 4, "cv93" 5, "cv99" 2,"VAAA" 2, "cv10" 10, "cv01" 3, "cv02" 2, "cv03" 2,"cv04" 8, "cv05" 4, "cv06" 1, "cv07" 4, "cv08" 2,"cv09" 1, "VSAB" 11, "VSAC" 3, "VSAH" 3, "VSAI" 1,"VSAJ" 4, "VSAK" 2, "VSAL" 9, "VSAM" 3, "VSAQ" 2,"VSAR" 2;
}

@font-face {
	font-family: 'Iosevka Sans QP Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2/IosevkaSansQp-Italic.woff2') format('woff2'), url('TTF/IosevkaSansQp-Italic.ttf') format('truetype');
  font-feature-settings: "cv36" 3, "cv41" 14, "cv42" 1, "cv45" 6, "cv52" 12,"cv54" 8, "cv57" 10, "cv59" 4, "cv61" 5, "cv62" 21,"cv63" 9, "cv70" 2, "cv71" 8, "cv73" 3, "cv77" 4,"VXAF" 1, "cv78" 9, "cv79" 3, "cv85" 18, "cv86" 18,"cv88" 1, "cv91" 4, "cv92" 4, "cv93" 5, "cv99" 2,"VAAA" 2, "cv10" 10, "cv01" 3, "cv02" 2, "cv03" 2,"cv04" 8, "cv05" 4, "cv06" 1, "cv07" 4, "cv08" 2,"cv09" 1, "VSAB" 11, "VSAC" 3, "VSAH" 3, "VSAI" 1,"VSAJ" 4, "VSAK" 2, "VSAL" 9, "VSAM" 3, "VSAQ" 2,"VSAR" 2;
}

@font-face {
	font-family: 'Iosevka Sans QP Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2/IosevkaSansQp-ExtendedItalic.woff2') format('woff2'), url('TTF/IosevkaSansQp-ExtendedItalic.ttf') format('truetype');
  font-feature-settings: "cv36" 3, "cv41" 14, "cv42" 1, "cv45" 6, "cv52" 12,"cv54" 8, "cv57" 10, "cv59" 4, "cv61" 5, "cv62" 21,"cv63" 9, "cv70" 2, "cv71" 8, "cv73" 3, "cv77" 4,"VXAF" 1, "cv78" 9, "cv79" 3, "cv85" 18, "cv86" 18,"cv88" 1, "cv91" 4, "cv92" 4, "cv93" 5, "cv99" 2,"VAAA" 2, "cv10" 10, "cv01" 3, "cv02" 2, "cv03" 2,"cv04" 8, "cv05" 4, "cv06" 1, "cv07" 4, "cv08" 2,"cv09" 1, "VSAB" 11, "VSAC" 3, "VSAH" 3, "VSAI" 1,"VSAJ" 4, "VSAK" 2, "VSAL" 9, "VSAM" 3, "VSAQ" 2,"VSAR" 2;
}

@font-face {
	font-family: 'Iosevka Sans QP Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2/IosevkaSansQp-Medium.woff2') format('woff2'), url('TTF/IosevkaSansQp-Medium.ttf') format('truetype');
  font-feature-settings: "cv36" 3, "cv41" 14, "cv42" 1, "cv45" 6, "cv52" 12,"cv54" 8, "cv57" 10, "cv59" 4, "cv61" 5, "cv62" 21,"cv63" 9, "cv70" 2, "cv71" 8, "cv73" 3, "cv77" 4,"VXAF" 1, "cv78" 9, "cv79" 3, "cv85" 18, "cv86" 18,"cv88" 1, "cv91" 4, "cv92" 4, "cv93" 5, "cv99" 2,"VAAA" 2, "cv10" 10, "cv01" 3, "cv02" 2, "cv03" 2,"cv04" 8, "cv05" 4, "cv06" 1, "cv07" 4, "cv08" 2,"cv09" 1, "VSAB" 11, "VSAC" 3, "VSAH" 3, "VSAI" 1,"VSAJ" 4, "VSAK" 2, "VSAL" 9, "VSAM" 3, "VSAQ" 2,"VSAR" 2;
}

@font-face {
	font-family: 'Iosevka Sans QP Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2/IosevkaSansQp-ExtendedMedium.woff2') format('woff2'), url('TTF/IosevkaSansQp-ExtendedMedium.ttf') format('truetype');
  font-feature-settings: "cv36" 3, "cv41" 14, "cv42" 1, "cv45" 6, "cv52" 12,"cv54" 8, "cv57" 10, "cv59" 4, "cv61" 5, "cv62" 21,"cv63" 9, "cv70" 2, "cv71" 8, "cv73" 3, "cv77" 4,"VXAF" 1, "cv78" 9, "cv79" 3, "cv85" 18, "cv86" 18,"cv88" 1, "cv91" 4, "cv92" 4, "cv93" 5, "cv99" 2,"VAAA" 2, "cv10" 10, "cv01" 3, "cv02" 2, "cv03" 2,"cv04" 8, "cv05" 4, "cv06" 1, "cv07" 4, "cv08" 2,"cv09" 1, "VSAB" 11, "VSAC" 3, "VSAH" 3, "VSAI" 1,"VSAJ" 4, "VSAK" 2, "VSAL" 9, "VSAM" 3, "VSAQ" 2,"VSAR" 2;
}

@font-face {
	font-family: 'Iosevka Sans QP Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2/IosevkaSansQp-MediumOblique.woff2') format('woff2'), url('TTF/IosevkaSansQp-MediumOblique.ttf') format('truetype');
  font-feature-settings: "cv36" 3, "cv41" 14, "cv42" 1, "cv45" 6, "cv52" 12,"cv54" 8, "cv57" 10, "cv59" 4, "cv61" 5, "cv62" 21,"cv63" 9, "cv70" 2, "cv71" 8, "cv73" 3, "cv77" 4,"VXAF" 1, "cv78" 9, "cv79" 3, "cv85" 18, "cv86" 18,"cv88" 1, "cv91" 4, "cv92" 4, "cv93" 5, "cv99" 2,"VAAA" 2, "cv10" 10, "cv01" 3, "cv02" 2, "cv03" 2,"cv04" 8, "cv05" 4, "cv06" 1, "cv07" 4, "cv08" 2,"cv09" 1, "VSAB" 11, "VSAC" 3, "VSAH" 3, "VSAI" 1,"VSAJ" 4, "VSAK" 2, "VSAL" 9, "VSAM" 3, "VSAQ" 2,"VSAR" 2;
}

@font-face {
	font-family: 'Iosevka Sans QP Web Oblique';
	font-display: swap;
	font-weight: 500;
	font-stretch: normal;
	src: url('WOFF2/IosevkaSansQp-MediumOblique.woff2') format('woff2'), url('TTF/IosevkaSansQp-MediumOblique.ttf') format('truetype');
  font-feature-settings: "cv36" 3, "cv41" 14, "cv42" 1, "cv45" 6, "cv52" 12,"cv54" 8, "cv57" 10, "cv59" 4, "cv61" 5, "cv62" 21,"cv63" 9, "cv70" 2, "cv71" 8, "cv73" 3, "cv77" 4,"VXAF" 1, "cv78" 9, "cv79" 3, "cv85" 18, "cv86" 18,"cv88" 1, "cv91" 4, "cv92" 4, "cv93" 5, "cv99" 2,"VAAA" 2, "cv10" 10, "cv01" 3, "cv02" 2, "cv03" 2,"cv04" 8, "cv05" 4, "cv06" 1, "cv07" 4, "cv08" 2,"cv09" 1, "VSAB" 11, "VSAC" 3, "VSAH" 3, "VSAI" 1,"VSAJ" 4, "VSAK" 2, "VSAL" 9, "VSAM" 3, "VSAQ" 2,"VSAR" 2;
}

@font-face {
	font-family: 'Iosevka Sans QP Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2/IosevkaSansQp-ExtendedMediumOblique.woff2') format('woff2'), url('TTF/IosevkaSansQp-ExtendedMediumOblique.ttf') format('truetype');
  font-feature-settings: "cv36" 3, "cv41" 14, "cv42" 1, "cv45" 6, "cv52" 12,"cv54" 8, "cv57" 10, "cv59" 4, "cv61" 5, "cv62" 21,"cv63" 9, "cv70" 2, "cv71" 8, "cv73" 3, "cv77" 4,"VXAF" 1, "cv78" 9, "cv79" 3, "cv85" 18, "cv86" 18,"cv88" 1, "cv91" 4, "cv92" 4, "cv93" 5, "cv99" 2,"VAAA" 2, "cv10" 10, "cv01" 3, "cv02" 2, "cv03" 2,"cv04" 8, "cv05" 4, "cv06" 1, "cv07" 4, "cv08" 2,"cv09" 1, "VSAB" 11, "VSAC" 3, "VSAH" 3, "VSAI" 1,"VSAJ" 4, "VSAK" 2, "VSAL" 9, "VSAM" 3, "VSAQ" 2,"VSAR" 2;
}

@font-face {
	font-family: 'Iosevka Sans QP Web Oblique';
	font-display: swap;
	font-weight: 500;
	font-stretch: expanded;
	src: url('WOFF2/IosevkaSansQp-ExtendedMediumOblique.woff2') format('woff2'), url('TTF/IosevkaSansQp-ExtendedMediumOblique.ttf') format('truetype');
  font-feature-settings: "cv36" 3, "cv41" 14, "cv42" 1, "cv45" 6, "cv52" 12,"cv54" 8, "cv57" 10, "cv59" 4, "cv61" 5, "cv62" 21,"cv63" 9, "cv70" 2, "cv71" 8, "cv73" 3, "cv77" 4,"VXAF" 1, "cv78" 9, "cv79" 3, "cv85" 18, "cv86" 18,"cv88" 1, "cv91" 4, "cv92" 4, "cv93" 5, "cv99" 2,"VAAA" 2, "cv10" 10, "cv01" 3, "cv02" 2, "cv03" 2,"cv04" 8, "cv05" 4, "cv06" 1, "cv07" 4, "cv08" 2,"cv09" 1, "VSAB" 11, "VSAC" 3, "VSAH" 3, "VSAI" 1,"VSAJ" 4, "VSAK" 2, "VSAL" 9, "VSAM" 3, "VSAQ" 2,"VSAR" 2;
}

@font-face {
	font-family: 'Iosevka Sans QP Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2/IosevkaSansQp-MediumItalic.woff2') format('woff2'), url('TTF/IosevkaSansQp-MediumItalic.ttf') format('truetype');
  font-feature-settings: "cv36" 3, "cv41" 14, "cv42" 1, "cv45" 6, "cv52" 12,"cv54" 8, "cv57" 10, "cv59" 4, "cv61" 5, "cv62" 21,"cv63" 9, "cv70" 2, "cv71" 8, "cv73" 3, "cv77" 4,"VXAF" 1, "cv78" 9, "cv79" 3, "cv85" 18, "cv86" 18,"cv88" 1, "cv91" 4, "cv92" 4, "cv93" 5, "cv99" 2,"VAAA" 2, "cv10" 10, "cv01" 3, "cv02" 2, "cv03" 2,"cv04" 8, "cv05" 4, "cv06" 1, "cv07" 4, "cv08" 2,"cv09" 1, "VSAB" 11, "VSAC" 3, "VSAH" 3, "VSAI" 1,"VSAJ" 4, "VSAK" 2, "VSAL" 9, "VSAM" 3, "VSAQ" 2,"VSAR" 2;
}

@font-face {
	font-family: 'Iosevka Sans QP Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2/IosevkaSansQp-ExtendedMediumItalic.woff2') format('woff2'), url('TTF/IosevkaSansQp-ExtendedMediumItalic.ttf') format('truetype');
  font-feature-settings: "cv36" 3, "cv41" 14, "cv42" 1, "cv45" 6, "cv52" 12,"cv54" 8, "cv57" 10, "cv59" 4, "cv61" 5, "cv62" 21,"cv63" 9, "cv70" 2, "cv71" 8, "cv73" 3, "cv77" 4,"VXAF" 1, "cv78" 9, "cv79" 3, "cv85" 18, "cv86" 18,"cv88" 1, "cv91" 4, "cv92" 4, "cv93" 5, "cv99" 2,"VAAA" 2, "cv10" 10, "cv01" 3, "cv02" 2, "cv03" 2,"cv04" 8, "cv05" 4, "cv06" 1, "cv07" 4, "cv08" 2,"cv09" 1, "VSAB" 11, "VSAC" 3, "VSAH" 3, "VSAI" 1,"VSAJ" 4, "VSAK" 2, "VSAL" 9, "VSAM" 3, "VSAQ" 2,"VSAR" 2;
}

@font-face {
	font-family: 'Iosevka Sans QP Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2/IosevkaSansQp-SemiBold.woff2') format('woff2'), url('TTF/IosevkaSansQp-SemiBold.ttf') format('truetype');
  font-feature-settings: "cv36" 3, "cv41" 14, "cv42" 1, "cv45" 6, "cv52" 12,"cv54" 8, "cv57" 10, "cv59" 4, "cv61" 5, "cv62" 21,"cv63" 9, "cv70" 2, "cv71" 8, "cv73" 3, "cv77" 4,"VXAF" 1, "cv78" 9, "cv79" 3, "cv85" 18, "cv86" 18,"cv88" 1, "cv91" 4, "cv92" 4, "cv93" 5, "cv99" 2,"VAAA" 2, "cv10" 10, "cv01" 3, "cv02" 2, "cv03" 2,"cv04" 8, "cv05" 4, "cv06" 1, "cv07" 4, "cv08" 2,"cv09" 1, "VSAB" 11, "VSAC" 3, "VSAH" 3, "VSAI" 1,"VSAJ" 4, "VSAK" 2, "VSAL" 9, "VSAM" 3, "VSAQ" 2,"VSAR" 2;
}

@font-face {
	font-family: 'Iosevka Sans QP Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2/IosevkaSansQp-ExtendedSemiBold.woff2') format('woff2'), url('TTF/IosevkaSansQp-ExtendedSemiBold.ttf') format('truetype');
  font-feature-settings: "cv36" 3, "cv41" 14, "cv42" 1, "cv45" 6, "cv52" 12,"cv54" 8, "cv57" 10, "cv59" 4, "cv61" 5, "cv62" 21,"cv63" 9, "cv70" 2, "cv71" 8, "cv73" 3, "cv77" 4,"VXAF" 1, "cv78" 9, "cv79" 3, "cv85" 18, "cv86" 18,"cv88" 1, "cv91" 4, "cv92" 4, "cv93" 5, "cv99" 2,"VAAA" 2, "cv10" 10, "cv01" 3, "cv02" 2, "cv03" 2,"cv04" 8, "cv05" 4, "cv06" 1, "cv07" 4, "cv08" 2,"cv09" 1, "VSAB" 11, "VSAC" 3, "VSAH" 3, "VSAI" 1,"VSAJ" 4, "VSAK" 2, "VSAL" 9, "VSAM" 3, "VSAQ" 2,"VSAR" 2;
}

@font-face {
	font-family: 'Iosevka Sans QP Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2/IosevkaSansQp-SemiBoldOblique.woff2') format('woff2'), url('TTF/IosevkaSansQp-SemiBoldOblique.ttf') format('truetype');
  font-feature-settings: "cv36" 3, "cv41" 14, "cv42" 1, "cv45" 6, "cv52" 12,"cv54" 8, "cv57" 10, "cv59" 4, "cv61" 5, "cv62" 21,"cv63" 9, "cv70" 2, "cv71" 8, "cv73" 3, "cv77" 4,"VXAF" 1, "cv78" 9, "cv79" 3, "cv85" 18, "cv86" 18,"cv88" 1, "cv91" 4, "cv92" 4, "cv93" 5, "cv99" 2,"VAAA" 2, "cv10" 10, "cv01" 3, "cv02" 2, "cv03" 2,"cv04" 8, "cv05" 4, "cv06" 1, "cv07" 4, "cv08" 2,"cv09" 1, "VSAB" 11, "VSAC" 3, "VSAH" 3, "VSAI" 1,"VSAJ" 4, "VSAK" 2, "VSAL" 9, "VSAM" 3, "VSAQ" 2,"VSAR" 2;
}

@font-face {
	font-family: 'Iosevka Sans QP Web Oblique';
	font-display: swap;
	font-weight: 600;
	font-stretch: normal;
	src: url('WOFF2/IosevkaSansQp-SemiBoldOblique.woff2') format('woff2'), url('TTF/IosevkaSansQp-SemiBoldOblique.ttf') format('truetype');
  font-feature-settings: "cv36" 3, "cv41" 14, "cv42" 1, "cv45" 6, "cv52" 12,"cv54" 8, "cv57" 10, "cv59" 4, "cv61" 5, "cv62" 21,"cv63" 9, "cv70" 2, "cv71" 8, "cv73" 3, "cv77" 4,"VXAF" 1, "cv78" 9, "cv79" 3, "cv85" 18, "cv86" 18,"cv88" 1, "cv91" 4, "cv92" 4, "cv93" 5, "cv99" 2,"VAAA" 2, "cv10" 10, "cv01" 3, "cv02" 2, "cv03" 2,"cv04" 8, "cv05" 4, "cv06" 1, "cv07" 4, "cv08" 2,"cv09" 1, "VSAB" 11, "VSAC" 3, "VSAH" 3, "VSAI" 1,"VSAJ" 4, "VSAK" 2, "VSAL" 9, "VSAM" 3, "VSAQ" 2,"VSAR" 2;
}

@font-face {
	font-family: 'Iosevka Sans QP Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2/IosevkaSansQp-ExtendedSemiBoldOblique.woff2') format('woff2'), url('TTF/IosevkaSansQp-ExtendedSemiBoldOblique.ttf') format('truetype');
  font-feature-settings: "cv36" 3, "cv41" 14, "cv42" 1, "cv45" 6, "cv52" 12,"cv54" 8, "cv57" 10, "cv59" 4, "cv61" 5, "cv62" 21,"cv63" 9, "cv70" 2, "cv71" 8, "cv73" 3, "cv77" 4,"VXAF" 1, "cv78" 9, "cv79" 3, "cv85" 18, "cv86" 18,"cv88" 1, "cv91" 4, "cv92" 4, "cv93" 5, "cv99" 2,"VAAA" 2, "cv10" 10, "cv01" 3, "cv02" 2, "cv03" 2,"cv04" 8, "cv05" 4, "cv06" 1, "cv07" 4, "cv08" 2,"cv09" 1, "VSAB" 11, "VSAC" 3, "VSAH" 3, "VSAI" 1,"VSAJ" 4, "VSAK" 2, "VSAL" 9, "VSAM" 3, "VSAQ" 2,"VSAR" 2;
}

@font-face {
	font-family: 'Iosevka Sans QP Web Oblique';
	font-display: swap;
	font-weight: 600;
	font-stretch: expanded;
	src: url('WOFF2/IosevkaSansQp-ExtendedSemiBoldOblique.woff2') format('woff2'), url('TTF/IosevkaSansQp-ExtendedSemiBoldOblique.ttf') format('truetype');
  font-feature-settings: "cv36" 3, "cv41" 14, "cv42" 1, "cv45" 6, "cv52" 12,"cv54" 8, "cv57" 10, "cv59" 4, "cv61" 5, "cv62" 21,"cv63" 9, "cv70" 2, "cv71" 8, "cv73" 3, "cv77" 4,"VXAF" 1, "cv78" 9, "cv79" 3, "cv85" 18, "cv86" 18,"cv88" 1, "cv91" 4, "cv92" 4, "cv93" 5, "cv99" 2,"VAAA" 2, "cv10" 10, "cv01" 3, "cv02" 2, "cv03" 2,"cv04" 8, "cv05" 4, "cv06" 1, "cv07" 4, "cv08" 2,"cv09" 1, "VSAB" 11, "VSAC" 3, "VSAH" 3, "VSAI" 1,"VSAJ" 4, "VSAK" 2, "VSAL" 9, "VSAM" 3, "VSAQ" 2,"VSAR" 2;
}

@font-face {
	font-family: 'Iosevka Sans QP Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2/IosevkaSansQp-SemiBoldItalic.woff2') format('woff2'), url('TTF/IosevkaSansQp-SemiBoldItalic.ttf') format('truetype');
  font-feature-settings: "cv36" 3, "cv41" 14, "cv42" 1, "cv45" 6, "cv52" 12,"cv54" 8, "cv57" 10, "cv59" 4, "cv61" 5, "cv62" 21,"cv63" 9, "cv70" 2, "cv71" 8, "cv73" 3, "cv77" 4,"VXAF" 1, "cv78" 9, "cv79" 3, "cv85" 18, "cv86" 18,"cv88" 1, "cv91" 4, "cv92" 4, "cv93" 5, "cv99" 2,"VAAA" 2, "cv10" 10, "cv01" 3, "cv02" 2, "cv03" 2,"cv04" 8, "cv05" 4, "cv06" 1, "cv07" 4, "cv08" 2,"cv09" 1, "VSAB" 11, "VSAC" 3, "VSAH" 3, "VSAI" 1,"VSAJ" 4, "VSAK" 2, "VSAL" 9, "VSAM" 3, "VSAQ" 2,"VSAR" 2;
}

@font-face {
	font-family: 'Iosevka Sans QP Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2/IosevkaSansQp-ExtendedSemiBoldItalic.woff2') format('woff2'), url('TTF/IosevkaSansQp-ExtendedSemiBoldItalic.ttf') format('truetype');
  font-feature-settings: "cv36" 3, "cv41" 14, "cv42" 1, "cv45" 6, "cv52" 12,"cv54" 8, "cv57" 10, "cv59" 4, "cv61" 5, "cv62" 21,"cv63" 9, "cv70" 2, "cv71" 8, "cv73" 3, "cv77" 4,"VXAF" 1, "cv78" 9, "cv79" 3, "cv85" 18, "cv86" 18,"cv88" 1, "cv91" 4, "cv92" 4, "cv93" 5, "cv99" 2,"VAAA" 2, "cv10" 10, "cv01" 3, "cv02" 2, "cv03" 2,"cv04" 8, "cv05" 4, "cv06" 1, "cv07" 4, "cv08" 2,"cv09" 1, "VSAB" 11, "VSAC" 3, "VSAH" 3, "VSAI" 1,"VSAJ" 4, "VSAK" 2, "VSAL" 9, "VSAM" 3, "VSAQ" 2,"VSAR" 2;
}

@font-face {
	font-family: 'Iosevka Sans QP Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2/IosevkaSansQp-Bold.woff2') format('woff2'), url('TTF/IosevkaSansQp-Bold.ttf') format('truetype');
  font-feature-settings: "cv36" 3, "cv41" 14, "cv42" 1, "cv45" 6, "cv52" 12,"cv54" 8, "cv57" 10, "cv59" 4, "cv61" 5, "cv62" 21,"cv63" 9, "cv70" 2, "cv71" 8, "cv73" 3, "cv77" 4,"VXAF" 1, "cv78" 9, "cv79" 3, "cv85" 18, "cv86" 18,"cv88" 1, "cv91" 4, "cv92" 4, "cv93" 5, "cv99" 2,"VAAA" 2, "cv10" 10, "cv01" 3, "cv02" 2, "cv03" 2,"cv04" 8, "cv05" 4, "cv06" 1, "cv07" 4, "cv08" 2,"cv09" 1, "VSAB" 11, "VSAC" 3, "VSAH" 3, "VSAI" 1,"VSAJ" 4, "VSAK" 2, "VSAL" 9, "VSAM" 3, "VSAQ" 2,"VSAR" 2;
}

@font-face {
	font-family: 'Iosevka Sans QP Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2/IosevkaSansQp-ExtendedBold.woff2') format('woff2'), url('TTF/IosevkaSansQp-ExtendedBold.ttf') format('truetype');
  font-feature-settings: "cv36" 3, "cv41" 14, "cv42" 1, "cv45" 6, "cv52" 12,"cv54" 8, "cv57" 10, "cv59" 4, "cv61" 5, "cv62" 21,"cv63" 9, "cv70" 2, "cv71" 8, "cv73" 3, "cv77" 4,"VXAF" 1, "cv78" 9, "cv79" 3, "cv85" 18, "cv86" 18,"cv88" 1, "cv91" 4, "cv92" 4, "cv93" 5, "cv99" 2,"VAAA" 2, "cv10" 10, "cv01" 3, "cv02" 2, "cv03" 2,"cv04" 8, "cv05" 4, "cv06" 1, "cv07" 4, "cv08" 2,"cv09" 1, "VSAB" 11, "VSAC" 3, "VSAH" 3, "VSAI" 1,"VSAJ" 4, "VSAK" 2, "VSAL" 9, "VSAM" 3, "VSAQ" 2,"VSAR" 2;
}

@font-face {
	font-family: 'Iosevka Sans QP Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2/IosevkaSansQp-BoldOblique.woff2') format('woff2'), url('TTF/IosevkaSansQp-BoldOblique.ttf') format('truetype');
  font-feature-settings: "cv36" 3, "cv41" 14, "cv42" 1, "cv45" 6, "cv52" 12,"cv54" 8, "cv57" 10, "cv59" 4, "cv61" 5, "cv62" 21,"cv63" 9, "cv70" 2, "cv71" 8, "cv73" 3, "cv77" 4,"VXAF" 1, "cv78" 9, "cv79" 3, "cv85" 18, "cv86" 18,"cv88" 1, "cv91" 4, "cv92" 4, "cv93" 5, "cv99" 2,"VAAA" 2, "cv10" 10, "cv01" 3, "cv02" 2, "cv03" 2,"cv04" 8, "cv05" 4, "cv06" 1, "cv07" 4, "cv08" 2,"cv09" 1, "VSAB" 11, "VSAC" 3, "VSAH" 3, "VSAI" 1,"VSAJ" 4, "VSAK" 2, "VSAL" 9, "VSAM" 3, "VSAQ" 2,"VSAR" 2;
}

@font-face {
	font-family: 'Iosevka Sans QP Web Oblique';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	src: url('WOFF2/IosevkaSansQp-BoldOblique.woff2') format('woff2'), url('TTF/IosevkaSansQp-BoldOblique.ttf') format('truetype');
  font-feature-settings: "cv36" 3, "cv41" 14, "cv42" 1, "cv45" 6, "cv52" 12,"cv54" 8, "cv57" 10, "cv59" 4, "cv61" 5, "cv62" 21,"cv63" 9, "cv70" 2, "cv71" 8, "cv73" 3, "cv77" 4,"VXAF" 1, "cv78" 9, "cv79" 3, "cv85" 18, "cv86" 18,"cv88" 1, "cv91" 4, "cv92" 4, "cv93" 5, "cv99" 2,"VAAA" 2, "cv10" 10, "cv01" 3, "cv02" 2, "cv03" 2,"cv04" 8, "cv05" 4, "cv06" 1, "cv07" 4, "cv08" 2,"cv09" 1, "VSAB" 11, "VSAC" 3, "VSAH" 3, "VSAI" 1,"VSAJ" 4, "VSAK" 2, "VSAL" 9, "VSAM" 3, "VSAQ" 2,"VSAR" 2;
}

@font-face {
	font-family: 'Iosevka Sans QP Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2/IosevkaSansQp-ExtendedBoldOblique.woff2') format('woff2'), url('TTF/IosevkaSansQp-ExtendedBoldOblique.ttf') format('truetype');
  font-feature-settings: "cv36" 3, "cv41" 14, "cv42" 1, "cv45" 6, "cv52" 12,"cv54" 8, "cv57" 10, "cv59" 4, "cv61" 5, "cv62" 21,"cv63" 9, "cv70" 2, "cv71" 8, "cv73" 3, "cv77" 4,"VXAF" 1, "cv78" 9, "cv79" 3, "cv85" 18, "cv86" 18,"cv88" 1, "cv91" 4, "cv92" 4, "cv93" 5, "cv99" 2,"VAAA" 2, "cv10" 10, "cv01" 3, "cv02" 2, "cv03" 2,"cv04" 8, "cv05" 4, "cv06" 1, "cv07" 4, "cv08" 2,"cv09" 1, "VSAB" 11, "VSAC" 3, "VSAH" 3, "VSAI" 1,"VSAJ" 4, "VSAK" 2, "VSAL" 9, "VSAM" 3, "VSAQ" 2,"VSAR" 2;
}

@font-face {
	font-family: 'Iosevka Sans QP Web Oblique';
	font-display: swap;
	font-weight: 700;
	font-stretch: expanded;
	src: url('WOFF2/IosevkaSansQp-ExtendedBoldOblique.woff2') format('woff2'), url('TTF/IosevkaSansQp-ExtendedBoldOblique.ttf') format('truetype');
  font-feature-settings: "cv36" 3, "cv41" 14, "cv42" 1, "cv45" 6, "cv52" 12,"cv54" 8, "cv57" 10, "cv59" 4, "cv61" 5, "cv62" 21,"cv63" 9, "cv70" 2, "cv71" 8, "cv73" 3, "cv77" 4,"VXAF" 1, "cv78" 9, "cv79" 3, "cv85" 18, "cv86" 18,"cv88" 1, "cv91" 4, "cv92" 4, "cv93" 5, "cv99" 2,"VAAA" 2, "cv10" 10, "cv01" 3, "cv02" 2, "cv03" 2,"cv04" 8, "cv05" 4, "cv06" 1, "cv07" 4, "cv08" 2,"cv09" 1, "VSAB" 11, "VSAC" 3, "VSAH" 3, "VSAI" 1,"VSAJ" 4, "VSAK" 2, "VSAL" 9, "VSAM" 3, "VSAQ" 2,"VSAR" 2;
}

@font-face {
	font-family: 'Iosevka Sans QP Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2/IosevkaSansQp-BoldItalic.woff2') format('woff2'), url('TTF/IosevkaSansQp-BoldItalic.ttf') format('truetype');
  font-feature-settings: "cv36" 3, "cv41" 14, "cv42" 1, "cv45" 6, "cv52" 12,"cv54" 8, "cv57" 10, "cv59" 4, "cv61" 5, "cv62" 21,"cv63" 9, "cv70" 2, "cv71" 8, "cv73" 3, "cv77" 4,"VXAF" 1, "cv78" 9, "cv79" 3, "cv85" 18, "cv86" 18,"cv88" 1, "cv91" 4, "cv92" 4, "cv93" 5, "cv99" 2,"VAAA" 2, "cv10" 10, "cv01" 3, "cv02" 2, "cv03" 2,"cv04" 8, "cv05" 4, "cv06" 1, "cv07" 4, "cv08" 2,"cv09" 1, "VSAB" 11, "VSAC" 3, "VSAH" 3, "VSAI" 1,"VSAJ" 4, "VSAK" 2, "VSAL" 9, "VSAM" 3, "VSAQ" 2,"VSAR" 2;
}

@font-face {
	font-family: 'Iosevka Sans QP Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2/IosevkaSansQp-ExtendedBoldItalic.woff2') format('woff2'), url('TTF/IosevkaSansQp-ExtendedBoldItalic.ttf') format('truetype');
  font-feature-settings: "cv36" 3, "cv41" 14, "cv42" 1, "cv45" 6, "cv52" 12,"cv54" 8, "cv57" 10, "cv59" 4, "cv61" 5, "cv62" 21,"cv63" 9, "cv70" 2, "cv71" 8, "cv73" 3, "cv77" 4,"VXAF" 1, "cv78" 9, "cv79" 3, "cv85" 18, "cv86" 18,"cv88" 1, "cv91" 4, "cv92" 4, "cv93" 5, "cv99" 2,"VAAA" 2, "cv10" 10, "cv01" 3, "cv02" 2, "cv03" 2,"cv04" 8, "cv05" 4, "cv06" 1, "cv07" 4, "cv08" 2,"cv09" 1, "VSAB" 11, "VSAC" 3, "VSAH" 3, "VSAI" 1,"VSAJ" 4, "VSAK" 2, "VSAL" 9, "VSAM" 3, "VSAQ" 2,"VSAR" 2;
}

@font-face {
	font-family: 'Iosevka Sans QP Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2/IosevkaSansQp-ExtraBold.woff2') format('woff2'), url('TTF/IosevkaSansQp-ExtraBold.ttf') format('truetype');
  font-feature-settings: "cv36" 3, "cv41" 14, "cv42" 1, "cv45" 6, "cv52" 12,"cv54" 8, "cv57" 10, "cv59" 4, "cv61" 5, "cv62" 21,"cv63" 9, "cv70" 2, "cv71" 8, "cv73" 3, "cv77" 4,"VXAF" 1, "cv78" 9, "cv79" 3, "cv85" 18, "cv86" 18,"cv88" 1, "cv91" 4, "cv92" 4, "cv93" 5, "cv99" 2,"VAAA" 2, "cv10" 10, "cv01" 3, "cv02" 2, "cv03" 2,"cv04" 8, "cv05" 4, "cv06" 1, "cv07" 4, "cv08" 2,"cv09" 1, "VSAB" 11, "VSAC" 3, "VSAH" 3, "VSAI" 1,"VSAJ" 4, "VSAK" 2, "VSAL" 9, "VSAM" 3, "VSAQ" 2,"VSAR" 2;
}

@font-face {
	font-family: 'Iosevka Sans QP Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2/IosevkaSansQp-ExtendedExtraBold.woff2') format('woff2'), url('TTF/IosevkaSansQp-ExtendedExtraBold.ttf') format('truetype');
  font-feature-settings: "cv36" 3, "cv41" 14, "cv42" 1, "cv45" 6, "cv52" 12,"cv54" 8, "cv57" 10, "cv59" 4, "cv61" 5, "cv62" 21,"cv63" 9, "cv70" 2, "cv71" 8, "cv73" 3, "cv77" 4,"VXAF" 1, "cv78" 9, "cv79" 3, "cv85" 18, "cv86" 18,"cv88" 1, "cv91" 4, "cv92" 4, "cv93" 5, "cv99" 2,"VAAA" 2, "cv10" 10, "cv01" 3, "cv02" 2, "cv03" 2,"cv04" 8, "cv05" 4, "cv06" 1, "cv07" 4, "cv08" 2,"cv09" 1, "VSAB" 11, "VSAC" 3, "VSAH" 3, "VSAI" 1,"VSAJ" 4, "VSAK" 2, "VSAL" 9, "VSAM" 3, "VSAQ" 2,"VSAR" 2;
}

@font-face {
	font-family: 'Iosevka Sans QP Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2/IosevkaSansQp-ExtraBoldOblique.woff2') format('woff2'), url('TTF/IosevkaSansQp-ExtraBoldOblique.ttf') format('truetype');
  font-feature-settings: "cv36" 3, "cv41" 14, "cv42" 1, "cv45" 6, "cv52" 12,"cv54" 8, "cv57" 10, "cv59" 4, "cv61" 5, "cv62" 21,"cv63" 9, "cv70" 2, "cv71" 8, "cv73" 3, "cv77" 4,"VXAF" 1, "cv78" 9, "cv79" 3, "cv85" 18, "cv86" 18,"cv88" 1, "cv91" 4, "cv92" 4, "cv93" 5, "cv99" 2,"VAAA" 2, "cv10" 10, "cv01" 3, "cv02" 2, "cv03" 2,"cv04" 8, "cv05" 4, "cv06" 1, "cv07" 4, "cv08" 2,"cv09" 1, "VSAB" 11, "VSAC" 3, "VSAH" 3, "VSAI" 1,"VSAJ" 4, "VSAK" 2, "VSAL" 9, "VSAM" 3, "VSAQ" 2,"VSAR" 2;
}

@font-face {
	font-family: 'Iosevka Sans QP Web Oblique';
	font-display: swap;
	font-weight: 800;
	font-stretch: normal;
	src: url('WOFF2/IosevkaSansQp-ExtraBoldOblique.woff2') format('woff2'), url('TTF/IosevkaSansQp-ExtraBoldOblique.ttf') format('truetype');
  font-feature-settings: "cv36" 3, "cv41" 14, "cv42" 1, "cv45" 6, "cv52" 12,"cv54" 8, "cv57" 10, "cv59" 4, "cv61" 5, "cv62" 21,"cv63" 9, "cv70" 2, "cv71" 8, "cv73" 3, "cv77" 4,"VXAF" 1, "cv78" 9, "cv79" 3, "cv85" 18, "cv86" 18,"cv88" 1, "cv91" 4, "cv92" 4, "cv93" 5, "cv99" 2,"VAAA" 2, "cv10" 10, "cv01" 3, "cv02" 2, "cv03" 2,"cv04" 8, "cv05" 4, "cv06" 1, "cv07" 4, "cv08" 2,"cv09" 1, "VSAB" 11, "VSAC" 3, "VSAH" 3, "VSAI" 1,"VSAJ" 4, "VSAK" 2, "VSAL" 9, "VSAM" 3, "VSAQ" 2,"VSAR" 2;
}

@font-face {
	font-family: 'Iosevka Sans QP Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2/IosevkaSansQp-ExtendedExtraBoldOblique.woff2') format('woff2'), url('TTF/IosevkaSansQp-ExtendedExtraBoldOblique.ttf') format('truetype');
  font-feature-settings: "cv36" 3, "cv41" 14, "cv42" 1, "cv45" 6, "cv52" 12,"cv54" 8, "cv57" 10, "cv59" 4, "cv61" 5, "cv62" 21,"cv63" 9, "cv70" 2, "cv71" 8, "cv73" 3, "cv77" 4,"VXAF" 1, "cv78" 9, "cv79" 3, "cv85" 18, "cv86" 18,"cv88" 1, "cv91" 4, "cv92" 4, "cv93" 5, "cv99" 2,"VAAA" 2, "cv10" 10, "cv01" 3, "cv02" 2, "cv03" 2,"cv04" 8, "cv05" 4, "cv06" 1, "cv07" 4, "cv08" 2,"cv09" 1, "VSAB" 11, "VSAC" 3, "VSAH" 3, "VSAI" 1,"VSAJ" 4, "VSAK" 2, "VSAL" 9, "VSAM" 3, "VSAQ" 2,"VSAR" 2;
}

@font-face {
	font-family: 'Iosevka Sans QP Web Oblique';
	font-display: swap;
	font-weight: 800;
	font-stretch: expanded;
	src: url('WOFF2/IosevkaSansQp-ExtendedExtraBoldOblique.woff2') format('woff2'), url('TTF/IosevkaSansQp-ExtendedExtraBoldOblique.ttf') format('truetype');
  font-feature-settings: "cv36" 3, "cv41" 14, "cv42" 1, "cv45" 6, "cv52" 12,"cv54" 8, "cv57" 10, "cv59" 4, "cv61" 5, "cv62" 21,"cv63" 9, "cv70" 2, "cv71" 8, "cv73" 3, "cv77" 4,"VXAF" 1, "cv78" 9, "cv79" 3, "cv85" 18, "cv86" 18,"cv88" 1, "cv91" 4, "cv92" 4, "cv93" 5, "cv99" 2,"VAAA" 2, "cv10" 10, "cv01" 3, "cv02" 2, "cv03" 2,"cv04" 8, "cv05" 4, "cv06" 1, "cv07" 4, "cv08" 2,"cv09" 1, "VSAB" 11, "VSAC" 3, "VSAH" 3, "VSAI" 1,"VSAJ" 4, "VSAK" 2, "VSAL" 9, "VSAM" 3, "VSAQ" 2,"VSAR" 2;
}

@font-face {
	font-family: 'Iosevka Sans QP Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2/IosevkaSansQp-ExtraBoldItalic.woff2') format('woff2'), url('TTF/IosevkaSansQp-ExtraBoldItalic.ttf') format('truetype');
  font-feature-settings: "cv36" 3, "cv41" 14, "cv42" 1, "cv45" 6, "cv52" 12,"cv54" 8, "cv57" 10, "cv59" 4, "cv61" 5, "cv62" 21,"cv63" 9, "cv70" 2, "cv71" 8, "cv73" 3, "cv77" 4,"VXAF" 1, "cv78" 9, "cv79" 3, "cv85" 18, "cv86" 18,"cv88" 1, "cv91" 4, "cv92" 4, "cv93" 5, "cv99" 2,"VAAA" 2, "cv10" 10, "cv01" 3, "cv02" 2, "cv03" 2,"cv04" 8, "cv05" 4, "cv06" 1, "cv07" 4, "cv08" 2,"cv09" 1, "VSAB" 11, "VSAC" 3, "VSAH" 3, "VSAI" 1,"VSAJ" 4, "VSAK" 2, "VSAL" 9, "VSAM" 3, "VSAQ" 2,"VSAR" 2;
}

@font-face {
	font-family: 'Iosevka Sans QP Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2/IosevkaSansQp-ExtendedExtraBoldItalic.woff2') format('woff2'), url('TTF/IosevkaSansQp-ExtendedExtraBoldItalic.ttf') format('truetype');
  font-feature-settings: "cv36" 3, "cv41" 14, "cv42" 1, "cv45" 6, "cv52" 12,"cv54" 8, "cv57" 10, "cv59" 4, "cv61" 5, "cv62" 21,"cv63" 9, "cv70" 2, "cv71" 8, "cv73" 3, "cv77" 4,"VXAF" 1, "cv78" 9, "cv79" 3, "cv85" 18, "cv86" 18,"cv88" 1, "cv91" 4, "cv92" 4, "cv93" 5, "cv99" 2,"VAAA" 2, "cv10" 10, "cv01" 3, "cv02" 2, "cv03" 2,"cv04" 8, "cv05" 4, "cv06" 1, "cv07" 4, "cv08" 2,"cv09" 1, "VSAB" 11, "VSAC" 3, "VSAH" 3, "VSAI" 1,"VSAJ" 4, "VSAK" 2, "VSAL" 9, "VSAM" 3, "VSAQ" 2,"VSAR" 2;
}

@font-face {
	font-family: 'Iosevka Sans QP Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2/IosevkaSansQp-Heavy.woff2') format('woff2'), url('TTF/IosevkaSansQp-Heavy.ttf') format('truetype');
  font-feature-settings: "cv36" 3, "cv41" 14, "cv42" 1, "cv45" 6, "cv52" 12,"cv54" 8, "cv57" 10, "cv59" 4, "cv61" 5, "cv62" 21,"cv63" 9, "cv70" 2, "cv71" 8, "cv73" 3, "cv77" 4,"VXAF" 1, "cv78" 9, "cv79" 3, "cv85" 18, "cv86" 18,"cv88" 1, "cv91" 4, "cv92" 4, "cv93" 5, "cv99" 2,"VAAA" 2, "cv10" 10, "cv01" 3, "cv02" 2, "cv03" 2,"cv04" 8, "cv05" 4, "cv06" 1, "cv07" 4, "cv08" 2,"cv09" 1, "VSAB" 11, "VSAC" 3, "VSAH" 3, "VSAI" 1,"VSAJ" 4, "VSAK" 2, "VSAL" 9, "VSAM" 3, "VSAQ" 2,"VSAR" 2;
}

@font-face {
	font-family: 'Iosevka Sans QP Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2/IosevkaSansQp-ExtendedHeavy.woff2') format('woff2'), url('TTF/IosevkaSansQp-ExtendedHeavy.ttf') format('truetype');
  font-feature-settings: "cv36" 3, "cv41" 14, "cv42" 1, "cv45" 6, "cv52" 12,"cv54" 8, "cv57" 10, "cv59" 4, "cv61" 5, "cv62" 21,"cv63" 9, "cv70" 2, "cv71" 8, "cv73" 3, "cv77" 4,"VXAF" 1, "cv78" 9, "cv79" 3, "cv85" 18, "cv86" 18,"cv88" 1, "cv91" 4, "cv92" 4, "cv93" 5, "cv99" 2,"VAAA" 2, "cv10" 10, "cv01" 3, "cv02" 2, "cv03" 2,"cv04" 8, "cv05" 4, "cv06" 1, "cv07" 4, "cv08" 2,"cv09" 1, "VSAB" 11, "VSAC" 3, "VSAH" 3, "VSAI" 1,"VSAJ" 4, "VSAK" 2, "VSAL" 9, "VSAM" 3, "VSAQ" 2,"VSAR" 2;
}

@font-face {
	font-family: 'Iosevka Sans QP Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2/IosevkaSansQp-HeavyOblique.woff2') format('woff2'), url('TTF/IosevkaSansQp-HeavyOblique.ttf') format('truetype');
  font-feature-settings: "cv36" 3, "cv41" 14, "cv42" 1, "cv45" 6, "cv52" 12,"cv54" 8, "cv57" 10, "cv59" 4, "cv61" 5, "cv62" 21,"cv63" 9, "cv70" 2, "cv71" 8, "cv73" 3, "cv77" 4,"VXAF" 1, "cv78" 9, "cv79" 3, "cv85" 18, "cv86" 18,"cv88" 1, "cv91" 4, "cv92" 4, "cv93" 5, "cv99" 2,"VAAA" 2, "cv10" 10, "cv01" 3, "cv02" 2, "cv03" 2,"cv04" 8, "cv05" 4, "cv06" 1, "cv07" 4, "cv08" 2,"cv09" 1, "VSAB" 11, "VSAC" 3, "VSAH" 3, "VSAI" 1,"VSAJ" 4, "VSAK" 2, "VSAL" 9, "VSAM" 3, "VSAQ" 2,"VSAR" 2;
}

@font-face {
	font-family: 'Iosevka Sans QP Web Oblique';
	font-display: swap;
	font-weight: 900;
	font-stretch: normal;
	src: url('WOFF2/IosevkaSansQp-HeavyOblique.woff2') format('woff2'), url('TTF/IosevkaSansQp-HeavyOblique.ttf') format('truetype');
  font-feature-settings: "cv36" 3, "cv41" 14, "cv42" 1, "cv45" 6, "cv52" 12,"cv54" 8, "cv57" 10, "cv59" 4, "cv61" 5, "cv62" 21,"cv63" 9, "cv70" 2, "cv71" 8, "cv73" 3, "cv77" 4,"VXAF" 1, "cv78" 9, "cv79" 3, "cv85" 18, "cv86" 18,"cv88" 1, "cv91" 4, "cv92" 4, "cv93" 5, "cv99" 2,"VAAA" 2, "cv10" 10, "cv01" 3, "cv02" 2, "cv03" 2,"cv04" 8, "cv05" 4, "cv06" 1, "cv07" 4, "cv08" 2,"cv09" 1, "VSAB" 11, "VSAC" 3, "VSAH" 3, "VSAI" 1,"VSAJ" 4, "VSAK" 2, "VSAL" 9, "VSAM" 3, "VSAQ" 2,"VSAR" 2;
}

@font-face {
	font-family: 'Iosevka Sans QP Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2/IosevkaSansQp-ExtendedHeavyOblique.woff2') format('woff2'), url('TTF/IosevkaSansQp-ExtendedHeavyOblique.ttf') format('truetype');
  font-feature-settings: "cv36" 3, "cv41" 14, "cv42" 1, "cv45" 6, "cv52" 12,"cv54" 8, "cv57" 10, "cv59" 4, "cv61" 5, "cv62" 21,"cv63" 9, "cv70" 2, "cv71" 8, "cv73" 3, "cv77" 4,"VXAF" 1, "cv78" 9, "cv79" 3, "cv85" 18, "cv86" 18,"cv88" 1, "cv91" 4, "cv92" 4, "cv93" 5, "cv99" 2,"VAAA" 2, "cv10" 10, "cv01" 3, "cv02" 2, "cv03" 2,"cv04" 8, "cv05" 4, "cv06" 1, "cv07" 4, "cv08" 2,"cv09" 1, "VSAB" 11, "VSAC" 3, "VSAH" 3, "VSAI" 1,"VSAJ" 4, "VSAK" 2, "VSAL" 9, "VSAM" 3, "VSAQ" 2,"VSAR" 2;
}

@font-face {
	font-family: 'Iosevka Sans QP Web Oblique';
	font-display: swap;
	font-weight: 900;
	font-stretch: expanded;
	src: url('WOFF2/IosevkaSansQp-ExtendedHeavyOblique.woff2') format('woff2'), url('TTF/IosevkaSansQp-ExtendedHeavyOblique.ttf') format('truetype');
  font-feature-settings: "cv36" 3, "cv41" 14, "cv42" 1, "cv45" 6, "cv52" 12,"cv54" 8, "cv57" 10, "cv59" 4, "cv61" 5, "cv62" 21,"cv63" 9, "cv70" 2, "cv71" 8, "cv73" 3, "cv77" 4,"VXAF" 1, "cv78" 9, "cv79" 3, "cv85" 18, "cv86" 18,"cv88" 1, "cv91" 4, "cv92" 4, "cv93" 5, "cv99" 2,"VAAA" 2, "cv10" 10, "cv01" 3, "cv02" 2, "cv03" 2,"cv04" 8, "cv05" 4, "cv06" 1, "cv07" 4, "cv08" 2,"cv09" 1, "VSAB" 11, "VSAC" 3, "VSAH" 3, "VSAI" 1,"VSAJ" 4, "VSAK" 2, "VSAL" 9, "VSAM" 3, "VSAQ" 2,"VSAR" 2;
}

@font-face {
	font-family: 'Iosevka Sans QP Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2/IosevkaSansQp-HeavyItalic.woff2') format('woff2'), url('TTF/IosevkaSansQp-HeavyItalic.ttf') format('truetype');
  font-feature-settings: "cv36" 3, "cv41" 14, "cv42" 1, "cv45" 6, "cv52" 12,"cv54" 8, "cv57" 10, "cv59" 4, "cv61" 5, "cv62" 21,"cv63" 9, "cv70" 2, "cv71" 8, "cv73" 3, "cv77" 4,"VXAF" 1, "cv78" 9, "cv79" 3, "cv85" 18, "cv86" 18,"cv88" 1, "cv91" 4, "cv92" 4, "cv93" 5, "cv99" 2,"VAAA" 2, "cv10" 10, "cv01" 3, "cv02" 2, "cv03" 2,"cv04" 8, "cv05" 4, "cv06" 1, "cv07" 4, "cv08" 2,"cv09" 1, "VSAB" 11, "VSAC" 3, "VSAH" 3, "VSAI" 1,"VSAJ" 4, "VSAK" 2, "VSAL" 9, "VSAM" 3, "VSAQ" 2,"VSAR" 2;
}

@font-face {
	font-family: 'Iosevka Sans QP Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2/IosevkaSansQp-ExtendedHeavyItalic.woff2') format('woff2'), url('TTF/IosevkaSansQp-ExtendedHeavyItalic.ttf') format('truetype');
  font-feature-settings: "cv36" 3, "cv41" 14, "cv42" 1, "cv45" 6, "cv52" 12,"cv54" 8, "cv57" 10, "cv59" 4, "cv61" 5, "cv62" 21,"cv63" 9, "cv70" 2, "cv71" 8, "cv73" 3, "cv77" 4,"VXAF" 1, "cv78" 9, "cv79" 3, "cv85" 18, "cv86" 18,"cv88" 1, "cv91" 4, "cv92" 4, "cv93" 5, "cv99" 2,"VAAA" 2, "cv10" 10, "cv01" 3, "cv02" 2, "cv03" 2,"cv04" 8, "cv05" 4, "cv06" 1, "cv07" 4, "cv08" 2,"cv09" 1, "VSAB" 11, "VSAC" 3, "VSAH" 3, "VSAI" 1,"VSAJ" 4, "VSAK" 2, "VSAL" 9, "VSAM" 3, "VSAQ" 2,"VSAR" 2;
}
