
@font-face {
	font-family: 'IosevkaDisplaySF Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2/IosevkaDisplaySF-Thin.woff2') format('woff2'), url('TTF/IosevkaDisplaySF-Thin.ttf') format('truetype');
}

@font-face {
	font-family: 'IosevkaDisplaySF Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2/IosevkaDisplaySF-ExtendedThin.woff2') format('woff2'), url('TTF/IosevkaDisplaySF-ExtendedThin.ttf') format('truetype');
}

@font-face {
	font-family: 'IosevkaDisplaySF Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2/IosevkaDisplaySF-ThinOblique.woff2') format('woff2'), url('TTF/IosevkaDisplaySF-ThinOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'IosevkaDisplaySF Web Oblique';
	font-display: swap;
	font-weight: 100;
	font-stretch: normal;
	src: url('WOFF2/IosevkaDisplaySF-ThinOblique.woff2') format('woff2'), url('TTF/IosevkaDisplaySF-ThinOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'IosevkaDisplaySF Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2/IosevkaDisplaySF-ExtendedThinOblique.woff2') format('woff2'), url('TTF/IosevkaDisplaySF-ExtendedThinOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'IosevkaDisplaySF Web Oblique';
	font-display: swap;
	font-weight: 100;
	font-stretch: expanded;
	src: url('WOFF2/IosevkaDisplaySF-ExtendedThinOblique.woff2') format('woff2'), url('TTF/IosevkaDisplaySF-ExtendedThinOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'IosevkaDisplaySF Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2/IosevkaDisplaySF-ThinItalic.woff2') format('woff2'), url('TTF/IosevkaDisplaySF-ThinItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'IosevkaDisplaySF Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2/IosevkaDisplaySF-ExtendedThinItalic.woff2') format('woff2'), url('TTF/IosevkaDisplaySF-ExtendedThinItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'IosevkaDisplaySF Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2/IosevkaDisplaySF-ExtraLight.woff2') format('woff2'), url('TTF/IosevkaDisplaySF-ExtraLight.ttf') format('truetype');
}

@font-face {
	font-family: 'IosevkaDisplaySF Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2/IosevkaDisplaySF-ExtendedExtraLight.woff2') format('woff2'), url('TTF/IosevkaDisplaySF-ExtendedExtraLight.ttf') format('truetype');
}

@font-face {
	font-family: 'IosevkaDisplaySF Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2/IosevkaDisplaySF-ExtraLightOblique.woff2') format('woff2'), url('TTF/IosevkaDisplaySF-ExtraLightOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'IosevkaDisplaySF Web Oblique';
	font-display: swap;
	font-weight: 200;
	font-stretch: normal;
	src: url('WOFF2/IosevkaDisplaySF-ExtraLightOblique.woff2') format('woff2'), url('TTF/IosevkaDisplaySF-ExtraLightOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'IosevkaDisplaySF Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2/IosevkaDisplaySF-ExtendedExtraLightOblique.woff2') format('woff2'), url('TTF/IosevkaDisplaySF-ExtendedExtraLightOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'IosevkaDisplaySF Web Oblique';
	font-display: swap;
	font-weight: 200;
	font-stretch: expanded;
	src: url('WOFF2/IosevkaDisplaySF-ExtendedExtraLightOblique.woff2') format('woff2'), url('TTF/IosevkaDisplaySF-ExtendedExtraLightOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'IosevkaDisplaySF Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2/IosevkaDisplaySF-ExtraLightItalic.woff2') format('woff2'), url('TTF/IosevkaDisplaySF-ExtraLightItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'IosevkaDisplaySF Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2/IosevkaDisplaySF-ExtendedExtraLightItalic.woff2') format('woff2'), url('TTF/IosevkaDisplaySF-ExtendedExtraLightItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'IosevkaDisplaySF Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2/IosevkaDisplaySF-Light.woff2') format('woff2'), url('TTF/IosevkaDisplaySF-Light.ttf') format('truetype');
}

@font-face {
	font-family: 'IosevkaDisplaySF Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2/IosevkaDisplaySF-ExtendedLight.woff2') format('woff2'), url('TTF/IosevkaDisplaySF-ExtendedLight.ttf') format('truetype');
}

@font-face {
	font-family: 'IosevkaDisplaySF Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2/IosevkaDisplaySF-LightOblique.woff2') format('woff2'), url('TTF/IosevkaDisplaySF-LightOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'IosevkaDisplaySF Web Oblique';
	font-display: swap;
	font-weight: 300;
	font-stretch: normal;
	src: url('WOFF2/IosevkaDisplaySF-LightOblique.woff2') format('woff2'), url('TTF/IosevkaDisplaySF-LightOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'IosevkaDisplaySF Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2/IosevkaDisplaySF-ExtendedLightOblique.woff2') format('woff2'), url('TTF/IosevkaDisplaySF-ExtendedLightOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'IosevkaDisplaySF Web Oblique';
	font-display: swap;
	font-weight: 300;
	font-stretch: expanded;
	src: url('WOFF2/IosevkaDisplaySF-ExtendedLightOblique.woff2') format('woff2'), url('TTF/IosevkaDisplaySF-ExtendedLightOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'IosevkaDisplaySF Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2/IosevkaDisplaySF-LightItalic.woff2') format('woff2'), url('TTF/IosevkaDisplaySF-LightItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'IosevkaDisplaySF Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2/IosevkaDisplaySF-ExtendedLightItalic.woff2') format('woff2'), url('TTF/IosevkaDisplaySF-ExtendedLightItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'IosevkaDisplaySF Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2/IosevkaDisplaySF-Regular.woff2') format('woff2'), url('TTF/IosevkaDisplaySF-Regular.ttf') format('truetype');
}

@font-face {
	font-family: 'IosevkaDisplaySF Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2/IosevkaDisplaySF-Extended.woff2') format('woff2'), url('TTF/IosevkaDisplaySF-Extended.ttf') format('truetype');
}

@font-face {
	font-family: 'IosevkaDisplaySF Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2/IosevkaDisplaySF-Oblique.woff2') format('woff2'), url('TTF/IosevkaDisplaySF-Oblique.ttf') format('truetype');
}

@font-face {
	font-family: 'IosevkaDisplaySF Web Oblique';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	src: url('WOFF2/IosevkaDisplaySF-Oblique.woff2') format('woff2'), url('TTF/IosevkaDisplaySF-Oblique.ttf') format('truetype');
}

@font-face {
	font-family: 'IosevkaDisplaySF Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2/IosevkaDisplaySF-ExtendedOblique.woff2') format('woff2'), url('TTF/IosevkaDisplaySF-ExtendedOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'IosevkaDisplaySF Web Oblique';
	font-display: swap;
	font-weight: 400;
	font-stretch: expanded;
	src: url('WOFF2/IosevkaDisplaySF-ExtendedOblique.woff2') format('woff2'), url('TTF/IosevkaDisplaySF-ExtendedOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'IosevkaDisplaySF Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2/IosevkaDisplaySF-Italic.woff2') format('woff2'), url('TTF/IosevkaDisplaySF-Italic.ttf') format('truetype');
}

@font-face {
	font-family: 'IosevkaDisplaySF Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2/IosevkaDisplaySF-ExtendedItalic.woff2') format('woff2'), url('TTF/IosevkaDisplaySF-ExtendedItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'IosevkaDisplaySF Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2/IosevkaDisplaySF-Medium.woff2') format('woff2'), url('TTF/IosevkaDisplaySF-Medium.ttf') format('truetype');
}

@font-face {
	font-family: 'IosevkaDisplaySF Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2/IosevkaDisplaySF-ExtendedMedium.woff2') format('woff2'), url('TTF/IosevkaDisplaySF-ExtendedMedium.ttf') format('truetype');
}

@font-face {
	font-family: 'IosevkaDisplaySF Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2/IosevkaDisplaySF-MediumOblique.woff2') format('woff2'), url('TTF/IosevkaDisplaySF-MediumOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'IosevkaDisplaySF Web Oblique';
	font-display: swap;
	font-weight: 500;
	font-stretch: normal;
	src: url('WOFF2/IosevkaDisplaySF-MediumOblique.woff2') format('woff2'), url('TTF/IosevkaDisplaySF-MediumOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'IosevkaDisplaySF Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2/IosevkaDisplaySF-ExtendedMediumOblique.woff2') format('woff2'), url('TTF/IosevkaDisplaySF-ExtendedMediumOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'IosevkaDisplaySF Web Oblique';
	font-display: swap;
	font-weight: 500;
	font-stretch: expanded;
	src: url('WOFF2/IosevkaDisplaySF-ExtendedMediumOblique.woff2') format('woff2'), url('TTF/IosevkaDisplaySF-ExtendedMediumOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'IosevkaDisplaySF Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2/IosevkaDisplaySF-MediumItalic.woff2') format('woff2'), url('TTF/IosevkaDisplaySF-MediumItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'IosevkaDisplaySF Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2/IosevkaDisplaySF-ExtendedMediumItalic.woff2') format('woff2'), url('TTF/IosevkaDisplaySF-ExtendedMediumItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'IosevkaDisplaySF Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2/IosevkaDisplaySF-SemiBold.woff2') format('woff2'), url('TTF/IosevkaDisplaySF-SemiBold.ttf') format('truetype');
}

@font-face {
	font-family: 'IosevkaDisplaySF Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2/IosevkaDisplaySF-ExtendedSemiBold.woff2') format('woff2'), url('TTF/IosevkaDisplaySF-ExtendedSemiBold.ttf') format('truetype');
}

@font-face {
	font-family: 'IosevkaDisplaySF Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2/IosevkaDisplaySF-SemiBoldOblique.woff2') format('woff2'), url('TTF/IosevkaDisplaySF-SemiBoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'IosevkaDisplaySF Web Oblique';
	font-display: swap;
	font-weight: 600;
	font-stretch: normal;
	src: url('WOFF2/IosevkaDisplaySF-SemiBoldOblique.woff2') format('woff2'), url('TTF/IosevkaDisplaySF-SemiBoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'IosevkaDisplaySF Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2/IosevkaDisplaySF-ExtendedSemiBoldOblique.woff2') format('woff2'), url('TTF/IosevkaDisplaySF-ExtendedSemiBoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'IosevkaDisplaySF Web Oblique';
	font-display: swap;
	font-weight: 600;
	font-stretch: expanded;
	src: url('WOFF2/IosevkaDisplaySF-ExtendedSemiBoldOblique.woff2') format('woff2'), url('TTF/IosevkaDisplaySF-ExtendedSemiBoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'IosevkaDisplaySF Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2/IosevkaDisplaySF-SemiBoldItalic.woff2') format('woff2'), url('TTF/IosevkaDisplaySF-SemiBoldItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'IosevkaDisplaySF Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2/IosevkaDisplaySF-ExtendedSemiBoldItalic.woff2') format('woff2'), url('TTF/IosevkaDisplaySF-ExtendedSemiBoldItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'IosevkaDisplaySF Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2/IosevkaDisplaySF-Bold.woff2') format('woff2'), url('TTF/IosevkaDisplaySF-Bold.ttf') format('truetype');
}

@font-face {
	font-family: 'IosevkaDisplaySF Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2/IosevkaDisplaySF-ExtendedBold.woff2') format('woff2'), url('TTF/IosevkaDisplaySF-ExtendedBold.ttf') format('truetype');
}

@font-face {
	font-family: 'IosevkaDisplaySF Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2/IosevkaDisplaySF-BoldOblique.woff2') format('woff2'), url('TTF/IosevkaDisplaySF-BoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'IosevkaDisplaySF Web Oblique';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	src: url('WOFF2/IosevkaDisplaySF-BoldOblique.woff2') format('woff2'), url('TTF/IosevkaDisplaySF-BoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'IosevkaDisplaySF Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2/IosevkaDisplaySF-ExtendedBoldOblique.woff2') format('woff2'), url('TTF/IosevkaDisplaySF-ExtendedBoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'IosevkaDisplaySF Web Oblique';
	font-display: swap;
	font-weight: 700;
	font-stretch: expanded;
	src: url('WOFF2/IosevkaDisplaySF-ExtendedBoldOblique.woff2') format('woff2'), url('TTF/IosevkaDisplaySF-ExtendedBoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'IosevkaDisplaySF Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2/IosevkaDisplaySF-BoldItalic.woff2') format('woff2'), url('TTF/IosevkaDisplaySF-BoldItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'IosevkaDisplaySF Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2/IosevkaDisplaySF-ExtendedBoldItalic.woff2') format('woff2'), url('TTF/IosevkaDisplaySF-ExtendedBoldItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'IosevkaDisplaySF Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2/IosevkaDisplaySF-ExtraBold.woff2') format('woff2'), url('TTF/IosevkaDisplaySF-ExtraBold.ttf') format('truetype');
}

@font-face {
	font-family: 'IosevkaDisplaySF Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2/IosevkaDisplaySF-ExtendedExtraBold.woff2') format('woff2'), url('TTF/IosevkaDisplaySF-ExtendedExtraBold.ttf') format('truetype');
}

@font-face {
	font-family: 'IosevkaDisplaySF Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2/IosevkaDisplaySF-ExtraBoldOblique.woff2') format('woff2'), url('TTF/IosevkaDisplaySF-ExtraBoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'IosevkaDisplaySF Web Oblique';
	font-display: swap;
	font-weight: 800;
	font-stretch: normal;
	src: url('WOFF2/IosevkaDisplaySF-ExtraBoldOblique.woff2') format('woff2'), url('TTF/IosevkaDisplaySF-ExtraBoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'IosevkaDisplaySF Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2/IosevkaDisplaySF-ExtendedExtraBoldOblique.woff2') format('woff2'), url('TTF/IosevkaDisplaySF-ExtendedExtraBoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'IosevkaDisplaySF Web Oblique';
	font-display: swap;
	font-weight: 800;
	font-stretch: expanded;
	src: url('WOFF2/IosevkaDisplaySF-ExtendedExtraBoldOblique.woff2') format('woff2'), url('TTF/IosevkaDisplaySF-ExtendedExtraBoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'IosevkaDisplaySF Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2/IosevkaDisplaySF-ExtraBoldItalic.woff2') format('woff2'), url('TTF/IosevkaDisplaySF-ExtraBoldItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'IosevkaDisplaySF Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2/IosevkaDisplaySF-ExtendedExtraBoldItalic.woff2') format('woff2'), url('TTF/IosevkaDisplaySF-ExtendedExtraBoldItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'IosevkaDisplaySF Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2/IosevkaDisplaySF-Heavy.woff2') format('woff2'), url('TTF/IosevkaDisplaySF-Heavy.ttf') format('truetype');
}

@font-face {
	font-family: 'IosevkaDisplaySF Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2/IosevkaDisplaySF-ExtendedHeavy.woff2') format('woff2'), url('TTF/IosevkaDisplaySF-ExtendedHeavy.ttf') format('truetype');
}

@font-face {
	font-family: 'IosevkaDisplaySF Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2/IosevkaDisplaySF-HeavyOblique.woff2') format('woff2'), url('TTF/IosevkaDisplaySF-HeavyOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'IosevkaDisplaySF Web Oblique';
	font-display: swap;
	font-weight: 900;
	font-stretch: normal;
	src: url('WOFF2/IosevkaDisplaySF-HeavyOblique.woff2') format('woff2'), url('TTF/IosevkaDisplaySF-HeavyOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'IosevkaDisplaySF Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2/IosevkaDisplaySF-ExtendedHeavyOblique.woff2') format('woff2'), url('TTF/IosevkaDisplaySF-ExtendedHeavyOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'IosevkaDisplaySF Web Oblique';
	font-display: swap;
	font-weight: 900;
	font-stretch: expanded;
	src: url('WOFF2/IosevkaDisplaySF-ExtendedHeavyOblique.woff2') format('woff2'), url('TTF/IosevkaDisplaySF-ExtendedHeavyOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'IosevkaDisplaySF Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2/IosevkaDisplaySF-HeavyItalic.woff2') format('woff2'), url('TTF/IosevkaDisplaySF-HeavyItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'IosevkaDisplaySF Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2/IosevkaDisplaySF-ExtendedHeavyItalic.woff2') format('woff2'), url('TTF/IosevkaDisplaySF-ExtendedHeavyItalic.ttf') format('truetype');
}
