/*   font-feature-settings: "ss15" 1, "calt" 0, "dlig" 1; */
/* +ss15 cv01=2 cv07=4 cv06=3 cv09=3 VSAL=9 +calt +dlig */

@font-face {
  font-feature-settings: "ss15" 1, "calt" 0, "dlig" 1, "cv01" 2, "cv07" 4, "cv06" 3, "cv09" 3, "VSAL" 9;
	font-family: 'Iosevka SFNormalSans Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2/IosevkaSFNormalSans-Thin.woff2') format('woff2'), url('TTF/IosevkaSFNormalSans-Thin.ttf') format('truetype');
  font-feature-settings: "ss15" 1, "calt" 0, "dlig" 1, "cv01" 2, "cv07" 4, "cv06" 3, "cv09" 3, "VSAL" 9;
}

@font-face {
	font-family: 'Iosevka SFNormalSans Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2/IosevkaSFNormalSans-ExtendedThin.woff2') format('woff2'), url('TTF/IosevkaSFNormalSans-ExtendedThin.ttf') format('truetype');
  font-feature-settings: "ss15" 1, "calt" 0, "dlig" 1, "cv01" 2, "cv07" 4, "cv06" 3, "cv09" 3, "VSAL" 9;
}

@font-face {
	font-family: 'Iosevka SFNormalSans Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: condensed;
	font-style: normal;
	src: url('WOFF2/IosevkaSFNormalSans-CondensedThin.woff2') format('woff2'), url('TTF/IosevkaSFNormalSans-CondensedThin.ttf') format('truetype');
  font-feature-settings: "ss15" 1, "calt" 0, "dlig" 1, "cv01" 2, "cv07" 4, "cv06" 3, "cv09" 3, "VSAL" 9;
}

@font-face {
	font-family: 'Iosevka SFNormalSans Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2/IosevkaSFNormalSans-ThinOblique.woff2') format('woff2'), url('TTF/IosevkaSFNormalSans-ThinOblique.ttf') format('truetype');
  font-feature-settings: "ss15" 1, "calt" 0, "dlig" 1, "cv01" 2, "cv07" 4, "cv06" 3, "cv09" 3, "VSAL" 9;
}

@font-face {
	font-family: 'Iosevka SFNormalSans Web Oblique';
	font-display: swap;
	font-weight: 100;
	font-stretch: normal;
	src: url('WOFF2/IosevkaSFNormalSans-ThinOblique.woff2') format('woff2'), url('TTF/IosevkaSFNormalSans-ThinOblique.ttf') format('truetype');
  font-feature-settings: "ss15" 1, "calt" 0, "dlig" 1, "cv01" 2, "cv07" 4, "cv06" 3, "cv09" 3, "VSAL" 9;
}

@font-face {
	font-family: 'Iosevka SFNormalSans Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2/IosevkaSFNormalSans-ExtendedThinOblique.woff2') format('woff2'), url('TTF/IosevkaSFNormalSans-ExtendedThinOblique.ttf') format('truetype');
  font-feature-settings: "ss15" 1, "calt" 0, "dlig" 1, "cv01" 2, "cv07" 4, "cv06" 3, "cv09" 3, "VSAL" 9;
}

@font-face {
	font-family: 'Iosevka SFNormalSans Web Oblique';
	font-display: swap;
	font-weight: 100;
	font-stretch: expanded;
	src: url('WOFF2/IosevkaSFNormalSans-ExtendedThinOblique.woff2') format('woff2'), url('TTF/IosevkaSFNormalSans-ExtendedThinOblique.ttf') format('truetype');
  font-feature-settings: "ss15" 1, "calt" 0, "dlig" 1, "cv01" 2, "cv07" 4, "cv06" 3, "cv09" 3, "VSAL" 9;
}

@font-face {
	font-family: 'Iosevka SFNormalSans Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: condensed;
	font-style: oblique;
	src: url('WOFF2/IosevkaSFNormalSans-CondensedThinOblique.woff2') format('woff2'), url('TTF/IosevkaSFNormalSans-CondensedThinOblique.ttf') format('truetype');
  font-feature-settings: "ss15" 1, "calt" 0, "dlig" 1, "cv01" 2, "cv07" 4, "cv06" 3, "cv09" 3, "VSAL" 9;
}

@font-face {
	font-family: 'Iosevka SFNormalSans Web Oblique';
	font-display: swap;
	font-weight: 100;
	font-stretch: condensed;
	src: url('WOFF2/IosevkaSFNormalSans-CondensedThinOblique.woff2') format('woff2'), url('TTF/IosevkaSFNormalSans-CondensedThinOblique.ttf') format('truetype');
  font-feature-settings: "ss15" 1, "calt" 0, "dlig" 1, "cv01" 2, "cv07" 4, "cv06" 3, "cv09" 3, "VSAL" 9;
}

@font-face {
	font-family: 'Iosevka SFNormalSans Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2/IosevkaSFNormalSans-ThinItalic.woff2') format('woff2'), url('TTF/IosevkaSFNormalSans-ThinItalic.ttf') format('truetype');
  font-feature-settings: "ss15" 1, "calt" 0, "dlig" 1, "cv01" 2, "cv07" 4, "cv06" 3, "cv09" 3, "VSAL" 9;
}

@font-face {
	font-family: 'Iosevka SFNormalSans Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2/IosevkaSFNormalSans-ExtendedThinItalic.woff2') format('woff2'), url('TTF/IosevkaSFNormalSans-ExtendedThinItalic.ttf') format('truetype');
  font-feature-settings: "ss15" 1, "calt" 0, "dlig" 1, "cv01" 2, "cv07" 4, "cv06" 3, "cv09" 3, "VSAL" 9;
}

@font-face {
	font-family: 'Iosevka SFNormalSans Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: condensed;
	font-style: italic;
	src: url('WOFF2/IosevkaSFNormalSans-CondensedThinItalic.woff2') format('woff2'), url('TTF/IosevkaSFNormalSans-CondensedThinItalic.ttf') format('truetype');
  font-feature-settings: "ss15" 1, "calt" 0, "dlig" 1, "cv01" 2, "cv07" 4, "cv06" 3, "cv09" 3, "VSAL" 9;
}

@font-face {
	font-family: 'Iosevka SFNormalSans Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2/IosevkaSFNormalSans-ExtraLight.woff2') format('woff2'), url('TTF/IosevkaSFNormalSans-ExtraLight.ttf') format('truetype');
  font-feature-settings: "ss15" 1, "calt" 0, "dlig" 1, "cv01" 2, "cv07" 4, "cv06" 3, "cv09" 3, "VSAL" 9;
}

@font-face {
	font-family: 'Iosevka SFNormalSans Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2/IosevkaSFNormalSans-ExtendedExtraLight.woff2') format('woff2'), url('TTF/IosevkaSFNormalSans-ExtendedExtraLight.ttf') format('truetype');
  font-feature-settings: "ss15" 1, "calt" 0, "dlig" 1, "cv01" 2, "cv07" 4, "cv06" 3, "cv09" 3, "VSAL" 9;
}

@font-face {
	font-family: 'Iosevka SFNormalSans Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: condensed;
	font-style: normal;
	src: url('WOFF2/IosevkaSFNormalSans-CondensedExtraLight.woff2') format('woff2'), url('TTF/IosevkaSFNormalSans-CondensedExtraLight.ttf') format('truetype');
  font-feature-settings: "ss15" 1, "calt" 0, "dlig" 1, "cv01" 2, "cv07" 4, "cv06" 3, "cv09" 3, "VSAL" 9;
}

@font-face {
	font-family: 'Iosevka SFNormalSans Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2/IosevkaSFNormalSans-ExtraLightOblique.woff2') format('woff2'), url('TTF/IosevkaSFNormalSans-ExtraLightOblique.ttf') format('truetype');
  font-feature-settings: "ss15" 1, "calt" 0, "dlig" 1, "cv01" 2, "cv07" 4, "cv06" 3, "cv09" 3, "VSAL" 9;
}

@font-face {
	font-family: 'Iosevka SFNormalSans Web Oblique';
	font-display: swap;
	font-weight: 200;
	font-stretch: normal;
	src: url('WOFF2/IosevkaSFNormalSans-ExtraLightOblique.woff2') format('woff2'), url('TTF/IosevkaSFNormalSans-ExtraLightOblique.ttf') format('truetype');
  font-feature-settings: "ss15" 1, "calt" 0, "dlig" 1, "cv01" 2, "cv07" 4, "cv06" 3, "cv09" 3, "VSAL" 9;
}

@font-face {
	font-family: 'Iosevka SFNormalSans Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2/IosevkaSFNormalSans-ExtendedExtraLightOblique.woff2') format('woff2'), url('TTF/IosevkaSFNormalSans-ExtendedExtraLightOblique.ttf') format('truetype');
  font-feature-settings: "ss15" 1, "calt" 0, "dlig" 1, "cv01" 2, "cv07" 4, "cv06" 3, "cv09" 3, "VSAL" 9;
}

@font-face {
	font-family: 'Iosevka SFNormalSans Web Oblique';
	font-display: swap;
	font-weight: 200;
	font-stretch: expanded;
	src: url('WOFF2/IosevkaSFNormalSans-ExtendedExtraLightOblique.woff2') format('woff2'), url('TTF/IosevkaSFNormalSans-ExtendedExtraLightOblique.ttf') format('truetype');
  font-feature-settings: "ss15" 1, "calt" 0, "dlig" 1, "cv01" 2, "cv07" 4, "cv06" 3, "cv09" 3, "VSAL" 9;
}

@font-face {
	font-family: 'Iosevka SFNormalSans Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: condensed;
	font-style: oblique;
	src: url('WOFF2/IosevkaSFNormalSans-CondensedExtraLightOblique.woff2') format('woff2'), url('TTF/IosevkaSFNormalSans-CondensedExtraLightOblique.ttf') format('truetype');
  font-feature-settings: "ss15" 1, "calt" 0, "dlig" 1, "cv01" 2, "cv07" 4, "cv06" 3, "cv09" 3, "VSAL" 9;
}

@font-face {
	font-family: 'Iosevka SFNormalSans Web Oblique';
	font-display: swap;
	font-weight: 200;
	font-stretch: condensed;
	src: url('WOFF2/IosevkaSFNormalSans-CondensedExtraLightOblique.woff2') format('woff2'), url('TTF/IosevkaSFNormalSans-CondensedExtraLightOblique.ttf') format('truetype');
  font-feature-settings: "ss15" 1, "calt" 0, "dlig" 1, "cv01" 2, "cv07" 4, "cv06" 3, "cv09" 3, "VSAL" 9;
}

@font-face {
	font-family: 'Iosevka SFNormalSans Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2/IosevkaSFNormalSans-ExtraLightItalic.woff2') format('woff2'), url('TTF/IosevkaSFNormalSans-ExtraLightItalic.ttf') format('truetype');
  font-feature-settings: "ss15" 1, "calt" 0, "dlig" 1, "cv01" 2, "cv07" 4, "cv06" 3, "cv09" 3, "VSAL" 9;
}

@font-face {
	font-family: 'Iosevka SFNormalSans Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2/IosevkaSFNormalSans-ExtendedExtraLightItalic.woff2') format('woff2'), url('TTF/IosevkaSFNormalSans-ExtendedExtraLightItalic.ttf') format('truetype');
  font-feature-settings: "ss15" 1, "calt" 0, "dlig" 1, "cv01" 2, "cv07" 4, "cv06" 3, "cv09" 3, "VSAL" 9;
}

@font-face {
	font-family: 'Iosevka SFNormalSans Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: condensed;
	font-style: italic;
	src: url('WOFF2/IosevkaSFNormalSans-CondensedExtraLightItalic.woff2') format('woff2'), url('TTF/IosevkaSFNormalSans-CondensedExtraLightItalic.ttf') format('truetype');
  font-feature-settings: "ss15" 1, "calt" 0, "dlig" 1, "cv01" 2, "cv07" 4, "cv06" 3, "cv09" 3, "VSAL" 9;
}

@font-face {
	font-family: 'Iosevka SFNormalSans Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2/IosevkaSFNormalSans-Light.woff2') format('woff2'), url('TTF/IosevkaSFNormalSans-Light.ttf') format('truetype');
  font-feature-settings: "ss15" 1, "calt" 0, "dlig" 1, "cv01" 2, "cv07" 4, "cv06" 3, "cv09" 3, "VSAL" 9;
}

@font-face {
	font-family: 'Iosevka SFNormalSans Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2/IosevkaSFNormalSans-ExtendedLight.woff2') format('woff2'), url('TTF/IosevkaSFNormalSans-ExtendedLight.ttf') format('truetype');
  font-feature-settings: "ss15" 1, "calt" 0, "dlig" 1, "cv01" 2, "cv07" 4, "cv06" 3, "cv09" 3, "VSAL" 9;
}

@font-face {
	font-family: 'Iosevka SFNormalSans Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: condensed;
	font-style: normal;
	src: url('WOFF2/IosevkaSFNormalSans-CondensedLight.woff2') format('woff2'), url('TTF/IosevkaSFNormalSans-CondensedLight.ttf') format('truetype');
  font-feature-settings: "ss15" 1, "calt" 0, "dlig" 1, "cv01" 2, "cv07" 4, "cv06" 3, "cv09" 3, "VSAL" 9;
}

@font-face {
	font-family: 'Iosevka SFNormalSans Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2/IosevkaSFNormalSans-LightOblique.woff2') format('woff2'), url('TTF/IosevkaSFNormalSans-LightOblique.ttf') format('truetype');
  font-feature-settings: "ss15" 1, "calt" 0, "dlig" 1, "cv01" 2, "cv07" 4, "cv06" 3, "cv09" 3, "VSAL" 9;
}

@font-face {
	font-family: 'Iosevka SFNormalSans Web Oblique';
	font-display: swap;
	font-weight: 300;
	font-stretch: normal;
	src: url('WOFF2/IosevkaSFNormalSans-LightOblique.woff2') format('woff2'), url('TTF/IosevkaSFNormalSans-LightOblique.ttf') format('truetype');
  font-feature-settings: "ss15" 1, "calt" 0, "dlig" 1, "cv01" 2, "cv07" 4, "cv06" 3, "cv09" 3, "VSAL" 9;
}

@font-face {
	font-family: 'Iosevka SFNormalSans Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2/IosevkaSFNormalSans-ExtendedLightOblique.woff2') format('woff2'), url('TTF/IosevkaSFNormalSans-ExtendedLightOblique.ttf') format('truetype');
  font-feature-settings: "ss15" 1, "calt" 0, "dlig" 1, "cv01" 2, "cv07" 4, "cv06" 3, "cv09" 3, "VSAL" 9;
}

@font-face {
	font-family: 'Iosevka SFNormalSans Web Oblique';
	font-display: swap;
	font-weight: 300;
	font-stretch: expanded;
	src: url('WOFF2/IosevkaSFNormalSans-ExtendedLightOblique.woff2') format('woff2'), url('TTF/IosevkaSFNormalSans-ExtendedLightOblique.ttf') format('truetype');
  font-feature-settings: "ss15" 1, "calt" 0, "dlig" 1, "cv01" 2, "cv07" 4, "cv06" 3, "cv09" 3, "VSAL" 9;
}

@font-face {
	font-family: 'Iosevka SFNormalSans Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: condensed;
	font-style: oblique;
	src: url('WOFF2/IosevkaSFNormalSans-CondensedLightOblique.woff2') format('woff2'), url('TTF/IosevkaSFNormalSans-CondensedLightOblique.ttf') format('truetype');
  font-feature-settings: "ss15" 1, "calt" 0, "dlig" 1, "cv01" 2, "cv07" 4, "cv06" 3, "cv09" 3, "VSAL" 9;
}

@font-face {
	font-family: 'Iosevka SFNormalSans Web Oblique';
	font-display: swap;
	font-weight: 300;
	font-stretch: condensed;
	src: url('WOFF2/IosevkaSFNormalSans-CondensedLightOblique.woff2') format('woff2'), url('TTF/IosevkaSFNormalSans-CondensedLightOblique.ttf') format('truetype');
  font-feature-settings: "ss15" 1, "calt" 0, "dlig" 1, "cv01" 2, "cv07" 4, "cv06" 3, "cv09" 3, "VSAL" 9;
}

@font-face {
	font-family: 'Iosevka SFNormalSans Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2/IosevkaSFNormalSans-LightItalic.woff2') format('woff2'), url('TTF/IosevkaSFNormalSans-LightItalic.ttf') format('truetype');
  font-feature-settings: "ss15" 1, "calt" 0, "dlig" 1, "cv01" 2, "cv07" 4, "cv06" 3, "cv09" 3, "VSAL" 9;
}

@font-face {
	font-family: 'Iosevka SFNormalSans Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2/IosevkaSFNormalSans-ExtendedLightItalic.woff2') format('woff2'), url('TTF/IosevkaSFNormalSans-ExtendedLightItalic.ttf') format('truetype');
  font-feature-settings: "ss15" 1, "calt" 0, "dlig" 1, "cv01" 2, "cv07" 4, "cv06" 3, "cv09" 3, "VSAL" 9;
}

@font-face {
	font-family: 'Iosevka SFNormalSans Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: condensed;
	font-style: italic;
	src: url('WOFF2/IosevkaSFNormalSans-CondensedLightItalic.woff2') format('woff2'), url('TTF/IosevkaSFNormalSans-CondensedLightItalic.ttf') format('truetype');
  font-feature-settings: "ss15" 1, "calt" 0, "dlig" 1, "cv01" 2, "cv07" 4, "cv06" 3, "cv09" 3, "VSAL" 9;
}

@font-face {
	font-family: 'Iosevka SFNormalSans Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2/IosevkaSFNormalSans-Regular.woff2') format('woff2'), url('TTF/IosevkaSFNormalSans-Regular.ttf') format('truetype');
  font-feature-settings: "ss15" 1, "calt" 0, "dlig" 1, "cv01" 2, "cv07" 4, "cv06" 3, "cv09" 3, "VSAL" 9;
}

@font-face {
	font-family: 'Iosevka SFNormalSans Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2/IosevkaSFNormalSans-Extended.woff2') format('woff2'), url('TTF/IosevkaSFNormalSans-Extended.ttf') format('truetype');
  font-feature-settings: "ss15" 1, "calt" 0, "dlig" 1, "cv01" 2, "cv07" 4, "cv06" 3, "cv09" 3, "VSAL" 9;
}

@font-face {
	font-family: 'Iosevka SFNormalSans Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: condensed;
	font-style: normal;
	src: url('WOFF2/IosevkaSFNormalSans-Condensed.woff2') format('woff2'), url('TTF/IosevkaSFNormalSans-Condensed.ttf') format('truetype');
  font-feature-settings: "ss15" 1, "calt" 0, "dlig" 1, "cv01" 2, "cv07" 4, "cv06" 3, "cv09" 3, "VSAL" 9;
}

@font-face {
	font-family: 'Iosevka SFNormalSans Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2/IosevkaSFNormalSans-Oblique.woff2') format('woff2'), url('TTF/IosevkaSFNormalSans-Oblique.ttf') format('truetype');
  font-feature-settings: "ss15" 1, "calt" 0, "dlig" 1, "cv01" 2, "cv07" 4, "cv06" 3, "cv09" 3, "VSAL" 9;
}

@font-face {
	font-family: 'Iosevka SFNormalSans Web Oblique';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	src: url('WOFF2/IosevkaSFNormalSans-Oblique.woff2') format('woff2'), url('TTF/IosevkaSFNormalSans-Oblique.ttf') format('truetype');
  font-feature-settings: "ss15" 1, "calt" 0, "dlig" 1, "cv01" 2, "cv07" 4, "cv06" 3, "cv09" 3, "VSAL" 9;
}

@font-face {
	font-family: 'Iosevka SFNormalSans Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2/IosevkaSFNormalSans-ExtendedOblique.woff2') format('woff2'), url('TTF/IosevkaSFNormalSans-ExtendedOblique.ttf') format('truetype');
  font-feature-settings: "ss15" 1, "calt" 0, "dlig" 1, "cv01" 2, "cv07" 4, "cv06" 3, "cv09" 3, "VSAL" 9;
}

@font-face {
	font-family: 'Iosevka SFNormalSans Web Oblique';
	font-display: swap;
	font-weight: 400;
	font-stretch: expanded;
	src: url('WOFF2/IosevkaSFNormalSans-ExtendedOblique.woff2') format('woff2'), url('TTF/IosevkaSFNormalSans-ExtendedOblique.ttf') format('truetype');
  font-feature-settings: "ss15" 1, "calt" 0, "dlig" 1, "cv01" 2, "cv07" 4, "cv06" 3, "cv09" 3, "VSAL" 9;
}

@font-face {
	font-family: 'Iosevka SFNormalSans Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: condensed;
	font-style: oblique;
	src: url('WOFF2/IosevkaSFNormalSans-CondensedOblique.woff2') format('woff2'), url('TTF/IosevkaSFNormalSans-CondensedOblique.ttf') format('truetype');
  font-feature-settings: "ss15" 1, "calt" 0, "dlig" 1, "cv01" 2, "cv07" 4, "cv06" 3, "cv09" 3, "VSAL" 9;
}

@font-face {
	font-family: 'Iosevka SFNormalSans Web Oblique';
	font-display: swap;
	font-weight: 400;
	font-stretch: condensed;
	src: url('WOFF2/IosevkaSFNormalSans-CondensedOblique.woff2') format('woff2'), url('TTF/IosevkaSFNormalSans-CondensedOblique.ttf') format('truetype');
  font-feature-settings: "ss15" 1, "calt" 0, "dlig" 1, "cv01" 2, "cv07" 4, "cv06" 3, "cv09" 3, "VSAL" 9;
}

@font-face {
	font-family: 'Iosevka SFNormalSans Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2/IosevkaSFNormalSans-Italic.woff2') format('woff2'), url('TTF/IosevkaSFNormalSans-Italic.ttf') format('truetype');
  font-feature-settings: "ss15" 1, "calt" 0, "dlig" 1, "cv01" 2, "cv07" 4, "cv06" 3, "cv09" 3, "VSAL" 9;
}

@font-face {
	font-family: 'Iosevka SFNormalSans Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2/IosevkaSFNormalSans-ExtendedItalic.woff2') format('woff2'), url('TTF/IosevkaSFNormalSans-ExtendedItalic.ttf') format('truetype');
  font-feature-settings: "ss15" 1, "calt" 0, "dlig" 1, "cv01" 2, "cv07" 4, "cv06" 3, "cv09" 3, "VSAL" 9;
}

@font-face {
	font-family: 'Iosevka SFNormalSans Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: condensed;
	font-style: italic;
	src: url('WOFF2/IosevkaSFNormalSans-CondensedItalic.woff2') format('woff2'), url('TTF/IosevkaSFNormalSans-CondensedItalic.ttf') format('truetype');
  font-feature-settings: "ss15" 1, "calt" 0, "dlig" 1, "cv01" 2, "cv07" 4, "cv06" 3, "cv09" 3, "VSAL" 9;
}

@font-face {
	font-family: 'Iosevka SFNormalSans Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2/IosevkaSFNormalSans-Medium.woff2') format('woff2'), url('TTF/IosevkaSFNormalSans-Medium.ttf') format('truetype');
  font-feature-settings: "ss15" 1, "calt" 0, "dlig" 1, "cv01" 2, "cv07" 4, "cv06" 3, "cv09" 3, "VSAL" 9;
}

@font-face {
	font-family: 'Iosevka SFNormalSans Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2/IosevkaSFNormalSans-ExtendedMedium.woff2') format('woff2'), url('TTF/IosevkaSFNormalSans-ExtendedMedium.ttf') format('truetype');
  font-feature-settings: "ss15" 1, "calt" 0, "dlig" 1, "cv01" 2, "cv07" 4, "cv06" 3, "cv09" 3, "VSAL" 9;
}

@font-face {
	font-family: 'Iosevka SFNormalSans Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: condensed;
	font-style: normal;
	src: url('WOFF2/IosevkaSFNormalSans-CondensedMedium.woff2') format('woff2'), url('TTF/IosevkaSFNormalSans-CondensedMedium.ttf') format('truetype');
  font-feature-settings: "ss15" 1, "calt" 0, "dlig" 1, "cv01" 2, "cv07" 4, "cv06" 3, "cv09" 3, "VSAL" 9;
}

@font-face {
	font-family: 'Iosevka SFNormalSans Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2/IosevkaSFNormalSans-MediumOblique.woff2') format('woff2'), url('TTF/IosevkaSFNormalSans-MediumOblique.ttf') format('truetype');
  font-feature-settings: "ss15" 1, "calt" 0, "dlig" 1, "cv01" 2, "cv07" 4, "cv06" 3, "cv09" 3, "VSAL" 9;
}

@font-face {
	font-family: 'Iosevka SFNormalSans Web Oblique';
	font-display: swap;
	font-weight: 500;
	font-stretch: normal;
	src: url('WOFF2/IosevkaSFNormalSans-MediumOblique.woff2') format('woff2'), url('TTF/IosevkaSFNormalSans-MediumOblique.ttf') format('truetype');
  font-feature-settings: "ss15" 1, "calt" 0, "dlig" 1, "cv01" 2, "cv07" 4, "cv06" 3, "cv09" 3, "VSAL" 9;
}

@font-face {
	font-family: 'Iosevka SFNormalSans Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2/IosevkaSFNormalSans-ExtendedMediumOblique.woff2') format('woff2'), url('TTF/IosevkaSFNormalSans-ExtendedMediumOblique.ttf') format('truetype');
  font-feature-settings: "ss15" 1, "calt" 0, "dlig" 1, "cv01" 2, "cv07" 4, "cv06" 3, "cv09" 3, "VSAL" 9;
}

@font-face {
	font-family: 'Iosevka SFNormalSans Web Oblique';
	font-display: swap;
	font-weight: 500;
	font-stretch: expanded;
	src: url('WOFF2/IosevkaSFNormalSans-ExtendedMediumOblique.woff2') format('woff2'), url('TTF/IosevkaSFNormalSans-ExtendedMediumOblique.ttf') format('truetype');
  font-feature-settings: "ss15" 1, "calt" 0, "dlig" 1, "cv01" 2, "cv07" 4, "cv06" 3, "cv09" 3, "VSAL" 9;
}

@font-face {
	font-family: 'Iosevka SFNormalSans Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: condensed;
	font-style: oblique;
	src: url('WOFF2/IosevkaSFNormalSans-CondensedMediumOblique.woff2') format('woff2'), url('TTF/IosevkaSFNormalSans-CondensedMediumOblique.ttf') format('truetype');
  font-feature-settings: "ss15" 1, "calt" 0, "dlig" 1, "cv01" 2, "cv07" 4, "cv06" 3, "cv09" 3, "VSAL" 9;
}

@font-face {
	font-family: 'Iosevka SFNormalSans Web Oblique';
	font-display: swap;
	font-weight: 500;
	font-stretch: condensed;
	src: url('WOFF2/IosevkaSFNormalSans-CondensedMediumOblique.woff2') format('woff2'), url('TTF/IosevkaSFNormalSans-CondensedMediumOblique.ttf') format('truetype');
  font-feature-settings: "ss15" 1, "calt" 0, "dlig" 1, "cv01" 2, "cv07" 4, "cv06" 3, "cv09" 3, "VSAL" 9;
}

@font-face {
	font-family: 'Iosevka SFNormalSans Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2/IosevkaSFNormalSans-MediumItalic.woff2') format('woff2'), url('TTF/IosevkaSFNormalSans-MediumItalic.ttf') format('truetype');
  font-feature-settings: "ss15" 1, "calt" 0, "dlig" 1, "cv01" 2, "cv07" 4, "cv06" 3, "cv09" 3, "VSAL" 9;
}

@font-face {
	font-family: 'Iosevka SFNormalSans Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2/IosevkaSFNormalSans-ExtendedMediumItalic.woff2') format('woff2'), url('TTF/IosevkaSFNormalSans-ExtendedMediumItalic.ttf') format('truetype');
  font-feature-settings: "ss15" 1, "calt" 0, "dlig" 1, "cv01" 2, "cv07" 4, "cv06" 3, "cv09" 3, "VSAL" 9;
}

@font-face {
	font-family: 'Iosevka SFNormalSans Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: condensed;
	font-style: italic;
	src: url('WOFF2/IosevkaSFNormalSans-CondensedMediumItalic.woff2') format('woff2'), url('TTF/IosevkaSFNormalSans-CondensedMediumItalic.ttf') format('truetype');
  font-feature-settings: "ss15" 1, "calt" 0, "dlig" 1, "cv01" 2, "cv07" 4, "cv06" 3, "cv09" 3, "VSAL" 9;
}

@font-face {
	font-family: 'Iosevka SFNormalSans Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2/IosevkaSFNormalSans-SemiBold.woff2') format('woff2'), url('TTF/IosevkaSFNormalSans-SemiBold.ttf') format('truetype');
  font-feature-settings: "ss15" 1, "calt" 0, "dlig" 1, "cv01" 2, "cv07" 4, "cv06" 3, "cv09" 3, "VSAL" 9;
}

@font-face {
	font-family: 'Iosevka SFNormalSans Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2/IosevkaSFNormalSans-ExtendedSemiBold.woff2') format('woff2'), url('TTF/IosevkaSFNormalSans-ExtendedSemiBold.ttf') format('truetype');
  font-feature-settings: "ss15" 1, "calt" 0, "dlig" 1, "cv01" 2, "cv07" 4, "cv06" 3, "cv09" 3, "VSAL" 9;
}

@font-face {
	font-family: 'Iosevka SFNormalSans Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: condensed;
	font-style: normal;
	src: url('WOFF2/IosevkaSFNormalSans-CondensedSemiBold.woff2') format('woff2'), url('TTF/IosevkaSFNormalSans-CondensedSemiBold.ttf') format('truetype');
  font-feature-settings: "ss15" 1, "calt" 0, "dlig" 1, "cv01" 2, "cv07" 4, "cv06" 3, "cv09" 3, "VSAL" 9;
}

@font-face {
	font-family: 'Iosevka SFNormalSans Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2/IosevkaSFNormalSans-SemiBoldOblique.woff2') format('woff2'), url('TTF/IosevkaSFNormalSans-SemiBoldOblique.ttf') format('truetype');
  font-feature-settings: "ss15" 1, "calt" 0, "dlig" 1, "cv01" 2, "cv07" 4, "cv06" 3, "cv09" 3, "VSAL" 9;
}

@font-face {
	font-family: 'Iosevka SFNormalSans Web Oblique';
	font-display: swap;
	font-weight: 600;
	font-stretch: normal;
	src: url('WOFF2/IosevkaSFNormalSans-SemiBoldOblique.woff2') format('woff2'), url('TTF/IosevkaSFNormalSans-SemiBoldOblique.ttf') format('truetype');
  font-feature-settings: "ss15" 1, "calt" 0, "dlig" 1, "cv01" 2, "cv07" 4, "cv06" 3, "cv09" 3, "VSAL" 9;
}

@font-face {
	font-family: 'Iosevka SFNormalSans Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2/IosevkaSFNormalSans-ExtendedSemiBoldOblique.woff2') format('woff2'), url('TTF/IosevkaSFNormalSans-ExtendedSemiBoldOblique.ttf') format('truetype');
  font-feature-settings: "ss15" 1, "calt" 0, "dlig" 1, "cv01" 2, "cv07" 4, "cv06" 3, "cv09" 3, "VSAL" 9;
}

@font-face {
	font-family: 'Iosevka SFNormalSans Web Oblique';
	font-display: swap;
	font-weight: 600;
	font-stretch: expanded;
	src: url('WOFF2/IosevkaSFNormalSans-ExtendedSemiBoldOblique.woff2') format('woff2'), url('TTF/IosevkaSFNormalSans-ExtendedSemiBoldOblique.ttf') format('truetype');
  font-feature-settings: "ss15" 1, "calt" 0, "dlig" 1, "cv01" 2, "cv07" 4, "cv06" 3, "cv09" 3, "VSAL" 9;
}

@font-face {
	font-family: 'Iosevka SFNormalSans Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: condensed;
	font-style: oblique;
	src: url('WOFF2/IosevkaSFNormalSans-CondensedSemiBoldOblique.woff2') format('woff2'), url('TTF/IosevkaSFNormalSans-CondensedSemiBoldOblique.ttf') format('truetype');
  font-feature-settings: "ss15" 1, "calt" 0, "dlig" 1, "cv01" 2, "cv07" 4, "cv06" 3, "cv09" 3, "VSAL" 9;
}

@font-face {
	font-family: 'Iosevka SFNormalSans Web Oblique';
	font-display: swap;
	font-weight: 600;
	font-stretch: condensed;
	src: url('WOFF2/IosevkaSFNormalSans-CondensedSemiBoldOblique.woff2') format('woff2'), url('TTF/IosevkaSFNormalSans-CondensedSemiBoldOblique.ttf') format('truetype');
  font-feature-settings: "ss15" 1, "calt" 0, "dlig" 1, "cv01" 2, "cv07" 4, "cv06" 3, "cv09" 3, "VSAL" 9;
}

@font-face {
	font-family: 'Iosevka SFNormalSans Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2/IosevkaSFNormalSans-SemiBoldItalic.woff2') format('woff2'), url('TTF/IosevkaSFNormalSans-SemiBoldItalic.ttf') format('truetype');
  font-feature-settings: "ss15" 1, "calt" 0, "dlig" 1, "cv01" 2, "cv07" 4, "cv06" 3, "cv09" 3, "VSAL" 9;
}

@font-face {
	font-family: 'Iosevka SFNormalSans Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2/IosevkaSFNormalSans-ExtendedSemiBoldItalic.woff2') format('woff2'), url('TTF/IosevkaSFNormalSans-ExtendedSemiBoldItalic.ttf') format('truetype');
  font-feature-settings: "ss15" 1, "calt" 0, "dlig" 1, "cv01" 2, "cv07" 4, "cv06" 3, "cv09" 3, "VSAL" 9;
}

@font-face {
	font-family: 'Iosevka SFNormalSans Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: condensed;
	font-style: italic;
	src: url('WOFF2/IosevkaSFNormalSans-CondensedSemiBoldItalic.woff2') format('woff2'), url('TTF/IosevkaSFNormalSans-CondensedSemiBoldItalic.ttf') format('truetype');
  font-feature-settings: "ss15" 1, "calt" 0, "dlig" 1, "cv01" 2, "cv07" 4, "cv06" 3, "cv09" 3, "VSAL" 9;
}

@font-face {
	font-family: 'Iosevka SFNormalSans Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2/IosevkaSFNormalSans-Bold.woff2') format('woff2'), url('TTF/IosevkaSFNormalSans-Bold.ttf') format('truetype');
  font-feature-settings: "ss15" 1, "calt" 0, "dlig" 1, "cv01" 2, "cv07" 4, "cv06" 3, "cv09" 3, "VSAL" 9;
}

@font-face {
	font-family: 'Iosevka SFNormalSans Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2/IosevkaSFNormalSans-ExtendedBold.woff2') format('woff2'), url('TTF/IosevkaSFNormalSans-ExtendedBold.ttf') format('truetype');
  font-feature-settings: "ss15" 1, "calt" 0, "dlig" 1, "cv01" 2, "cv07" 4, "cv06" 3, "cv09" 3, "VSAL" 9;
}

@font-face {
	font-family: 'Iosevka SFNormalSans Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: condensed;
	font-style: normal;
	src: url('WOFF2/IosevkaSFNormalSans-CondensedBold.woff2') format('woff2'), url('TTF/IosevkaSFNormalSans-CondensedBold.ttf') format('truetype');
  font-feature-settings: "ss15" 1, "calt" 0, "dlig" 1, "cv01" 2, "cv07" 4, "cv06" 3, "cv09" 3, "VSAL" 9;
}

@font-face {
	font-family: 'Iosevka SFNormalSans Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2/IosevkaSFNormalSans-BoldOblique.woff2') format('woff2'), url('TTF/IosevkaSFNormalSans-BoldOblique.ttf') format('truetype');
  font-feature-settings: "ss15" 1, "calt" 0, "dlig" 1, "cv01" 2, "cv07" 4, "cv06" 3, "cv09" 3, "VSAL" 9;
}

@font-face {
	font-family: 'Iosevka SFNormalSans Web Oblique';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	src: url('WOFF2/IosevkaSFNormalSans-BoldOblique.woff2') format('woff2'), url('TTF/IosevkaSFNormalSans-BoldOblique.ttf') format('truetype');
  font-feature-settings: "ss15" 1, "calt" 0, "dlig" 1, "cv01" 2, "cv07" 4, "cv06" 3, "cv09" 3, "VSAL" 9;
}

@font-face {
	font-family: 'Iosevka SFNormalSans Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2/IosevkaSFNormalSans-ExtendedBoldOblique.woff2') format('woff2'), url('TTF/IosevkaSFNormalSans-ExtendedBoldOblique.ttf') format('truetype');
  font-feature-settings: "ss15" 1, "calt" 0, "dlig" 1, "cv01" 2, "cv07" 4, "cv06" 3, "cv09" 3, "VSAL" 9;
}

@font-face {
	font-family: 'Iosevka SFNormalSans Web Oblique';
	font-display: swap;
	font-weight: 700;
	font-stretch: expanded;
	src: url('WOFF2/IosevkaSFNormalSans-ExtendedBoldOblique.woff2') format('woff2'), url('TTF/IosevkaSFNormalSans-ExtendedBoldOblique.ttf') format('truetype');
  font-feature-settings: "ss15" 1, "calt" 0, "dlig" 1, "cv01" 2, "cv07" 4, "cv06" 3, "cv09" 3, "VSAL" 9;
}

@font-face {
	font-family: 'Iosevka SFNormalSans Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: condensed;
	font-style: oblique;
	src: url('WOFF2/IosevkaSFNormalSans-CondensedBoldOblique.woff2') format('woff2'), url('TTF/IosevkaSFNormalSans-CondensedBoldOblique.ttf') format('truetype');
  font-feature-settings: "ss15" 1, "calt" 0, "dlig" 1, "cv01" 2, "cv07" 4, "cv06" 3, "cv09" 3, "VSAL" 9;
}

@font-face {
	font-family: 'Iosevka SFNormalSans Web Oblique';
	font-display: swap;
	font-weight: 700;
	font-stretch: condensed;
	src: url('WOFF2/IosevkaSFNormalSans-CondensedBoldOblique.woff2') format('woff2'), url('TTF/IosevkaSFNormalSans-CondensedBoldOblique.ttf') format('truetype');
  font-feature-settings: "ss15" 1, "calt" 0, "dlig" 1, "cv01" 2, "cv07" 4, "cv06" 3, "cv09" 3, "VSAL" 9;
}

@font-face {
	font-family: 'Iosevka SFNormalSans Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2/IosevkaSFNormalSans-BoldItalic.woff2') format('woff2'), url('TTF/IosevkaSFNormalSans-BoldItalic.ttf') format('truetype');
  font-feature-settings: "ss15" 1, "calt" 0, "dlig" 1, "cv01" 2, "cv07" 4, "cv06" 3, "cv09" 3, "VSAL" 9;
}

@font-face {
	font-family: 'Iosevka SFNormalSans Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2/IosevkaSFNormalSans-ExtendedBoldItalic.woff2') format('woff2'), url('TTF/IosevkaSFNormalSans-ExtendedBoldItalic.ttf') format('truetype');
  font-feature-settings: "ss15" 1, "calt" 0, "dlig" 1, "cv01" 2, "cv07" 4, "cv06" 3, "cv09" 3, "VSAL" 9;
}

@font-face {
	font-family: 'Iosevka SFNormalSans Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: condensed;
	font-style: italic;
	src: url('WOFF2/IosevkaSFNormalSans-CondensedBoldItalic.woff2') format('woff2'), url('TTF/IosevkaSFNormalSans-CondensedBoldItalic.ttf') format('truetype');
  font-feature-settings: "ss15" 1, "calt" 0, "dlig" 1, "cv01" 2, "cv07" 4, "cv06" 3, "cv09" 3, "VSAL" 9;
}

@font-face {
	font-family: 'Iosevka SFNormalSans Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2/IosevkaSFNormalSans-ExtraBold.woff2') format('woff2'), url('TTF/IosevkaSFNormalSans-ExtraBold.ttf') format('truetype');
  font-feature-settings: "ss15" 1, "calt" 0, "dlig" 1, "cv01" 2, "cv07" 4, "cv06" 3, "cv09" 3, "VSAL" 9;
}

@font-face {
	font-family: 'Iosevka SFNormalSans Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2/IosevkaSFNormalSans-ExtendedExtraBold.woff2') format('woff2'), url('TTF/IosevkaSFNormalSans-ExtendedExtraBold.ttf') format('truetype');
  font-feature-settings: "ss15" 1, "calt" 0, "dlig" 1, "cv01" 2, "cv07" 4, "cv06" 3, "cv09" 3, "VSAL" 9;
}

@font-face {
	font-family: 'Iosevka SFNormalSans Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: condensed;
	font-style: normal;
	src: url('WOFF2/IosevkaSFNormalSans-CondensedExtraBold.woff2') format('woff2'), url('TTF/IosevkaSFNormalSans-CondensedExtraBold.ttf') format('truetype');
  font-feature-settings: "ss15" 1, "calt" 0, "dlig" 1, "cv01" 2, "cv07" 4, "cv06" 3, "cv09" 3, "VSAL" 9;
}

@font-face {
	font-family: 'Iosevka SFNormalSans Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2/IosevkaSFNormalSans-ExtraBoldOblique.woff2') format('woff2'), url('TTF/IosevkaSFNormalSans-ExtraBoldOblique.ttf') format('truetype');
  font-feature-settings: "ss15" 1, "calt" 0, "dlig" 1, "cv01" 2, "cv07" 4, "cv06" 3, "cv09" 3, "VSAL" 9;
}

@font-face {
	font-family: 'Iosevka SFNormalSans Web Oblique';
	font-display: swap;
	font-weight: 800;
	font-stretch: normal;
	src: url('WOFF2/IosevkaSFNormalSans-ExtraBoldOblique.woff2') format('woff2'), url('TTF/IosevkaSFNormalSans-ExtraBoldOblique.ttf') format('truetype');
  font-feature-settings: "ss15" 1, "calt" 0, "dlig" 1, "cv01" 2, "cv07" 4, "cv06" 3, "cv09" 3, "VSAL" 9;
}

@font-face {
	font-family: 'Iosevka SFNormalSans Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2/IosevkaSFNormalSans-ExtendedExtraBoldOblique.woff2') format('woff2'), url('TTF/IosevkaSFNormalSans-ExtendedExtraBoldOblique.ttf') format('truetype');
  font-feature-settings: "ss15" 1, "calt" 0, "dlig" 1, "cv01" 2, "cv07" 4, "cv06" 3, "cv09" 3, "VSAL" 9;
}

@font-face {
	font-family: 'Iosevka SFNormalSans Web Oblique';
	font-display: swap;
	font-weight: 800;
	font-stretch: expanded;
	src: url('WOFF2/IosevkaSFNormalSans-ExtendedExtraBoldOblique.woff2') format('woff2'), url('TTF/IosevkaSFNormalSans-ExtendedExtraBoldOblique.ttf') format('truetype');
  font-feature-settings: "ss15" 1, "calt" 0, "dlig" 1, "cv01" 2, "cv07" 4, "cv06" 3, "cv09" 3, "VSAL" 9;
}

@font-face {
	font-family: 'Iosevka SFNormalSans Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: condensed;
	font-style: oblique;
	src: url('WOFF2/IosevkaSFNormalSans-CondensedExtraBoldOblique.woff2') format('woff2'), url('TTF/IosevkaSFNormalSans-CondensedExtraBoldOblique.ttf') format('truetype');
  font-feature-settings: "ss15" 1, "calt" 0, "dlig" 1, "cv01" 2, "cv07" 4, "cv06" 3, "cv09" 3, "VSAL" 9;
}

@font-face {
	font-family: 'Iosevka SFNormalSans Web Oblique';
	font-display: swap;
	font-weight: 800;
	font-stretch: condensed;
	src: url('WOFF2/IosevkaSFNormalSans-CondensedExtraBoldOblique.woff2') format('woff2'), url('TTF/IosevkaSFNormalSans-CondensedExtraBoldOblique.ttf') format('truetype');
  font-feature-settings: "ss15" 1, "calt" 0, "dlig" 1, "cv01" 2, "cv07" 4, "cv06" 3, "cv09" 3, "VSAL" 9;
}

@font-face {
	font-family: 'Iosevka SFNormalSans Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2/IosevkaSFNormalSans-ExtraBoldItalic.woff2') format('woff2'), url('TTF/IosevkaSFNormalSans-ExtraBoldItalic.ttf') format('truetype');
  font-feature-settings: "ss15" 1, "calt" 0, "dlig" 1, "cv01" 2, "cv07" 4, "cv06" 3, "cv09" 3, "VSAL" 9;
}

@font-face {
	font-family: 'Iosevka SFNormalSans Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2/IosevkaSFNormalSans-ExtendedExtraBoldItalic.woff2') format('woff2'), url('TTF/IosevkaSFNormalSans-ExtendedExtraBoldItalic.ttf') format('truetype');
  font-feature-settings: "ss15" 1, "calt" 0, "dlig" 1, "cv01" 2, "cv07" 4, "cv06" 3, "cv09" 3, "VSAL" 9;
}

@font-face {
	font-family: 'Iosevka SFNormalSans Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: condensed;
	font-style: italic;
	src: url('WOFF2/IosevkaSFNormalSans-CondensedExtraBoldItalic.woff2') format('woff2'), url('TTF/IosevkaSFNormalSans-CondensedExtraBoldItalic.ttf') format('truetype');
  font-feature-settings: "ss15" 1, "calt" 0, "dlig" 1, "cv01" 2, "cv07" 4, "cv06" 3, "cv09" 3, "VSAL" 9;
}

@font-face {
	font-family: 'Iosevka SFNormalSans Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2/IosevkaSFNormalSans-Heavy.woff2') format('woff2'), url('TTF/IosevkaSFNormalSans-Heavy.ttf') format('truetype');
  font-feature-settings: "ss15" 1, "calt" 0, "dlig" 1, "cv01" 2, "cv07" 4, "cv06" 3, "cv09" 3, "VSAL" 9;
}

@font-face {
	font-family: 'Iosevka SFNormalSans Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2/IosevkaSFNormalSans-ExtendedHeavy.woff2') format('woff2'), url('TTF/IosevkaSFNormalSans-ExtendedHeavy.ttf') format('truetype');
  font-feature-settings: "ss15" 1, "calt" 0, "dlig" 1, "cv01" 2, "cv07" 4, "cv06" 3, "cv09" 3, "VSAL" 9;
}

@font-face {
	font-family: 'Iosevka SFNormalSans Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: condensed;
	font-style: normal;
	src: url('WOFF2/IosevkaSFNormalSans-CondensedHeavy.woff2') format('woff2'), url('TTF/IosevkaSFNormalSans-CondensedHeavy.ttf') format('truetype');
  font-feature-settings: "ss15" 1, "calt" 0, "dlig" 1, "cv01" 2, "cv07" 4, "cv06" 3, "cv09" 3, "VSAL" 9;
}

@font-face {
	font-family: 'Iosevka SFNormalSans Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2/IosevkaSFNormalSans-HeavyOblique.woff2') format('woff2'), url('TTF/IosevkaSFNormalSans-HeavyOblique.ttf') format('truetype');
  font-feature-settings: "ss15" 1, "calt" 0, "dlig" 1, "cv01" 2, "cv07" 4, "cv06" 3, "cv09" 3, "VSAL" 9;
}

@font-face {
	font-family: 'Iosevka SFNormalSans Web Oblique';
	font-display: swap;
	font-weight: 900;
	font-stretch: normal;
	src: url('WOFF2/IosevkaSFNormalSans-HeavyOblique.woff2') format('woff2'), url('TTF/IosevkaSFNormalSans-HeavyOblique.ttf') format('truetype');
  font-feature-settings: "ss15" 1, "calt" 0, "dlig" 1, "cv01" 2, "cv07" 4, "cv06" 3, "cv09" 3, "VSAL" 9;
}

@font-face {
	font-family: 'Iosevka SFNormalSans Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2/IosevkaSFNormalSans-ExtendedHeavyOblique.woff2') format('woff2'), url('TTF/IosevkaSFNormalSans-ExtendedHeavyOblique.ttf') format('truetype');
  font-feature-settings: "ss15" 1, "calt" 0, "dlig" 1, "cv01" 2, "cv07" 4, "cv06" 3, "cv09" 3, "VSAL" 9;
}

@font-face {
	font-family: 'Iosevka SFNormalSans Web Oblique';
	font-display: swap;
	font-weight: 900;
	font-stretch: expanded;
	src: url('WOFF2/IosevkaSFNormalSans-ExtendedHeavyOblique.woff2') format('woff2'), url('TTF/IosevkaSFNormalSans-ExtendedHeavyOblique.ttf') format('truetype');
  font-feature-settings: "ss15" 1, "calt" 0, "dlig" 1, "cv01" 2, "cv07" 4, "cv06" 3, "cv09" 3, "VSAL" 9;
}

@font-face {
	font-family: 'Iosevka SFNormalSans Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: condensed;
	font-style: oblique;
	src: url('WOFF2/IosevkaSFNormalSans-CondensedHeavyOblique.woff2') format('woff2'), url('TTF/IosevkaSFNormalSans-CondensedHeavyOblique.ttf') format('truetype');
  font-feature-settings: "ss15" 1, "calt" 0, "dlig" 1, "cv01" 2, "cv07" 4, "cv06" 3, "cv09" 3, "VSAL" 9;
}

@font-face {
	font-family: 'Iosevka SFNormalSans Web Oblique';
	font-display: swap;
	font-weight: 900;
	font-stretch: condensed;
	src: url('WOFF2/IosevkaSFNormalSans-CondensedHeavyOblique.woff2') format('woff2'), url('TTF/IosevkaSFNormalSans-CondensedHeavyOblique.ttf') format('truetype');
  font-feature-settings: "ss15" 1, "calt" 0, "dlig" 1, "cv01" 2, "cv07" 4, "cv06" 3, "cv09" 3, "VSAL" 9;
}

@font-face {
	font-family: 'Iosevka SFNormalSans Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2/IosevkaSFNormalSans-HeavyItalic.woff2') format('woff2'), url('TTF/IosevkaSFNormalSans-HeavyItalic.ttf') format('truetype');
  font-feature-settings: "ss15" 1, "calt" 0, "dlig" 1, "cv01" 2, "cv07" 4, "cv06" 3, "cv09" 3, "VSAL" 9;
}

@font-face {
	font-family: 'Iosevka SFNormalSans Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2/IosevkaSFNormalSans-ExtendedHeavyItalic.woff2') format('woff2'), url('TTF/IosevkaSFNormalSans-ExtendedHeavyItalic.ttf') format('truetype');
  font-feature-settings: "ss15" 1, "calt" 0, "dlig" 1, "cv01" 2, "cv07" 4, "cv06" 3, "cv09" 3, "VSAL" 9;
}

@font-face {
	font-family: 'Iosevka SFNormalSans Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: condensed;
	font-style: italic;
	src: url('WOFF2/IosevkaSFNormalSans-CondensedHeavyItalic.woff2') format('woff2'), url('TTF/IosevkaSFNormalSans-CondensedHeavyItalic.ttf') format('truetype');
  font-feature-settings: "ss15" 1, "calt" 0, "dlig" 1, "cv01" 2, "cv07" 4, "cv06" 3, "cv09" 3, "VSAL" 9;
}
