
@font-face {
	font-family: 'mIosevka-QP Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2/MIosevkaQp-Thin.woff2') format('woff2'), url('TTF/MIosevkaQp-Thin.ttf') format('truetype');
}

@font-face {
	font-family: 'mIosevka-QP Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2/MIosevkaQp-ExtendedThin.woff2') format('woff2'), url('TTF/MIosevkaQp-ExtendedThin.ttf') format('truetype');
}

@font-face {
	font-family: 'mIosevka-QP Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2/MIosevkaQp-ThinOblique.woff2') format('woff2'), url('TTF/MIosevkaQp-ThinOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'mIosevka-QP Web Oblique';
	font-display: swap;
	font-weight: 100;
	font-stretch: normal;
	src: url('WOFF2/MIosevkaQp-ThinOblique.woff2') format('woff2'), url('TTF/MIosevkaQp-ThinOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'mIosevka-QP Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2/MIosevkaQp-ExtendedThinOblique.woff2') format('woff2'), url('TTF/MIosevkaQp-ExtendedThinOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'mIosevka-QP Web Oblique';
	font-display: swap;
	font-weight: 100;
	font-stretch: expanded;
	src: url('WOFF2/MIosevkaQp-ExtendedThinOblique.woff2') format('woff2'), url('TTF/MIosevkaQp-ExtendedThinOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'mIosevka-QP Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2/MIosevkaQp-ThinItalic.woff2') format('woff2'), url('TTF/MIosevkaQp-ThinItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'mIosevka-QP Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2/MIosevkaQp-ExtendedThinItalic.woff2') format('woff2'), url('TTF/MIosevkaQp-ExtendedThinItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'mIosevka-QP Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2/MIosevkaQp-ExtraLight.woff2') format('woff2'), url('TTF/MIosevkaQp-ExtraLight.ttf') format('truetype');
}

@font-face {
	font-family: 'mIosevka-QP Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2/MIosevkaQp-ExtendedExtraLight.woff2') format('woff2'), url('TTF/MIosevkaQp-ExtendedExtraLight.ttf') format('truetype');
}

@font-face {
	font-family: 'mIosevka-QP Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2/MIosevkaQp-ExtraLightOblique.woff2') format('woff2'), url('TTF/MIosevkaQp-ExtraLightOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'mIosevka-QP Web Oblique';
	font-display: swap;
	font-weight: 200;
	font-stretch: normal;
	src: url('WOFF2/MIosevkaQp-ExtraLightOblique.woff2') format('woff2'), url('TTF/MIosevkaQp-ExtraLightOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'mIosevka-QP Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2/MIosevkaQp-ExtendedExtraLightOblique.woff2') format('woff2'), url('TTF/MIosevkaQp-ExtendedExtraLightOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'mIosevka-QP Web Oblique';
	font-display: swap;
	font-weight: 200;
	font-stretch: expanded;
	src: url('WOFF2/MIosevkaQp-ExtendedExtraLightOblique.woff2') format('woff2'), url('TTF/MIosevkaQp-ExtendedExtraLightOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'mIosevka-QP Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2/MIosevkaQp-ExtraLightItalic.woff2') format('woff2'), url('TTF/MIosevkaQp-ExtraLightItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'mIosevka-QP Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2/MIosevkaQp-ExtendedExtraLightItalic.woff2') format('woff2'), url('TTF/MIosevkaQp-ExtendedExtraLightItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'mIosevka-QP Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2/MIosevkaQp-Light.woff2') format('woff2'), url('TTF/MIosevkaQp-Light.ttf') format('truetype');
}

@font-face {
	font-family: 'mIosevka-QP Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2/MIosevkaQp-ExtendedLight.woff2') format('woff2'), url('TTF/MIosevkaQp-ExtendedLight.ttf') format('truetype');
}

@font-face {
	font-family: 'mIosevka-QP Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2/MIosevkaQp-LightOblique.woff2') format('woff2'), url('TTF/MIosevkaQp-LightOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'mIosevka-QP Web Oblique';
	font-display: swap;
	font-weight: 300;
	font-stretch: normal;
	src: url('WOFF2/MIosevkaQp-LightOblique.woff2') format('woff2'), url('TTF/MIosevkaQp-LightOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'mIosevka-QP Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2/MIosevkaQp-ExtendedLightOblique.woff2') format('woff2'), url('TTF/MIosevkaQp-ExtendedLightOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'mIosevka-QP Web Oblique';
	font-display: swap;
	font-weight: 300;
	font-stretch: expanded;
	src: url('WOFF2/MIosevkaQp-ExtendedLightOblique.woff2') format('woff2'), url('TTF/MIosevkaQp-ExtendedLightOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'mIosevka-QP Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2/MIosevkaQp-LightItalic.woff2') format('woff2'), url('TTF/MIosevkaQp-LightItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'mIosevka-QP Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2/MIosevkaQp-ExtendedLightItalic.woff2') format('woff2'), url('TTF/MIosevkaQp-ExtendedLightItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'mIosevka-QP Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2/MIosevkaQp-Regular.woff2') format('woff2'), url('TTF/MIosevkaQp-Regular.ttf') format('truetype');
}

@font-face {
	font-family: 'mIosevka-QP Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2/MIosevkaQp-Extended.woff2') format('woff2'), url('TTF/MIosevkaQp-Extended.ttf') format('truetype');
}

@font-face {
	font-family: 'mIosevka-QP Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2/MIosevkaQp-Oblique.woff2') format('woff2'), url('TTF/MIosevkaQp-Oblique.ttf') format('truetype');
}

@font-face {
	font-family: 'mIosevka-QP Web Oblique';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	src: url('WOFF2/MIosevkaQp-Oblique.woff2') format('woff2'), url('TTF/MIosevkaQp-Oblique.ttf') format('truetype');
}

@font-face {
	font-family: 'mIosevka-QP Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2/MIosevkaQp-ExtendedOblique.woff2') format('woff2'), url('TTF/MIosevkaQp-ExtendedOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'mIosevka-QP Web Oblique';
	font-display: swap;
	font-weight: 400;
	font-stretch: expanded;
	src: url('WOFF2/MIosevkaQp-ExtendedOblique.woff2') format('woff2'), url('TTF/MIosevkaQp-ExtendedOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'mIosevka-QP Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2/MIosevkaQp-Italic.woff2') format('woff2'), url('TTF/MIosevkaQp-Italic.ttf') format('truetype');
}

@font-face {
	font-family: 'mIosevka-QP Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2/MIosevkaQp-ExtendedItalic.woff2') format('woff2'), url('TTF/MIosevkaQp-ExtendedItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'mIosevka-QP Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2/MIosevkaQp-Medium.woff2') format('woff2'), url('TTF/MIosevkaQp-Medium.ttf') format('truetype');
}

@font-face {
	font-family: 'mIosevka-QP Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2/MIosevkaQp-ExtendedMedium.woff2') format('woff2'), url('TTF/MIosevkaQp-ExtendedMedium.ttf') format('truetype');
}

@font-face {
	font-family: 'mIosevka-QP Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2/MIosevkaQp-MediumOblique.woff2') format('woff2'), url('TTF/MIosevkaQp-MediumOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'mIosevka-QP Web Oblique';
	font-display: swap;
	font-weight: 500;
	font-stretch: normal;
	src: url('WOFF2/MIosevkaQp-MediumOblique.woff2') format('woff2'), url('TTF/MIosevkaQp-MediumOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'mIosevka-QP Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2/MIosevkaQp-ExtendedMediumOblique.woff2') format('woff2'), url('TTF/MIosevkaQp-ExtendedMediumOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'mIosevka-QP Web Oblique';
	font-display: swap;
	font-weight: 500;
	font-stretch: expanded;
	src: url('WOFF2/MIosevkaQp-ExtendedMediumOblique.woff2') format('woff2'), url('TTF/MIosevkaQp-ExtendedMediumOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'mIosevka-QP Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2/MIosevkaQp-MediumItalic.woff2') format('woff2'), url('TTF/MIosevkaQp-MediumItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'mIosevka-QP Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2/MIosevkaQp-ExtendedMediumItalic.woff2') format('woff2'), url('TTF/MIosevkaQp-ExtendedMediumItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'mIosevka-QP Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2/MIosevkaQp-SemiBold.woff2') format('woff2'), url('TTF/MIosevkaQp-SemiBold.ttf') format('truetype');
}

@font-face {
	font-family: 'mIosevka-QP Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2/MIosevkaQp-ExtendedSemiBold.woff2') format('woff2'), url('TTF/MIosevkaQp-ExtendedSemiBold.ttf') format('truetype');
}

@font-face {
	font-family: 'mIosevka-QP Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2/MIosevkaQp-SemiBoldOblique.woff2') format('woff2'), url('TTF/MIosevkaQp-SemiBoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'mIosevka-QP Web Oblique';
	font-display: swap;
	font-weight: 600;
	font-stretch: normal;
	src: url('WOFF2/MIosevkaQp-SemiBoldOblique.woff2') format('woff2'), url('TTF/MIosevkaQp-SemiBoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'mIosevka-QP Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2/MIosevkaQp-ExtendedSemiBoldOblique.woff2') format('woff2'), url('TTF/MIosevkaQp-ExtendedSemiBoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'mIosevka-QP Web Oblique';
	font-display: swap;
	font-weight: 600;
	font-stretch: expanded;
	src: url('WOFF2/MIosevkaQp-ExtendedSemiBoldOblique.woff2') format('woff2'), url('TTF/MIosevkaQp-ExtendedSemiBoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'mIosevka-QP Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2/MIosevkaQp-SemiBoldItalic.woff2') format('woff2'), url('TTF/MIosevkaQp-SemiBoldItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'mIosevka-QP Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2/MIosevkaQp-ExtendedSemiBoldItalic.woff2') format('woff2'), url('TTF/MIosevkaQp-ExtendedSemiBoldItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'mIosevka-QP Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2/MIosevkaQp-Bold.woff2') format('woff2'), url('TTF/MIosevkaQp-Bold.ttf') format('truetype');
}

@font-face {
	font-family: 'mIosevka-QP Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2/MIosevkaQp-ExtendedBold.woff2') format('woff2'), url('TTF/MIosevkaQp-ExtendedBold.ttf') format('truetype');
}

@font-face {
	font-family: 'mIosevka-QP Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2/MIosevkaQp-BoldOblique.woff2') format('woff2'), url('TTF/MIosevkaQp-BoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'mIosevka-QP Web Oblique';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	src: url('WOFF2/MIosevkaQp-BoldOblique.woff2') format('woff2'), url('TTF/MIosevkaQp-BoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'mIosevka-QP Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2/MIosevkaQp-ExtendedBoldOblique.woff2') format('woff2'), url('TTF/MIosevkaQp-ExtendedBoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'mIosevka-QP Web Oblique';
	font-display: swap;
	font-weight: 700;
	font-stretch: expanded;
	src: url('WOFF2/MIosevkaQp-ExtendedBoldOblique.woff2') format('woff2'), url('TTF/MIosevkaQp-ExtendedBoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'mIosevka-QP Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2/MIosevkaQp-BoldItalic.woff2') format('woff2'), url('TTF/MIosevkaQp-BoldItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'mIosevka-QP Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2/MIosevkaQp-ExtendedBoldItalic.woff2') format('woff2'), url('TTF/MIosevkaQp-ExtendedBoldItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'mIosevka-QP Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2/MIosevkaQp-ExtraBold.woff2') format('woff2'), url('TTF/MIosevkaQp-ExtraBold.ttf') format('truetype');
}

@font-face {
	font-family: 'mIosevka-QP Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2/MIosevkaQp-ExtendedExtraBold.woff2') format('woff2'), url('TTF/MIosevkaQp-ExtendedExtraBold.ttf') format('truetype');
}

@font-face {
	font-family: 'mIosevka-QP Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2/MIosevkaQp-ExtraBoldOblique.woff2') format('woff2'), url('TTF/MIosevkaQp-ExtraBoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'mIosevka-QP Web Oblique';
	font-display: swap;
	font-weight: 800;
	font-stretch: normal;
	src: url('WOFF2/MIosevkaQp-ExtraBoldOblique.woff2') format('woff2'), url('TTF/MIosevkaQp-ExtraBoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'mIosevka-QP Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2/MIosevkaQp-ExtendedExtraBoldOblique.woff2') format('woff2'), url('TTF/MIosevkaQp-ExtendedExtraBoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'mIosevka-QP Web Oblique';
	font-display: swap;
	font-weight: 800;
	font-stretch: expanded;
	src: url('WOFF2/MIosevkaQp-ExtendedExtraBoldOblique.woff2') format('woff2'), url('TTF/MIosevkaQp-ExtendedExtraBoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'mIosevka-QP Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2/MIosevkaQp-ExtraBoldItalic.woff2') format('woff2'), url('TTF/MIosevkaQp-ExtraBoldItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'mIosevka-QP Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2/MIosevkaQp-ExtendedExtraBoldItalic.woff2') format('woff2'), url('TTF/MIosevkaQp-ExtendedExtraBoldItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'mIosevka-QP Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2/MIosevkaQp-Heavy.woff2') format('woff2'), url('TTF/MIosevkaQp-Heavy.ttf') format('truetype');
}

@font-face {
	font-family: 'mIosevka-QP Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2/MIosevkaQp-ExtendedHeavy.woff2') format('woff2'), url('TTF/MIosevkaQp-ExtendedHeavy.ttf') format('truetype');
}

@font-face {
	font-family: 'mIosevka-QP Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2/MIosevkaQp-HeavyOblique.woff2') format('woff2'), url('TTF/MIosevkaQp-HeavyOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'mIosevka-QP Web Oblique';
	font-display: swap;
	font-weight: 900;
	font-stretch: normal;
	src: url('WOFF2/MIosevkaQp-HeavyOblique.woff2') format('woff2'), url('TTF/MIosevkaQp-HeavyOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'mIosevka-QP Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2/MIosevkaQp-ExtendedHeavyOblique.woff2') format('woff2'), url('TTF/MIosevkaQp-ExtendedHeavyOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'mIosevka-QP Web Oblique';
	font-display: swap;
	font-weight: 900;
	font-stretch: expanded;
	src: url('WOFF2/MIosevkaQp-ExtendedHeavyOblique.woff2') format('woff2'), url('TTF/MIosevkaQp-ExtendedHeavyOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'mIosevka-QP Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2/MIosevkaQp-HeavyItalic.woff2') format('woff2'), url('TTF/MIosevkaQp-HeavyItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'mIosevka-QP Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2/MIosevkaQp-ExtendedHeavyItalic.woff2') format('woff2'), url('TTF/MIosevkaQp-ExtendedHeavyItalic.ttf') format('truetype');
}
