@font-face {
  font-family: "mIosevka-QP Web";
  font-display: swap;
  font-weight: 400;
  font-style: normal;
  src: url("WOFF2/MIosevkaQp-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "mIosevka-QP Web";
  font-display: swap;
  font-weight: 400;
  font-style: italic;
  src: url("WOFF2/MIosevkaQp-Italic.woff2") format("woff2");
}

@font-face {
  font-family: "mIosevka-QP Web";
  font-display: swap;
  font-weight: 400;
  font-style: normal;
  font-stretch: semi-condensed;
  src: url("WOFF2/MIosevkaQp-SemiCondensed.woff2") format("woff2");
}

@font-face {
  font-family: "mIosevka-QP Web";
  font-display: swap;
  font-weight: 700;
  font-style: normal;
  src: url("WOFF2/MIosevkaQp-Bold.woff2") format("woff2");
}

@font-face {
  font-family: "mIosevka-QP Web";
  font-display: swap;
  font-weight: 700;
  font-style: italic;
  src: url("WOFF2/MIosevkaQp-BoldItalic.woff2") format("woff2");
}

@font-face {
  font-family: "mIosevka-QP Web";
  font-display: swap;
  font-weight: 700;
  font-style: normal;
  font-stretch: semi-condensed;
  src: url("WOFF2/MIosevkaQp-SemiCondensedBold.woff2") format("woff2");
}
